Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
      args: [ "--ignore=E501,E731,E741,W503,F541,E275" ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
    - id: shellcheck
      args: [ -fgcc ]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      description: Runs formatting checks on the c code and and throws errors if suggestions
        are detected, without modifying the code. Style is defined in `.clang-format`. When
        encountering formatting-related errors, run `clang-format -i <path-to-file>` to make
        (destructively) the suggestions and evalute the resulting diff for more context.
      args: [ --dry-run, -Werror ]
      entry: clang-format
      types: [ c ]
      stages: [ manual ]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-jsonschema
      name: check doc JSON schemas
      args: ["--schemafile", "doc/rpc-schema-draft.json"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

    - id: check-metaschema
      name: check doc JSON metaschemas
      args: ["--verbose"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: pretty-format-json
      args: [ "--indent", "2", "--no-sort-keys" ]
      files: ^doc/schemas/.*\.json$
      types: [ json ]
    - id: trailing-whitespace
      args: [ "--markdown-linebreak-ext=md" ]
      exclude: ccan|contrib|tests/fuzz/corpora
    - id: end-of-file-fixer
      exclude: ccan|contrib|tests/fuzz/corpora

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      description: Checks for common misspellings.
      exclude: ccan|contrib|tests/fuzz/corpora
      stages: [ manual ]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.23.0
  hooks:
    - id: commitlint
      stages: [ commit-msg ]

- repo: local
  hooks:
    # Reimplementation of `make check-amount-access` for pygrep.
    - id: check-amount-access
      name: Check amount_msat and amount_sat members are not accessed directly
      description: "Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow."
      language: pygrep
      entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)
      types: [ c ]
      exclude: common/amount|.*/test/.*

    # Reimplementation of `make check-discouraged-functions` for pygrep.
    - id: check-discouraged-functions
      name: Check for usage of discouraged funtions
      language: pygrep
      entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('
      types: [ c ]
      exclude: ccan|contrib

    - id: include-order-fixer
      name: Fix Include Order
      language: python
      description: Analyzes Core Lightning C source and header files, assesses the order of
        their include directives according to the published Coding Style Guidelines
        [here](https://docs.corelightning.org/docs/coding-style-guidelines), automatically
        applying sorting them. Aims to conform with `make check-includes`.
      entry: python devtools/include-order-fixer.py
      stages: [ manual ]
      pass_filenames: false

    - id: check-includes
      name: Check Includes
      language: system
      entry: make check-includes
      pass_filenames: false

sql: store short_channel_id as integer for efficient indexing
  contrib/msggen/msggen/schema.json
  doc/schemas/listsqlschemas.json
  doc/schemas/sql-template.json
  plugins/sql.c
  tests/test_plugin.py
Due: check-amount-access, check-discouraged-functions

sql: rewrite scid string literals to use scid() for index support
  plugins/sql.c
Due: check-amount-access, check-discouraged-functions

dual_open_control: check dualopend liveness before validating PSBT signatures
  lightningd/dual_open_control.c
Due: check-amount-access, check-discouraged-functions

tests: add regression test for #8902 dual-fund disconnect BROKEN
  tests/test_opening.py
Due: none

lightningd: include offer_id in invoice_creation notification
  doc/developers-guide/plugin-development/event-notifications.md
  lightningd/invoice.c
  lightningd/notification.c
  lightningd/notification.h
  lightningd/test/run-invoice-select-inchan.c
Due: check-amount-access, check-discouraged-functions

setchannel: allow upgrading private channels to public
  .msggen.json
  doc/schemas/setchannel.json
  lightningd/channel_gossip.c
  lightningd/channel_gossip.h
  lightningd/peer_control.c
Due: check-amount-access, check-discouraged-functions

askrene: deprecate auto.no_mpp_support layer in favor of maxparts=1
  doc/developers-guide/plugin-development/event-notifications.md
  lightningd/invoice.c
  lightningd/notification.c
  lightningd/notification.h
  lightningd/test/run-invoice-select-inchan.c
Due: check-amount-access, check-discouraged-functions

fix: restore missing returns in send_channel_announce_sigs
  lightningd/channel_control.c
  lightningd/channel_gossip.c
  lightningd/channel_gossip.h
Due: check-amount-access, check-discouraged-functions

tests: add regression test for reestablish announcement_sigs bug
  tests/test_gossip.py
Due: none

fix: resolve zeroconf splice and gossip CI failures
  lightningd/channel.c
  lightningd/channel_control.c
  lightningd/dual_open_control.c
  lightningd/peer_control.c
  openingd/dualopend.c
  openingd/dualopend_wire.csv
  plugins/spender/openchannel.c
  tests/plugins/zeroconf-selective.py
  tests/test_gossip.py
  tests/test_splice.py
Due: check-amount-access, check-discouraged-functions

fix: address PR review feedback
  channeld/channeld.c
  tests/test_splice.py
Due: check-amount-access, check-discouraged-functions

fix: handle zeroconf splice reestablish
  channeld/channeld.c
  channeld/splice.c
  channeld/splice.h
  lightningd/channel_control.c
  tests/test_splice.py
  tests/test_splicing_disconnect.py
  wallet/wallet.c
Due: check-amount-access, check-discouraged-functions

splicescript: Add test for splice out to btc addr
  tests/test_splice.py
Due: none

splicescript: Fix rare memleak of aborting an abort
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

splicescript: Turn on bitcoin addresses in splice script
  plugins/spender/splice.c
  tests/test_splice.py
Due: check-amount-access, check-discouraged-functions

splicescript: Fix bugs in bitcoin addr handling
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

splice: Fix typo in test and xfail
  tests/test_splice.py
Due: none

fix: address PR review feedback
  tests/test_gossip.py
Due: none

bkpr: test added for {utctime} tag
  tests/test_bookkeeper.py
Due: none

bkpr: test utctime, unified timestamp fetching to avoid races
  tests/test_bookkeeper.py
Due: none

bkpr: test added for {fees} tag
  tests/test_bookkeeper.py
Due: none

bkpr: test added for NULL currency format tag fallback
  tests/test_bookkeeper.py
Due: none

bkpr: test added for escape=none report mode
  tests/test_bookkeeper.py
Due: none

bkpr: test added for reports with future starting date (empty) and linted
  tests/test_bookkeeper.py
Due: none

fix: release txprepare reservations on send failure
  plugins/txprepare.c
  tests/test_wallet.py
Due: check-amount-access, check-discouraged-functions

pytest: stabilize unrelated valgrind flakes
  tests/test_gossip.py
  tests/test_plugin.py
Due: none

common: add bolt12 payer proof support
  common/Makefile
  common/payer_proof.c
  common/payer_proof.h
  common/test/Makefile
  common/test/run-payer_proof.c
  devtools/bolt12-cli.c
  plugins/offers.c
  plugins/test/run-decode_guess_type.c
Due: check-amount-access, check-discouraged-functions

offers: add bLIP 42 (Bolt 12 Contacts) PoC
  common/Makefile
  common/bolt12_contact.c
  common/bolt12_contact.h
  common/test/Makefile
  common/test/run-bolt12_contact.c
  plugins/fetchinvoice.c
  plugins/offers_invreq_hook.c
  wire/bolt12_wire.csv
Due: check-amount-access, check-discouraged-functions

bolt12_contact: remove duplicate sha256.h include
  common/bolt12_contact.c
Due: check-amount-access, check-discouraged-functions

cln-grpc-plugin: bump version to v0.6.0
  Cargo.lock
  plugins/grpc-plugin/Cargo.toml
Due: none

test: fix bolt12_contact link deps for macOS
  common/test/Makefile
  common/test/run-bolt12_contact.c
Due: check-discouraged-functions

Makefile: move build prereqs from install-data to installcheck/bin-tarball (fixes #8971)
  Makefile
Due: none

connectd: limit incoming traffic to 1MB per second.
  connectd/connectd.c
  connectd/connectd.h
  connectd/multiplex.c
  tests/test_askrene.py
  tests/test_gossip.py
  tests/test_plugin.py
  tests/test_xpay.py
Due: check-amount-access, check-discouraged-functions

connectd: add dev_uniform_padding to connectd_wire.csv
  connectd/connectd_wire.csv
Due: none

lightningd: add dev-uniform-padding flag to lightningd
  connectd/connectd.c
  connectd/connectd.h
  lightningd/connect_control.c
  lightningd/lightningd.c
  lightningd/lightningd.h
  lightningd/options.c
Due: check-amount-access, check-discouraged-functions

connectd: gate uniform message padding behind --dev-uniform-padding
  connectd/multiplex.c
Due: check-amount-access, check-discouraged-functions

test: add flag to test_constant_packet_size
  tests/test_connection.py
Due: none

Revert "test: add flag to test_constant_packet_size"
  tests/test_connection.py
Due: none

Revert "lightningd: add dev-uniform-padding flag to lightningd"
  connectd/connectd.c
  connectd/connectd.h
  lightningd/connect_control.c
  lightningd/lightningd.c
  lightningd/lightningd.h
  lightningd/options.c
Due: check-amount-access, check-discouraged-functions

Revert "connectd: gate uniform message padding behind --dev-uniform-padding"
  connectd/multiplex.c
Due: check-amount-access, check-discouraged-functions
