Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

check-amount-access:
  name: Check amount_msat and amount_sat members are not accessed directly
  description: Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow.
  language: pygrep
  entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)

check-discouraged-functions:
  name: Check for usage of discouraged funtions
  language: pygrep
  entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('

CI: do cargo test --all as part of post-build step
  .github/workflows/ci.yaml
Due: none

CI: don't use /tmp/old-cln, use a local dir.
  .github/workflows/ci.yaml
Due: none

CI: Don't do release target build, create "small" profile
  .github/workflows/ci.yaml
  Cargo.toml
Due: none

Makefile: clean up a little.
  Makefile
  external/Makefile
Due: none

Makefile: mark more things as intermediaries.
  Makefile
  external/Makefile
  wire/Makefile
Due: none

plugins: neaten rust plugins, make them intermediate objects.
  plugins/Makefile
Due: none

Makefile: make testpack.tar.gz from (almost) all changed files.
  Makefile
Due: none

Makefile: support overriding of CC and CARGO for catching unintended builds.
  Makefile
  cln-rpc/Makefile
  devtools/cc-nobuild
  plugins/Makefile
Due: none

CI: avoid rebuilds on downloads using testpack.tar.gz.
  .github/workflows/ci.yaml
Due: none

CI: make downgrade and slow integration tests depend on check-compiled-source step.
  .github/workflows/ci.yaml
Due: none

CI: use more optimized builds sometimes.
  .github/workflows/ci.yaml
Due: none

ci: Enable sccache compiler cache for Rust and C
  .github/workflows/ci.yaml
Due: none

pytest: mark test_partial_payment_restart slow.
  tests/test_pay.py
Due: none

CI: use -O1 optimized builds for sanitizer and valgrind runs.
  .github/workflows/ci.yaml
Due: none

offers: only use blinded path nodes from offers when creating invoice for invoice_request.
  plugins/offers_invreq_hook.c
  tests/test_invoices.py
Due: check-amount-access, check-discouraged-functions

wallet: stop writing to the blocks table
  lightningd/chaintopology.c
  wallet/test/run-wallet.c
  wallet/wallet.c
  wallet/wallet.h
Due: check-amount-access, check-discouraged-functions

bwatch: add utxo set and transaction datastores in bwatch
  plugins/bwatch/bwatch_store.c
  plugins/bwatch/bwatch_store.h
  plugins/bwatch/bwatch_wire.csv
Due: check-amount-access, check-discouraged-functions

bwatch: some test fixes
  lightningd/watchman.c
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch_interface.c
Due: check-amount-access, check-discouraged-functions

Add `-O2` in armv7 Docker build following bug fix Changelog-None
  Dockerfile
Due: none

bwatch: changes to port over wallet
  lightningd/Makefile
  lightningd/test/run-find_my_abspath.c
  lightningd/test/run-invoice-select-inchan.c
  lightningd/watchman.c
  lightningd/watchman.h
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch_interface.c
  plugins/bwatch/bwatch_interface.h
  plugins/bwatch/bwatch_scanner.c
  plugins/bwatch/bwatch_store.c
  wallet/test/run-chain_moves_duplicate-detect.c
  wallet/test/run-db.c
  wallet/test/run-migrate_remove_chain_moves_duplicates.c
  wallet/test/run-wallet.c
  wallet/wallet.c
Due: check-amount-access, check-discouraged-functions

pytest: fix flake in test_gossip_store_compact_while_extending and test_gossmap_lost_node
  tests/test_gossip.py
Due: none

pytest: really fix race in test_buy_liquidity_ad_check_bookkeeping
  tests/test_opening.py
Due: none

pytest: fix test_sendpay_grouping regex.
  tests/test_pay.py
Due: none

pytest: fix flake in test_reconnect_remote_sends_no_sigs
  tests/test_connection.py
Due: none

askrene: log reservation failures during getroutes
  plugins/askrene/child/refine.c
Due: check-amount-access, check-discouraged-functions

askrene-unreserve: add dev_remove_all option
  doc/schemas/askrene-unreserve.json
  plugins/askrene/askrene.c
  plugins/askrene/reserve.c
  plugins/askrene/reserve.h
  tests/test_askrene.py
Due: check-amount-access, check-discouraged-functions

askrene: add test for reservation leaks
  tests/test_askrene.py
Due: none

fuzz: fix uninitialized variable in fuzz-handle_onion_message
  tests/fuzz/fuzz-handle_onion_message.c
Due: check-amount-access, check-discouraged-functions

crates: improved json codec decoding performance
  cln-rpc/src/codec.rs
  plugins/src/codec.rs
Due: none

ccan: import new version to change vsprintfs to vsnprintfs
  ccan/README
  ccan/ccan/json_out/json_out.c
  ccan/ccan/json_out/json_out.h
  ccan/ccan/json_out/test/run.c
Due: check-amount-access

misc: fix uninitialised errors for macOS
  common/test/run-trace.c
  devtools/mkquery.c
  lightningd/dual_open_control.c
  openingd/dualopend.c
Due: check-amount-access, check-discouraged-functions

renepay: refactor and bugfixes
  plugins/renepay/Makefile
  plugins/renepay/main.c
  plugins/renepay/mods.c
  plugins/renepay/payment.h
  plugins/renepay/routetracker.c
  plugins/renepay/routetracker.h
  plugins/renepay/sendpay.c
  plugins/renepay/sendpay.h
Due: check-amount-access, check-discouraged-functions

cln-plugin: add a hook builder to make use of before, after and filters options
  plugins/examples/cln-plugin-startup.rs
  plugins/lsps-plugin/src/client.rs
  plugins/lsps-plugin/src/service.rs
  plugins/src/lib.rs
  plugins/src/messages.rs
Due: none

lightningd: remove channel utxos dependence on the outputs table
  lightningd/chaintopology.c
  lightningd/channel_control.c
  lightningd/peer_control.c
  lightningd/peer_control.h
  lightningd/test/run-invoice-select-inchan.c
  lightningd/watchman.c
  lightningd/watchman.h
  wallet/test/run-chain_moves_duplicate-detect.c
  wallet/test/run-db.c
  wallet/test/run-migrate_remove_chain_moves_duplicates.c
  wallet/test/run-wallet.c
  wallet/wallet.c
Due: check-amount-access, check-discouraged-functions

lightningd: Remove channel_watch_funding's watch_txo call
  lightningd/channel.c
  lightningd/channel.h
  lightningd/peer_control.c
Due: check-amount-access, check-discouraged-functions

db: add STRICT tables with migration for old databases
  db/common.h
  db/db_sqlite3.c
  db/utils.c
  devtools/sql-rewrite.py
  tests/test_db.py
  tests/test_downgrade.py
  tools/lightning-downgrade.c
  wallet/db.c
  wallet/migrations.c
  wallet/migrations.h
Due: check-amount-access, check-discouraged-functions

Path conditions:
  check-amount-access: any of: \.(c|h)$, but not: common/amount|.*/test/.*
  check-discouraged-functions: any of: \.(c|h)$, but not: ccan|contrib
