Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
      args: [ "--ignore=E501,E731,E741,W503,F541,E275" ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
    - id: shellcheck
      args: [ -fgcc ]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      description: Runs formatting checks on the c code and and throws errors if suggestions
        are detected, without modifying the code. Style is defined in `.clang-format`. When
        encountering formatting-related errors, run `clang-format -i <path-to-file>` to make
        (destructively) the suggestions and evalute the resulting diff for more context.
      args: [ --dry-run, -Werror ]
      entry: clang-format
      types: [ c ]
      stages: [ manual ]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-jsonschema
      name: check doc JSON schemas
      args: ["--schemafile", "doc/rpc-schema-draft.json"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

    - id: check-metaschema
      name: check doc JSON metaschemas
      args: ["--verbose"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: pretty-format-json
      args: [ "--indent", "2", "--no-sort-keys" ]
      files: ^doc/schemas/.*\.json$
      types: [ json ]
    - id: trailing-whitespace
      args: [ "--markdown-linebreak-ext=md" ]
      exclude: ccan|contrib|tests/fuzz/corpora
    - id: end-of-file-fixer
      exclude: ccan|contrib|tests/fuzz/corpora

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      description: Checks for common misspellings.
      exclude: ccan|contrib|tests/fuzz/corpora
      stages: [ manual ]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.23.0
  hooks:
    - id: commitlint
      stages: [ commit-msg ]

- repo: local
  hooks:
    # Reimplementation of `make check-amount-access` for pygrep.
    - id: check-amount-access
      name: Check amount_msat and amount_sat members are not accessed directly
      description: "Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow."
      language: pygrep
      entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)
      types: [ c ]
      exclude: common/amount|.*/test/.*

    # Reimplementation of `make check-discouraged-functions` for pygrep.
    - id: check-discouraged-functions
      name: Check for usage of discouraged funtions
      language: pygrep
      entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('
      types: [ c ]
      exclude: ccan|contrib

    - id: include-order-fixer
      name: Fix Include Order
      language: python
      description: Analyzes Core Lightning C source and header files, assesses the order of
        their include directives according to the published Coding Style Guidelines
        [here](https://docs.corelightning.org/docs/coding-style-guidelines), automatically
        applying sorting them. Aims to conform with `make check-includes`.
      entry: python devtools/include-order-fixer.py
      stages: [ manual ]
      pass_filenames: false

    - id: check-includes
      name: Check Includes
      language: system
      entry: make check-includes
      pass_filenames: false

offers: don't leak an uninitialised invreq_id in invoice_error
  plugins/offers_inv_hook.c
Due: check-amount-access, check-discouraged-functions

pytest: extra HTLC set part during invoice_payment hook
  tests/test_pay.py
Due: none

pytest: trimmed HTLC with the same hash as a live one must not alias it
  tests/test_closing.py
Due: none

common: don't treat a zero first_scid as "first_node_id given"
  common/json_blinded_path.c
Due: check-amount-access, check-discouraged-functions

pytest: unknown invoice no-leak test now passes
  tests/test_connection.py
Due: none

pytest: extra HTLC set part during invoice_payment hook now works
  tests/test_pay.py
Due: none

pytest: offers must not leak an uninitialised invreq_id
  tests/test_connection.py
Due: none

pytest: zero first_scid reply path test now passes
  tests/test_connection.py
Due: none

pytest: offers must reply via a zero first_scid, not a stack pubkey
  tests/test_connection.py
Due: none

onchaind: match HTLC outputs by amount as well as script
  onchaind/onchaind.c
  onchaind/onchaind_wire.c
  onchaind/onchaind_wire.h
  wallet/wallet.c
Due: check-amount-access, check-discouraged-functions

pytest: trimmed same-hash HTLC test now passes
  tests/test_closing.py
Due: none

channeld: enforce that the peer's HTLC ids increase by one
  channeld/channeld.c
  channeld/channeld_wire.csv
  lightningd/channel.c
  lightningd/channel.h
  lightningd/channel_control.c
  lightningd/peer_htlcs.c
  tests/plugins/channeld_fakenet.c
  wallet/wallet.c
Due: check-amount-access, check-discouraged-functions

lightningd: don't free HTLC set timer twice if part arrives during hook
  lightningd/htlc_set.c
Due: check-amount-access, check-discouraged-functions

pytest: peers reusing resolved HTLC ids no longer crash us
  tests/test_connection.py
Due: none

lightningd: treat runes beyond the blacklist range as blacklisted
  lightningd/runes.c
Due: check-amount-access, check-discouraged-functions

lightningd: publish the live commitment too when force closing with an inflight
  lightningd/peer_control.c
  tests/test_splicing.py
Due: check-amount-access, check-discouraged-functions

lightningd: refuse makesecret for the label behind our master rune
  contrib/msggen/msggen/schema.json
  doc/schemas/makesecret.json
  lightningd/hsm_control.c
  lightningd/runes.c
  lightningd/runes.h
Due: check-amount-access, check-discouraged-functions

pytest: out-of-range rune blacklist test now passes
  tests/test_runes.py
Due: none

pytest: runes beyond the blacklist range must not be accepted
  tests/test_runes.py
Due: none

askrene: don't type-pun the node id when hashing node biases
  plugins/askrene/layer.c
Due: check-amount-access, check-discouraged-functions

pytest: makesecret rune master secret test now passes
  tests/test_runes.py
Due: none

pytest: makesecret must not derive the rune master secret
  tests/test_runes.py
Due: none

lightningd: refuse a dual-funded candidate that reuses a funding outpoint
  lightningd/dual_open_control.c
Due: check-amount-access, check-discouraged-functions

wallet: fix splice-RBF HTLC signature promotion
  tests/test_splicing.py
  wallet/test/run-wallet.c
  wallet/wallet.c
Due: check-amount-access, check-discouraged-functions

pytest: a confirmed splice output spent before splice_locked must be adopted
  tests/test_splicing.py
Due: none

lightningd: adopt a confirmed splice candidate whose output is spent before splice_locked
  lightningd/peer_control.c
  tests/test_splicing.py
Due: check-amount-access, check-discouraged-functions

release: CHANGELOG and version bumps for v26.06.8
  .version
  CHANGELOG.md
  contrib/pyln-client/pyln/client/__init__.py
  contrib/pyln-client/pyproject.toml
  contrib/pyln-proto/pyln/proto/__init__.py
  contrib/pyln-proto/pyproject.toml
  contrib/pyln-testing/pyln/testing/__init__.py
  contrib/pyln-testing/pyproject.toml
  tools/reckless
  uv.lock
Due: none

channel_control: don't leave a stale inflight watch on the outpoint after splice lock
  lightningd/channel_control.c
  tests/test_splice.py
Due: check-amount-access, check-discouraged-functions

lightningd: refuse channels whose channel_id is already in use
  lightningd/channel.c
  lightningd/channel.h
  lightningd/closed_channel.h
  lightningd/dual_open_control.c
  lightningd/opening_control.c
  lightningd/peer_control.c
  tests/test_opening.py
Due: check-amount-access, check-discouraged-functions

pytest: channels reusing a funding outpoint must not crash us
  tests/test_opening.py
Due: none

hsmd: don't report forced channel secrets as memleaks
  hsmd/hsmd.c
Due: check-amount-access, check-discouraged-functions

lightningd: watch a dual-funded channel's funding outputs before lock-in
  lightningd/dual_open_control.c
  lightningd/peer_control.c
  lightningd/test/run-invoice-select-inchan.c
  tests/test_opening.py
  wallet/test/run-wallet.c
Due: check-amount-access, check-discouraged-functions

common: featurebits_unset cleared the whole byte
  common/features.c
Due: check-amount-access, check-discouraged-functions

common: test that featurebits_unset leaves the rest of the byte alone
  common/test/run-features.c
Due: check-discouraged-functions

lightningd: fix crash and busy-loop on invoice with huge expiry
  contrib/msggen/msggen/schema.json
  doc/schemas/invoice.json
  lightningd/invoice.c
  tests/test_invoices.py
Due: check-amount-access, check-discouraged-functions

lightningd: check expiry bounds in createinvoice too
  contrib/msggen/msggen/schema.json
  doc/schemas/createinvoice.json
  lightningd/invoice.c
  tests/test_invoices.py
Due: check-amount-access, check-discouraged-functions

tests: raise connectd's wake-delay threshold in test_funding_cancel_race
  tests/test_connection.py
Due: none

connectd: add --dev-max-wake-delay-ms
  connectd/connectd.c
  connectd/connectd.h
  connectd/connectd_wire.csv
  connectd/multiplex.c
  lightningd/connect_control.c
  lightningd/lightningd.c
  lightningd/lightningd.h
  lightningd/options.c
  tests/test_connection.py
Due: check-amount-access, check-discouraged-functions

openingd: fail open_channel at receipt when the funder cannot afford the initial commitment fee
  openingd/openingd.c
  tests/test_connection.py
Due: check-amount-access, check-discouraged-functions

tests: carry the network-correct chain_hash in the raw-wire helpers
  tests/test_connection.py
Due: none
