Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
      args: [ "--ignore=E501,E731,E741,W503,F541,E275" ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
    - id: shellcheck
      args: [ -fgcc ]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      description: Runs formatting checks on the c code and and throws errors if suggestions
        are detected, without modifying the code. Style is defined in `.clang-format`. When
        encountering formatting-related errors, run `clang-format -i <path-to-file>` to make
        (destructively) the suggestions and evalute the resulting diff for more context.
      args: [ --dry-run, -Werror ]
      entry: clang-format
      types: [ c ]
      stages: [ manual ]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-jsonschema
      name: check doc JSON schemas
      args: ["--schemafile", "doc/rpc-schema-draft.json"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

    - id: check-metaschema
      name: check doc JSON metaschemas
      args: ["--verbose"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: pretty-format-json
      args: [ "--indent", "2", "--no-sort-keys" ]
      files: ^doc/schemas/.*\.json$
      types: [ json ]
    - id: trailing-whitespace
      args: [ "--markdown-linebreak-ext=md" ]
      exclude: ccan|contrib|tests/fuzz/corpora
    - id: end-of-file-fixer
      exclude: ccan|contrib|tests/fuzz/corpora

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      description: Checks for common misspellings.
      exclude: ccan|contrib|tests/fuzz/corpora
      stages: [ manual ]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.23.0
  hooks:
    - id: commitlint
      stages: [ commit-msg ]

- repo: local
  hooks:
    # Reimplementation of `make check-amount-access` for pygrep.
    - id: check-amount-access
      name: Check amount_msat and amount_sat members are not accessed directly
      description: "Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow."
      language: pygrep
      entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)
      types: [ c ]
      exclude: common/amount|.*/test/.*

    # Reimplementation of `make check-discouraged-functions` for pygrep.
    - id: check-discouraged-functions
      name: Check for usage of discouraged funtions
      language: pygrep
      entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('
      types: [ c ]
      exclude: ccan|contrib

    - id: include-order-fixer
      name: Fix Include Order
      language: python
      description: Analyzes Core Lightning C source and header files, assesses the order of
        their include directives according to the published Coding Style Guidelines
        [here](https://docs.corelightning.org/docs/coding-style-guidelines), automatically
        applying sorting them. Aims to conform with `make check-includes`.
      entry: python devtools/include-order-fixer.py
      stages: [ manual ]
      pass_filenames: false

    - id: check-includes
      name: Check Includes
      language: system
      entry: make check-includes
      pass_filenames: false

plugins(lsps2): cleanups from review
  plugins/lsps-plugin/Cargo.toml
  plugins/lsps-plugin/src/client.rs
  plugins/lsps-plugin/src/cln_adapters/hooks.rs
  plugins/lsps-plugin/src/core/lsps2/actor.rs
  plugins/lsps-plugin/src/core/lsps2/service.rs
  plugins/lsps-plugin/src/core/lsps2/session.rs
Due: none

plugins(lsps2): make finalize_session idempotent
  plugins/lsps-plugin/src/cln_adapters/rpc.rs
Due: none

plugins(lsps2): always release funding inputs when abandoning
  plugins/lsps-plugin/src/cln_adapters/rpc.rs
Due: none

plugins(lsps2): only expire offers when starting a new session
  plugins/lsps-plugin/src/core/lsps2/manager.rs
  plugins/lsps-plugin/src/service.rs
Due: none

docs: add experimental lsps options to config
  doc/lightningd-config.5.md
Due: none

pytest: cover finalize_session over an existing finalized entry
  tests/test_cln_lsps.py
Due: none

tests: wait for mempool on lsps2 tests
  tests/test_cln_lsps.py
Due: none

plugins(lsps2): Add u16 zero len to TEMPORARY_CHANNEL_FAILURE
  plugins/lsps-plugin/src/proto/lsps2.rs
Due: none

tests: relax collect timeout on lsps2 plugin tests
  tests/test_cln_lsps.py
Due: none

tests: shorten long test name
  tests/test_cln_lsps.py
Due: none

plugins(lsps2): fund at most one channel per jit scid
  plugins/lsps-plugin/src/core/lsps2/actor.rs
  plugins/lsps-plugin/src/core/lsps2/manager.rs
  plugins/lsps-plugin/src/service.rs
Due: none

plugins(lsps2): route parts by scid, not payment hash alone
  plugins/lsps-plugin/src/core/lsps2/actor.rs
  plugins/lsps-plugin/src/core/lsps2/manager.rs
  plugins/lsps-plugin/src/service.rs
  tests/test_cln_lsps.py
Due: none

plugins(lsps2): bound variable-amount payments by the policy size range
  plugins/lsps-plugin/src/core/lsps2/session.rs
  tests/test_cln_lsps.py
Due: none

plugins(lsps2): monitor recovered sessions for channel death
  plugins/lsps-plugin/src/core/lsps2/actor.rs
  plugins/lsps-plugin/src/core/lsps2/manager.rs
  tests/test_cln_lsps.py
Due: none

plugins(lsps2): release the channel when recovery finds all forwards failed
  plugins/lsps-plugin/src/core/lsps2/manager.rs
Due: none

tests: channel_ready wait is bounded
  tests/test_cln_lsps.py
Due: none

common: reject banned Unicode categories in protocol text fields
  channeld/test/Makefile
  common/Makefile
  common/test/Makefile
  common/test/run-utils-utf8_check.c
  common/unicode_category.c
  common/unicode_category.h
  common/utils.c
  devtools/gen-unicode-category.py
  onchaind/test/Makefile
  wire/test/Makefile
Due: check-amount-access, check-discouraged-functions

json_param: reject banned Unicode chars before wire encoding
  common/json_param.c
  common/json_param.h
  common/test/run-param.c
  lightningd/invoice.c
  plugins/fetchinvoice.c
  plugins/offers_offer.c
Due: check-amount-access, check-discouraged-functions

common: split utf8_check() into permissive and strict variants
  common/bolt11.c
  common/bolt12_proof.c
  common/json_param.c
  common/json_param.h
  common/test/run-utils-utf8_check.c
  common/unicode_category.c
  common/unicode_category.h
  common/utils.c
  common/utils.h
  wire/fromwire.c
  wire/towire.c
Due: check-amount-access, check-discouraged-functions

add: added basic structure of forward failure reasons
  .msggen.json
  channeld/channeld.c
  channeld/channeld_wire.csv
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-rpc/src/model.rs
  common/Makefile
  common/forward_failure_reason.h
  contrib/msggen/msggen/schema.json
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2_grpc.py
  contrib/pyln-grpc-proto/pyln/grpc/primitives_pb2.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
  doc/schemas/listforwards.json
  lightningd/forwards.c
  lightningd/forwards.h
  lightningd/notification.c
  lightningd/notification.h
  lightningd/pay.c
  lightningd/peer_htlcs.c
  lightningd/peer_htlcs.h
  tests/plugins/channeld_fakenet.c
  tests/test_pay.py
  tests/test_plugin.py
  wallet/migrations.c
  wallet/test/run-chain_moves_duplicate-detect.c
  wallet/test/run-db.c
  wallet/test/run-migrate_remove_chain_moves_duplicates.c
  wallet/test/run-wallet.c
  wallet/wallet.c
  wallet/wallet.h
Due: check-amount-access, check-discouraged-functions

lightningd: track funding-tx broadcast visibility, gate zero-conf forwarding on it
  .msggen.json
  cln-grpc/proto/node.proto
  cln-rpc/src/model.rs
  common/Makefile
  common/forward_failure_reason.h
  common/funding_tx_status.h
  contrib/msggen/msggen/schema.json
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  doc/schemas/listforwards.json
  lightningd/chaintopology.c
  lightningd/chaintopology.h
  lightningd/channel.c
  lightningd/channel.h
  lightningd/channel_control.c
  lightningd/dual_open_control.c
  lightningd/opening_control.c
  lightningd/peer_control.c
  lightningd/peer_htlcs.c
  wallet/migrations.c
  wallet/test/run-chain_moves_duplicate-detect.c
  wallet/test/run-db.c
  wallet/test/run-migrate_remove_chain_moves_duplicates.c
  wallet/test/run-wallet.c
  wallet/wallet.c
Due: check-amount-access, check-discouraged-functions

build: allow overriding CFLAGS, CPPFLAGS, and LDFLAGS
  Makefile
  configure
Due: none

Makefile: use standard variables for compiling and linking C programs
  Makefile
  tools/Makefile
Due: none

build: move -std=gnu11 to CPPFLAGS
  configure
Due: none

configure: fix have_function_sections test
  configure
Due: none

Makefile: don't show config.vars on the LD line in show-flags
  Makefile
Due: none

fix two libwally-core #includes
  common/test/run-close_tx.c
  lightningd/test/run-close_tx_check.c
Due: check-discouraged-functions

build: manage installation targets with Make individually
  Makefile
Due: none

configure: allow overriding library flags via environment vars
  configure
Due: none

repeatpay: refresh currency amount before each fetch.
  plugins/repeatpay/repeatpay.c
Due: check-amount-access, check-discouraged-functions

repeatpay: implement amendrepeatpay.
  plugins/repeatpay/repeatpay.c
  tests/test_repeatpay.py
Due: check-amount-access, check-discouraged-functions

repeatpay: implement cancelrepeatpay.
  contrib/msggen/msggen/schema.json
  doc/schemas/listrepeatpays.json
  plugins/repeatpay/repeatpay.c
  tests/test_repeatpay.py
Due: check-amount-access, check-discouraged-functions

repeatpay: close race for duplicate repeatpay in currency convert path.
  plugins/repeatpay/repeatpay.c
Due: check-amount-access, check-discouraged-functions

repeatpay: now use xpay result to inform user if they're out of funds.
  plugins/repeatpay/repeatpay.c
  tests/test_repeatpay.py
Due: check-amount-access, check-discouraged-functions

iso4217: share currency-amount formatting between repeatpay and bookkeeper.
  common/iso4217.c
  common/iso4217.h
  plugins/bkpr/bookkeeper.c
  plugins/repeatpay/repeatpay.c
Due: check-amount-access, check-discouraged-functions

offers: fix recurrence proportional amount
  plugins/offers_invreq_hook.c
Due: check-amount-access, check-discouraged-functions
