Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.8.0
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --diff ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"
    # Run the formatter.
    - id: ruff-format
      args: [ --diff ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"

- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
    - id: shellcheck
      args: [ -fgcc ]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      description: Runs formatting checks on the c code and and throws errors if suggestions
        are detected, without modifying the code. Style is defined in `.clang-format`. When
        encountering formatting-related errors, run `clang-format -i <path-to-file>` to make
        (destructively) the suggestions and evalute the resulting diff for more context.
      args: [ --dry-run, -Werror ]
      entry: clang-format
      types: [ c ]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-jsonschema
      name: check doc JSON schemas
      args: ["--schemafile", "doc/rpc-schema-draft.json"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

    - id: check-metaschema
      name: check doc JSON metaschemas
      args: ["--verbose"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: pretty-format-json
      args: [ "--indent", "2", "--no-sort-keys" ]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      description: Checks for common misspellings.
      exclude: ccan|contrib|tests/fuzz/corpora

- repo: https://github.com/compilerla/conventional-pre-commit
  rev: v3.6.0
  hooks:
    - id: conventional-pre-commit
      stages: [commit-msg]
      args:
        - --scopes=askrene,bkpr,channeld,cli,closingd,cln-grpc,cln-rpc,common,connectd,db,gossipd,hsmd,lightningd,onchaind,openingd,pay,pylightning,pyln-client,pyln-spec,pyln-testing,pytest,splice,tools,wallet,wire,xpay
        - --verbose
        - build
        - chore
        - ci
        - docs
        - feat
        - fix
        - style
        - refactor
        - perf
        - test

- repo: local
  hooks:
    # Reimplementation of `make check-amount-access` for pygrep.
    - id: check-amount-access
      name: Check amount_msat and amount_sat members are not accessed directly
      description: "Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow."
      language: pygrep
      entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)
      types: [ c ]
      exclude: common/amount|.*/test/.*

    # Reimplementation of `make check-discouraged-functions` for pygrep.
    - id: check-discouraged-functions
      name: Check for usage of discouraged funtions
      language: pygrep
      entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('
      types: [ c ]
      exclude: ccan|contrib

ccan: Change vsprintfs to vsnprintfs
  ccan/ccan/json_out/json_out.c
Due: check-amount-access

misc: fix uninitialised errors for macOS
  common/test/run-trace.c
  devtools/mkquery.c
  lightningd/dual_open_control.c
  openingd/dualopend.c
Due: check-amount-access, check-discouraged-functions

doc: Update release instructions
  doc/contribute-to-core-lightning/release-checklist.md
Due: none

contrib: add Sangbida's signing key
  SECURITY.md
  contrib/keys/sangbida.txt
Due: none

reckless: report version without loading config
  tests/test_reckless.py
  tools/reckless
Due: none

reckless: cleanup failed installation attempts
  tests/test_reckless.py
  tools/reckless
Due: none

reckless: add listinstalled command to list reckless managed plugins
  tools/reckless
Due: none

reckless: redirect help alias output when --json option is used
  tools/reckless
Due: none

reckless: handle .git in source locations
  tools/reckless
Due: none

reckless: helper function for accessing local clone of remote repo
  tools/reckless
Due: none

reckless: only fetch cloned repositorys once
  tools/reckless
Due: none

tools: Capture Shasums for current version only
  tools/build-release.sh
Due: none

askrene: speed up when using large number of layers.
  plugins/askrene/askrene.c
  plugins/askrene/askrene.h
  plugins/askrene/layer.c
  plugins/askrene/layer.h
  tests/benchmark.py
Due: check-amount-access, check-discouraged-functions

pytest: also make sure askrene doesn't suffer when reloading many layers on startup.
  tests/benchmark.py
Due: none

askrene: move routines only accessed by the child process into child/.
  plugins/askrene/Makefile
  plugins/askrene/askrene.c
  plugins/askrene/child/algorithm.c
  plugins/askrene/child/algorithm.h
  plugins/askrene/child/dijkstra.c
  plugins/askrene/child/dijkstra.h
  plugins/askrene/child/explain_failure.c
  plugins/askrene/child/explain_failure.h
  plugins/askrene/child/flow.c
  plugins/askrene/child/flow.h
  plugins/askrene/child/graph.c
  plugins/askrene/child/graph.h
  plugins/askrene/child/mcf.c
  plugins/askrene/child/mcf.h
  plugins/askrene/child/priorityqueue.c
  plugins/askrene/child/priorityqueue.h
  plugins/askrene/child/refine.c
  plugins/askrene/child/refine.h
  plugins/askrene/layer.h
  plugins/askrene/reserve.h
  plugins/askrene/test/run-bfs.c
  plugins/askrene/test/run-dijkstra.c
  plugins/askrene/test/run-flow.c
  plugins/askrene/test/run-graph.c
  plugins/askrene/test/run-mcf-large.c
  plugins/askrene/test/run-mcf.c
  plugins/askrene/test/run-pqueue.c
Due: check-amount-access, check-discouraged-functions

askrene: move fork() entry point into its own file.
  plugins/askrene/Makefile
  plugins/askrene/askrene.c
  plugins/askrene/askrene.h
  plugins/askrene/child/entry.c
  plugins/askrene/child/entry.h
Due: check-amount-access, check-discouraged-functions

askrene: expose additional_costs htable so child can access it.
  plugins/askrene/Makefile
  plugins/askrene/askrene.c
  plugins/askrene/child/additional_costs.h
Due: check-amount-access, check-discouraged-functions

askrene: move fmt_flow_full from askrene.c into flow.c.
  plugins/askrene/askrene.c
  plugins/askrene/child/flow.c
Due: check-amount-access, check-discouraged-functions

askrene: make children use child_log() instead of rq_log.
  plugins/askrene/askrene.c
  plugins/askrene/child/entry.c
  plugins/askrene/child/entry.h
  plugins/askrene/child/explain_failure.c
  plugins/askrene/child/flow.c
  plugins/askrene/child/flow.h
  plugins/askrene/child/mcf.c
  plugins/askrene/child/refine.c
Due: check-amount-access, check-discouraged-functions

askrene: remove non child-friendly fields from struct route_query.
  plugins/askrene/askrene.c
  plugins/askrene/askrene.h
  plugins/askrene/child/entry.c
  plugins/askrene/child/entry.h
  plugins/askrene/child/mcf.c
  plugins/askrene/child/mcf.h
  plugins/askrene/child/refine.c
Due: check-amount-access, check-discouraged-functions

askrene: make "child.c" to be the explicit child entry point.
  plugins/askrene/Makefile
  plugins/askrene/askrene.c
  plugins/askrene/child/child.c
  plugins/askrene/child/child.h
  plugins/askrene/child/entry.h
Due: check-amount-access, check-discouraged-functions

askrene: actually run children in parallel.
  plugins/askrene/askrene.c
  plugins/askrene/askrene.h
Due: check-amount-access, check-discouraged-functions

askrene: have child make `struct route_query` internally.
  plugins/askrene/askrene.c
  plugins/askrene/child/entry.c
  plugins/askrene/child/entry.h
Due: check-amount-access, check-discouraged-functions

askrene: close files in child to isolate against bugs.
  plugins/askrene/askrene.c
Due: check-amount-access, check-discouraged-functions

pytest: rework test_real_data and test_real_biases to be parallel.
  tests/test_askrene.py
Due: none

askrene: move route_query definition and functions into child/.
  plugins/askrene/Makefile
  plugins/askrene/askrene.c
  plugins/askrene/askrene.h
  plugins/askrene/child/entry.c
  plugins/askrene/child/explain_failure.c
  plugins/askrene/child/flow.c
  plugins/askrene/child/mcf.c
  plugins/askrene/child/refine.c
  plugins/askrene/child/route_query.c
  plugins/askrene/child/route_query.h
Due: check-amount-access, check-discouraged-functions

askrene: limit how many children we have.
  doc/lightningd-config.5.md
  plugins/askrene/askrene.c
  plugins/askrene/askrene.h
Due: check-amount-access, check-discouraged-functions

fixup! ci: Refactor ci.yaml to split out running tests
  .github/workflows/ci.yaml
Due: none

git: Ignore two more binaries
  .gitignore
Due: none

ci: Add a simple plugin to report test results to our falkiness tracker
  contrib/pytest-trackflaky/README.md
  contrib/pytest-trackflaky/pyproject.toml
  contrib/pytest-trackflaky/pytest_trackflaky/__init__.py
  contrib/pytest-trackflaky/pytest_trackflaky/plugin.py
  pyproject.toml
  uv.lock
Due: none

ci: Mark some tests as rerun
  pyproject.toml
  tests/test_coinmoves.py
  tests/test_invoices.py
  tests/test_plugin.py
  tests/test_reckless.py
  tests/test_splicing.py
Due: none

ci: Run with rerunfailures rather than flaky
  .github/workflows/ci.yaml
  pyproject.toml
  uv.lock
Due: none

ci: Remove nix check from the critical path in ci.yaml
  .github/workflows/ci.yaml
Due: none

ci: Add 2 shards to the UBSAN / ASAN runs
  .github/workflows/ci.yaml
Due: none

ci: Add new `version-vls` tag for Docker image
  .github/workflows/docker-release.yml
Due: none

docker: Add vls remote_hsmd_socket binary
  Dockerfile
Due: none

doc: Add instructions to run CLN node with remote_hsmd_socket
  doc/contribute-to-core-lightning/docker-images.md
Due: none

Fix Reckless search command not finding partial matches
  tests/test_reckless.py
  tools/reckless
Due: none
