Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
      args: [ "--ignore=E501,E731,E741,W503,F541,E275" ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
    - id: shellcheck
      args: [ -fgcc ]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      description: Runs formatting checks on the c code and and throws errors if suggestions
        are detected, without modifying the code. Style is defined in `.clang-format`. When
        encountering formatting-related errors, run `clang-format -i <path-to-file>` to make
        (destructively) the suggestions and evalute the resulting diff for more context.
      args: [ --dry-run, -Werror ]
      entry: clang-format
      types: [ c ]
      stages: [ manual ]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-jsonschema
      name: check doc JSON schemas
      args: ["--schemafile", "doc/rpc-schema-draft.json"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

    - id: check-metaschema
      name: check doc JSON metaschemas
      args: ["--verbose"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: pretty-format-json
      args: [ "--indent", "2", "--no-sort-keys" ]
      files: ^doc/schemas/.*\.json$
      types: [ json ]
    - id: trailing-whitespace
      args: [ "--markdown-linebreak-ext=md" ]
      exclude: ccan|contrib|tests/fuzz/corpora
    - id: end-of-file-fixer
      exclude: ccan|contrib|tests/fuzz/corpora

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      description: Checks for common misspellings.
      exclude: ccan|contrib|tests/fuzz/corpora
      stages: [ manual ]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.23.0
  hooks:
    - id: commitlint
      stages: [ commit-msg ]

- repo: local
  hooks:
    # Reimplementation of `make check-amount-access` for pygrep.
    - id: check-amount-access
      name: Check amount_msat and amount_sat members are not accessed directly
      description: "Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow."
      language: pygrep
      entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)
      types: [ c ]
      exclude: common/amount|.*/test/.*

    # Reimplementation of `make check-discouraged-functions` for pygrep.
    - id: check-discouraged-functions
      name: Check for usage of discouraged funtions
      language: pygrep
      entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('
      types: [ c ]
      exclude: ccan|contrib

    - id: include-order-fixer
      name: Fix Include Order
      language: python
      description: Analyzes Core Lightning C source and header files, assesses the order of
        their include directives according to the published Coding Style Guidelines
        [here](https://docs.corelightning.org/docs/coding-style-guidelines), automatically
        applying sorting them. Aims to conform with `make check-includes`.
      entry: python devtools/include-order-fixer.py
      stages: [ manual ]
      pass_filenames: false

    - id: check-includes
      name: Check Includes
      language: system
      entry: make check-includes
      pass_filenames: false

reckless: return error if enable detects plugin is already running
  plugins/reckless-plugin/src/cmds/enable.rs
Due: none

reckless: fix unix_timestamp in notification, it was missing the whole seconds
  plugins/reckless-plugin/src/structs.rs
Due: none

reckless: make plugin search case insensitive
  plugins/reckless-plugin/src/util.rs
  tests/test_reckless.py
Due: none

reckless: replace two unwraps with ok_or_else
  plugins/reckless-plugin/src/cmds/update.rs
  plugins/reckless-plugin/src/util.rs
Due: none

pytest: add test for reckless_log notification
  tests/test_reckless.py
Due: none

reckless: use platform specific python outside venv
  plugins/reckless-plugin/src/installers.rs
Due: none

reckless: only attempt to remove source cache after it was found in .sources
  plugins/reckless-plugin/src/cmds/source.rs
Due: none

pytests: fix iso parser in python 3.10 not working with nanosecond precision
  tests/test_reckless.py
Due: none

reckless: improve cli help texts
  plugins/reckless-plugin/src/structs.rs
Due: none

reckless: use .call_typed when starting a plugin with options
  plugins/reckless-plugin/src/util.rs
  tests/data/recklessrepo/lightningd/testplugreqopts/testplugreqopts.py
  tests/test_reckless.py
Due: none

doc: update askrene constraint descriptions
  doc/schemas/askrene-age.json
  doc/schemas/askrene-create-layer.json
  doc/schemas/askrene-inform-channel.json
  doc/schemas/askrene-listlayers.json
Due: none

doc: fix and extend `htlc_accepted` documentation for `resolve`
  cln-rpc/src/hooks.rs
  contrib/msggen/msggen/schema.json
  doc/schemas/hook/htlc_accepted.json
Due: none

pyln-testing: give btcproxy a port and choose better ports
  contrib/pyln-testing/pyln/testing/btcproxy.py
  contrib/pyln-testing/pyln/testing/utils.py
Due: none

askrene: exclude stubchannels from routing
  common/gossmods_listpeerchannels.c
  tests/test_askrene.py
Due: check-amount-access, check-discouraged-functions

configure: fallback to using local python when `uv` not present
  configure
  nix/pkgs/default.nix
Due: none

rust: don't silently eat overflow errors in --release
  cln-rpc/src/primitives.rs
Due: none

nix-builds: on macos, dont attempt to start 2nd lowdown sandbox
  nix/pkgs/default.nix
Due: none

pytests: test_self_disable case added that crashes CLN
  tests/plugins/selfdisable.py
  tests/test_plugin.py
Due: none

configvar: don't crash on stale configvars in finalize_overrides
  common/configvar.c
  tests/plugins/selfdisable.py
Due: check-amount-access, check-discouraged-functions

tests/fuzz/fuzz-open_channel: fix bad local variable access after longjmp
  tests/fuzz/fuzz-open_channel.c
Due: check-amount-access, check-discouraged-functions

tests: add regression test for #8902 dual-fund disconnect BROKEN
  tests/test_opening.py
Due: none

funder: remove listener for peer disconnects
  plugins/funder.c
  tests/test_opening.py
Due: check-amount-access, check-discouraged-functions

dualopend: Parse error messages returned from lightningd correctly
  openingd/dualopend.c
Due: check-amount-access, check-discouraged-functions

tests: check we answer an unknown channel_reestablish without hanging up
  tests/test_opening.py
Due: none

lightningd: don't disconnect when sending error for unknown channel_reestablish
  lightningd/peer_control.c
  lightningd/peer_control.h
  tests/test_misc.py
Due: check-amount-access, check-discouraged-functions

changelog: add Fixed entry for #9427
  CHANGELOG.md
Due: none

setchannel: allow upgrading private channels to public
  .msggen.json
  doc/schemas/setchannel.json
  lightningd/channel_gossip.c
  lightningd/channel_gossip.h
  lightningd/peer_control.c
Due: check-amount-access, check-discouraged-functions

changelog: add Added entry for #9428
  CHANGELOG.md
Due: none

common/test: reproduce BOLT 12 PR #1295 marker-jump spec contradiction
  common/test/Makefile
  common/test/run-bolt12_proof_marker_jump.c
Due: check-discouraged-functions

common/test: generate marker-jump vector in run-bolt12_proof_vectors
  common/test/run-bolt12_proof_vectors.c
Due: check-discouraged-functions

common: fix BOLT 12 payer_proof marker-jump via next_marker helper
  common/bolt12_proof.c
  common/test/run-bolt12_proof_marker_jump.c
Due: check-amount-access, check-discouraged-functions

sql: rewrite scid string literals to use scid() for index support
  plugins/sql.c
Due: check-amount-access, check-discouraged-functions

sql: store short_channel_id as integer for efficient indexing
  contrib/msggen/msggen/schema.json
  doc/schemas/listsqlschemas.json
  doc/schemas/sql-template.json
  plugins/sql.c
  tests/test_plugin.py
Due: check-amount-access, check-discouraged-functions

changelog: add Changed entry for #9430
  CHANGELOG.md
Due: none

fixup! dualopend: Parse error messages returned from lightningd correctly
  openingd/dualopend.c
Due: check-amount-access, check-discouraged-functions

fixup! tests: add regression test for #8902 dual-fund disconnect BROKEN
  tests/test_opening.py
Due: none

bkpr: test added for NULL currency format tag fallback
  tests/test_bookkeeper.py
Due: none

bkpr: test added for escape=none report mode
  tests/test_bookkeeper.py
Due: none

bkpr: test utctime, unified timestamp fetching to avoid races
  tests/test_bookkeeper.py
Due: none

bkpr: test added for {fees} tag
  tests/test_bookkeeper.py
Due: none
