Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
      args: [ "--ignore=E501,E731,E741,W503,F541,E275" ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
    - id: shellcheck
      args: [ -fgcc ]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      description: Runs formatting checks on the c code and and throws errors if suggestions
        are detected, without modifying the code. Style is defined in `.clang-format`. When
        encountering formatting-related errors, run `clang-format -i <path-to-file>` to make
        (destructively) the suggestions and evalute the resulting diff for more context.
      args: [ --dry-run, -Werror ]
      entry: clang-format
      types: [ c ]
      stages: [ manual ]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-jsonschema
      name: check doc JSON schemas
      args: ["--schemafile", "doc/rpc-schema-draft.json"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

    - id: check-metaschema
      name: check doc JSON metaschemas
      args: ["--verbose"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: pretty-format-json
      args: [ "--indent", "2", "--no-sort-keys" ]
      files: ^doc/schemas/.*\.json$
      types: [ json ]
    - id: trailing-whitespace
      args: [ "--markdown-linebreak-ext=md" ]
      exclude: ccan|contrib|tests/fuzz/corpora
    - id: end-of-file-fixer
      exclude: ccan|contrib|tests/fuzz/corpora

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      description: Checks for common misspellings.
      exclude: ccan|contrib|tests/fuzz/corpora
      stages: [ manual ]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.23.0
  hooks:
    - id: commitlint
      stages: [ commit-msg ]

- repo: local
  hooks:
    # Reimplementation of `make check-amount-access` for pygrep.
    - id: check-amount-access
      name: Check amount_msat and amount_sat members are not accessed directly
      description: "Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow."
      language: pygrep
      entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)
      types: [ c ]
      exclude: common/amount|.*/test/.*

    # Reimplementation of `make check-discouraged-functions` for pygrep.
    - id: check-discouraged-functions
      name: Check for usage of discouraged funtions
      language: pygrep
      entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('
      types: [ c ]
      exclude: ccan|contrib

    - id: include-order-fixer
      name: Fix Include Order
      language: python
      description: Analyzes Core Lightning C source and header files, assesses the order of
        their include directives according to the published Coding Style Guidelines
        [here](https://docs.corelightning.org/docs/coding-style-guidelines), automatically
        applying sorting them. Aims to conform with `make check-includes`.
      entry: python devtools/include-order-fixer.py
      stages: [ manual ]
      pass_filenames: false

    - id: check-includes
      name: Check Includes
      language: system
      entry: make check-includes
      pass_filenames: false

lightningd: fix use-after-free of checkrune param cache keys
  lightningd/runes.c
Due: check-amount-access, check-discouraged-functions

runes: treat invokerune/destroyrune as their real commands in checkrune
  contrib/msggen/msggen/schema.json
  doc/developers-guide/deprecated-features.md
  doc/schemas/blacklistrune.json
  doc/schemas/createrune.json
  lightningd/runes.c
Due: check-amount-access, check-discouraged-functions

runes: only unrestricted runes may relist blacklisted runes
  contrib/msggen/msggen/schema.json
  doc/schemas/blacklistrune.json
  lightningd/runes.c
Due: check-amount-access, check-discouraged-functions

connectd: fix reply to query_channel_range
  connectd/queries.c
Due: check-amount-access, check-discouraged-functions

channeld: fail the channel instead of crashing if we can't build a commitment
  channeld/channeld.c
Due: check-amount-access, check-discouraged-functions

channeld: bound HTLC additions by our own splice-out amount
  channeld/channeld.c
Due: check-amount-access, check-discouraged-functions

lightningd: use a splice's HTLC sigs once we move onto its commitment
  lightningd/channel_control.c
  lightningd/peer_control.c
  lightningd/test/run-invoice-select-inchan.c
  wallet/test/run-wallet.c
  wallet/wallet.c
  wallet/wallet.h
Due: check-amount-access, check-discouraged-functions

channeld: tell lightningd the HTLC sigs for a splice's first commitment
  channeld/channeld.c
  channeld/channeld_wire.csv
  lightningd/channel_control.c
  wallet/wallet.c
  wallet/wallet.h
Due: check-amount-access, check-discouraged-functions

runes: only unrestricted runes may create new runes
  contrib/msggen/msggen/schema.json
  doc/schemas/createrune.json
  lightningd/runes.c
Due: check-amount-access, check-discouraged-functions

runes: record valid runes missing from the db on first use
  contrib/msggen/msggen/schema.json
  doc/schemas/blacklistrune.json
  lightningd/runes.c
Due: check-amount-access, check-discouraged-functions

docs: remove references to IRC and retired c-lightning mailing list
  README.md
  doc/contribute-to-core-lightning/release-checklist.md
Due: none

build: allow overriding CFLAGS, CPPFLAGS, and LDFLAGS
  Makefile
  configure
  tools/update-mocks.sh
Due: none

configure: allow overriding library flags via environment vars
  configure
Due: none

configure: fix have_function_sections test
  configure
Due: none

fix two libwally-core #includes
  common/test/run-close_tx.c
  lightningd/test/run-close_tx_check.c
Due: check-discouraged-functions

build: move -std=gnu11 to CPPFLAGS
  configure
Due: none

build: manage installation targets with Make individually
  Makefile
Due: none

Makefile: use standard variables for compiling and linking C programs
  Makefile
  tools/Makefile
Due: none

interactivetx: return the error from send_next
  common/interactivetx.c
  tests/test_splicing.py
Due: check-amount-access, check-discouraged-functions

channeld: reject HTLC amounts exceeding the BOLT #1 ceiling
  channeld/full_channel.c
  channeld/test/run-full_channel.c
Due: check-amount-access, check-discouraged-functions

dualopen: add test for large output amount
  tests/test_connection.py
  tests/test_splicing.py
Due: none

dualopend: handle tx_add_output with over MAX_MONEY
  common/interactivetx.c
  openingd/dualopend.c
  tests/test_connection.py
  tests/test_splicing.py
Due: check-amount-access, check-discouraged-functions

interactivetx: put the MAX_MONEY checks into one place
  common/interactivetx.c
  common/interactivetx.h
  common/test/run-interactivetx.c
  openingd/dualopend.c
Due: check-amount-access, check-discouraged-functions

lightningd: conceal secret config values in listconfigs
  contrib/msggen/msggen/schema.json
  doc/schemas/listconfigs.json
  lightningd/configs.c
  lightningd/options.c
  plugins/bcli.c
Due: check-amount-access, check-discouraged-functions

channeld: tx_abort a splice whose txid matches an existing inflight
  channeld/channeld.c
Due: check-amount-access, check-discouraged-functions

lightningd: don't abort when a splice RBF reuses a funding txid
  lightningd/channel_control.c
Due: check-amount-access, check-discouraged-functions

channeld: fix splice accepter never recording negotiated feerate
  channeld/channeld.c
Due: check-amount-access, check-discouraged-functions

lightningd: reject newlines in persistent setconfig values
  lightningd/configs.c
Due: check-amount-access, check-discouraged-functions

CHANGELOG: add the 26.06.9 release entry
  CHANGELOG.md
Due: none

runes: start deprecating invokerune/destroyrune in v26.12
  doc/developers-guide/deprecated-features.md
  lightningd/runes.c
Due: check-amount-access, check-discouraged-functions

tests: wait for announcements in test_splice_rbf_htlc_sigs
  tests/test_splicing.py
Due: none

lightningd: cleanup unused splice_locked_memonly flag
  lightningd/channel.c
  lightningd/channel.h
  lightningd/channel_control.c
  lightningd/peer_control.c
  lightningd/peer_htlcs.c
  wallet/test/run-wallet.c
  wallet/wallet.c
Due: check-amount-access, check-discouraged-functions

wallet: preserve released migration indices
  tests/test_splicing.py
  wallet/migrations.c
  wallet/test/run-db.c
Due: check-amount-access, check-discouraged-functions

ci: publish pyln-grpc-proto to PyPI again
  .github/workflows/pypi-build.yml
  .github/workflows/pypi-publish.yml
Due: none

Makefile: let update-pyln-versions run without ./configure
  Makefile
Due: none

CI: run ASan/UBSan pytest with one fewer worker
  .github/workflows/ci.yaml
Due: none

CI: stream memory usage during Valgrind/ASan
  .github/workflows/ci.yaml
Due: none

lightningd: fail HTLCs whose onion we couldn't parse as malformed
  lightningd/peer_htlcs.c
Due: check-amount-access, check-discouraged-functions
