Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

check-amount-access:
  name: Check amount_msat and amount_sat members are not accessed directly
  description: Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow.
  language: pygrep
  entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)

check-discouraged-functions:
  name: Check for usage of discouraged funtions
  language: pygrep
  entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('

plugins/offers: serve bolt11 invoice if we said we could, and it is requested.
  plugins/offers_invreq_hook.c
Due: check-amount-access, check-discouraged-functions

offers: offer to serve a bolt11 invoice for simple offers.
  plugins/offers_offer.c
Due: check-amount-access, check-discouraged-functions

lightningd: onion_message_recv hooks can include bolt11_invoice field.
  .msggen.json
  cln-rpc/src/hooks.rs
  contrib/msggen/msggen/schema.json
  doc/schemas/hook/onion_message_recv.json
  doc/schemas/hook/onion_message_recv_secret.json
  lightningd/onion_message.c
Due: check-amount-access, check-discouraged-functions

fetchinvoice: add ability to ask for bolt11 invoices.
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/schema.json
  contrib/pyln-client/pyln/client/lightning.py
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  doc/schemas/fetchinvoice.json
  plugins/fetchinvoice.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

ccan: update configurator and ptr_valid to latest
  ccan/ccan/ptr_valid/ptr_valid.c
  ccan/ccan/ptr_valid/ptr_valid.h
  ccan/ccan/ptr_valid/test/run-batch-cache.c
  ccan/ccan/ptr_valid/test/run-child-flush.c
  ccan/ccan/ptr_valid/test/run-errno.c
  ccan/ccan/ptr_valid/test/run-realloc-leak.c
  ccan/tools/configurator/configurator.c
Due: check-amount-access

configure: do not require configurator tests to be executed
  configure
Due: none

headerversions: rewrite as a shell script
  Makefile
  tools/Makefile
  tools/header-versions.sh
  tools/headerversions.c
Due: check-amount-access, check-discouraged-functions

configure: support standard variables/options for cross-compiling
  configure
Due: none

build: fully support cross-building
  Makefile
  doc/Makefile
  doc/getting-started/getting-started/installation.md
  external/Makefile
Due: none

tests: reproduce zero next_commitment_number on advanced channel
  tests/test_connection.py
Due: none

channeld: fail channel on zero next_commitment_number
  channeld/channeld.c
Due: check-amount-access, check-discouraged-functions

askrene: exclude stubchannels from routing
  common/gossmods_listpeerchannels.c
  tests/test_askrene.py
Due: check-amount-access, check-discouraged-functions

askrene: properly handle invalid "inform" field
  plugins/askrene/askrene.c
  tests/test_askrene.py
Due: check-amount-access, check-discouraged-functions

bcli: require bitcoind >= 23.0, and remove unneeded bitcoind version gate for getblockfrompeer.
  plugins/bcli.c
Due: check-amount-access, check-discouraged-functions

openchannel: remove dead code.
  plugins/spender/openchannel.c
Due: check-amount-access, check-discouraged-functions

devtools/blockreplace.py: make executable
  devtools/blockreplace.py
Due: none

pytest: deterministic test for lockin of a non-latest mined RBF inflight
  tests/test_opening.py
Due: none

lightningd: lock in the mined RBF inflight, not the latest one
  lightningd/dual_open_control.c
Due: check-amount-access, check-discouraged-functions

both bolt.observer and LN Node Insights has been down for awhile, so not relevant anymore
  doc/node-operators-guide/analytics.md
Due: none

Cargo.lock: update dependencies
  Cargo.lock
Due: none

offers: fix recurrence proportional amount
  plugins/offers_invreq_hook.c
Due: check-amount-access, check-discouraged-functions

doc: fix typos across getting-started, plugins and contributor docs
  doc/contribute-to-core-lightning/docker-images.md
  doc/getting-started/getting-started/configuration.md
  doc/getting-started/getting-started/installation.md
  doc/node-operators-guide/plugins.md
Due: none

connectd: bound the SOCKS5 request hostname to the request buffer
  connectd/tor.c
  tests/test_connection.py
Due: check-amount-access, check-discouraged-functions

pytest: check the SOCKS5 request for a maximum-length hostname
  tests/test_connection.py
Due: none

tests: check getlog does not return io logs
  tests/test_misc.py
Due: none

common: reject dns: addresses which are not hostnames
  common/test/run-wireaddr.c
  common/wireaddr.c
Due: check-amount-access, check-discouraged-functions

common: ignore DNS address descriptors which are not hostnames
  common/test/run-wireaddr.c
  common/wireaddr.c
Due: check-amount-access, check-discouraged-functions

common: fix forward_failure_reason crash risk and misclassifications
  .msggen.json
  channeld/channeld.c
  channeld/full_channel.c
  channeld/full_channel_error.h
  cln-grpc/proto/node.proto
  cln-rpc/src/model.rs
  common/forward_failure_reason.h
  contrib/msggen/msggen/schema.json
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  doc/schemas/listforwards.json
  lightningd/peer_htlcs.c
  tests/plugins/channeld_fakenet.c
Due: check-amount-access, check-discouraged-functions

add: added basic structure of forward failure reasons
  .msggen.json
  channeld/channeld.c
  channeld/channeld_wire.csv
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-rpc/src/model.rs
  common/Makefile
  common/forward_failure_reason.h
  contrib/msggen/msggen/schema.json
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2_grpc.py
  contrib/pyln-grpc-proto/pyln/grpc/primitives_pb2.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
  doc/schemas/listforwards.json
  lightningd/forwards.c
  lightningd/forwards.h
  lightningd/notification.c
  lightningd/notification.h
  lightningd/pay.c
  lightningd/peer_htlcs.c
  lightningd/peer_htlcs.h
  tests/plugins/channeld_fakenet.c
  tests/test_pay.py
  tests/test_plugin.py
  wallet/migrations.c
  wallet/test/run-chain_moves_duplicate-detect.c
  wallet/test/run-db.c
  wallet/test/run-migrate_remove_chain_moves_duplicates.c
  wallet/test/run-wallet.c
  wallet/wallet.c
  wallet/wallet.h
Due: check-amount-access, check-discouraged-functions

lightningd: check value overflow for forward amounts
  common/onion_decode.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

fix two libwally-core #includes
  common/test/run-close_tx.c
  lightningd/test/run-close_tx_check.c
Due: check-discouraged-functions

Makefile: don't show config.vars on the LD line in show-flags
  Makefile
Due: none

configure: be consistent in writing status output to stderr
  configure
Due: none

configure: fix have_function_sections test
  configure
Due: none

Path conditions:
  check-amount-access: any of: \.(c|h)$, but not: common/amount|.*/test/.*
  check-discouraged-functions: any of: \.(c|h)$, but not: ccan|contrib
