Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
      args: [ "--ignore=E501,E731,E741,W503,F541,E275" ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
    - id: shellcheck
      args: [ -fgcc ]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      description: Runs formatting checks on the c code and and throws errors if suggestions
        are detected, without modifying the code. Style is defined in `.clang-format`. When
        encountering formatting-related errors, run `clang-format -i <path-to-file>` to make
        (destructively) the suggestions and evalute the resulting diff for more context.
      args: [ --dry-run, -Werror ]
      entry: clang-format
      types: [ c ]
      stages: [ manual ]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-jsonschema
      name: check doc JSON schemas
      args: ["--schemafile", "doc/rpc-schema-draft.json"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

    - id: check-metaschema
      name: check doc JSON metaschemas
      args: ["--verbose"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: pretty-format-json
      args: [ "--indent", "2", "--no-sort-keys" ]
      files: ^doc/schemas/.*\.json$
      types: [ json ]
    - id: trailing-whitespace
      args: [ "--markdown-linebreak-ext=md" ]
      exclude: ccan|contrib|tests/fuzz/corpora
    - id: end-of-file-fixer
      exclude: ccan|contrib|tests/fuzz/corpora

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      description: Checks for common misspellings.
      exclude: ccan|contrib|tests/fuzz/corpora
      stages: [ manual ]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.23.0
  hooks:
    - id: commitlint
      stages: [ commit-msg ]

- repo: local
  hooks:
    # Reimplementation of `make check-amount-access` for pygrep.
    - id: check-amount-access
      name: Check amount_msat and amount_sat members are not accessed directly
      description: "Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow."
      language: pygrep
      entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)
      types: [ c ]
      exclude: common/amount|.*/test/.*

    # Reimplementation of `make check-discouraged-functions` for pygrep.
    - id: check-discouraged-functions
      name: Check for usage of discouraged funtions
      language: pygrep
      entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('
      types: [ c ]
      exclude: ccan|contrib

    - id: include-order-fixer
      name: Fix Include Order
      language: python
      description: Analyzes Core Lightning C source and header files, assesses the order of
        their include directives according to the published Coding Style Guidelines
        [here](https://docs.corelightning.org/docs/coding-style-guidelines), automatically
        applying sorting them. Aims to conform with `make check-includes`.
      entry: python devtools/include-order-fixer.py
      stages: [ manual ]
      pass_filenames: false

    - id: check-includes
      name: Check Includes
      language: system
      entry: make check-includes
      pass_filenames: false

ld: Expose splice feerate to RPC
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/schema.json
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
  doc/schemas/feerates.json
  lightningd/chaintopology.c
  tests/test_misc.py
Due: check-amount-access, check-discouraged-functions

splice script: Allow `out_ppm` for wallet
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

splice: Fix weight calculations & use opening feerate
  bitcoin/psbt.c
  bitcoin/psbt.h
  channeld/channeld.c
  lightningd/channel_control.c
  openingd/dualopend.c
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

splice: Update `tx_abort` for mulitple splices
  channeld/channeld.c
Due: check-amount-access, check-discouraged-functions

splice: multi channel stfu bugfix
  lightningd/channel_control.c
Due: check-amount-access, check-discouraged-functions

channeld: Inform channeld about opening feerate
  channeld/channeld.c
  channeld/channeld_wire.csv
  lightningd/channel_control.c
  tests/plugins/channeld_fakenet.c
Due: check-amount-access, check-discouraged-functions

splice script: Turn “wallet -> *” into “wallet -> 100%”
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

amount: Add decimal format for msats
  common/amount.c
  common/amount.h
  common/test/run-amount.c
Due: check-discouraged-functions

splice script: Add new PENDING state and log
  plugins/spender/splice.c
  plugins/spender/splice.h
Due: check-amount-access, check-discouraged-functions

splice: Fail earlier on too-few-funds
  channeld/channeld.c
Due: check-amount-access, check-discouraged-functions

splice-script: channel id corner case
  common/splice_script.c
Due: check-amount-access, check-discouraged-functions

splice: test mutli-channel splice script and fees
  tests/test_splice.py
Due: none

amount: Can add sat convenience method
  common/amount.c
  common/amount.h
Due: check-discouraged-functions

splice script: Update tests to use dynamic fees
  tests/test_splice.py
  tests/test_splicing.py
  tests/test_splicing_disconnect.py
  tests/test_splicing_insane.py
Due: none

splice: Add and improve logging
  channeld/channeld.c
  channeld/full_channel.c
  common/splice_script.c
Due: check-amount-access, check-discouraged-functions

splice: Turn on multi-channel, dynamic wallet, smart fees
  plugins/spender/splice.c
  tests/test_splice.py
Due: check-amount-access, check-discouraged-functions

splice-script: wetlog / debuglog fix
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

splice script: Zero out wallet fund requests
  plugins/spender/splice.c
  plugins/spender/splice.h
Due: check-amount-access, check-discouraged-functions

splice: Add splicein test
  contrib/pyln-client/pyln/client/lightning.py
  tests/test_splice.py
Due: none

splice: Add documentation for splicein
  contrib/msggen/msggen/schema.json
  doc/Makefile
  doc/index.rst
  doc/schemas/splicein.json
Due: none

lightningd: don't hand 0 to dualopend as anchor feerate if we cannot estimate fees.
  lightningd/dual_open_control.c
Due: check-amount-access, check-discouraged-functions

common: allow current_feerate under 253 in marginal_feerate().
  common/fee_states.c
Due: check-amount-access, check-discouraged-functions

lightningd: refuse to let a peer open a channel if we have no fee estimates.
  lightningd/chaintopology.c
  lightningd/chaintopology.h
  lightningd/dual_open_control.c
  lightningd/opening_control.c
Due: check-amount-access, check-discouraged-functions

pytest: test that we refuse incoming open requests if we have no feerates.
  tests/test_opening.py
Due: none

tests: test reproduce #8863 [ Neated and added xfail -- RR ]
  tests/test_opening.py
Due: none

pytest: removed old test + removed `xfail`
  tests/test_opening.py
Due: none

pytest: correct formatting
  tests/test_opening.py
Due: none

plugins(lsps2): add session FSM for LSPS2 payment collection
  plugins/lsps-plugin/Cargo.toml
  plugins/lsps-plugin/src/core/lsps2/session.rs
  plugins/lsps-plugin/src/proto/lsps0.rs
  plugins/lsps-plugin/src/proto/lsps2.rs
Due: none

plugins(lsps2): add session manager and unify HTLC handling
  plugins/lsps-plugin/src/client.rs
  plugins/lsps-plugin/src/cln_adapters/rpc.rs
  plugins/lsps-plugin/src/core/lsps2/handler.rs
  plugins/lsps-plugin/src/core/lsps2/htlc.rs
  plugins/lsps-plugin/src/core/lsps2/manager.rs
  plugins/lsps-plugin/src/core/lsps2/mod.rs
  plugins/lsps-plugin/src/core/lsps2/provider.rs
  plugins/lsps-plugin/src/core/lsps2/service.rs
  plugins/lsps-plugin/src/core/lsps2/session.rs
  plugins/lsps-plugin/src/service.rs
  tests/plugins/lsps2_policy.py
Due: none

plugins(lsps2): add session actor with action executor boundary
  plugins/lsps-plugin/src/core/lsps2/actor.rs
Due: none

plugins(lsps2): add integration tests for session lifecycle
  tests/plugins/lsps2_service_mock.py
  tests/test_cln_lsps.py
Due: none

plugins(lsps2): add restart recovery for session persistence
  plugins/lsps-plugin/src/cln_adapters/rpc.rs
  plugins/lsps-plugin/src/core/lsps2/actor.rs
  plugins/lsps-plugin/src/core/lsps2/manager.rs
  plugins/lsps-plugin/src/core/lsps2/provider.rs
  plugins/lsps-plugin/src/core/lsps2/service.rs
  plugins/lsps-plugin/src/core/lsps2/session.rs
  plugins/lsps-plugin/src/proto/lsps2.rs
  plugins/lsps-plugin/src/service.rs
  tests/test_cln_lsps.py
Due: none

plugins(lsps2): simplify DatastoreProvider to focused trait
  plugins/lsps-plugin/src/cln_adapters/rpc.rs
  plugins/lsps-plugin/src/core/lsps2/actor.rs
  plugins/lsps-plugin/src/core/lsps2/manager.rs
  plugins/lsps-plugin/src/core/lsps2/provider.rs
  plugins/lsps-plugin/src/core/lsps2/service.rs
Due: none

plugins(lsps2): add EventSink trait for session event notification
  plugins/lsps-plugin/src/cln_adapters/rpc.rs
  plugins/lsps-plugin/src/core/lsps2/actor.rs
  plugins/lsps-plugin/src/core/lsps2/event_sink.rs
  plugins/lsps-plugin/src/core/lsps2/manager.rs
  plugins/lsps-plugin/src/core/lsps2/mod.rs
  plugins/lsps-plugin/src/core/lsps2/service.rs
  plugins/lsps-plugin/src/proto/lsps2.rs
  plugins/lsps-plugin/src/service.rs
Due: none

plugins(lsps2): decouple lsps2 crate from CLN-specific types
  plugins/lsps-plugin/Cargo.toml
  plugins/lsps-plugin/src/client.rs
  plugins/lsps-plugin/src/cln_adapters/mod.rs
  plugins/lsps-plugin/src/cln_adapters/rpc.rs
  plugins/lsps-plugin/src/core/lsps2/manager.rs
  plugins/lsps-plugin/src/core/lsps2/service.rs
  plugins/lsps-plugin/src/lib.rs
  plugins/lsps-plugin/src/proto/lsps0.rs
  plugins/lsps-plugin/src/proto/lsps2.rs
  plugins/lsps-plugin/src/service.rs
Due: none

plugins(lsps2): simplify actor and session manager
  plugins/lsps-plugin/src/cln_adapters/mod.rs
  plugins/lsps-plugin/src/cln_adapters/rpc.rs
  plugins/lsps-plugin/src/core/lsps2/actor.rs
  plugins/lsps-plugin/src/core/lsps2/manager.rs
  plugins/lsps-plugin/src/core/lsps2/provider.rs
  plugins/lsps-plugin/src/core/lsps2/service.rs
  plugins/lsps-plugin/src/core/lsps2/session.rs
  plugins/lsps-plugin/src/service.rs
Due: none

plugins(lsps2): make collect timeout dev config
  plugins/lsps-plugin/src/service.rs
  tests/test_cln_lsps.py
Due: none

plugins(lsps2): route recovered sessions through forward_event path
  plugins/lsps-plugin/src/cln_adapters/rpc.rs
  plugins/lsps-plugin/src/core/lsps2/actor.rs
  plugins/lsps-plugin/src/core/lsps2/manager.rs
  plugins/lsps-plugin/src/core/lsps2/provider.rs
Due: none

doc: add notification schemas for native topics
  doc/schemas/notification/balance_snapshot.json
  doc/schemas/notification/coin_movement.json
  doc/schemas/notification/deprecated_oneshot.json
  doc/schemas/notification/disconnect.json
  doc/schemas/notification/forward_event.json
  doc/schemas/notification/invoice_creation.json
  doc/schemas/notification/invoice_payment.json
  doc/schemas/notification/log.json
  doc/schemas/notification/onionmessage_forward_fail.json
  doc/schemas/notification/openchannel_peer_sigs.json
  doc/schemas/notification/plugin_started.json
  doc/schemas/notification/plugin_stopped.json
  doc/schemas/notification/sendpay_failure.json
  doc/schemas/notification/sendpay_success.json
  doc/schemas/notification/shutdown.json
  doc/schemas/notification/warning.json
  doc/schemas/notification/xpay_pay_part_end.json
  doc/schemas/notification/xpay_pay_part_start.json
Due: none

cln-grpc: add round-trip tests for notification bindings
  cln-grpc/src/test.rs
Due: none
