Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

check-amount-access:
  name: Check amount_msat and amount_sat members are not accessed directly
  description: Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow.
  language: pygrep
  entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)

check-discouraged-functions:
  name: Check for usage of discouraged funtions
  language: pygrep
  entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('

test: add run-close_tx to validate simple-close transaction functionality
  common/test/Makefile
  common/test/run-close_tx.c
Due: check-discouraged-functions

closingd: add `lightning_simpleclosed` for `option_simple_close`
  closingd/Makefile
  closingd/simpleclosed.c
  closingd/simpleclosed_wire.csv
  common/shutdown_scriptpubkey.c
  common/shutdown_scriptpubkey.h
Due: check-amount-access, check-discouraged-functions

lightningd: wire up `option_simple_close` master-side handling
  lightningd/.gitignore
  lightningd/Makefile
  lightningd/channel_control.c
  lightningd/peer_control.c
  lightningd/simple_close_control.c
  lightningd/simple_close_control.h
  tests/test_closing.py
Due: check-amount-access, check-discouraged-functions

simpleclosed.c: add heuristic to delay our tx broadcast if our amount is less AND our fee is less than our peer's amount and fee in case of a reboot the tx will be broadcast as usual.
  closingd/simpleclosed.c
  closingd/simpleclosed_wire.csv
  lightningd/simple_close_control.c
  tests/test_closing.py
Due: check-amount-access, check-discouraged-functions

channeld: reject `closing_complete` and `closing_sig` with a clear error
  channeld/channeld.c
Due: check-amount-access, check-discouraged-functions

devtools/blockreplace.py: make executable
  devtools/blockreplace.py
Due: none

plugins: defer spenderp awaiting-channel recovery
  plugins/spender/openchannel.c
Due: check-amount-access, check-discouraged-functions

Makefile: suppress msggen and grpc gen if SUPPRESS_GENERATION is set
  Makefile
Due: none

connectd/tests: fix test_announce_and_connect_via_dns on macOS
  connectd/connectd.c
  tests/test_gossip.py
Due: check-amount-access, check-discouraged-functions

ccan: update ccan to fe99a8e0
  ccan/README
  ccan/ccan/asort/asort.c
  ccan/ccan/asort/test/run.c
  ccan/ccan/base64/base64.c
Due: check-amount-access

plugins(lsps2): fix onion failure codes sent when failing HTLCs
  plugins/lsps-plugin/src/core/lsps2/session.rs
  plugins/lsps-plugin/src/proto/lsps2.rs
Due: none

plugins(lsps2): prevent double channel funding for one payment hash
  plugins/lsps-plugin/src/core/lsps2/actor.rs
  plugins/lsps-plugin/src/core/lsps2/manager.rs
  plugins/lsps-plugin/src/service.rs
Due: none

plugins(lsps2): key HTLCs by (incoming channel, htlc id)
  plugins/lsps-plugin/src/core/lsps2/actor.rs
  plugins/lsps-plugin/src/core/lsps2/manager.rs
  plugins/lsps-plugin/src/core/lsps2/session.rs
  plugins/lsps-plugin/src/service.rs
  tests/test_cln_lsps.py
Due: none

plugins(lsps2): forward replayed HTLCs to recovered sessions
  plugins/lsps-plugin/src/core/lsps2/actor.rs
  plugins/lsps-plugin/src/core/lsps2/manager.rs
Due: none

plugins(lsps2): fail held HTLCs before cltv expiry, not after
  plugins/lsps-plugin/src/core/lsps2/session.rs
  tests/test_cln_lsps.py
Due: none

plugins(lsps2): spawn only one channel-poll task per session
  plugins/lsps-plugin/src/core/lsps2/actor.rs
  plugins/lsps-plugin/src/core/lsps2/manager.rs
Due: none

plugins(lsps2): advertise client_trusts_lsp and validate payment size range
  plugins/lsps-plugin/src/core/lsps2/service.rs
  plugins/lsps-plugin/src/proto/lsps2.rs
Due: none

plugins(lsps2): harden recovery loop and fee-overflow handling
  plugins/lsps-plugin/src/core/lsps2/manager.rs
  plugins/lsps-plugin/src/core/lsps2/session.rs
Due: none

plugins(lsps2): make channel reserve opt-in and pin datastore compat
  plugins/lsps-plugin/src/client.rs
  plugins/lsps-plugin/src/cln_adapters/rpc.rs
  plugins/lsps-plugin/src/proto/lsps2.rs
  plugins/lsps-plugin/src/service.rs
Due: none

plugins(lsps2): fix opening fee base and zero extra_fee TLV
  plugins/lsps-plugin/src/core/lsps2/session.rs
  plugins/lsps-plugin/src/service.rs
Due: none

plugins(lsps2): cleanups from review
  plugins/lsps-plugin/Cargo.toml
  plugins/lsps-plugin/src/client.rs
  plugins/lsps-plugin/src/cln_adapters/hooks.rs
  plugins/lsps-plugin/src/core/lsps2/actor.rs
  plugins/lsps-plugin/src/core/lsps2/service.rs
  plugins/lsps-plugin/src/core/lsps2/session.rs
Due: none

plugins(lsps2): only abandon session once no forwarded parts remain
  plugins/lsps-plugin/src/core/lsps2/actor.rs
  plugins/lsps-plugin/src/core/lsps2/manager.rs
  plugins/lsps-plugin/src/core/lsps2/session.rs
  plugins/lsps-plugin/src/service.rs
Due: none

ci: reduce sanitizer/valgrind worker count to avoid runner OOM
  .github/workflows/ci.yaml
Due: none

ccan/io: don't clobber errno on plain POLLHUP
  ccan/ccan/io/poll.c
Due: check-amount-access

splice_script: fix node id parsing and peers without channels
  common/Makefile
  common/splice_script.c
  common/test/run-splice_script.c
Due: check-amount-access, check-discouraged-functions

spender: don't assume the splice PSBT has inputs
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

dual_open: validate user-supplied PSBT in openchannel_update
  lightningd/dual_open_control.c
Due: check-amount-access, check-discouraged-functions

dual_open: allow openchannel_signed on an already-finalized PSBT
  lightningd/dual_open_control.c
  tests/test_splice.py
Due: check-amount-access, check-discouraged-functions

spender: extract parent/node-view PSBT helpers from multifundchannel
  plugins/Makefile
  plugins/spender/openchannel.c
  plugins/spender/psbt_multiview.c
  plugins/spender/psbt_multiview.h
Due: check-amount-access, check-discouraged-functions

spender: unit tests for the psbt_multiview helpers
  plugins/test/run-psbt_multiview.c
Due: check-discouraged-functions

spender: plumbing for per-negotiation PSBT views in the splice flow
  plugins/spender/main.c
  plugins/spender/splice.c
  plugins/spender/splice.h
Due: check-amount-access, check-discouraged-functions

spender: keep per-negotiation PSBT views in the splice flow
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

spender: route peer sigs to splice opens, gate signing on them
  plugins/spender/openchannel.c
  plugins/spender/splice.c
  plugins/spender/splice.h
Due: check-amount-access, check-discouraged-functions

tests: splice-script opens where peers contribute inputs
  tests/test_splice.py
Due: none

xpay: fakenet test: move funds when payment succeeds
  tests/plugins/channeld_fakenet.c
Due: check-amount-access, check-discouraged-functions

lsps-plugin: print whole error chain for HtlcError
  plugins/lsps-plugin/src/core/lsps2/htlc.rs
Due: none

cln-plugin: include the full error chain when given a context
  plugins/examples/cln-plugin-startup.rs
  plugins/src/lib.rs
  tests/test_cln_rs.py
Due: none

pytests: fix flakyness on test_no_delay: introduced statistical margin instead of fixed amount to reduce flakiness
  tests/test_connection.py
Due: none

Path conditions:
  check-amount-access: any of: \.(c|h)$, but not: common/amount|.*/test/.*
  check-discouraged-functions: any of: \.(c|h)$, but not: ccan|contrib
