Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
      args: [ "--ignore=E501,E731,E741,W503,F541,E275" ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
    - id: shellcheck
      args: [ -fgcc ]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      description: Runs formatting checks on the c code and and throws errors if suggestions
        are detected, without modifying the code. Style is defined in `.clang-format`. When
        encountering formatting-related errors, run `clang-format -i <path-to-file>` to make
        (destructively) the suggestions and evalute the resulting diff for more context.
      args: [ --dry-run, -Werror ]
      entry: clang-format
      types: [ c ]
      stages: [ manual ]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-jsonschema
      name: check doc JSON schemas
      args: ["--schemafile", "doc/rpc-schema-draft.json"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

    - id: check-metaschema
      name: check doc JSON metaschemas
      args: ["--verbose"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: pretty-format-json
      args: [ "--indent", "2", "--no-sort-keys" ]
      files: ^doc/schemas/.*\.json$
      types: [ json ]
    - id: trailing-whitespace
      args: [ "--markdown-linebreak-ext=md" ]
      exclude: ccan|contrib|tests/fuzz/corpora
    - id: end-of-file-fixer
      exclude: ccan|contrib|tests/fuzz/corpora

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      description: Checks for common misspellings.
      exclude: ccan|contrib|tests/fuzz/corpora
      stages: [ manual ]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.23.0
  hooks:
    - id: commitlint
      stages: [ commit-msg ]

- repo: local
  hooks:
    # Reimplementation of `make check-amount-access` for pygrep.
    - id: check-amount-access
      name: Check amount_msat and amount_sat members are not accessed directly
      description: "Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow."
      language: pygrep
      entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)
      types: [ c ]
      exclude: common/amount|.*/test/.*

    # Reimplementation of `make check-discouraged-functions` for pygrep.
    - id: check-discouraged-functions
      name: Check for usage of discouraged funtions
      language: pygrep
      entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('
      types: [ c ]
      exclude: ccan|contrib

    - id: include-order-fixer
      name: Fix Include Order
      language: python
      description: Analyzes Core Lightning C source and header files, assesses the order of
        their include directives according to the published Coding Style Guidelines
        [here](https://docs.corelightning.org/docs/coding-style-guidelines), automatically
        applying sorting them. Aims to conform with `make check-includes`.
      entry: python devtools/include-order-fixer.py
      stages: [ manual ]
      pass_filenames: false

    - id: check-includes
      name: Check Includes
      language: system
      entry: make check-includes
      pass_filenames: false

lightningd: remove redundant `txid` arg in depthcb_update_scid.
  lightningd/channel_control.c
  lightningd/channel_control.h
  lightningd/peer_control.c
  lightningd/test/run-invoice-select-inchan.c
  wallet/test/run-wallet.c
Due: check-amount-access, check-discouraged-functions

doc: add missing schema for currencyconvert API.
  contrib/msggen/msggen/schema.json
  doc/Makefile
  doc/index.rst
  doc/schemas/currencyconvert.json
Due: none

bkpr: add `bkpr-currency` option to record currency rates on each event.
  doc/lightningd-config.5.md
  plugins/bkpr/bookkeeper.c
  plugins/bkpr/bookkeeper.h
Due: check-amount-access, check-discouraged-functions

currencyrate: change `currencyrates` to `listcurrencyrates` which is more CLN-ish.
  contrib/msggen/msggen/schema.json
  doc/Makefile
  doc/index.rst
  doc/schemas/listcurrencyrates.json
  plugins/currencyrate-plugin/src/main.rs
  tests/test_currencyrate.py
Due: none

currencyrate: don't sleep for as long in background task.
  plugins/currencyrate-plugin/src/oracle.rs
Due: none

currencyrate: make oracle store and serve the BTC price, not msat per fiat unit.
  plugins/currencyrate-plugin/src/main.rs
  plugins/currencyrate-plugin/src/oracle.rs
  tests/test_currencyrate.py
Due: none

currencyrate: expose get_median_rate and do conversion in front-end for currencyconvert.
  plugins/currencyrate-plugin/src/main.rs
  plugins/currencyrate-plugin/src/oracle.rs
Due: none

pytest: test for currencyrate median code when values are cached.
  tests/test_currencyrate.py
Due: none

currencyrate: implement currencyrate command.
  contrib/msggen/msggen/schema.json
  doc/Makefile
  doc/index.rst
  doc/schemas/currencyrate.json
  plugins/currencyrate-plugin/src/main.rs
  tests/test_currencyrate.py
Due: none

currencyrate: fix cached currencies to still use median.
  plugins/currencyrate-plugin/src/oracle.rs
  tests/test_currencyrate.py
Due: none

pytest: clean up test_currencyrate.py using wait_for_logs()
  tests/test_currencyrate.py
Due: none

bookkeeper: use iso4217 check, scale and print correct minor units.
  plugins/bkpr/bookkeeper.c
  plugins/bkpr/bookkeeper.h
  tests/test_currencyrate.py
Due: check-amount-access, check-discouraged-functions

common: add mkdatastorekey helper to make string arrays.
  common/Makefile
  common/mkdatastorekey.c
  common/mkdatastorekey.h
  wallet/wallet.c
Due: check-amount-access, check-discouraged-functions

bookkeeper: implement flexible "bkpr-report" command.
  contrib/msggen/msggen/schema.json
  doc/Makefile
  doc/index.rst
  doc/schemas/bkpr-report.json
  plugins/bkpr/Makefile
  plugins/bkpr/bookkeeper.c
  plugins/bkpr/bookkeeper.h
  plugins/bkpr/incomestmt.c
  plugins/bkpr/incomestmt.h
  plugins/bkpr/report.c
  plugins/bkpr/report.h
  plugins/bkpr/test/run-format_event.c
  plugins/bkpr/test/run-parse_report.c
  tests/test_bookkeeper.py
Due: check-amount-access, check-discouraged-functions

bookkeeper: save currencyrate ranges, not individual values.
  plugins/bkpr/bookkeeper.c
  plugins/bkpr/bookkeeper.h
  tests/test_currencyrate.py
Due: check-amount-access, check-discouraged-functions

cli: remove \ in simple format.
  cli/lightning-cli.c
Due: check-amount-access, check-discouraged-functions

bookkeeper: make bookkeeper-currency dynamic.
  doc/lightningd-config.5.md
  plugins/bkpr/bookkeeper.c
  plugins/bkpr/bookkeeper.h
  tests/test_currencyrate.py
Due: check-amount-access, check-discouraged-functions

libplugin: hand command, not plugin, to parsing functions.
  plugins/autoclean.c
  plugins/funder.c
  plugins/funder_policy.c
  plugins/funder_policy.h
  plugins/libplugin.c
  plugins/libplugin.h
  plugins/offers.c
  plugins/test/run-decode_guess_type.c
  tests/plugins/test_libplugin.c
Due: check-amount-access, check-discouraged-functions

bookkeeper: expose currencyrate_str and bkpr_of so report.c can access them.
  plugins/bkpr/bookkeeper.c
  plugins/bkpr/bookkeeper.h
Due: check-amount-access, check-discouraged-functions

bookeeper: add currencyrate to bkpr-listaccounts if we recorded it.
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/schema.json
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
  doc/schemas/bkpr-listaccountevents.json
  plugins/bkpr/bookkeeper.c
  plugins/bkpr/bookkeeper.h
  plugins/bkpr/chain_event.c
  plugins/bkpr/channel_event.c
  plugins/bkpr/onchain_fee.c
  plugins/bkpr/onchain_fee.h
  tests/test_currencyrate.py
  tests/test_plugin.py
Due: check-amount-access, check-discouraged-functions

patch fix.patch
  plugins/bkpr/bookkeeper.c
Due: check-amount-access, check-discouraged-functions

common: add simple unit test for mkdatastorekey.
  common/test/run-mkdatastorekey.c
  plugins/bkpr/test/run-recorder.c
Due: check-discouraged-functions

bookkeeper: persist currency conversions in the datastore.
  plugins/bkpr/bookkeeper.c
  tests/test_currencyrate.py
Due: check-amount-access, check-discouraged-functions

bookkeeper: keep up with new entries if we're doing currency conversion.
  plugins/bkpr/bookkeeper.c
  tests/test_currencyrate.py
Due: check-amount-access, check-discouraged-functions

bkpr: warn if currency rate request is for old event.
  plugins/bkpr/bookkeeper.c
  tests/test_currencyrate.py
Due: check-amount-access, check-discouraged-functions

bookkeeper: avoid wasteful refresh races.
  plugins/bkpr/bookkeeper.c
  plugins/bkpr/bookkeeper.h
Due: check-amount-access, check-discouraged-functions

plugins: simplify datastore interfaces now callers have mkdatastorekey.
  plugins/autoclean.c
  plugins/bkpr/account.c
  plugins/bkpr/blockheights.c
  plugins/bkpr/bookkeeper.c
  plugins/bkpr/descriptions.c
  plugins/bkpr/onchain_fee.c
  plugins/bkpr/rebalances.c
  plugins/bkpr/test/run-recorder.c
  plugins/chanbackup.c
  plugins/libplugin.c
  plugins/libplugin.h
  tests/plugins/test_libplugin.c
Due: check-amount-access, check-discouraged-functions

tests: avoid flaky test_bkpr_currency_dynamic on same-second channel_mvt
  tests/test_currencyrate.py
Due: none

msggen: add currencyconvert, currencyrate and listcurrencyrates.
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-grpc/src/server.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/utils/utils.py
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2_grpc.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
Due: none

common: fix run-mkdatastorekey link on arm64
  common/test/Makefile
Due: none
