Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

check-amount-access:
  name: Check amount_msat and amount_sat members are not accessed directly
  description: Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow.
  language: pygrep
  entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)

check-discouraged-functions:
  name: Check for usage of discouraged funtions
  language: pygrep
  entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('

cln-rpc: skip the overflow panic tests in release builds
  cln-rpc/src/primitives.rs
Due: none

Add strict s64 JSON number parser
  common/json_parse_simple.c
  common/utils.c
  common/utils.h
Due: check-amount-access, check-discouraged-functions

pytest: make test_grpc_wrong_auth cross the wires on one port, with deadlines
  tests/test_cln_rs.py
Due: none

CI: remove the 2017 GitLab CI configuration
  .gitlab-ci.yml
Due: none

CI: install protobuf-compiler in the container image
  contrib/ci/Dockerfile
Due: none

CI: add a container image for running the test suite
  contrib/ci/Dockerfile
Due: none

python: move CI to 3.12, and require 3.11 or later
  .github/workflows/ci.yaml
  .github/workflows/coverage-nightly.yaml
  .github/workflows/macos.yaml
  .github/workflows/pypi-build.yml
  .github/workflows/python-docs-nightly.yaml
  .github/workflows/readme-rpc-sync.yml
  contrib/cln-tracer/pyproject.toml
  contrib/msggen/pyproject.toml
  contrib/pyln-client/pyproject.toml
  contrib/pyln-grpc-proto/pyproject.toml
  contrib/pyln-proto/pyproject.toml
  contrib/pyln-spec/bolt1/pyproject.toml
  contrib/pyln-spec/bolt2/pyproject.toml
  contrib/pyln-spec/bolt4/pyproject.toml
  contrib/pyln-spec/bolt7/pyproject.toml
  contrib/pyln-testing/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

askrene: don't type-pun the node id when hashing node biases
  plugins/askrene/layer.c
Due: check-amount-access, check-discouraged-functions

ci: remove unused .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

onchaind: match HTLC outputs by amount as well as script
  onchaind/onchaind.c
  onchaind/onchaind_wire.c
  onchaind/onchaind_wire.h
  wallet/wallet.c
Due: check-amount-access, check-discouraged-functions

splice: Add a warning message for double splices
  channeld/channeld.c
Due: check-amount-access, check-discouraged-functions

pytest: offers must reply via a zero first_scid, not a stack pubkey
  tests/test_connection.py
Due: none

channeld: enforce that the peer's HTLC ids increase by one
  channeld/channeld.c
  channeld/channeld_wire.csv
  lightningd/channel.c
  lightningd/channel.h
  lightningd/channel_control.c
  lightningd/peer_htlcs.c
  tests/plugins/channeld_fakenet.c
  wallet/wallet.c
Due: check-amount-access, check-discouraged-functions

CHANGELOG: add the 26.06.7 and 26.06.8 release entries
  CHANGELOG.md
Due: none

wallet: fix boost utxo insufficient flag value
  tests/test_closing.py
  wallet/wallet.c
Due: check-amount-access, check-discouraged-functions

pytest: peers reusing resolved HTLC ids no longer crash us
  tests/test_connection.py
Due: none

connectd: budget CPU spent trickling out query responses too
  connectd/connectd.h
  connectd/multiplex.c
  tests/test_askrene.py
  tests/test_gossip.py
  tests/test_xpay.py
Due: check-amount-access, check-discouraged-functions

pytest: trimmed HTLC with the same hash as a live one must not alias it
  tests/test_closing.py
Due: none

pytest: force close after a locked splice is fixed, remove xfail
  tests/test_splicing.py
Due: none

pytest: a confirmed splice output spent before splice_locked must be adopted
  tests/test_splicing.py
Due: none

lightningd: don't free HTLC set timer twice if part arrives during hook
  lightningd/htlc_set.c
Due: check-amount-access, check-discouraged-functions

lightningd: adopt a confirmed splice candidate whose output is spent before splice_locked
  lightningd/peer_control.c
  tests/test_splicing.py
Due: check-amount-access, check-discouraged-functions

pytest: out-of-range rune blacklist test now passes
  tests/test_runes.py
Due: none

lightningd: allow openchannel_abort up until we send tx_signatures
  lightningd/dual_open_control.c
  tests/test_opening.py
Due: check-amount-access, check-discouraged-functions

lightningd: don't lock in a dual-funding RBF candidate that was never mined
  lightningd/dual_open_control.c
  tests/test_opening.py
Due: check-amount-access, check-discouraged-functions

common: don't stash path_id in payment_secret unless we're final hop.
  common/onion_decode.c
Due: check-amount-access, check-discouraged-functions

lightningd: refuse a dual-funded candidate that reuses a funding outpoint
  lightningd/channel.c
  lightningd/dual_open_control.c
Due: check-amount-access, check-discouraged-functions

connectd: unify incoming/outgoing byte-throttle windows into peer->gs
  connectd/connectd.c
  connectd/connectd.h
  connectd/multiplex.c
Due: check-amount-access, check-discouraged-functions

hsmd: don't report forced channel secrets as memleaks
  hsmd/hsmd.c
Due: check-amount-access, check-discouraged-functions

clnrest: bound XML nesting depth before parsing
  plugins/rest-plugin/src/handlers.rs
  plugins/rest-plugin/src/structs.rs
Due: none

pytest: extra HTLC set part during invoice_payment hook
  tests/test_pay.py
Due: none

pytest: runes beyond the blacklist range must not be accepted
  tests/test_runes.py
Due: none

lightningd: don't broadcast a locked splice's stale commitment on force close
  lightningd/channel_control.c
  lightningd/peer_control.c
Due: check-amount-access, check-discouraged-functions

common: test json_to_s64 reads decimal only.
  common/test/run-json.c
Due: check-discouraged-functions

connectd: proportional throttle retry delay, not a flat 1 second
  connectd/connectd.c
  connectd/multiplex.c
Due: check-amount-access, check-discouraged-functions

tests: cover duplicate anchor deadlines
  lightningd/test/run-anchorspend.c
Due: check-discouraged-functions

runes: don't read past the end of the blacklist bitmap
  lightningd/runes.c
Due: check-amount-access, check-discouraged-functions

pytest: extra HTLC set part during invoice_payment hook now works
  tests/test_pay.py
Due: none

lightningd: remember that we've sent tx_signatures for an open
  lightningd/channel.c
  lightningd/channel.h
  lightningd/dual_open_control.c
Due: check-amount-access, check-discouraged-functions

Path conditions:
  check-amount-access: any of: \.(c|h)$, but not: common/amount|.*/test/.*
  check-discouraged-functions: any of: \.(c|h)$, but not: ccan|contrib
