Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.8.0
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --diff ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"
    # Run the formatter.
    - id: ruff-format
      args: [ --diff ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"

- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
    - id: shellcheck
      args: [ -fgcc ]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      description: Runs formatting checks on the c code and and throws errors if suggestions
        are detected, without modifying the code. Style is defined in `.clang-format`. When
        encountering formatting-related errors, run `clang-format -i <path-to-file>` to make
        (destructively) the suggestions and evalute the resulting diff for more context.
      args: [ --dry-run, -Werror ]
      entry: clang-format
      types: [ c ]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-jsonschema
      name: check doc JSON schemas
      args: ["--schemafile", "doc/rpc-schema-draft.json"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

    - id: check-metaschema
      name: check doc JSON metaschemas
      args: ["--verbose"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: pretty-format-json
      args: [ "--indent", "2", "--no-sort-keys" ]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      description: Checks for common misspellings.
      exclude: ccan|contrib|tests/fuzz/corpora

- repo: https://github.com/compilerla/conventional-pre-commit
  rev: v3.6.0
  hooks:
    - id: conventional-pre-commit
      stages: [commit-msg]
      args:
        - --scopes=askrene,bkpr,channeld,cli,closingd,cln-grpc,cln-rpc,common,connectd,db,gossipd,hsmd,lightningd,onchaind,openingd,pay,pylightning,pyln-client,pyln-spec,pyln-testing,pytest,splice,tools,wallet,wire,xpay
        - --verbose
        - build
        - chore
        - ci
        - docs
        - feat
        - fix
        - style
        - refactor
        - perf
        - test

- repo: local
  hooks:
    # Reimplementation of `make check-amount-access` for pygrep.
    - id: check-amount-access
      name: Check amount_msat and amount_sat members are not accessed directly
      description: "Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow."
      language: pygrep
      entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)
      types: [ c ]
      exclude: common/amount|.*/test/.*

    # Reimplementation of `make check-discouraged-functions` for pygrep.
    - id: check-discouraged-functions
      name: Check for usage of discouraged funtions
      language: pygrep
      entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('
      types: [ c ]
      exclude: ccan|contrib

pyln-client: support hook filters.
  contrib/pyln-client/pyln/client/plugin.py
Due: none

xpay: use filtering on rpc_command so we only get called on "pay".
  plugins/xpay/xpay.c
  tests/test_xpay.py
Due: check-amount-access, check-discouraged-functions

lightningd: add support for filters on "rpc_command" hook.
  doc/developers-guide/plugin-development/hooks.md
  lightningd/jsonrpc.c
Due: check-amount-access, check-discouraged-functions

JSONRPC: use a bigger default buffer.
  common/jsonrpc_io.c
Due: check-amount-access, check-discouraged-functions

common: optimize json parsing.
  common/json_parse_simple.c
Due: check-amount-access, check-discouraged-functions

lightningd: allow filtering on custommsg hook too.
  doc/developers-guide/plugin-development/hooks.md
  lightningd/connect_control.c
  tests/plugins/custommsg_b.py
  tests/test_misc.py
Due: check-amount-access, check-discouraged-functions

commando, chanbackup: use custommsg hooks.
  plugins/chanbackup.c
  plugins/commando.c
Due: check-amount-access, check-discouraged-functions

common: increase jsonrpc_io buffer size temporarily to aggrevate perf issues.
  common/jsonrpc_io.c
Due: check-amount-access, check-discouraged-functions

lightningd: don't process more than 100 commands from a JSONRPC at once.
  lightningd/jsonrpc.c
Due: check-amount-access, check-discouraged-functions

ccan: update to get io_loop fairness.
  ccan/README
  ccan/ccan/io/poll.c
Due: check-amount-access

lightningd: don't process more than 100 commands from a plugin at once.
  lightningd/plugin.c
Due: check-amount-access, check-discouraged-functions

lightningd: optimize find_cmd.
  lightningd/jsonrpc.c
Due: check-amount-access, check-discouraged-functions

sql: use wait RPC so we don't have to check listchannelmoves/listchainmoves each time.
  plugins/sql.c
Due: check-amount-access, check-discouraged-functions

bookkeeper: restore limit on asking for all channelmoves at once.
  plugins/bkpr/bookkeeper.c
Due: check-amount-access, check-discouraged-functions

plugins/sql: use modern data style, not globals.
  plugins/sql.c
Due: check-amount-access, check-discouraged-functions

sql: limit how many chainmoves/channelmoves entries we ask for at once.
  plugins/sql.c
Due: check-amount-access, check-discouraged-functions

sql: if we use `dev-sqlfilename`, don't bother syncing it to disk.
  plugins/sql.c
Due: check-amount-access, check-discouraged-functions

pytest: increase test_generate_coinmoves to 5M entries.
  tests/test_coinmoves.py
Due: none

pyln-testing: don't assume we're doing debug logging for fundwallet and line_graph helpers.
  contrib/pyln-testing/pyln/testing/utils.py
Due: none

pytest: move test_coinmoves.py::test_generate_coinmoves and test_plugin.py::test_spam_commands to benchmark.py
  tests/benchmark.py
  tests/test_coinmoves.py
  tests/test_plugin.py
Due: none

libplugin: add spamlistcommand
  tests/benchmark.py
  tests/plugins/test_libplugin.c
Due: check-amount-access, check-discouraged-functions

db: don't start transactions unless we really need to.
  db/common.h
  db/db_sqlite3.c
  db/exec.c
  db/exec.h
  db/utils.c
Due: check-amount-access, check-discouraged-functions

pytest: test for 1M JSONRPC calls which don't need transactions.
  tests/plugins/test_libplugin.c
  tests/test_plugin.py
Due: check-amount-access, check-discouraged-functions

Python: update pyproject.toml so we can run tests/benchmarks.py.
  pyproject.toml
  uv.lock
Due: none

tests/benchmark.py: tune nodes a little.
  tests/benchmark.py
Due: none

db: don't actually create an explicit transaction for read commands.
  db/utils.c
Due: check-amount-access, check-discouraged-functions

lightningd: print last method we called if we abort processing loop.
  lightningd/jsonrpc.c
Due: check-amount-access, check-discouraged-functions

wallet: add optional sql and functions to downgrade db.
  wallet/db.c
Due: check-amount-access, check-discouraged-functions

libplugin: don't wait for clean_tmpctx() to free requests as we process them.
  plugins/libplugin.c
Due: check-amount-access, check-discouraged-functions

bookkeeper: no longer read listchannelmoves 1000 entries at a time.
  plugins/bkpr/bookkeeper.c
Due: check-amount-access, check-discouraged-functions

plugins/sql: print times taken to do list comand, populate table, and create index.
  plugins/sql.c
Due: check-amount-access, check-discouraged-functions

lightningd: log when we have to defer hook registration.
  lightningd/plugin.c
  lightningd/plugin_hook.c
  lightningd/plugin_hook.h
  tests/test_plugin.py
Due: check-amount-access, check-discouraged-functions

pytest: increase test_generate_coinmoves to 2M entries.
  tests/test_coinmoves.py
Due: none

Revert "bookkeeper: don't flood logs if we have many channelmoves all at once."
  plugins/bkpr/bookkeeper.c
Due: check-amount-access, check-discouraged-functions
