Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

check-amount-access:
  name: Check amount_msat and amount_sat members are not accessed directly
  description: Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow.
  language: pygrep
  entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)

check-discouraged-functions:
  name: Check for usage of discouraged funtions
  language: pygrep
  entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('

gossipd: don't forget closed channels until 72 blocks, not 12.
  Makefile
  gossipd/gossmap_manage.c
  tests/test_connection.py
  tests/test_db.py
  tests/test_gossip.py
  tests/test_invoices.py
  tests/test_pay.py
  tests/test_plugin.py
  tests/test_splicing.py
  tests/test_wallet.py
Due: check-amount-access, check-discouraged-functions

tools/generate-wire.py: don't set TLV fields to NULL if they're empty.
  tools/gen/impl_template
Due: none

BOLTs: more textual changes.
  Makefile
  common/bolt11.c
  common/sphinx.c
  contrib/pyln-proto/pyln/proto/invoice.py
  hsmd/libhsmd.c
  wire/extracted_peer-shutdown-wrong_funding.patch
  wire/peer_wire.csv
Due: check-amount-access, check-discouraged-functions

common: assume OPT_PAYMENT_SECRET.
  Makefile
  common/features.h
Due: check-amount-access, check-discouraged-functions

BOLT12: don't allow zero-amount offers.
  Makefile
  common/bolt12.c
  common/test/run-bolt12-encode-test.c
  common/test/run-bolt12-format-string-test.c
  devtools/bolt12-cli.c
Due: check-amount-access, check-discouraged-functions

common: update BOLTs, reject "empty offer_chains" offers.
  Makefile
  common/bolt12.c
  common/test/run-bolt12-encode-test.c
Due: check-amount-access, check-discouraged-functions

BOLTs: update for splicing: commit_sig retranmission.
  Makefile
  channeld/channeld.c
  openingd/dualopend.c
  wire/extracted_peer_11_splice.patch
Due: check-amount-access, check-discouraged-functions

bech32: check for invalid/unnecessary trailing bits.
  Makefile
  common/bech32_util.c
  common/bech32_util.h
  plugins/offers.c
Due: check-amount-access, check-discouraged-functions

Build: Only use -Werror on debug builds.
  configure
Due: none

xpay: attempt amount could have different meanings
  plugins/xpay/xpay.c
Due: check-amount-access, check-discouraged-functions

xpay: add payment MPP amount variable
  plugins/xpay/xpay.c
Due: check-amount-access, check-discouraged-functions

xpay: add helper for payment deliver
  plugins/xpay/xpay.c
Due: check-amount-access, check-discouraged-functions

xpay: add flag for "includefees"
  plugins/xpay/xpay.c
Due: check-amount-access, check-discouraged-functions

xpay: add helper to fetch the MPP amount ...
  plugins/xpay/xpay.c
Due: check-amount-access, check-discouraged-functions

xpay: add a special offer payable condition ...
  plugins/xpay/xpay.c
Due: check-amount-access, check-discouraged-functions

CI: add a 32-bit cross build.
  .github/workflows/ci.yaml
Due: none

configure: delete non-working "do we have Python mako" test.
  configure
  tools/test/Makefile
Due: none

configure: run python tests under uv run.
  configure
Due: none

common: BOLT update which adds taproot fallback.
  Makefile
  common/test/run-bolt11.c
Due: check-discouraged-functions

doc: update post-release instructions.
  doc/contribute-to-core-lightning/release-checklist.md
Due: none

Versions: update for next version.
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yaml
  Makefile
  tests/test_plugin.py
Due: none

Makefile: check bolt quotes in CI.
  Makefile
Due: none

wire: add shim patch for when we regenerate.
  wire/extracted_peer_11_splice.patch
  wire/extracted_peer_12_splice_update.patch
Due: none

lightning-downgrade: prepare for downgrading to v26.04.
  tools/lightning-downgrade.c
  wallet/migrations.c
Due: check-amount-access, check-discouraged-functions

CI: check that wire format is correct.
  Makefile
Due: none

xpay: don't use MPP for bolt12 unless the invoice explicitly supports it.
  doc/developers-guide/deprecated-features.md
  plugins/xpay/xpay.c
  tests/test_xpay.py
Due: check-amount-access, check-discouraged-functions

common: BOLT update which make channel_type assumed.
  Makefile
  lightningd/opening_control.c
  openingd/dualopend.c
  openingd/openingd.c
Due: check-amount-access, check-discouraged-functions

BOLT: update to include `channel_type` feature in BOLT 9.
  Makefile
  common/features.c
  common/features.h
Due: check-amount-access, check-discouraged-functions

xpay: add sendamount command
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-grpc/src/server.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/schema.json
  contrib/msggen/msggen/utils/utils.py
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2_grpc.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
  doc/Makefile
  doc/index.rst
  doc/schemas/sendamount.json
  plugins/xpay/xpay.c
  tests/test_xpay.py
Due: check-amount-access, check-discouraged-functions

tests: add xfail-strict reproducer for stuck CLOSINGD_COMPLETE without funding
  tests/test_closing.py
Due: none

common/json_stream: use json_out_addstrn for better efficiency.
  common/json_stream.c
Due: check-amount-access, check-discouraged-functions

bwatch: add wire format
  plugins/Makefile
  plugins/bwatch/bwatch_wire.csv
Due: none

Path conditions:
  check-amount-access: any of: \.(c|h)$, but not: common/amount|.*/test/.*
  check-discouraged-functions: any of: \.(c|h)$, but not: ccan|contrib
