Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
      args: [ "--ignore=E501,E731,E741,W503,F541,E275" ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
    - id: shellcheck
      args: [ -fgcc ]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      description: Runs formatting checks on the c code and and throws errors if suggestions
        are detected, without modifying the code. Style is defined in `.clang-format`. When
        encountering formatting-related errors, run `clang-format -i <path-to-file>` to make
        (destructively) the suggestions and evalute the resulting diff for more context.
      args: [ --dry-run, -Werror ]
      entry: clang-format
      types: [ c ]
      stages: [ manual ]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-jsonschema
      name: check doc JSON schemas
      args: ["--schemafile", "doc/rpc-schema-draft.json"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

    - id: check-metaschema
      name: check doc JSON metaschemas
      args: ["--verbose"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: pretty-format-json
      args: [ "--indent", "2", "--no-sort-keys" ]
      files: ^doc/schemas/.*\.json$
      types: [ json ]
    - id: trailing-whitespace
      args: [ "--markdown-linebreak-ext=md" ]
      exclude: ccan|contrib|tests/fuzz/corpora
    - id: end-of-file-fixer
      exclude: ccan|contrib|tests/fuzz/corpora

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      description: Checks for common misspellings.
      exclude: ccan|contrib|tests/fuzz/corpora
      stages: [ manual ]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.23.0
  hooks:
    - id: commitlint
      stages: [ commit-msg ]

- repo: local
  hooks:
    # Reimplementation of `make check-amount-access` for pygrep.
    - id: check-amount-access
      name: Check amount_msat and amount_sat members are not accessed directly
      description: "Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow."
      language: pygrep
      entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)
      types: [ c ]
      exclude: common/amount|.*/test/.*

    # Reimplementation of `make check-discouraged-functions` for pygrep.
    - id: check-discouraged-functions
      name: Check for usage of discouraged funtions
      language: pygrep
      entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('
      types: [ c ]
      exclude: ccan|contrib

    - id: include-order-fixer
      name: Fix Include Order
      language: python
      description: Analyzes Core Lightning C source and header files, assesses the order of
        their include directives according to the published Coding Style Guidelines
        [here](https://docs.corelightning.org/docs/coding-style-guidelines), automatically
        applying sorting them. Aims to conform with `make check-includes`.
      entry: python devtools/include-order-fixer.py
      stages: [ manual ]
      pass_filenames: false

    - id: check-includes
      name: Check Includes
      language: system
      entry: make check-includes
      pass_filenames: false

askrene: add an "impression" for when we succeeded on a payment.
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/schema.json
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
  doc/schemas/askrene-inform-channel.json
  plugins/askrene/askrene.c
  plugins/askrene/layer.c
  tests/test_askrene.py
Due: check-amount-access, check-discouraged-functions

askrene: add APIs for "impressions" which are *relative* constraints.
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/schema.json
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
  doc/schemas/askrene-create-layer.json
  doc/schemas/askrene-listlayers.json
  plugins/askrene/child/route_query.c
  plugins/askrene/datastore_wire.c
  plugins/askrene/datastore_wire.h
  plugins/askrene/layer.c
  plugins/askrene/layer.h
  tests/test_askrene.py
  tools/lightning-downgrade.c
Due: check-amount-access, check-discouraged-functions

xpay: actually tell askrene when a payment succeeded.
  plugins/xpay/xpay.c
  tests/test_xpay.py
Due: check-amount-access, check-discouraged-functions

askrene: correctly order constraints.
  plugins/askrene/layer.c
  tests/test_askrene.py
Due: check-amount-access, check-discouraged-functions

pytest: add tests for what we want askrene to do.
  tests/test_askrene.py
Due: none

askrene: give clearer error codes.
  common/jsonrpc_errors.h
  contrib/msggen/msggen/schema.json
  doc/schemas/getroutes.json
  plugins/askrene/child/explain_failure.c
  plugins/askrene/child/explain_failure.h
  plugins/askrene/child/mcf.c
  tests/test_askrene.py
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

offers: limit invoices to 10 minutes for recurring offers in other currencies.
  plugins/offers.c
  plugins/offers.h
  plugins/offers_invreq_hook.c
  plugins/test/run-decode_guess_type.c
  tests/plugins/currencyUSDAUD5000.py
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

offers: limit expiry to offer limit, or 10 minutes with currency conversion.
  plugins/offers_invreq_hook.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

fetchinvoice: don't bother with checking recurrence timing.
  plugins/fetchinvoice.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

doc: add schemas for repeatpay commands.
  contrib/msggen/msggen/schema.json
  doc/Makefile
  doc/index.rst
  doc/schemas/amendrepeatpay.json
  doc/schemas/cancelrepeatpay.json
  doc/schemas/listrepeatpays.json
  doc/schemas/repeatpay.json
Due: none

lightningd: don't do previous invoice checking in createinvoicerequest.
  lightningd/offer.c
  plugins/fetchinvoice.c
  plugins/offers_offer.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

fetchinvoice: handle weird labels in recurrence_label parameter.
  plugins/fetchinvoice.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

cln-repeatpay: plugin to automate recurring offer payments.
  plugins/Makefile
  plugins/repeatpay/Makefile
  plugins/repeatpay/repeatpay.c
Due: check-amount-access, check-discouraged-functions

repeatpay: persist across restarts.
  plugins/repeatpay/repeatpay.c
  tests/test_repeatpay.py
Due: check-amount-access, check-discouraged-functions

pytest: tests for repeatpay.
  tests/test_repeatpay.py
Due: none

repeatpay: handle payments which weren't finished across restarts.
  plugins/repeatpay/repeatpay.c
  tests/plugins/hold_htlcs.py
  tests/test_repeatpay.py
Due: check-amount-access, check-discouraged-functions

renepay: refresh currency amount before each fetch.
  plugins/repeatpay/repeatpay.c
Due: check-amount-access, check-discouraged-functions

repeatpay: now use xpay result to inform user if they're out of funds.
  plugins/repeatpay/repeatpay.c
  tests/test_repeatpay.py
Due: check-amount-access, check-discouraged-functions

repeatpay: implement cancelrepeatpay.
  contrib/msggen/msggen/schema.json
  doc/schemas/listrepeatpays.json
  plugins/repeatpay/repeatpay.c
  tests/test_repeatpay.py
Due: check-amount-access, check-discouraged-functions

repeatpay: implement amendrepeatpay.
  plugins/repeatpay/repeatpay.c
  tests/test_repeatpay.py
Due: check-amount-access, check-discouraged-functions

schemas: remove old deprecations, add missing deprecations/added fields
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-grpc/src/server.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/gen/grpc/proto.py
  contrib/msggen/msggen/gen/grpc/server.py
  contrib/msggen/msggen/gen/rpc/rust.py
  contrib/msggen/msggen/patch.py
  contrib/msggen/msggen/schema.json
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
  doc/developers-guide/deprecated-features.md
  doc/schemas/decode.json
  doc/schemas/feerates.json
  doc/schemas/getemergencyrecoverdata.json
  doc/schemas/getroute.json
  doc/schemas/keysend.json
  doc/schemas/listconfigs.json
  doc/schemas/listpeerchannels.json
  doc/schemas/listsendpays.json
  doc/schemas/notification/channel_state_changed.json
  doc/schemas/pay.json
  doc/schemas/renepay.json
  doc/schemas/renepaystatus.json
  doc/schemas/xpay.json
  lightningd/notification.c
  lightningd/peer_control.c
  tests/autogenerate-rpc-examples.py
  tests/test_plugin.py
Due: check-amount-access, check-discouraged-functions

msggen: add createproof, xkeysend and graceful generation
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/proto/primitives.proto
  cln-grpc/src/convert.rs
  cln-grpc/src/pb.rs
  cln-grpc/src/server.rs
  cln-rpc/src/model.rs
  cln-rpc/src/primitives.rs
  contrib/msggen/msggen/gen/grpc/convert.py
  contrib/msggen/msggen/gen/grpc/unconvert.py
  contrib/msggen/msggen/gen/grpc/util.py
  contrib/msggen/msggen/gen/grpc2py.py
  contrib/msggen/msggen/gen/rpc/rust.py
  contrib/msggen/msggen/model.py
  contrib/msggen/msggen/utils/utils.py
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2_grpc.py
  contrib/pyln-grpc-proto/pyln/grpc/primitives_pb2.py
  contrib/pyln-testing/pyln/testing/fixtures.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
Due: none

tests: fix test_grpc_custommsg_notification flake
  tests/test_cln_rs.py
Due: none

CI: update github actions in preparation of node.js 20 deprecation
  .github/workflows/ci.yaml
  .github/workflows/coverage-nightly.yaml
  .github/workflows/crate-io.yml
  .github/workflows/docker-release.yml
  .github/workflows/docs-nightly.yaml
  .github/workflows/macos.yaml
  .github/workflows/publish-site.yaml
  .github/workflows/pypi.yml
  .github/workflows/python-docs-nightly.yaml
  .github/workflows/rdme-docs-sync.yml
  .github/workflows/readme-rpc-sync.yml
  .github/workflows/release.yml
  .github/workflows/repro.yml
Due: none

invoice: fix false BROKEN log in cmp_rr_number when sort self-compares
  lightningd/invoice.c
Due: check-amount-access, check-discouraged-functions

ecdh_hsmd: ensure HSM fd is blocking on setup
  common/ecdh_hsmd.c
Due: check-amount-access, check-discouraged-functions

schemas: remove obsolete fields in decode
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/schema.json
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
  doc/schemas/decode.json
Due: none

msggen: remove most omits and generate them instead
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/model.py
  contrib/msggen/msggen/patch.py
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
Due: none

gossipd: be more robust against channel_update spamming.
  gossipd/gossipd.c
  gossipd/seeker.c
Due: check-amount-access, check-discouraged-functions

CHANGELOG.md: put missing CHANGELOG entries in for PR 9136.
  CHANGELOG.md
Due: none

common: don't use a dummy zero field for payer proofs.
  common/bolt12_proof.c
Due: check-amount-access, check-discouraged-functions

common: fix up test vectors' invoice_merkle_root.
  common/test/run-bolt12_proof_vectors.c
Due: check-discouraged-functions

common/test: don't use an empty note field in test vectors.
  common/test/run-bolt12_proof_vectors.c
Due: check-discouraged-functions

common: add test that changing any field invalidates a payer proof.
  common/test/run-bolt12_proof.c
Due: check-discouraged-functions

CHANGELOG: mark v26.06rc2
  CHANGELOG.md
Due: none
