Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

check-amount-access:
  name: Check amount_msat and amount_sat members are not accessed directly
  description: Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow.
  language: pygrep
  entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)

check-discouraged-functions:
  name: Check for usage of discouraged funtions
  language: pygrep
  entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('

bwatch: add skeleton and makefile
  plugins/Makefile
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch.h
  plugins/bwatch/bwatch_interface.c
  plugins/bwatch/bwatch_interface.h
  plugins/bwatch/bwatch_scanner.c
  plugins/bwatch/bwatch_scanner.h
  plugins/bwatch/bwatch_store.c
  plugins/bwatch/bwatch_store.h
Due: check-amount-access, check-discouraged-functions

common: extract param_string_array from xpay into common.
  common/json_param.c
  common/json_param.h
  plugins/xpay/xpay.c
Due: check-amount-access, check-discouraged-functions

common: add helpers for bitcoin blockids.
  bitcoin/block.c
  bitcoin/block.h
  bitcoin/test/run-bitcoin_block_from_hex.c
  common/json_parse.c
  common/json_parse.h
  common/json_stream.c
  common/json_stream.h
Due: check-amount-access, check-discouraged-functions

ccan: add json_escape_len in json_out_addstrn
  ccan/ccan/json_out/json_out.c
Due: check-amount-access

libplugin: expose json_add_keypath.
  plugins/libplugin.c
  plugins/libplugin.h
Due: check-amount-access, check-discouraged-functions

common: expose json_hex_to_be32/be64
  common/json_parse_simple.c
  common/json_parse_simple.h
  plugins/bkpr/blockheights.c
  plugins/bkpr/bookkeeper.c
Due: check-amount-access, check-discouraged-functions

bwatch: poll chain and append blocks
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch.h
Due: check-amount-access, check-discouraged-functions

bwatch: add scriptpubkey watch RPCs
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch_interface.c
  plugins/bwatch/bwatch_interface.h
Due: check-amount-access, check-discouraged-functions

bwatch: add scid watch RPCs
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch_interface.c
  plugins/bwatch/bwatch_interface.h
Due: check-amount-access, check-discouraged-functions

bwatch: add listwatch RPC
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch_interface.c
  plugins/bwatch/bwatch_interface.h
Due: check-amount-access, check-discouraged-functions

bwatch: notify watchman on block_processed
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch_interface.c
  plugins/bwatch/bwatch_interface.h
Due: check-amount-access, check-discouraged-functions

bwatch: add watch_found and watch_revert notifications
  plugins/bwatch/bwatch_interface.c
  plugins/bwatch/bwatch_interface.h
Due: check-amount-access, check-discouraged-functions

bwatch: thread per-watch parameter through block scanning
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch_scanner.c
  plugins/bwatch/bwatch_scanner.h
Due: check-amount-access, check-discouraged-functions

bwatch: add typed hash tables for watches
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch.h
  plugins/bwatch/bwatch_store.c
  plugins/bwatch/bwatch_store.h
Due: check-amount-access, check-discouraged-functions

bwatch: scan blocks for scid matches
  plugins/bwatch/bwatch_scanner.c
Due: check-amount-access, check-discouraged-functions

bwatch: scan blocks for scriptpubkey and outpoint matches
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch_scanner.c
  plugins/bwatch/bwatch_scanner.h
Due: check-amount-access, check-discouraged-functions

bwatch: fire blockdepth notifications per block
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch_interface.c
  plugins/bwatch/bwatch_interface.h
  plugins/bwatch/bwatch_scanner.c
  plugins/bwatch/bwatch_scanner.h
Due: check-amount-access, check-discouraged-functions

bwatch: add outpoint watch RPCs
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch_interface.c
  plugins/bwatch/bwatch_interface.h
Due: check-amount-access, check-discouraged-functions

bwatch: persist watches
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch_store.c
  plugins/bwatch/bwatch_store.h
Due: check-amount-access, check-discouraged-functions

doc: document bwatch-poll-interval in lightningd-config.5
  doc/lightningd-config.5.md
Due: none

bwatch: add rescan engine for historical blocks
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch.h
Due: check-amount-access, check-discouraged-functions

tests: update cli tests to reflect bwatch rpcs
  tests/test_misc.py
Due: none

bwatch: add blockdepth watch RPCs
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch_interface.c
  plugins/bwatch/bwatch_interface.h
Due: check-amount-access, check-discouraged-functions

bwatch: notify watch owners on reorg
  plugins/bwatch/bwatch.c
Due: check-amount-access, check-discouraged-functions

pytest: add tests for bwatch.
  tests/test_misc.py
  tests/test_plugin.py
Due: none

bwatch: trigger rescan when a watch is added behind tip
  plugins/bwatch/bwatch_interface.c
Due: check-amount-access, check-discouraged-functions

bwatch: persist block history
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch.h
  plugins/bwatch/bwatch_store.c
  plugins/bwatch/bwatch_store.h
Due: check-amount-access, check-discouraged-functions

bwatch: detect reorgs and roll back tip
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch_interface.c
  plugins/bwatch/bwatch_interface.h
Due: check-amount-access, check-discouraged-functions

bwatch: send chaininfo to watchman on startup
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch.h
  plugins/bwatch/bwatch_interface.c
  plugins/bwatch/bwatch_interface.h
Due: check-amount-access, check-discouraged-functions

bwatch: add addwatch/delwatch helpers
  plugins/bwatch/bwatch_store.c
  plugins/bwatch/bwatch_store.h
Due: check-amount-access, check-discouraged-functions

tests: `add option_simple_close` integration tests
  tests/test_closing.py
Due: none

common: add `OPT_SIMPLE_CLOSE` feature bit (60/61)
  common/features.c
  common/features.h
Due: check-amount-access, check-discouraged-functions

common/close_tx: add `create_simple_close_tx()` for `option_simple_close`
  common/close_tx.c
  common/close_tx.h
Due: check-amount-access, check-discouraged-functions

channeld: reject `closing_complete` and `closing_sig` with a clear error
  channeld/channeld.c
Due: check-amount-access, check-discouraged-functions

closingd: add `lightning_simpleclosed` for `option_simple_close`
  closingd/Makefile
  closingd/simpleclosed.c
  closingd/simpleclosed_wire.csv
Due: check-amount-access, check-discouraged-functions

lightningd: wire up `option_simple_close` master-side handling
  lightningd/.gitignore
  lightningd/Makefile
  lightningd/channel_control.c
  lightningd/peer_control.c
  lightningd/peer_control.h
  lightningd/simple_close_control.c
  lightningd/simple_close_control.h
  tests/test_closing.py
Due: check-amount-access, check-discouraged-functions

check-source: fix BOLT quotes in simpleclosed, close_tx, and features
  closingd/simpleclosed.c
  common/close_tx.c
  common/features.h
Due: check-amount-access, check-discouraged-functions

crates: weekly dependency update
  Cargo.lock
Due: none

removed accounting fees test - wrong branch
  tests/test_bookkeeper.py
Due: none

lightningd: add test for tracking routing fees as income
  tests/test_bookkeeper.py
Due: none

Path conditions:
  check-amount-access: any of: \.(c|h)$, but not: common/amount|.*/test/.*
  check-discouraged-functions: any of: \.(c|h)$, but not: ccan|contrib
