Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

check-amount-access:
  name: Check amount_msat and amount_sat members are not accessed directly
  description: Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow.
  language: pygrep
  entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)

check-discouraged-functions:
  name: Check for usage of discouraged funtions
  language: pygrep
  entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('

pytest: really fix race in test_buy_liquidity_ad_check_bookkeeping
  tests/test_opening.py
Due: none

Build: don't use HAVE_FUNCTION_SECTIONS for update-mocks.
  common/test/run-sphinx-xor_cipher_stream.c
  connectd/test/run-crc32_of_update.c
  gossipd/test/run-next_block_range.c
  tools/update-mocks.sh
Due: check-discouraged-functions

offers: modify find_best_peer() to only select from fronting nodes if set.
  plugins/offers.c
  plugins/offers.h
  plugins/offers_invreq_hook.c
  plugins/offers_offer.c
Due: check-amount-access, check-discouraged-functions

lightningd: add payment-fronting-node option.
  doc/lightningd-config.5.md
  lightningd/lightningd.c
  lightningd/lightningd.h
  lightningd/options.c
Due: check-amount-access, check-discouraged-functions

offers: encapsulate globals in plugin_get_data()
  plugins/fetchinvoice.c
  plugins/offers.c
  plugins/offers.h
  plugins/offers_inv_hook.c
  plugins/offers_invreq_hook.c
  plugins/offers_offer.c
  plugins/test/run-decode_guess_type.c
Due: check-amount-access, check-discouraged-functions

lightningd: honor `payment-fronting-node` when making bolt11 invoices.
  lightningd/invoice.c
  lightningd/routehint.c
  tests/test_invoices.py
Due: check-amount-access, check-discouraged-functions

lightningd: don't assert if plugin crashes early.
  lightningd/plugin.c
Due: check-amount-access, check-discouraged-functions

offers: allow explicit fronting nodes for an offer.
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/schema.json
  contrib/pyln-client/pyln/client/lightning.py
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  doc/schemas/offer.json
  plugins/offers.c
  plugins/offers.h
  plugins/offers_invreq_hook.c
  plugins/offers_offer.c
Due: check-amount-access, check-discouraged-functions

lightningd: honor `payment-fronting-node` when making bolt12 offers.
  plugins/offers.c
  plugins/offers.h
  plugins/offers_invreq_hook.c
  plugins/offers_offer.c
  tests/test_invoices.py
Due: check-amount-access, check-discouraged-functions

offers: only use blinded path nodes from offers when creating invoice for invoice_request.
  plugins/offers_invreq_hook.c
  tests/test_invoices.py
Due: check-amount-access, check-discouraged-functions

offers: honor `payment-fronting-nodes` when creating invoices.
  plugins/offers_invreq_hook.c
  tests/test_invoices.py
Due: check-amount-access, check-discouraged-functions

libplugin: support multi options.
  plugins/libplugin.c
  plugins/libplugin.h
  plugins/xpay/Makefile
  tests/plugins/test_libplugin.c
  tests/test_plugin.py
Due: check-amount-access, check-discouraged-functions

offers: honor `payment-fronting-nodes` when creating invoice_requests.
  plugins/offers_offer.c
  tests/test_invoices.py
Due: check-amount-access, check-discouraged-functions

ccan: import new version to change vsprintfs to vsnprintfs
  ccan/README
  ccan/ccan/json_out/json_out.c
  ccan/ccan/json_out/json_out.h
  ccan/ccan/json_out/test/run.c
Due: check-amount-access

misc: fix uninitialised errors for macOS
  common/test/run-trace.c
  devtools/mkquery.c
  lightningd/dual_open_control.c
  openingd/dualopend.c
Due: check-amount-access, check-discouraged-functions

CI: Don't explicitly invoke .github/scripts/install-bitcoind.sh
  .github/workflows/ci.yaml
Due: none

CI: use more optimized builds sometimes.
  .github/workflows/ci.yaml
Due: none

CI: do cargo test --all as part of post-build step
  .github/workflows/ci.yaml
Due: none

CI: don't use /tmp/old-cln, use a local dir.
  .github/workflows/ci.yaml
Due: none

CI: Use -O3 builds for Liquid integration tests.
  .github/workflows/ci.yaml
Due: none

Makefile: make testpack.tar.gz from (almost) all changed files.
  Makefile
Due: none

pytest: mark test_partial_payment_restart slow.
  tests/test_pay.py
Due: none

CI: use -O1 optimized builds for sanitizer and valgrind runs.
  .github/workflows/ci.yaml
Due: none

ci: Enable sccache compiler cache for Rust and C
  .github/workflows/ci.yaml
Due: none

plugins: neaten rust plugins, make them intermediate objects.
  plugins/Makefile
Due: none

CI: avoid rebuilds on downloads using testpack.tar.gz.
  .github/workflows/ci.yaml
Due: none

CI: Make 12 not 10 valgrind tests, and 6 not 12 sanitizer tests.
  .github/workflows/ci.yaml
Due: none

CI: Don't do release target build, create "small" profile
  .github/workflows/ci.yaml
  Cargo.toml
Due: none

Makefile: clean up a little.
  Makefile
  external/Makefile
Due: none

Makefile: support overriding of CC and CARGO for catching unintended builds.
  Makefile
  cln-rpc/Makefile
  devtools/cc-nobuild
  plugins/Makefile
Due: none

CI: make downgrade and slow integration tests depend on check-compiled-source step.
  .github/workflows/ci.yaml
Due: none

connectd: teach dev_report_fds about Tor fds
  connectd/connectd.c
  connectd/tor_autoservice.c
  connectd/tor_autoservice.h
Due: check-amount-access, check-discouraged-functions

CI: Use variable to make group counts neater.
  .github/workflows/ci.yaml
Due: none

Makefile: mark more things as intermediaries.
  Makefile
  external/Makefile
  wire/Makefile
Due: none

Makefile: don't build the sources in make check-source.
  .github/workflows/ci.yaml
  Makefile
  common/Makefile
Due: none

CI: split gcc+sqlite3 tests into 6 runners.
  .github/workflows/ci.yaml
Due: none

CI: use nproc + 1 for pytest parallelism..
  .github/workflows/ci.yaml
Due: none

Path conditions:
  check-amount-access: any of: \.(c|h)$, but not: common/amount|.*/test/.*
  check-discouraged-functions: any of: \.(c|h)$, but not: ccan|contrib
