Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

check-amount-access:
  name: Check amount_msat and amount_sat members are not accessed directly
  description: Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow.
  language: pygrep
  entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)

check-discouraged-functions:
  name: Check for usage of discouraged funtions
  language: pygrep
  entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('

pytest: fix regex in test_important_plugin
  tests/test_plugin.py
Due: none

askrene: askrene-remove-channel-update
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-grpc/src/server.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/schema.json
  contrib/msggen/msggen/utils/utils.py
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2_grpc.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
  doc/schemas/askrene-remove-channel-update.json
  plugins/askrene/askrene.c
  plugins/askrene/layer.c
  plugins/askrene/layer.h
  tests/test_askrene.py
Due: check-amount-access, check-discouraged-functions

xpay: add flag for "includefees"
  plugins/xpay/xpay.c
Due: check-amount-access, check-discouraged-functions

xpay: attempt amount could have different meanings
  plugins/xpay/xpay.c
Due: check-amount-access, check-discouraged-functions

xpay: add payment MPP amount variable
  plugins/xpay/xpay.c
Due: check-amount-access, check-discouraged-functions

xpay: add helper for payment deliver
  plugins/xpay/xpay.c
Due: check-amount-access, check-discouraged-functions

xpay: add a special offer payable condition ...
  plugins/xpay/xpay.c
Due: check-amount-access, check-discouraged-functions

xpay: add helper to fetch the MPP amount ...
  plugins/xpay/xpay.c
Due: check-amount-access, check-discouraged-functions

xpay: fix taken leak if we fail xpay_core early.
  plugins/xpay/xpay.c
Due: check-amount-access, check-discouraged-functions

xpay: add sendamount command
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-grpc/src/server.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/schema.json
  contrib/msggen/msggen/utils/utils.py
  contrib/pyln-client/pyln/client/lightning.py
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2_grpc.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
  doc/Makefile
  doc/index.rst
  doc/schemas/sendamount.json
  plugins/xpay/xpay.c
  tests/test_xpay.py
Due: check-amount-access, check-discouraged-functions

pytest: correct wallet test already fixed.
  tests/test_wallet.py
Due: none

currencyrate: round to the third digit and adding source argument to `currencyrate` command
  plugins/currencyrate-plugin/src/main.rs
  plugins/currencyrate-plugin/src/oracle.rs
Due: none

schemas: added `source` field to `currencyrate`
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/schema.json
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  doc/schemas/currencyrate.json
Due: none

tests: test new features and improvements of currencyrate plugin
  tests/test_currencyrate.py
Due: none

currencyrate: added README
  plugins/currencyrate-plugin/README.md
Due: none

v26.06rc1
  .version
  CHANGELOG.md
  contrib/pyln-client/pyln/client/__init__.py
  contrib/pyln-client/pyproject.toml
  contrib/pyln-proto/pyln/proto/__init__.py
  contrib/pyln-proto/pyproject.toml
  contrib/pyln-testing/pyln/testing/__init__.py
  contrib/pyln-testing/pyproject.toml
  tools/reckless
  uv.lock
Due: none

docker: make local builds work without version arg
  Dockerfile
Due: none

Preserve derived Docker build versions
  Dockerfile
Due: none

gitignore: add bwatch
  plugins/.gitignore
Due: none

schemas: remove old deprecations, add missing deprecations/added fields
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-grpc/src/server.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/gen/grpc/proto.py
  contrib/msggen/msggen/gen/grpc/server.py
  contrib/msggen/msggen/gen/rpc/rust.py
  contrib/msggen/msggen/patch.py
  contrib/msggen/msggen/schema.json
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
  doc/developers-guide/deprecated-features.md
  doc/schemas/decode.json
  doc/schemas/feerates.json
  doc/schemas/getemergencyrecoverdata.json
  doc/schemas/getroute.json
  doc/schemas/keysend.json
  doc/schemas/listconfigs.json
  doc/schemas/listpeerchannels.json
  doc/schemas/listsendpays.json
  doc/schemas/notification/channel_state_changed.json
  doc/schemas/pay.json
  doc/schemas/renepay.json
  doc/schemas/renepaystatus.json
  doc/schemas/xpay.json
  lightningd/notification.c
  lightningd/peer_control.c
  tests/autogenerate-rpc-examples.py
  tests/test_plugin.py
Due: check-amount-access, check-discouraged-functions

Cargo.lock: weekly dependency update
  Cargo.lock
Due: none

pytest: add shim so we can create plugins inline in tests.
  contrib/pyln-testing/pyln/testing/inline-plugin.py
  contrib/pyln-testing/pyln/testing/utils.py
Due: none

pytest: convert many tests to use inline_plugin helper.
  tests/plugins/block_added.py
  tests/plugins/custom_notifications.py
  tests/plugins/fail_htlcs_invalid.py
  tests/plugins/multiline-help.py
  tests/plugins/onionmessage_forward_fail_notification.py
  tests/plugins/openchannel_hook_delay.py
  tests/plugins/pretend_badlog.py
  tests/plugins/print_htlc_onion.py
  tests/plugins/reject_odd_funding_amounts.py
  tests/plugins/reject_some_invoices.py
  tests/plugins/sendpay_notifications.py
  tests/plugins/shortcircuit.py
  tests/plugins/utf8.py
  tests/plugins/validatejson.py
  tests/test_connection.py
  tests/test_misc.py
  tests/test_pay.py
  tests/test_plugin.py
  tests/test_xpay.py
Due: none

pytest: use l1/l2 naming and get_nodes() where appropriate.
  tests/test_connection.py
  tests/test_misc.py
  tests/test_plugin.py
Due: none

multiwithdraw: use unique ids on requests.
  plugins/spender/multifundchannel.c
  plugins/spender/multiwithdraw.c
Due: check-amount-access, check-discouraged-functions

renepay: skip channels disabled in gossmap
  plugins/renepay/mcf.c
Due: check-amount-access, check-discouraged-functions

common/test: don't use an empty note field in test vectors.
  common/test/run-bolt12_proof_vectors.c
Due: check-discouraged-functions

common: fix up test vectors' invoice_merkle_root.
  common/test/run-bolt12_proof_vectors.c
Due: check-discouraged-functions

common: don't use a dummy zero field for payer proofs.
  common/bolt12_proof.c
Due: check-amount-access, check-discouraged-functions

common: add test that changing any field invalidates a payer proof.
  common/test/run-bolt12_proof.c
Due: check-discouraged-functions

libplugins: JSON ids are always strings.
  plugins/askrene/askrene.c
  plugins/askrene/child/child.c
  plugins/commando.c
  plugins/libplugin-pay.c
  plugins/libplugin.c
  plugins/libplugin.h
  tests/test_askrene.py
  tests/test_misc.py
Due: check-amount-access, check-discouraged-functions

lightningd: internal cleanups since all non-command JSON IDs are strings.
  common/json_parse_simple.c
  common/json_parse_simple.h
  lightningd/jsonrpc.c
  lightningd/jsonrpc.h
  lightningd/plugin.c
  tests/test_invoices.py
  tests/test_plugin.py
  tests/test_wallet.py
Due: check-amount-access, check-discouraged-functions

common: hoist hash_str helper into its own header.
  common/Makefile
  common/hash_str.h
  common/utils.c
  lightningd/plugin.h
  plugins/bkpr/account.c
  plugins/bkpr/onchain_fee.c
Due: check-amount-access, check-discouraged-functions

common: implement str_to_u64, make json_to_u64 use it.
  common/json_parse_simple.c
  common/utils.c
  common/utils.h
Due: check-amount-access, check-discouraged-functions

common: hoist amount+currency parsing into common code.
  common/iso4217.c
  common/iso4217.h
  plugins/offers_offer.c
Due: check-amount-access, check-discouraged-functions

msggen: Add support for UnionField in msggen and related conversion logic
  contrib/msggen/msggen/checks.py
  contrib/msggen/msggen/gen/grpc/convert.py
  contrib/msggen/msggen/gen/grpc/proto.py
  contrib/msggen/msggen/gen/grpc/unconvert.py
  contrib/msggen/msggen/gen/grpc/util.py
  contrib/msggen/msggen/gen/grpc2py.py
  contrib/msggen/msggen/gen/rpc/rust.py
  contrib/msggen/msggen/model.py
  contrib/msggen/msggen/patch.py
Due: none

connectd: set IPV6_V6ONLY=1 on IPv6 sockets for consistent dual-stack behaviour
  connectd/connectd.c
  tests/test_misc.py
Due: check-amount-access, check-discouraged-functions

tests: fix test_low_fd_limit failing on RLIM_INFINITY platforms
  tests/test_misc.py
Due: none

downgrade: we need to remove "impressions" from askrene datastore when downgrading to v26.06.
  tools/lightning-downgrade.c
Due: check-amount-access, check-discouraged-functions

Path conditions:
  check-amount-access: any of: \.(c|h)$, but not: common/amount|.*/test/.*
  check-discouraged-functions: any of: \.(c|h)$, but not: ccan|contrib
