Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

check-amount-access:
  name: Check amount_msat and amount_sat members are not accessed directly
  description: Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow.
  language: pygrep
  entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)

check-discouraged-functions:
  name: Check for usage of discouraged funtions
  language: pygrep
  entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('

Makefile: add check-requirements-coverage
  Makefile
Due: none

global: add the "easy" missing quotes.
  channeld/channeld.c
  common/blindedpath.c
  common/gossip_constants.h
  common/htlc_trim.c
  common/onion_message_parse.c
  connectd/queries.c
  lightningd/channel_gossip.c
  lightningd/htlc_set.c
  lightningd/pay.c
  lightningd/peer_htlcs.c
  onchaind/onchaind.c
  plugins/xpay/xpay.c
Due: check-amount-access, check-discouraged-functions

common/sphinx: don't create unused keys, fill in BOLT quotes.
  common/sphinx.c
Due: check-amount-access, check-discouraged-functions

common: follow BOLT 4 requirements to make decryption constant time.
  common/sphinx.c
Due: check-amount-access, check-discouraged-functions

lightningd: make sure we don't send channel_updates for unasked for channels.
  lightningd/channel.c
  lightningd/channel.h
  lightningd/peer_htlcs.c
Due: check-amount-access, check-discouraged-functions

global: more missing BOLT quotes.
  channeld/channeld.c
  closingd/closingd.c
  common/bech32_util.c
  common/bolt11.c
  common/channel_id.c
  common/close_tx.c
  gossipd/gossipd.c
  lightningd/channel.c
  lightningd/closing_control.c
  lightningd/invoice.c
  lightningd/lightningd.c
  lightningd/onchain_control.c
  lightningd/peer_control.c
  lightningd/peer_htlcs.c
  onchaind/onchaind.c
  openingd/openingd.c
  plugins/fetchinvoice.c
  plugins/offers.c
  plugins/offers_inv_hook.c
  wallet/walletrpc.c
  wire/tlvstream.c
Due: check-amount-access, check-discouraged-functions

common: correctly refuse to accept wireaddr with port == 0.
  common/test/run-wireaddr.c
  common/wireaddr.c
  common/wireaddr.h
  connectd/peer_exchange_initmsg.c
  db/bindings.c
  devtools/print_wire.c
  tests/fuzz/fuzz-wireaddr.c
Due: check-amount-access, check-discouraged-functions

gossipd: correclty ignore channel_announcement and channel_update for other chains.
  gossipd/gossmap_manage.c
Due: check-amount-access, check-discouraged-functions

channeld: update dust limit checks to the final version of PR 919.
  channeld/full_channel.c
Due: check-amount-access, check-discouraged-functions

check-source-bolt: replace C check-bolt tool with Python check_quotes.py, check Rust and Python too
  Makefile
  devtools/Makefile
  devtools/check-bolt.c
Due: check-amount-access, check-discouraged-functions

BOLT quotes: split cross-section quotes; prepare for new `...` semantics.
  bitcoin/short_channel_id.h
  channeld/test/run-commit_tx.c
  channeld/test/run-full_channel.c
  common/bolt11.c
  common/channel_config.h
  common/cryptomsg.c
  common/key_derive.c
  connectd/handshake.c
  devtools/check_quotes.py
  lightningd/opening_control.c
  wire/peer_wire.c
Due: check-amount-access, check-discouraged-functions

devtools/check_quotes.py: add -k option, make `...` more nuanced.
  devtools/check_quotes.py
Due: none

Update outdated BOLT quotes in channel open/close handling.
  connectd/queries.c
  lightningd/dual_open_control.c
  openingd/dualopend.c
  openingd/openingd.c
Due: check-amount-access, check-discouraged-functions

Update outdated BOLT #11 quotes in invoice handling.
  common/test/run-bolt11.c
  lightningd/invoice.c
Due: check-amount-access, check-discouraged-functions

patch fix-features-quote.patch
  common/features.h
Due: check-amount-access, check-discouraged-functions

check_quotes.py: add --coverage tracking; add devtools/bolt-coverage.py.
  devtools/bolt-coverage.py
  devtools/check_quotes.py
Due: none

devtools: import check_quotes.py from lnprototest.
  devtools/check_quotes.py
Due: none

tests: update test_forward_different_fees_and_cltv to use default min_final_cltv_expiry_delta.
  tests/test_pay.py
Due: none

Fix C comments which will accidentally trigger Python BOLT quote checker.
  bitcoin/script.h
  lightningd/gossip_generation.c
  lightningd/invoice.h
  lightningd/lightningd.c
  plugins/offers_offer.c
  plugins/test/run-decode_guess_type.c
  plugins/xpay/xpay.c
Due: check-amount-access, check-discouraged-functions

BOLT quote corrections in Python files (previously unchecked).
  contrib/pyln-proto/pyln/proto/invoice.py
  contrib/pyln-proto/pyln/proto/message/fundamental_types.py
  tests/test_closing.py
  tests/test_connection.py
  tests/test_pay.py
  tests/test_renepay.py
  tests/test_xpay.py
Due: none

Update outdated BOLT quotes in HTLC/closing handling.
  closingd/closingd.c
  lightningd/onchain_control.c
  onchaind/onchaind.c
  plugins/offers_invreq_hook.c
Due: check-amount-access, check-discouraged-functions

doc: update post-release instructions.
  doc/contribute-to-core-lightning/release-checklist.md
Due: none

xpay: don't use MPP for bolt12 unless the invoice explicitly supports it.
  doc/developers-guide/deprecated-features.md
  plugins/xpay/xpay.c
  tests/test_xpay.py
Due: check-amount-access, check-discouraged-functions

lightning-downgrade: prepare for downgrading to v26.04.
  tools/lightning-downgrade.c
  wallet/migrations.c
Due: check-amount-access, check-discouraged-functions

Versions: update for next version.
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yaml
  Makefile
  tests/test_plugin.py
Due: none

CI: check that wire format is correct.
  Makefile
Due: none

wire: add shim patch for when we regenerate.
  wire/extracted_peer_11_splice.patch
  wire/extracted_peer_12_splice_update.patch
Due: none

Makefile: check bolt quotes in CI.
  Makefile
Due: none

common: BOLT update which make channel_type assumed.
  Makefile
  lightningd/opening_control.c
  openingd/dualopend.c
  openingd/openingd.c
Due: check-amount-access, check-discouraged-functions

BOLT: update to include `channel_type` feature in BOLT 9.
  Makefile
  common/features.c
  common/features.h
Due: check-amount-access, check-discouraged-functions

common: BOLT update which adds taproot fallback.
  Makefile
  common/test/run-bolt11.c
Due: check-discouraged-functions

Path conditions:
  check-amount-access: any of: \.(c|h)$, but not: common/amount|.*/test/.*
  check-discouraged-functions: any of: \.(c|h)$, but not: ccan|contrib
