Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
      args: [ "--ignore=E501,E731,E741,W503,F541,E275" ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
    - id: shellcheck
      args: [ -fgcc ]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      description: Runs formatting checks on the c code and and throws errors if suggestions
        are detected, without modifying the code. Style is defined in `.clang-format`. When
        encountering formatting-related errors, run `clang-format -i <path-to-file>` to make
        (destructively) the suggestions and evalute the resulting diff for more context.
      args: [ --dry-run, -Werror ]
      entry: clang-format
      types: [ c ]
      stages: [ manual ]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-jsonschema
      name: check doc JSON schemas
      args: ["--schemafile", "doc/rpc-schema-draft.json"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

    - id: check-metaschema
      name: check doc JSON metaschemas
      args: ["--verbose"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: pretty-format-json
      args: [ "--indent", "2", "--no-sort-keys" ]
      files: ^doc/schemas/.*\.json$
      types: [ json ]
    - id: trailing-whitespace
      args: [ "--markdown-linebreak-ext=md" ]
      exclude: ccan|contrib|tests/fuzz/corpora
    - id: end-of-file-fixer
      exclude: ccan|contrib|tests/fuzz/corpora

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      description: Checks for common misspellings.
      exclude: ccan|contrib|tests/fuzz/corpora
      stages: [ manual ]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.23.0
  hooks:
    - id: commitlint
      stages: [ commit-msg ]

- repo: local
  hooks:
    # Reimplementation of `make check-amount-access` for pygrep.
    - id: check-amount-access
      name: Check amount_msat and amount_sat members are not accessed directly
      description: "Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow."
      language: pygrep
      entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)
      types: [ c ]
      exclude: common/amount|.*/test/.*

    # Reimplementation of `make check-discouraged-functions` for pygrep.
    - id: check-discouraged-functions
      name: Check for usage of discouraged funtions
      language: pygrep
      entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('
      types: [ c ]
      exclude: ccan|contrib

    - id: include-order-fixer
      name: Fix Include Order
      language: python
      description: Analyzes Core Lightning C source and header files, assesses the order of
        their include directives according to the published Coding Style Guidelines
        [here](https://docs.corelightning.org/docs/coding-style-guidelines), automatically
        applying sorting them. Aims to conform with `make check-includes`.
      entry: python devtools/include-order-fixer.py
      stages: [ manual ]
      pass_filenames: false

    - id: check-includes
      name: Check Includes
      language: system
      entry: make check-includes
      pass_filenames: false

pytest: fixed flake8 errors
  tests/test_misc.py
Due: none

tests: adding Test channel lifecycle with receiving node restart after a while.
  tests/test_misc.py
Due: none

tests: adding Test channel lifecycle with opening node restart after a while.
  tests/test_misc.py
Due: none

pytest: testing different openchannel scenario using low-level RPC calls
  tests/test_opening.py
Due: none

pytest: test dual fund opening with wrong PSBT does not make node crash
  tests/test_opening.py
Due: none

pytest: add tests that handle wrong manual workflow to open channels
  tests/test_opening.py
Due: none

pytest: fixed flake8 errors
  tests/test_opening.py
Due: none

devtools/bolt12-cli: add missing offer_metadata field.
  devtools/bolt12-cli.c
Due: check-amount-access, check-discouraged-functions

decode / bolt12-cli: add missing invreq_recurrence_cancel field.
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/schema.json
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
  devtools/bolt12-cli.c
  doc/schemas/decode.json
  plugins/offers.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

common: fix over-allocation in merkle tree creation.
  common/bolt12_merkle.c
Due: check-amount-access, check-discouraged-functions

decode: fix decode on recurring offers.
  .msggen.json
  contrib/msggen/msggen/schema.json
  contrib/pyln-testing/pyln/testing/grpc2py.py
  doc/schemas/decode.json
  plugins/offers.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

common: generalize BOLT12 merkle generation.
  common/bolt12_merkle.c
  common/bolt12_merkle.h
Due: check-amount-access, check-discouraged-functions

pytest: reproduce `MEMLEAK` caused by `openchannel_update` by passing the wrong psbt
  tests/test_opening.py
Due: none

askrene: askrene-remove-channel-update
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-grpc/src/server.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/schema.json
  contrib/msggen/msggen/utils/utils.py
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2_grpc.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
  doc/schemas/askrene-remove-channel-update.json
  plugins/askrene/askrene.c
  plugins/askrene/layer.c
  plugins/askrene/layer.h
  tests/test_askrene.py
Due: check-amount-access, check-discouraged-functions

askrene: added reservations leak test under load
  tests/test_askrene.py
Due: none

common: add test for partial merkle tree support.
  common/test/Makefile
  common/test/run-bolt12_merkle-partial.c
Due: check-discouraged-functions

bolt12: import draft payer proof spec.
  wire/Makefile
  wire/bolt12_wire.csv
  wire/extracted_bolt12_02_payer_proofs.patch
Due: none

common/bolt12: use a const char * for fail reason.
  common/bolt11.c
  common/bolt11.h
  common/bolt12.c
  common/bolt12.h
  common/test/run-bolt11.c
  common/test/run-bolt12-encode-test.c
  common/test/run-bolt12-offer-decode.c
  common/test/run-bolt12_decode.c
  common/test/run-bolt12_merkle.c
  devtools/bolt11-cli.c
  devtools/bolt12-cli.c
  lightningd/invoice.c
  lightningd/offer.c
  lightningd/pay.c
  lightningd/runes.c
  plugins/bkpr/bookkeeper.c
  plugins/fetchinvoice.c
  plugins/offers.c
  plugins/offers_invreq_hook.c
  plugins/pay.c
  plugins/renepay/main.c
  plugins/xpay/xpay.c
  tests/fuzz/bolt12.h
  tests/fuzz/fuzz-bolt11.c
  tests/fuzz/fuzz-bolt12-bech32-decode.c
  tests/fuzz/fuzz-bolt12-invoice-decode.c
  tests/fuzz/fuzz-bolt12-invrequest-decode.c
  tests/fuzz/fuzz-bolt12-offer-decode.c
Due: check-amount-access, check-discouraged-functions

common: expose is_signature_field as is_tlv_signature_field.
  common/bolt12_merkle.c
  common/bolt12_merkle.h
Due: check-amount-access, check-discouraged-functions

common: routines to create and validate payer proofs.
  common/Makefile
  common/bolt12_proof.c
  common/bolt12_proof.h
  common/test/Makefile
  common/test/run-bolt12_proof.c
  wire/Makefile
Due: check-amount-access, check-discouraged-functions

common: add bolt12 payer proof support (bolt12-cli)
  devtools/bolt12-cli.c
Due: check-amount-access, check-discouraged-functions

common: add bolt12 payer proof support (decode)
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/schema.json
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
  doc/schemas/decode.json
  plugins/offers.c
  plugins/test/run-decode_guess_type.c
Due: check-amount-access, check-discouraged-functions

bolt12: generate payer_proof JSON test vectors.
  common/bolt12_merkle.c
  common/test/Makefile
  common/test/run-bolt12_proof_vectors.c
Due: check-amount-access, check-discouraged-functions

offers: add createproof API.
  common/bolt12_proof.c
  common/bolt12_proof.h
  common/jsonrpc_errors.h
  contrib/msggen/msggen/schema.json
  doc/Makefile
  doc/index.rst
  doc/schemas/createproof.json
  plugins/Makefile
  plugins/offers.c
  plugins/offers_proof.c
  plugins/offers_proof.h
  plugins/test/run-decode_guess_type.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

libplugin: expose json_add_keypath.
  plugins/libplugin.c
  plugins/libplugin.h
Due: check-amount-access, check-discouraged-functions

common/json_stream: use json_out_addstrn for better efficiency.
  common/json_stream.c
Due: check-amount-access, check-discouraged-functions

common: add helpers for bitcoin blockids.
  bitcoin/block.c
  bitcoin/block.h
  bitcoin/test/run-bitcoin_block_from_hex.c
  common/json_parse.c
  common/json_parse.h
  common/json_stream.c
  common/json_stream.h
Due: check-amount-access, check-discouraged-functions

ccan: add json_escape_len in json_out_addstrn
  ccan/ccan/json_out/json_out.c
Due: check-amount-access

bwatch: add scid watch RPCs
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch_interface.c
  plugins/bwatch/bwatch_interface.h
Due: check-amount-access, check-discouraged-functions

bwatch: add listwatch RPC
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch_interface.c
  plugins/bwatch/bwatch_interface.h
Due: check-amount-access, check-discouraged-functions

bwatch: add wire format
  plugins/Makefile
  plugins/bwatch/bwatch_wire.csv
Due: none

bwatch: notify watchman on block_processed
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch_interface.c
  plugins/bwatch/bwatch_interface.h
Due: check-amount-access, check-discouraged-functions

bwatch: add skeleton and makefile
  plugins/Makefile
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch.h
  plugins/bwatch/bwatch_interface.c
  plugins/bwatch/bwatch_interface.h
  plugins/bwatch/bwatch_scanner.c
  plugins/bwatch/bwatch_scanner.h
  plugins/bwatch/bwatch_store.c
  plugins/bwatch/bwatch_store.h
Due: check-amount-access, check-discouraged-functions

bwatch: detect reorgs and roll back tip
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch_interface.c
  plugins/bwatch/bwatch_interface.h
Due: check-amount-access, check-discouraged-functions

bwatch: add addwatch/delwatch helpers
  plugins/bwatch/bwatch_store.c
  plugins/bwatch/bwatch_store.h
Due: check-amount-access, check-discouraged-functions

bwatch: send chaininfo to watchman on startup
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch.h
  plugins/bwatch/bwatch_interface.c
  plugins/bwatch/bwatch_interface.h
Due: check-amount-access, check-discouraged-functions

bwatch: add outpoint watch RPCs
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch_interface.c
  plugins/bwatch/bwatch_interface.h
Due: check-amount-access, check-discouraged-functions

bwatch: poll chain and append blocks
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch.h
Due: check-amount-access, check-discouraged-functions
