Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
      args: [ "--ignore=E501,E731,E741,W503,F541,E275" ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
    - id: shellcheck
      args: [ -fgcc ]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      description: Runs formatting checks on the c code and and throws errors if suggestions
        are detected, without modifying the code. Style is defined in `.clang-format`. When
        encountering formatting-related errors, run `clang-format -i <path-to-file>` to make
        (destructively) the suggestions and evalute the resulting diff for more context.
      args: [ --dry-run, -Werror ]
      entry: clang-format
      types: [ c ]
      stages: [ manual ]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-jsonschema
      name: check doc JSON schemas
      args: ["--schemafile", "doc/rpc-schema-draft.json"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

    - id: check-metaschema
      name: check doc JSON metaschemas
      args: ["--verbose"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: pretty-format-json
      args: [ "--indent", "2", "--no-sort-keys" ]
      files: ^doc/schemas/.*\.json$
      types: [ json ]
    - id: trailing-whitespace
      args: [ "--markdown-linebreak-ext=md" ]
      exclude: ccan|contrib|tests/fuzz/corpora
    - id: end-of-file-fixer
      exclude: ccan|contrib|tests/fuzz/corpora

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      description: Checks for common misspellings.
      exclude: ccan|contrib|tests/fuzz/corpora
      stages: [ manual ]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.23.0
  hooks:
    - id: commitlint
      stages: [ commit-msg ]

- repo: local
  hooks:
    # Reimplementation of `make check-amount-access` for pygrep.
    - id: check-amount-access
      name: Check amount_msat and amount_sat members are not accessed directly
      description: "Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow."
      language: pygrep
      entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)
      types: [ c ]
      exclude: common/amount|.*/test/.*

    # Reimplementation of `make check-discouraged-functions` for pygrep.
    - id: check-discouraged-functions
      name: Check for usage of discouraged funtions
      language: pygrep
      entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('
      types: [ c ]
      exclude: ccan|contrib

    - id: include-order-fixer
      name: Fix Include Order
      language: python
      description: Analyzes Core Lightning C source and header files, assesses the order of
        their include directives according to the published Coding Style Guidelines
        [here](https://docs.corelightning.org/docs/coding-style-guidelines), automatically
        applying sorting them. Aims to conform with `make check-includes`.
      entry: python devtools/include-order-fixer.py
      stages: [ manual ]
      pass_filenames: false

    - id: check-includes
      name: Check Includes
      language: system
      entry: make check-includes
      pass_filenames: false

flake: fix missing dependencies for make
  nix/pkgs/default.nix
Due: none

flake: fix libstdc++.so.6 not found
  nix/shells.nix
Due: none

tests: add regression test for hsmtool commands with passphrase
  tests/test_wallet.py
Due: none

rust libraries: update bitcoin to 0.32.2
  Cargo.lock
  Cargo.toml
  cln-grpc/Cargo.toml
  cln-rpc/Cargo.toml
  plugins/Cargo.toml
  plugins/bip353-plugin/Cargo.toml
  plugins/lsps-plugin/Cargo.toml
Due: none

splice-script: channel id corner case
  common/splice_script.c
Due: check-amount-access, check-discouraged-functions

splice: Let RPC stfu take time
  channeld/channeld.c
Due: check-amount-access, check-discouraged-functions

splice: Add and improve logging
  channeld/channeld.c
  channeld/full_channel.c
  common/splice_script.c
Due: check-amount-access, check-discouraged-functions

splice script: Switch to splice feerate
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

splice: Fail earlier on too-few-funds
  channeld/channeld.c
Due: check-amount-access, check-discouraged-functions

channeld: Add new feerate type ‘splice’
  channeld/channeld.c
  channeld/channeld_wire.csv
  lightningd/channel_control.c
  tests/plugins/channeld_fakenet.c
Due: check-amount-access, check-discouraged-functions

splice script: Turn “wallet -> *” into “wallet -> 100%”
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

splice: Fix weight calculations & use opening feerate
  bitcoin/psbt.c
  bitcoin/psbt.h
  channeld/channeld.c
  lightningd/channel_control.c
  openingd/dualopend.c
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

splice: Turn on multi-channel, dynamic wallet, smart fees
  plugins/spender/splice.c
  tests/test_splice.py
Due: check-amount-access, check-discouraged-functions

amount: Add decimal format for msats
  common/amount.c
  common/amount.h
  common/test/run-amount.c
Due: check-discouraged-functions

splice: test mutli-channel splice script and fees
  tests/test_splice.py
Due: none

splice: Update `tx_abort` for mulitple splices
  channeld/channeld.c
Due: check-amount-access, check-discouraged-functions

amount: Can add sat convenience method
  common/amount.c
  common/amount.h
Due: check-discouraged-functions

channeld: Inform channeld about opening feerate
  channeld/channeld.c
  channeld/channeld_wire.csv
  lightningd/channel_control.c
  tests/plugins/channeld_fakenet.c
Due: check-amount-access, check-discouraged-functions

splice-script: wetlog / debuglog fix
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

splice script: Update tests to use dynamic fees
  tests/test_splice.py
  tests/test_splicing.py
  tests/test_splicing_disconnect.py
  tests/test_splicing_insane.py
Due: none

splice script: Zero out wallet fund requests
  plugins/spender/splice.c
  plugins/spender/splice.h
Due: check-amount-access, check-discouraged-functions

splice script: Implement dynamic wallet & fee
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

splice-script: Memleak fix on failure
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

splice script: Allow `out_ppm` for wallet
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

gossip: Don’t reset channel on stale annoncement
  gossipd/gossmap_manage.c
Due: check-amount-access, check-discouraged-functions

ld: Expose splice feerate to RPC
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/schema.json
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
  doc/schemas/feerates.json
  lightningd/chaintopology.c
  tests/test_misc.py
Due: check-amount-access, check-discouraged-functions

splice script: Improve weight guess calculation
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

splice: multi channel stfu bugfix
  lightningd/channel_control.c
Due: check-amount-access, check-discouraged-functions

splice script: Add new PENDING state and log
  plugins/spender/splice.c
  plugins/spender/splice.h
Due: check-amount-access, check-discouraged-functions

splice script: Helper functions for dynamic calcs
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

CI: Just testing if an empty PR passes CI
  anything.txt
Due: none

CI: Update Mac CI to use gmake
  .github/workflows/macos.yaml
  configure
Due: none
