Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
      args: [ "--ignore=E501,E731,E741,W503,F541,E275" ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
    - id: shellcheck
      args: [ -fgcc ]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      description: Runs formatting checks on the c code and and throws errors if suggestions
        are detected, without modifying the code. Style is defined in `.clang-format`. When
        encountering formatting-related errors, run `clang-format -i <path-to-file>` to make
        (destructively) the suggestions and evalute the resulting diff for more context.
      args: [ --dry-run, -Werror ]
      entry: clang-format
      types: [ c ]
      stages: [ manual ]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-jsonschema
      name: check doc JSON schemas
      args: ["--schemafile", "doc/rpc-schema-draft.json"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

    - id: check-metaschema
      name: check doc JSON metaschemas
      args: ["--verbose"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: pretty-format-json
      args: [ "--indent", "2", "--no-sort-keys" ]
      files: ^doc/schemas/.*\.json$
      types: [ json ]
    - id: trailing-whitespace
      args: [ "--markdown-linebreak-ext=md" ]
      exclude: ccan|contrib|tests/fuzz/corpora
    - id: end-of-file-fixer
      exclude: ccan|contrib|tests/fuzz/corpora

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      description: Checks for common misspellings.
      exclude: ccan|contrib|tests/fuzz/corpora
      stages: [ manual ]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.23.0
  hooks:
    - id: commitlint
      stages: [ commit-msg ]

- repo: local
  hooks:
    # Reimplementation of `make check-amount-access` for pygrep.
    - id: check-amount-access
      name: Check amount_msat and amount_sat members are not accessed directly
      description: "Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow."
      language: pygrep
      entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)
      types: [ c ]
      exclude: common/amount|.*/test/.*

    # Reimplementation of `make check-discouraged-functions` for pygrep.
    - id: check-discouraged-functions
      name: Check for usage of discouraged funtions
      language: pygrep
      entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('
      types: [ c ]
      exclude: ccan|contrib

    - id: include-order-fixer
      name: Fix Include Order
      language: python
      description: Analyzes Core Lightning C source and header files, assesses the order of
        their include directives according to the published Coding Style Guidelines
        [here](https://docs.corelightning.org/docs/coding-style-guidelines), automatically
        applying sorting them. Aims to conform with `make check-includes`.
      entry: python devtools/include-order-fixer.py
      stages: [ manual ]
      pass_filenames: false

    - id: check-includes
      name: Check Includes
      language: system
      entry: make check-includes
      pass_filenames: false

lightningd: sanitize "usage" for registered plugins
  lightningd/jsonrpc.c
  lightningd/plugin.c
Due: check-amount-access, check-discouraged-functions

docs: remove old references to pay, use xpay
  README.md
  doc/beginners-guide/beginners-guide.md
  doc/lightningd.8.md
  doc/node-operators-guide/faq.md
Due: none

openingd: fail open_channel at receipt when both initial balances <= their reserve
  openingd/openingd.c
Due: check-amount-access, check-discouraged-functions

openingd: fail open_channel at receipt when the funder cannot afford the initial commitment fee
  openingd/openingd.c
  tests/test_connection.py
Due: check-amount-access, check-discouraged-functions

tests: match amount_tx_fee truncation and pin the reserve message order
  tests/test_connection.py
Due: none

CCAN: update after 32-bit and MacOS cleanups.
  ccan/README
  ccan/ccan/breakpoint/_info
  ccan/ccan/breakpoint/test/run-blocked.c
  ccan/ccan/breakpoint/test/run-fork.c
  ccan/ccan/breakpoint/test/run-threads.c
  ccan/ccan/cppmagic/test/run-map-empty-arg.c
  ccan/ccan/fdpass/fdpass.c
  ccan/ccan/fdpass/test/run-multifd-leak.c
  ccan/ccan/htable/test/run-init-sized-alloc-fail.c
  ccan/ccan/htable/test/run-init-sized-huge.c
  ccan/ccan/io/io.c
  ccan/ccan/io/io.h
  ccan/ccan/io/poll.c
  ccan/ccan/io/test/run-15-timeout.c
  ccan/ccan/io/test/run-22-POLLHUP-on-listening-socket.c
  ccan/ccan/io/test/run-47-exclusive-duplex.c
  ccan/ccan/io/test/run-48-exclusive-duplex-write.c
  ccan/ccan/io/test/run-50-listener-blocking-accept.c
  ccan/ccan/likely/test/run-stats-empty-debug.c
  ccan/ccan/mem/mem.c
  ccan/ccan/mem/mem.h
  ccan/ccan/order/test/api.c
  ccan/ccan/pipecmd/test/run-eintr.c
  ccan/ccan/pipecmd/test/run-execfail-fdleak.c
  ccan/ccan/pipecmd/test/run-execfail-flush.c
  ccan/ccan/ptr_valid/test/run-batch-cache.c
  ccan/ccan/ptr_valid/test/run-child-flush.c
  ccan/ccan/ptr_valid/test/run-errno.c
  ccan/ccan/ptr_valid/test/run-realloc-leak.c
  ccan/ccan/tal/path/path.c
  ccan/ccan/tal/path/test/run-pushd.c
  ccan/ccan/tal/path/test/run-simplify.c
  ccan/ccan/time/test/run-divide-roundup.c
  ccan/ccan/time/test/run-multiply-overflow.c
Due: check-amount-access

tests: raise connectd's wake-delay threshold in test_funding_cancel_race
  tests/test_connection.py
Due: none

tests: skip the fee-boundary tests on elements networks
  tests/test_connection.py
Due: none

bitcoind: fix byte order of block hash from getrawblockbyheight
  lightningd/bitcoind.c
  tests/test_db.py
Due: check-amount-access, check-discouraged-functions

tests: carry the network-correct chain_hash in the raw-wire helpers
  tests/test_connection.py
Due: none

doc: document error 313 on every command which can return it
  contrib/msggen/msggen/schema.json
  doc/schemas/fundpsbt.json
  doc/schemas/multiwithdraw.json
  doc/schemas/txprepare.json
  doc/schemas/upgradewallet.json
  doc/schemas/utxopsbt.json
Due: none

doc: fix wording of the min-emergency-msat error description
  contrib/msggen/msggen/schema.json
  doc/schemas/fundchannel.json
  doc/schemas/multifundchannel.json
  doc/schemas/withdraw.json
Due: none

db: fix intvars being truncated to 32 bits on write and read
  db/exec.c
  wallet/migrations.c
  wallet/test/run-db.c
Due: check-amount-access, check-discouraged-functions

dualopen: add test for large output amount
  tests/test_connection.py
Due: none

dualopend: handle tx_add_output with over MAX_MONEY
  common/interactivetx.c
  openingd/dualopend.c
  tests/test_connection.py
Due: check-amount-access, check-discouraged-functions

interactivetx: put the MAX_MONEY checks into one place
  common/interactivetx.c
  common/interactivetx.h
  common/test/run-interactivetx.c
  openingd/dualopend.c
Due: check-amount-access, check-discouraged-functions

docs: document missing and fix erroneous JSON-RPC error codes
  contrib/msggen/msggen/schema.json
  doc/schemas/addpsbtoutput.json
  doc/schemas/createinvoice.json
  doc/schemas/delpay.json
  doc/schemas/disableinvoicerequest.json
  doc/schemas/disableoffer.json
  doc/schemas/enableoffer.json
  doc/schemas/fundchannel.json
  doc/schemas/fundchannel_start.json
  doc/schemas/fundpsbt.json
  doc/schemas/getroutes.json
  doc/schemas/multifundchannel.json
  doc/schemas/multiwithdraw.json
  doc/schemas/openchannel_init.json
  doc/schemas/preapproveinvoice.json
  doc/schemas/preapprovekeysend.json
  doc/schemas/recover.json
  doc/schemas/splice_init.json
  doc/schemas/splice_signed.json
  doc/schemas/splice_update.json
  doc/schemas/txprepare.json
  doc/schemas/upgradewallet.json
  doc/schemas/utxopsbt.json
  doc/schemas/withdraw.json
Due: none

lightningd: check expiry bounds in createinvoice too
  lightningd/invoice.c
  tests/test_invoices.py
Due: check-amount-access, check-discouraged-functions

ccan: update for newer compiler fixes.
  ccan/README
  ccan/ccan/build_assert/build_assert.h
  ccan/ccan/cdump/cdump.c
Due: check-amount-access

plugins/spender: fix false positive init warning from gcc-12 -O3.
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

ccan: update to fix strmap warning, includes new COMPILER_WANTS_INIT.
  ccan/README
  ccan/ccan/compiler/compiler.h
  ccan/ccan/strmap/_info
  ccan/ccan/strmap/strmap.c
  common/billboard.c
  common/utils.h
  lightningd/peer_control.c
  lightningd/peer_htlcs.c
  plugins/renepay/mods.c
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

channeld: initialize tx_sigs_allowed on startup
  channeld/channeld.c
Due: check-amount-access, check-discouraged-functions

openingd: fail open_channel at receipt when our dust limit exceeds their reserve
  openingd/openingd.c
  tests/test_opening.py
Due: check-amount-access, check-discouraged-functions

tests: fix test_rbf_non_last_mined flake
  tests/test_opening.py
Due: none

tests: fix test_htlc_sig_persistence flake
  tests/test_misc.py
Due: none

tests: fix test_htlc_no_force_close flake
  tests/test_closing.py
Due: none

renepay: free pending routes when the payment finishes
  plugins/renepay/routetracker.c
  plugins/renepay/routetracker.h
Due: check-amount-access, check-discouraged-functions

tests: fix test_gossip_force_broadcast_channel_msgs flake
  devtools/gossipwith.c
  tests/test_gossip.py
Due: check-amount-access, check-discouraged-functions

closingd: Add a sanity check for feerate
  closingd/closingd.c
Due: check-amount-access, check-discouraged-functions

lightningd: Target a lower closing fee
  lightningd/closing_control.c
Due: check-amount-access, check-discouraged-functions

lightningd: clamp estimatefees results to a sanity ceiling
  bitcoin/feerate.c
  bitcoin/feerate.h
  lightningd/bitcoind.c
Due: check-amount-access, check-discouraged-functions

repro-build: pass VERSION to the install step
  tools/repro-build.sh
Due: none

tests: reproduce a mutual close at the fee ceiling falling back to the commitment
  tests/test_closing.py
Due: none

lightningd: bound the negotiated closing fee, not the transaction's fee
  lightningd/closing_control.c
  tests/test_closing.py
Due: check-amount-access, check-discouraged-functions

tests: reproduce a close with a feerange below the estimate floor falling back to the commitment
  tests/test_closing.py
Due: none

lightningd: honour the close feerange minimum when accepting a closing fee
  lightningd/closing_control.c
  tests/test_closing.py
Due: check-amount-access, check-discouraged-functions

tests: reproduce closingd completing a close on a fee lightningd rejected
  lightningd/closing_control.c
  lightningd/lightningd.c
  lightningd/lightningd.h
  lightningd/options.c
  tests/test_closing.py
Due: check-amount-access, check-discouraged-functions
