Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

check-amount-access:
  name: Check amount_msat and amount_sat members are not accessed directly
  description: Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow.
  language: pygrep
  entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)

check-discouraged-functions:
  name: Check for usage of discouraged funtions
  language: pygrep
  entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('

lightningd: fix crash and busy-loop on invoice with huge expiry
  lightningd/invoice.c
  tests/test_invoices.py
Due: check-amount-access, check-discouraged-functions

bolt11: widen encode_c to u32 to avoid truncating min_final_cltv_expiry
  common/bolt11.c
  common/test/run-bolt11.c
Due: check-amount-access, check-discouraged-functions

lightningd: don't lock in a dual-funding RBF candidate that was never mined
  lightningd/dual_open_control.c
  tests/test_opening.py
Due: check-amount-access, check-discouraged-functions

tests/fuzz/fuzz-open_channel: fix bad local variable access after longjmp
  tests/fuzz/fuzz-open_channel.c
Due: check-amount-access, check-discouraged-functions

tests: run the large request body test over plain HTTP
  tests/test_clnrest.py
Due: none

tests: don't race the shutdown state transition
  tests/test_opening.py
Due: none

splice: Add a warning message for double splices
  channeld/channeld.c
Due: check-amount-access, check-discouraged-functions

hsmd: release cached secrets on deinit
  hsmd/libhsmd.c
  hsmd/libhsmd.h
  hsmd/test/run-bad-request-close.c
Due: check-amount-access, check-discouraged-functions

lightningd: split scid application out of depthcb_update_scid
  lightningd/channel_control.c
  lightningd/channel_control.h
Due: check-amount-access, check-discouraged-functions

pytest: force close after a locked splice must drop our current commitment
  tests/test_splicing.py
Due: none

lightningd: refuse to RBF a dual-funding open whose candidate confirmed
  lightningd/dual_open_control.c
  tests/test_opening.py
Due: check-amount-access, check-discouraged-functions

lightningd: check expiry bounds in createinvoice too
  lightningd/invoice.c
  tests/test_invoices.py
Due: check-amount-access, check-discouraged-functions

lightningd: never demand a feerate higher than we would propose
  lightningd/chaintopology.c
Due: check-amount-access, check-discouraged-functions

xpay: reject onion-error channel_update for a channel other than the one that failed
  plugins/xpay/xpay.c
  tests/test_xpay.py
Due: check-amount-access, check-discouraged-functions

bolt11: fail decode when both 'd' and 'h' fields are present
  common/bolt11.c
  common/test/run-bolt11.c
Due: check-amount-access, check-discouraged-functions

tests: skip the feerate poison test unless the db is sqlite3
  tests/test_splicing.py
Due: none

clnrest: bound XML nesting depth before parsing
  plugins/rest-plugin/src/handlers.rs
  plugins/rest-plugin/src/structs.rs
Due: none

pytest: force close after a locked splice is fixed, remove xfail
  tests/test_splicing.py
Due: none

lightningd: drop the dual-funding lock-in guard, and un-promote on reorg
  lightningd/dual_open_control.c
Due: check-amount-access, check-discouraged-functions

clnrest: bound YAML deserialization to prevent alias-expansion OOM
  plugins/rest-plugin/src/handlers.rs
  plugins/rest-plugin/src/main.rs
  plugins/rest-plugin/src/yaml.rs
Due: none

lightningd: recompute the promoted channel's balances on lockin
  lightningd/dual_open_control.c
Due: check-amount-access, check-discouraged-functions

pytest: don't rebuild an RBF after a reorg on this line
  tests/test_opening.py
Due: none

tests: cover duplicate anchor deadlines
  lightningd/test/run-anchorspend.c
Due: check-discouraged-functions

lightningd: don't broadcast a locked splice's stale commitment on force close
  lightningd/channel_control.c
  lightningd/peer_control.c
Due: check-amount-access, check-discouraged-functions

openingd: accept the relay floor as commitment feerate for anchor channels
  openingd/dualopend.c
Due: check-amount-access, check-discouraged-functions

tests: derive the crafted invoice HRP from the running network
  tests/test_invoices.py
Due: none

lightningd: correctly merge duplicate anchor deadlines
  lightningd/anchorspend.c
Due: check-amount-access, check-discouraged-functions

tests: reproduce a mutual close at the fee ceiling falling back to the commitment
  tests/test_closing.py
Due: none

lightningd: honour the close feerange minimum when accepting a closing fee
  lightningd/closing_control.c
  tests/test_closing.py
Due: check-amount-access, check-discouraged-functions

tests: reproduce closingd completing a close on a fee lightningd rejected
  lightningd/closing_control.c
  lightningd/lightningd.c
  lightningd/lightningd.h
  lightningd/options.c
  tests/test_closing.py
Due: check-amount-access, check-discouraged-functions

pyln-testing: don't let wait_for_log match its own forwarded announcement
  contrib/pyln-testing/pyln/testing/utils.py
  tests/test_plugin.py
Due: none

lightningd: keep a late RBF attempt off a promoted dual-funding channel
  lightningd/dual_open_control.c
Due: check-amount-access, check-discouraged-functions

wally: update libwally to v1.5.6
  tests/test_wallet.py
Due: none

tests: reproduce a close with a feerange below the estimate floor falling back to the commitment
  tests/test_closing.py
Due: none

tests: de-flake the query_channel_range CPU throttle test
  tests/test_gossip.py
Due: none

closingd: fail the negotiation when lightningd rejects the peer's closing fee
  closingd/closingd.c
  closingd/closingd_wire.csv
  lightningd/closing_control.c
  tests/test_closing.py
Due: check-amount-access, check-discouraged-functions

pytest: fix broken test_pay_bolt11_metadata
  tests/test_pay.py
Due: none

lightningd: bound the negotiated closing fee, not the transaction's fee
  lightningd/closing_control.c
  tests/test_closing.py
Due: check-amount-access, check-discouraged-functions

common: fix dead negative-balance guard in channel_update_funding
  channeld/test/run-full_channel.c
  common/initial_channel.c
Due: check-amount-access, check-discouraged-functions

pytest: a peer reusing a resolved HTLC id must not crash us
  tests/test_connection.py
Due: none

Path conditions:
  check-amount-access: any of: \.(c|h)$, but not: common/amount|.*/test/.*
  check-discouraged-functions: any of: \.(c|h)$, but not: ccan|contrib
