Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.8.0
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --diff ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"
    # Run the formatter.
    - id: ruff-format
      args: [ --diff ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"

- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
    - id: shellcheck
      args: [ -fgcc ]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      description: Runs formatting checks on the c code and and throws errors if suggestions
        are detected, without modifying the code. Style is defined in `.clang-format`. When
        encountering formatting-related errors, run `clang-format -i <path-to-file>` to make
        (destructively) the suggestions and evalute the resulting diff for more context.
      args: [ --dry-run, -Werror ]
      entry: clang-format
      types: [ c ]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-jsonschema
      name: check doc JSON schemas
      args: ["--schemafile", "doc/rpc-schema-draft.json"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

    - id: check-metaschema
      name: check doc JSON metaschemas
      args: ["--verbose"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: pretty-format-json
      args: [ "--indent", "2", "--no-sort-keys" ]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      description: Checks for common misspellings.
      exclude: ccan|contrib|tests/fuzz/corpora

- repo: https://github.com/compilerla/conventional-pre-commit
  rev: v3.6.0
  hooks:
    - id: conventional-pre-commit
      stages: [commit-msg]
      args:
        - --scopes=askrene,bkpr,channeld,cli,closingd,cln-grpc,cln-rpc,common,connectd,db,gossipd,hsmd,lightningd,onchaind,openingd,pay,pylightning,pyln-client,pyln-spec,pyln-testing,pytest,splice,tools,wallet,wire,xpay
        - --verbose
        - build
        - chore
        - ci
        - docs
        - feat
        - fix
        - style
        - refactor
        - perf
        - test

- repo: local
  hooks:
    # Reimplementation of `make check-amount-access` for pygrep.
    - id: check-amount-access
      name: Check amount_msat and amount_sat members are not accessed directly
      description: "Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow."
      language: pygrep
      entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)
      types: [ c ]
      exclude: common/amount|.*/test/.*

    # Reimplementation of `make check-discouraged-functions` for pygrep.
    - id: check-discouraged-functions
      name: Check for usage of discouraged funtions
      language: pygrep
      entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('
      types: [ c ]
      exclude: ccan|contrib

plugins: lsps: add own trait for lightning provider
  plugins/lsps-plugin/src/core/lsps2/handler.rs
Due: none

plugins: lsps: use transport specific error
  plugins/lsps-plugin/src/core/transport.rs
Due: none

plugins: lsps: refactor service hook
  plugins/lsps-plugin/src/cln_adapters/hooks.rs
  plugins/lsps-plugin/src/cln_adapters/mod.rs
  plugins/lsps-plugin/src/cln_adapters/sender.rs
  plugins/lsps-plugin/src/cln_adapters/service.rs
  plugins/lsps-plugin/src/cln_adapters/state.rs
  plugins/lsps-plugin/src/cln_adapters/utils.rs
  plugins/lsps-plugin/src/service.rs
Due: none

plugins: lsps: remove peer_id from transport
  plugins/lsps-plugin/src/client.rs
  plugins/lsps-plugin/src/lsps0/transport.rs
  plugins/lsps-plugin/src/service.rs
Due: none

plugins: lsps: remove lsps2 module
  plugins/lsps-plugin/src/client.rs
  plugins/lsps-plugin/src/cln_adapters/mod.rs
  plugins/lsps-plugin/src/cln_adapters/types.rs
  plugins/lsps-plugin/src/core/lsps2/htlc.rs
  plugins/lsps-plugin/src/core/mod.rs
  plugins/lsps-plugin/src/core/tlv.rs
  plugins/lsps-plugin/src/lib.rs
  plugins/lsps-plugin/src/lsps2/cln.rs
  plugins/lsps-plugin/src/lsps2/mod.rs
  plugins/lsps-plugin/src/service.rs
Due: none

plugins: lsps: split up handlers
  plugins/lsps-plugin/src/cln_adapters/mod.rs
  plugins/lsps-plugin/src/cln_adapters/rpc.rs
  plugins/lsps-plugin/src/core/lsps2/htlc.rs
  plugins/lsps-plugin/src/core/lsps2/mod.rs
  plugins/lsps-plugin/src/core/lsps2/provider.rs
  plugins/lsps-plugin/src/core/lsps2/service.rs
  plugins/lsps-plugin/src/proto/lsps2.rs
  plugins/lsps-plugin/src/service.rs
Due: none

plugins: lsps: add slim generic json-rpc router
  plugins/lsps-plugin/Cargo.toml
  plugins/lsps-plugin/src/core/mod.rs
  plugins/lsps-plugin/src/core/router.rs
Due: none

gossipd: make sure we correctly move node announcement when *no* channel preceeds it in the gossip store.
  gossipd/gossmap_manage.c
  tests/test_gossip.py
Due: check-amount-access, check-discouraged-functions

pytest: add test to demonstrate gossip_store misordering node announcements.
  tests/test_gossip.py
Due: none

reckless: check for manifest.json in plugin directories
  tests/data/recklessrepo/lightningd/testplugfail/manifest.json
  tests/data/recklessrepo/lightningd/testplugpass/manifest.json
  tests/data/recklessrepo/lightningd/testplugpyproj/manifest.json
  tests/data/recklessrepo/lightningd/testpluguv/manifest.json
  tools/reckless
Due: none

script: Update sync RPC documentation script to check if the page was renderable for Readme
  .github/scripts/sync-rpc-cmds.py
Due: none

xpay: add payer_note field
  plugins/xpay/xpay.c
Due: check-amount-access, check-discouraged-functions

cln-rpc: update schema, update proto for xpay payer_note field
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/schema.json
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  doc/schemas/xpay.json
  plugins/xpay/xpay.c
  tests/autogenerate-rpc-examples.py
Due: check-amount-access, check-discouraged-functions

tests: add payer_note case for xpay
  tests/test_xpay.py
Due: none

reamde: change 'Useful commands' urls from local to web doc
  README.md
Due: none

readme: change links for 'Useful commands' from local to a web doc
  README.md
Due: none

gossipd: don't need hsm fd any more.
  gossipd/gossipd.c
  gossipd/gossipd.h
  lightningd/gossip_control.c
Due: check-amount-access, check-discouraged-functions

gossipd: move timestamp_reasonable into gossmap_manage.c.
  gossipd/gossipd.c
  gossipd/gossipd.h
  gossipd/gossmap_manage.c
Due: check-amount-access, check-discouraged-functions

ccan: Change vsprintfs to vsnprintfs
  ccan/ccan/json_out/json_out.c
Due: check-amount-access

misc: fix uninitialised errors for macOS
  common/test/run-trace.c
  devtools/mkquery.c
  lightningd/dual_open_control.c
  openingd/dualopend.c
Due: check-amount-access, check-discouraged-functions

pay: Enforce maxdelay for direct channel payments
  plugins/libplugin-pay.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

tests: Fix test_peer_anchor_push error due to variable signature length (Fixes #8493)
  tests/utils.py
Due: none

tests: fixed feerate tolerance and signature detection(Fixes #8493)
  tests/utils.py
Due: none

renepay: refactor and bugfixes
  plugins/renepay/Makefile
  plugins/renepay/main.c
  plugins/renepay/mods.c
  plugins/renepay/payment.h
  plugins/renepay/routetracker.c
  plugins/renepay/routetracker.h
  plugins/renepay/sendpay.c
  plugins/renepay/sendpay.h
Due: check-amount-access, check-discouraged-functions

tools: Fixed shellcheck error from promote-stable script
  tools/promote-stable.sh
Due: none

lightningd: add description field to offer related responces
  lightningd/offer.c
Due: check-amount-access, check-discouraged-functions

doc: Added doc schemas with description and update proto
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/schema.json
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
  doc/schemas/disableoffer.json
  doc/schemas/enableoffer.json
  doc/schemas/listoffers.json
  tests/autogenerate-rpc-examples.py
Due: none

test: Add tests to confirm that description is added to RPCs
  tests/test_pay.py
Due: none

test: test_sql: fix missing description field
  tests/test_plugin.py
Due: none
