Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

check-amount-access:
  name: Check amount_msat and amount_sat members are not accessed directly
  description: Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow.
  language: pygrep
  entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)

check-discouraged-functions:
  name: Check for usage of discouraged funtions
  language: pygrep
  entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('

lightningd: internal cleanups since all non-command JSON IDs are strings.
  common/json_parse_simple.c
  common/json_parse_simple.h
  lightningd/jsonrpc.c
  lightningd/jsonrpc.h
  lightningd/plugin.c
  tests/test_invoices.py
  tests/test_plugin.py
  tests/test_wallet.py
Due: check-amount-access, check-discouraged-functions

common: hoist hash_str helper into its own header.
  common/Makefile
  common/hash_str.h
  common/utils.c
  lightningd/plugin.h
  plugins/bkpr/account.c
  plugins/bkpr/onchain_fee.c
Due: check-amount-access, check-discouraged-functions

Add unit tests for str_to_u64
  common/test/run-utils-str_to_u64.c
Due: check-discouraged-functions

common: hoist amount+currency parsing into common code.
  common/iso4217.c
  common/iso4217.h
  plugins/offers_offer.c
Due: check-amount-access, check-discouraged-functions

common: implement str_to_u64, make json_to_u64 use it.
  common/json_parse_simple.c
  common/utils.c
  common/utils.h
Due: check-amount-access, check-discouraged-functions

downgrade: we need to remove "impressions" from askrene datastore when downgrading to v26.06.
  tools/lightning-downgrade.c
Due: check-amount-access, check-discouraged-functions

askrene: add APIs for "impressions" which are *relative* constraints.
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/schema.json
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
  doc/schemas/askrene-create-layer.json
  doc/schemas/askrene-inform-channel.json
  doc/schemas/askrene-listlayers.json
  plugins/askrene/askrene.c
  plugins/askrene/child/route_query.c
  plugins/askrene/datastore_wire.c
  plugins/askrene/datastore_wire.h
  plugins/askrene/layer.c
  plugins/askrene/layer.h
  tests/test_askrene.py
  tools/lightning-downgrade.c
Due: check-amount-access, check-discouraged-functions

downgrade tool: fix invalid memory bug
  tools/lightning-downgrade.c
Due: check-amount-access, check-discouraged-functions

add a test for downgrading askrene datastore
  .github/workflows/ci.yaml
  tests/test_downgrade.py
  wallet/migrations.c
Due: check-amount-access, check-discouraged-functions

xpay: fakenet test: skip temporarily
  tests/test_xpay.py
Due: none

askrene: correctly order constraints.
  plugins/askrene/layer.c
  tests/test_askrene.py
Due: check-amount-access, check-discouraged-functions

xpay: actually tell askrene when a payment succeeded.
  plugins/xpay/xpay.c
  tests/test_xpay.py
Due: check-amount-access, check-discouraged-functions

common: add helper to remove a range of elements
  common/utils.c
  common/utils.h
Due: check-amount-access, check-discouraged-functions

askrene: don't leak channel intel entries
  plugins/askrene/layer.c
Due: check-amount-access, check-discouraged-functions

askrene: safer iterating over changing htable
  plugins/askrene/layer.c
Due: check-amount-access, check-discouraged-functions

pytest: add tests for what we want askrene to do.
  tests/test_askrene.py
Due: none

xpay: trim constraints: small optimization
  plugins/askrene/layer.c
Due: check-amount-access, check-discouraged-functions

askrene: give clearer error codes.
  common/jsonrpc_errors.h
  contrib/msggen/msggen/schema.json
  doc/schemas/getroutes.json
  plugins/askrene/child/explain_failure.c
  plugins/askrene/child/explain_failure.h
  plugins/askrene/child/mcf.c
  tests/test_askrene.py
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

xpay: tests should expect the new error messages
  tests/test_pay.py
  tests/test_xpay.py
Due: none

askrene: explain failure: add known enabled case
  plugins/askrene/child/explain_failure.c
Due: check-amount-access, check-discouraged-functions

offers: limit invoices to 10 minutes for recurring offers in other currencies.
  contrib/msggen/msggen/schema.json
  doc/schemas/listconfigs.json
  plugins/offers.c
  plugins/offers.h
  plugins/offers_invreq_hook.c
  plugins/test/run-decode_guess_type.c
  tests/plugins/currencyUSDAUD5000.py
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

offers: limit expiry to offer limit, or 10 minutes with currency conversion.
  plugins/offers_invreq_hook.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

fetchinvoice: don't bother with checking recurrence timing.
  plugins/fetchinvoice.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

lightningd: don't do previous invoice checking in createinvoicerequest.
  lightningd/offer.c
  plugins/fetchinvoice.c
  plugins/offers_offer.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

fetchinvoice: handle weird labels in recurrence_label parameter.
  plugins/fetchinvoice.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

lightningd: test for very long log entries
  tests/test_misc.py
Due: none

connectd: don't stall peer reads when lightningd attaches no subd
  connectd/connectd.c
  connectd/connectd.h
  connectd/connectd_wire.csv
  connectd/multiplex.c
  connectd/multiplex.h
  lightningd/connect_control.c
  lightningd/peer_control.c
  lightningd/test/run-invoice-select-inchan.c
  tests/test_connection.py
  wallet/test/run-wallet.c
Due: check-amount-access, check-discouraged-functions

lightningd: lock in the mined RBF inflight, not the latest one
  lightningd/dual_open_control.c
Due: check-amount-access, check-discouraged-functions

pytest: deterministic test for lockin of a non-latest mined RBF inflight
  tests/test_opening.py
Due: none

Test CI on a blank PR
  trigger_ci.txt
Due: none

lightningd: don't crash when truncating large log messages
  lightningd/jsonrpc.c
  lightningd/log.c
  tests/test_misc.py
Due: check-amount-access, check-discouraged-functions

askrene: test explain: fix flake
  tests/test_askrene.py
Due: none

askrene: flexible liquidity bounds
  plugins/askrene/child/child.c
  plugins/askrene/child/mcf.c
  plugins/askrene/child/mcf.h
  plugins/askrene/child/route_query.c
  plugins/askrene/layer.c
  plugins/askrene/layer.h
  tests/test_xpay.py
Due: check-amount-access, check-discouraged-functions

xpay: age askrene entries older than 1 week
  plugins/xpay/xpay.c
Due: check-amount-access, check-discouraged-functions

Path conditions:
  check-amount-access: any of: \.(c|h)$, but not: common/amount|.*/test/.*
  check-discouraged-functions: any of: \.(c|h)$, but not: ccan|contrib
