Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

check-amount-access:
  name: Check amount_msat and amount_sat members are not accessed directly
  description: Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow.
  language: pygrep
  entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)

check-discouraged-functions:
  name: Check for usage of discouraged funtions
  language: pygrep
  entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('

fix:progress channel announcement state when remote_sigs already in db Fixes #8552 Changelog-Fixed: Channel announcements now work after restart even if peer doesn't resend announcement_signatures
  lightningd/channel_gossip.c
  tests/test_gossip_announcement.py
Due: check-amount-access, check-discouraged-functions

tests: fixed feerate tolerance and signature detection(Fixes #8493)
  tests/utils.py
Due: none

tests: fix flake8 in test_gossip_announcement.py Remove unused pytest import, strip trailing whitespace from blank lines Changelog-None
  tests/test_gossip_announcement.py
Due: none

pay: add missing deprecation annotation
  plugins/pay.c
  tests/test_clnrest.py
  tests/test_pay.py
  tests/test_splice.py
Due: check-amount-access, check-discouraged-functions

connectd/tests: fix test_announce_and_connect_via_dns on macOS
  connectd/connectd.c
  tests/test_gossip.py
Due: check-amount-access, check-discouraged-functions

wire: import draft spec for serving bolt11 invoices for invoice_requests.
  common/features.c
  common/features.h
  wire/bolt12_wire.csv
  wire/extracted_bolt12_03_fetch_bolt11.patch
  wire/extracted_onion_01_bolt11_fetch.patch
  wire/extracted_onion_03_onionmsg-payload-as-bytearr.patch
  wire/onion_wire.csv
Due: check-amount-access, check-discouraged-functions

lightningd: remove undocumented 128 byte limit on invoice labels.
  lightningd/invoice.c
  tests/test_invoices.py
Due: check-amount-access, check-discouraged-functions

plugins/offers: serve bolt11 invoice if we said we could, and it is requested.
  plugins/offers_invreq_hook.c
Due: check-amount-access, check-discouraged-functions

CI: Check generated docs on Mac
  .github/workflows/macos.yaml
Due: none

multiwithdraw: use unique ids on requests.
  plugins/spender/multifundchannel.c
  plugins/spender/multiwithdraw.c
Due: check-amount-access, check-discouraged-functions

libplugins: JSON ids are always strings.
  plugins/askrene/askrene.c
  plugins/askrene/child/child.c
  plugins/commando.c
  plugins/libplugin-pay.c
  plugins/libplugin.c
  plugins/libplugin.h
  tests/test_askrene.py
  tests/test_misc.py
Due: check-amount-access, check-discouraged-functions

lightningd: internal cleanups since all non-command JSON IDs are strings.
  common/json_parse_simple.c
  common/json_parse_simple.h
  lightningd/jsonrpc.c
  lightningd/jsonrpc.h
  lightningd/plugin.c
  tests/test_invoices.py
  tests/test_plugin.py
  tests/test_wallet.py
Due: check-amount-access, check-discouraged-functions

common: hoist hash_str helper into its own header.
  common/Makefile
  common/hash_str.h
  common/utils.c
  lightningd/plugin.h
  plugins/bkpr/account.c
  plugins/bkpr/onchain_fee.c
Due: check-amount-access, check-discouraged-functions

common: implement str_to_u64, make json_to_u64 use it.
  common/json_parse_simple.c
  common/utils.c
  common/utils.h
Due: check-amount-access, check-discouraged-functions

Add unit tests for str_to_u64
  common/test/run-utils-str_to_u64.c
Due: check-discouraged-functions

common: hoist amount+currency parsing into common code.
  common/iso4217.c
  common/iso4217.h
  plugins/offers_offer.c
Due: check-amount-access, check-discouraged-functions

downgrade: we need to remove "impressions" from askrene datastore when downgrading to v26.06.
  tools/lightning-downgrade.c
Due: check-amount-access, check-discouraged-functions

askrene: add APIs for "impressions" which are *relative* constraints.
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/schema.json
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
  doc/schemas/askrene-create-layer.json
  doc/schemas/askrene-inform-channel.json
  doc/schemas/askrene-listlayers.json
  plugins/askrene/askrene.c
  plugins/askrene/child/route_query.c
  plugins/askrene/datastore_wire.c
  plugins/askrene/datastore_wire.h
  plugins/askrene/layer.c
  plugins/askrene/layer.h
  tests/test_askrene.py
  tools/lightning-downgrade.c
Due: check-amount-access, check-discouraged-functions

xpay: actually tell askrene when a payment succeeded.
  plugins/xpay/xpay.c
  tests/test_xpay.py
Due: check-amount-access, check-discouraged-functions

askrene: correctly order constraints.
  plugins/askrene/layer.c
  tests/test_askrene.py
Due: check-amount-access, check-discouraged-functions

common: add helper to remove a range of elements
  common/utils.c
  common/utils.h
Due: check-amount-access, check-discouraged-functions

xpay: trim constraints: small optimization
  plugins/askrene/layer.c
Due: check-amount-access, check-discouraged-functions

askrene: don't leak channel intel entries
  plugins/askrene/layer.c
Due: check-amount-access, check-discouraged-functions

askrene: give clearer error codes.
  common/jsonrpc_errors.h
  contrib/msggen/msggen/schema.json
  doc/schemas/getroutes.json
  plugins/askrene/child/explain_failure.c
  plugins/askrene/child/explain_failure.h
  plugins/askrene/child/mcf.c
  tests/test_askrene.py
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

pytest: add tests for what we want askrene to do.
  tests/test_askrene.py
Due: none

xpay: tests should expect the new error messages
  tests/test_pay.py
  tests/test_xpay.py
Due: none

offers: limit invoices to 10 minutes for recurring offers in other currencies.
  plugins/offers.c
  plugins/offers.h
  plugins/offers_invreq_hook.c
  plugins/test/run-decode_guess_type.c
  tests/plugins/currencyUSDAUD5000.py
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

askrene: explain failure: add known enabled case
  plugins/askrene/child/explain_failure.c
Due: check-amount-access, check-discouraged-functions

fetchinvoice: don't bother with checking recurrence timing.
  plugins/fetchinvoice.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

offers: limit expiry to offer limit, or 10 minutes with currency conversion.
  plugins/offers_invreq_hook.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

lightningd: don't do previous invoice checking in createinvoicerequest.
  lightningd/offer.c
  plugins/fetchinvoice.c
  plugins/offers_offer.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

fetchinvoice: handle weird labels in recurrence_label parameter.
  plugins/fetchinvoice.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

offers: offer to serve a bolt11 invoice for simple offers.
  plugins/offers_offer.c
Due: check-amount-access, check-discouraged-functions

lightningd: onion_message_recv hooks can include bolt11_invoice field.
  .msggen.json
  cln-rpc/src/hooks.rs
  contrib/msggen/msggen/schema.json
  doc/schemas/hook/onion_message_recv.json
  doc/schemas/hook/onion_message_recv_secret.json
  lightningd/onion_message.c
Due: check-amount-access, check-discouraged-functions

fetchinvoice: add ability to ask for bolt11 invoices.
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/schema.json
  contrib/pyln-client/pyln/client/lightning.py
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  doc/schemas/fetchinvoice.json
  plugins/fetchinvoice.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

cln-rpc: encode amounts as u64, not strings with msat suffix
  cln-rpc/src/primitives.rs
Due: none

reckless: rust rewrite
  Cargo.lock
  Cargo.toml
  Makefile
  contrib/msggen/msggen/schema.json
  doc/lightningd-config.5.md
  doc/reckless.7.md
  doc/schemas/reckless.json
  plugins/.gitignore
  plugins/Makefile
  plugins/reckless-plugin/Cargo.toml
  plugins/reckless-plugin/src/cmds.rs
  plugins/reckless-plugin/src/cmds/enable.rs
  plugins/reckless-plugin/src/cmds/install.rs
  plugins/reckless-plugin/src/cmds/list.rs
  plugins/reckless-plugin/src/cmds/source.rs
  plugins/reckless-plugin/src/cmds/tip.rs
  plugins/reckless-plugin/src/cmds/update.rs
  plugins/reckless-plugin/src/installers.rs
  plugins/reckless-plugin/src/main.rs
  plugins/reckless-plugin/src/structs.rs
  plugins/reckless-plugin/src/util.rs
  plugins/recklessrpc.c
  plugins/src/options.rs
  tests/data/recklessrepo/lightningd/testpluginvaliddeps/requirements.txt
  tests/data/recklessrepo/lightningd/testpluginvaliddeps/testpluginvaliddeps.py
  tests/data/recklessrepo/lightningd/testplugmani/manifest.json
  tests/data/recklessrepo/lightningd/testplugmani/reqs.txt
  tests/data/recklessrepo/lightningd/testplugmani/run.py
  tests/data/recklessrepo/lightningd/testplugmani/testplugpass.py
  tests/data/recklessrepo/lightningd/testplugpyproj/poetry.lock
  tests/data/recklessrepo/lightningd/testplugreqopts/requirements.txt
  tests/data/recklessrepo/lightningd/testplugreqopts/testplugreqopts.py
  tests/test_reckless.py
  tools/reckless
Due: check-amount-access, check-discouraged-functions

tests: `add option_simple_close` integration tests
  tests/test_closing.py
Due: none

common/close_tx: add `create_simple_close_tx()` for `option_simple_close`
  common/close_tx.c
  common/close_tx.h
Due: check-amount-access, check-discouraged-functions

common: add `OPT_SIMPLE_CLOSE` feature bit (60/61)
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-rpc/src/model.rs
  common/features.c
  common/features.h
  contrib/msggen/msggen/schema.json
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
  contrib/pyln-testing/pyln/testing/utils.py
  doc/lightningd-config.5.md
  doc/schemas/listconfigs.json
  lightningd/options.c
  tests/test_closing.py
Due: check-amount-access, check-discouraged-functions

Path conditions:
  check-amount-access: any of: \.(c|h)$, but not: common/amount|.*/test/.*
  check-discouraged-functions: any of: \.(c|h)$, but not: ccan|contrib
