Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
      args: [ "--ignore=E501,E731,E741,W503,F541,E275" ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
    - id: shellcheck
      args: [ -fgcc ]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      description: Runs formatting checks on the c code and and throws errors if suggestions
        are detected, without modifying the code. Style is defined in `.clang-format`. When
        encountering formatting-related errors, run `clang-format -i <path-to-file>` to make
        (destructively) the suggestions and evalute the resulting diff for more context.
      args: [ --dry-run, -Werror ]
      entry: clang-format
      types: [ c ]
      stages: [ manual ]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-jsonschema
      name: check doc JSON schemas
      args: ["--schemafile", "doc/rpc-schema-draft.json"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

    - id: check-metaschema
      name: check doc JSON metaschemas
      args: ["--verbose"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: pretty-format-json
      args: [ "--indent", "2", "--no-sort-keys" ]
      files: ^doc/schemas/.*\.json$
      types: [ json ]
    - id: trailing-whitespace
      args: [ "--markdown-linebreak-ext=md" ]
      exclude: ccan|contrib|tests/fuzz/corpora
    - id: end-of-file-fixer
      exclude: ccan|contrib|tests/fuzz/corpora

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      description: Checks for common misspellings.
      exclude: ccan|contrib|tests/fuzz/corpora
      stages: [ manual ]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.23.0
  hooks:
    - id: commitlint
      stages: [ commit-msg ]

- repo: local
  hooks:
    # Reimplementation of `make check-amount-access` for pygrep.
    - id: check-amount-access
      name: Check amount_msat and amount_sat members are not accessed directly
      description: "Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow."
      language: pygrep
      entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)
      types: [ c ]
      exclude: common/amount|.*/test/.*

    # Reimplementation of `make check-discouraged-functions` for pygrep.
    - id: check-discouraged-functions
      name: Check for usage of discouraged funtions
      language: pygrep
      entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('
      types: [ c ]
      exclude: ccan|contrib

    - id: include-order-fixer
      name: Fix Include Order
      language: python
      description: Analyzes Core Lightning C source and header files, assesses the order of
        their include directives according to the published Coding Style Guidelines
        [here](https://docs.corelightning.org/docs/coding-style-guidelines), automatically
        applying sorting them. Aims to conform with `make check-includes`.
      entry: python devtools/include-order-fixer.py
      stages: [ manual ]
      pass_filenames: false

    - id: check-includes
      name: Check Includes
      language: system
      entry: make check-includes
      pass_filenames: false

tests: fix test_blinded_forward_policy flake
  tests/test_pay.py
Due: none

wallet: fixed timestamps for invented bookkeeper deposits
  wallet/wallet.c
Due: check-amount-access, check-discouraged-functions

db: index `blocks(height)` references
  wallet/migrations.c
Due: check-amount-access, check-discouraged-functions

fixup! tests: reproduce a mutual close at the fee ceiling falling back to the commitment
  tests/test_closing.py
Due: none

fixup! lightningd: bound the negotiated closing fee, not the transaction's fee
  lightningd/closing_control.c
  tests/test_closing.py
Due: check-amount-access, check-discouraged-functions

fixup! tests: reproduce closingd completing a close on a fee lightningd rejected
  tests/test_closing.py
Due: none

tests: fix test_rbf_non_last_mined flake
  tests/test_opening.py
Due: none

sendpay: idempotent success on replay of completed self-payments
  lightningd/pay.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

lightningd: keep peer connected when rejecting a dead channel's reestablish
  lightningd/peer_control.c
  tests/test_misc.py
Due: check-amount-access, check-discouraged-functions

tests: wait for peer disconnect in test_blindedpath_noaddr
  tests/test_pay.py
Due: none

tests: fix test_htlc_sig_persistence flake
  tests/test_misc.py
Due: none

tests: fix flake in test_dataloss_protection
  tests/test_connection.py
Due: none

sphinx: don't treat dummy-hop HMAC matches as the error origin
  common/sphinx.c
  common/sphinx.h
Due: check-amount-access, check-discouraged-functions

common: don't stash path_id in payment_secret unless we're final hop.
  common/onion_decode.c
Due: check-amount-access, check-discouraged-functions

connectd: add opt-in benchmark for query timing against a real gossmap
  connectd/test/run-query-timing.c
Due: check-discouraged-functions

lightningd: don't forget a channel once we've sent tx_signatures
  lightningd/channel.c
  lightningd/dual_open_control.c
  openingd/dualopend.c
Due: check-amount-access, check-discouraged-functions

dualopend: abort politely instead of erroring when we haven't signed
  lightningd/dual_open_control.c
  openingd/dualopend.c
Due: check-amount-access, check-discouraged-functions

connectd: split gather_range into gather_range_scids + inline lookups
  connectd/queries.c
Due: check-amount-access, check-discouraged-functions

connectd: trickle query_channel_range replies like other queries
  connectd/queries.c
Due: check-amount-access, check-discouraged-functions

global: tighten number parsing (almost all places should only accept base 10).
  common/json_parse_simple.c
  devtools/bolt12-cli.c
  lightningd/runes.c
Due: check-amount-access, check-discouraged-functions

lightningd: Be graceful about invalid txes
  lightningd/closing_control.c
Due: check-amount-access, check-discouraged-functions

wallet: let wallet_inflight_save update i_sent_sigs
  wallet/wallet.c
Due: check-amount-access, check-discouraged-functions

lightningd: remember that we've sent tx_signatures for an open
  lightningd/channel.c
  lightningd/channel.h
  lightningd/dual_open_control.c
Due: check-amount-access, check-discouraged-functions

connectd: hoist get_timestamp/get_checksum above send_reply_channel_range
  connectd/queries.c
Due: check-amount-access, check-discouraged-functions

lightningd: tidy dualopen_errmsg's forget-channel paths
  lightningd/dual_open_control.c
Due: check-amount-access, check-discouraged-functions

dualopend: keep track of whether we sent our tx_signatures
  lightningd/dual_open_control.c
  openingd/dualopend.c
  openingd/dualopend_wire.csv
Due: check-amount-access, check-discouraged-functions

connectd: unify incoming/outgoing byte-throttle windows into peer->gs
  connectd/connectd.c
  connectd/connectd.h
  connectd/multiplex.c
Due: check-amount-access, check-discouraged-functions

lightningd: allow openchannel_abort up until we send tx_signatures
  lightningd/dual_open_control.c
  tests/test_opening.py
Due: check-amount-access, check-discouraged-functions

connectd: add peer state for a pending query_channel_range reply
  connectd/connectd.c
  connectd/connectd.h
Due: check-amount-access, check-discouraged-functions

common: test json_to_s64 reads decimal only.
  common/test/run-json.c
Due: check-discouraged-functions

connectd: budget CPU spent trickling out query responses too
  connectd/connectd.h
  connectd/multiplex.c
  tests/test_askrene.py
  tests/test_gossip.py
  tests/test_xpay.py
Due: check-amount-access, check-discouraged-functions

tests: add CPU-throttle regression test for query_channel_range
  tests/test_gossip.py
Due: none

connectd: proportional throttle retry delay, not a flat 1 second
  connectd/connectd.c
  connectd/multiplex.c
Due: check-amount-access, check-discouraged-functions

connectd: throttle a peer's reads once its local-message CPU adds up
  connectd/connectd.c
  connectd/connectd.h
  connectd/multiplex.c
Due: check-amount-access, check-discouraged-functions

pytest: abort if a large UTXO is used to boost an HTLC timeout
  tests/test_closing.py
Due: none

wallet: saturate oversized boost feerates instead of aborting
  lightningd/anchorspend.c
  wallet/wallet.c
Due: check-amount-access, check-discouraged-functions

wallet: fix boost utxo insufficient flag value
  tests/test_closing.py
  wallet/wallet.c
Due: check-amount-access, check-discouraged-functions
