Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

check-amount-access:
  name: Check amount_msat and amount_sat members are not accessed directly
  description: Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow.
  language: pygrep
  entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)

check-discouraged-functions:
  name: Check for usage of discouraged funtions
  language: pygrep
  entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('

connectd: trickle query_channel_range replies like other queries
  connectd/queries.c
Due: check-amount-access, check-discouraged-functions

bolt11: fail decode when both 'd' and 'h' fields are present
  common/bolt11.c
  common/test/run-bolt11.c
Due: check-amount-access, check-discouraged-functions

sphinx: don't treat dummy-hop HMAC matches as the error origin
  common/sphinx.c
  common/sphinx.h
Due: check-amount-access, check-discouraged-functions

dualopend: abort politely instead of erroring when we haven't signed
  lightningd/dual_open_control.c
  openingd/dualopend.c
Due: check-amount-access, check-discouraged-functions

connectd: split gather_range into gather_range_scids + inline lookups
  connectd/queries.c
Due: check-amount-access, check-discouraged-functions

connectd: add opt-in benchmark for query timing against a real gossmap
  connectd/test/run-query-timing.c
Due: check-discouraged-functions

lightningd: watch a dual-funded channel's funding outputs before lock-in
  lightningd/dual_open_control.c
  lightningd/peer_control.c
  lightningd/test/run-invoice-select-inchan.c
  tests/test_opening.py
  wallet/test/run-wallet.c
Due: check-amount-access, check-discouraged-functions

wallet: fix splice-RBF HTLC signature promotion
  tests/test_splicing.py
  wallet/test/run-wallet.c
  wallet/wallet.c
Due: check-amount-access, check-discouraged-functions

lightningd: split scid application out of depthcb_update_scid
  lightningd/channel_control.c
  lightningd/channel_control.h
Due: check-amount-access, check-discouraged-functions

pytest: accept HTTP 403 from currencyrate sources in test_apis
  tests/test_currencyrate.py
Due: none

pytest: make test_grpc_wrong_auth cross the wires on one port, with deadlines
  tests/test_cln_rs.py
Due: none

ci: remove unused .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

tests: wait for either OUR_HTLC_SUCCESS_TX in test_onchain_middleman_fulfill_after_fail
  tests/test_closing.py
Due: none

hsmd: keep a passed client fd until lightningd has received it
  hsmd/hsmd.c
Due: check-amount-access, check-discouraged-functions

tests: deterministically cover dataloss error resend on reconnect
  tests/test_connection.py
Due: none

lightningd: delay dataloss error after channel_reestablish reply
  lightningd/peer_control.c
  tests/test_connection.py
Due: check-amount-access, check-discouraged-functions

lightningd: treat disconnected peer as offline in routehints
  lightningd/routehint.c
  lightningd/test/run-invoice-select-inchan.c
Due: check-amount-access, check-discouraged-functions

renepay: wait for in-flight HTLCs before failing route computation
  plugins/renepay/mods.c
Due: check-amount-access, check-discouraged-functions

lightningd: clean up trace spans on cancellation
  common/trace.c
  common/trace.h
  lightningd/bitcoind.c
  lightningd/chaintopology.c
  tests/test_misc.py
Due: check-amount-access, check-discouraged-functions

connectd: keep the subd fd until connectd has received it
  connectd/connectd.c
  connectd/connectd_wire.csv
  lightningd/channel_control.c
  lightningd/connect_control.c
  lightningd/connect_control.h
  lightningd/dual_open_control.c
  lightningd/opening_control.c
  lightningd/peer_control.c
  lightningd/test/run-invoice-select-inchan.c
  wallet/test/run-wallet.c
Due: check-amount-access, check-discouraged-functions

tests: open channels in parallel to catch lost fds on macOS
  .github/workflows/macos.yaml
  tests/test_connection.py
Due: none

channeld: report fundee splice balance to hsmd in msat, not sat
  channeld/channeld.c
  channeld/test/Makefile
  channeld/test/run-splice_fundee_msat.c
Due: check-amount-access, check-discouraged-functions

channeld: splice push_value is the fundee's full post-splice balance
  channeld/channeld.c
  channeld/test/run-splice_fundee_msat.c
  tests/test_splicing.py
Due: check-amount-access, check-discouraged-functions

bitcoin: free the decoded block when parsing it fails
  bitcoin/block.c
Due: check-amount-access, check-discouraged-functions

bitcoin: reject a block whose tx count or loops outrun its bytes
  bitcoin/block.c
  bitcoin/test/run-bitcoin_block_from_hex.c
Due: check-amount-access, check-discouraged-functions

bitcoin: hash a block's bytes only once pull has checked them
  bitcoin/block.c
  bitcoin/test/run-bitcoin_block_from_hex.c
Due: check-amount-access, check-discouraged-functions

bitcoin: a pull that has overrun must stay overrun
  bitcoin/block.c
Due: check-amount-access, check-discouraged-functions

lightningd: don't disconnect when sending error for unknown channel_reestablish
  lightningd/peer_control.c
  lightningd/peer_control.h
  tests/test_misc.py
Due: check-amount-access, check-discouraged-functions

tests: check we answer an unknown channel_reestablish without hanging up
  tests/test_connection.py
  tests/test_opening.py
Due: none

pytest: show xpay retries every channel on unknown_next_peer
  tests/plugins/fail_unknown_next_peer.py
  tests/test_xpay.py
Due: none

xpay: exclude a node that repeats unknown_next_peer
  plugins/xpay/xpay.c
  tests/test_xpay.py
Due: check-amount-access, check-discouraged-functions

connectd: log swallowed channel error before telling lightningd
  connectd/multiplex.c
Due: check-amount-access, check-discouraged-functions

sql: rewrite scid string literals to use scid() for index support
  plugins/sql.c
Due: check-amount-access, check-discouraged-functions

sql: store short_channel_id as integer for efficient indexing
  contrib/msggen/msggen/schema.json
  doc/schemas/listsqlschemas.json
  doc/schemas/sql-template.json
  plugins/sql.c
  tests/test_plugin.py
Due: check-amount-access, check-discouraged-functions

changelog: add Changed entry for #9430
  CHANGELOG.md
Due: none

Path conditions:
  check-amount-access: any of: \.(c|h)$, but not: common/amount|.*/test/.*
  check-discouraged-functions: any of: \.(c|h)$, but not: ccan|contrib
