Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

check-amount-access:
  name: Check amount_msat and amount_sat members are not accessed directly
  description: Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow.
  language: pygrep
  entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)

check-discouraged-functions:
  name: Check for usage of discouraged funtions
  language: pygrep
  entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('

common: unescape the string form of param_string_or_array
  common/json_param.c
  common/test/run-param.c
Due: check-amount-access, check-discouraged-functions

CCAN: update after 32-bit and MacOS cleanups.
  ccan/README
  ccan/ccan/breakpoint/_info
  ccan/ccan/breakpoint/test/run-blocked.c
  ccan/ccan/breakpoint/test/run-fork.c
  ccan/ccan/breakpoint/test/run-threads.c
  ccan/ccan/cppmagic/test/run-map-empty-arg.c
  ccan/ccan/fdpass/fdpass.c
  ccan/ccan/fdpass/test/run-multifd-leak.c
  ccan/ccan/htable/test/run-init-sized-alloc-fail.c
  ccan/ccan/htable/test/run-init-sized-huge.c
  ccan/ccan/io/io.c
  ccan/ccan/io/io.h
  ccan/ccan/io/poll.c
  ccan/ccan/io/test/run-15-timeout.c
  ccan/ccan/io/test/run-22-POLLHUP-on-listening-socket.c
  ccan/ccan/io/test/run-47-exclusive-duplex.c
  ccan/ccan/io/test/run-48-exclusive-duplex-write.c
  ccan/ccan/io/test/run-50-listener-blocking-accept.c
  ccan/ccan/likely/test/run-stats-empty-debug.c
  ccan/ccan/mem/mem.c
  ccan/ccan/mem/mem.h
  ccan/ccan/order/test/api.c
  ccan/ccan/pipecmd/test/run-eintr.c
  ccan/ccan/pipecmd/test/run-execfail-fdleak.c
  ccan/ccan/pipecmd/test/run-execfail-flush.c
  ccan/ccan/ptr_valid/test/run-batch-cache.c
  ccan/ccan/ptr_valid/test/run-child-flush.c
  ccan/ccan/ptr_valid/test/run-errno.c
  ccan/ccan/ptr_valid/test/run-realloc-leak.c
  ccan/ccan/tal/path/path.c
  ccan/ccan/tal/path/test/run-pushd.c
  ccan/ccan/tal/path/test/run-simplify.c
  ccan/ccan/time/test/run-divide-roundup.c
  ccan/ccan/time/test/run-multiply-overflow.c
Due: check-amount-access

ccan: update to fix strmap warning, includes new COMPILER_WANTS_INIT.
  ccan/README
  ccan/ccan/compiler/compiler.h
  ccan/ccan/strmap/_info
  ccan/ccan/strmap/strmap.c
  common/billboard.c
  common/utils.h
  lightningd/peer_control.c
  lightningd/peer_htlcs.c
  plugins/renepay/mods.c
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

plugins/spender: fix false positive init warning from gcc-12 -O3.
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

ccan: update for newer compiler fixes.
  ccan/README
  ccan/ccan/build_assert/build_assert.h
  ccan/ccan/cdump/cdump.c
Due: check-amount-access

contrib: add jaonoctus's public key
  contrib/keys/jaonoctus.txt
Due: none

tests: splice initiator resume — mid-round disconnect must not kill the channel
  tests/test_splicing_disconnect.py
Due: none

fixup! pytest: show xpay retries every channel on unknown_next_peer
  tests/test_xpay.py
Due: none

fixup! xpay: exclude a node that repeats unknown_next_peer
  plugins/xpay/xpay.c
Due: check-amount-access, check-discouraged-functions

channeld: include fundee-owned pending HTLCs in the splice push_value
  channeld/channeld.c
  channeld/test/Makefile
  channeld/test/run-splice_fundee_msat.c
Due: check-amount-access, check-discouraged-functions

channeld: guard against illegal tx_abort when splice negotiation state is lost
  channeld/channeld.c
  tests/test_splicing_disconnect.py
Due: check-amount-access, check-discouraged-functions

bitcoin: free the de-hexed block when parsing fails
  bitcoin/block.c
Due: check-amount-access, check-discouraged-functions

bitcoin: don't dereference a NULL transaction from a truncated block
  bitcoin/block.c
  bitcoin/test/run-bitcoin_block_from_hex.c
Due: check-amount-access, check-discouraged-functions

bitcoin: reject a block whose tx count or loops outrun its bytes
  bitcoin/block.c
  bitcoin/test/run-bitcoin_block_from_hex.c
Due: check-amount-access, check-discouraged-functions

bitcoin: a pull that has overrun must stay overrun
  bitcoin/block.c
Due: check-amount-access, check-discouraged-functions

bitcoin: hash a block's bytes only once pull has checked them
  bitcoin/block.c
  bitcoin/test/run-bitcoin_block_from_hex.c
Due: check-amount-access, check-discouraged-functions

reprobuild: build arm64 tarballs
  contrib/reprobuild/Dockerfile.jammy
  contrib/reprobuild/Dockerfile.noble
  contrib/reprobuild/Dockerfile.resolute
  tools/repro-build.arm64.sh
Due: none

build-release: send ARM output to its own release directory
  .gitignore
  contrib/cl-repro.sh
  tools/build-release.sh
Due: none

reprobuild: cross-compile armv7 tarballs
  contrib/reprobuild/Dockerfile.jammy
  contrib/reprobuild/Dockerfile.noble
  contrib/reprobuild/Dockerfile.resolute
  tools/build-release.sh
  tools/repro-build.armv7.sh
Due: none

CI: build and sign arm64 and armv7 release binaries
  .github/workflows/release-build.yml
  .github/workflows/release-publish.yml
  doc/getting-started/advanced-setup/repro.md
Due: none

cln-rpc: build the getinfo example where the Makefile expects it
  cln-rpc/Makefile
Due: none

CI: never replace files already on the release
  .github/workflows/release-publish.yml
  doc/contribute-to-core-lightning/release-checklist.md
  tools/publish-release-assets.sh
Due: none

tools: add sign-release-arm.sh
  tools/sign-release-arm.sh
Due: none

runes: don't read past the end of the blacklist bitmap
  lightningd/runes.c
Due: check-amount-access, check-discouraged-functions

lightningd: don't compare the funding outpoint of a channel still negotiating
  lightningd/channel.c
Due: check-amount-access, check-discouraged-functions

onchaind: don't die on outputs we can't resolve in their unilateral close
  onchaind/onchaind.c
Due: check-amount-access, check-discouraged-functions

askrene: reject maxparts=0 instead of dividing by zero
  plugins/askrene/askrene.c
Due: check-amount-access, check-discouraged-functions

common: don't allocate caller-sized hex buffers on the stack
  common/json_stream.c
Due: check-amount-access, check-discouraged-functions

currencyrate: reject non-finite prices from sources
  plugins/currencyrate-plugin/src/oracle.rs
Due: none

clnrest/wss-proxy: write TLS private keys with 0600 permissions
  plugins/rest-plugin/src/certs.rs
  plugins/wss-proxy-plugin/src/certs.rs
Due: none

wss-proxy: time out handshakes so the accept loop can't be stalled
  plugins/wss-proxy-plugin/Cargo.toml
  plugins/wss-proxy-plugin/src/main.rs
Due: none

plugin-bip353: bound fetchbip353 with HTTP and overall timeouts
  plugins/bip353-plugin/src/main.rs
Due: none

wss-proxy: cap message size and concurrent connections
  plugins/wss-proxy-plugin/src/main.rs
Due: none

internal API: proper use of peer_billboard
  channeld/channeld.c
  common/peer_failed.c
  onchaind/onchaind.c
  openingd/dualopend.c
  openingd/openingd.c
Due: check-amount-access, check-discouraged-functions

lightningd: fail HTLCs whose onion we couldn't parse as malformed
  lightningd/peer_htlcs.c
Due: check-amount-access, check-discouraged-functions

channeld: fail the channel if asked to resend a commitment they revoked past
  channeld/channeld.c
Due: check-amount-access, check-discouraged-functions

Path conditions:
  check-amount-access: any of: \.(c|h)$, but not: common/amount|.*/test/.*
  check-discouraged-functions: any of: \.(c|h)$, but not: ccan|contrib
