Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
      args: [ "--ignore=E501,E731,E741,W503,F541,E275" ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
    - id: shellcheck
      args: [ -fgcc ]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      description: Runs formatting checks on the c code and and throws errors if suggestions
        are detected, without modifying the code. Style is defined in `.clang-format`. When
        encountering formatting-related errors, run `clang-format -i <path-to-file>` to make
        (destructively) the suggestions and evalute the resulting diff for more context.
      args: [ --dry-run, -Werror ]
      entry: clang-format
      types: [ c ]
      stages: [ manual ]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-jsonschema
      name: check doc JSON schemas
      args: ["--schemafile", "doc/rpc-schema-draft.json"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

    - id: check-metaschema
      name: check doc JSON metaschemas
      args: ["--verbose"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: pretty-format-json
      args: [ "--indent", "2", "--no-sort-keys" ]
      files: ^doc/schemas/.*\.json$
      types: [ json ]
    - id: trailing-whitespace
      args: [ "--markdown-linebreak-ext=md" ]
      exclude: ccan|contrib|tests/fuzz/corpora
    - id: end-of-file-fixer
      exclude: ccan|contrib|tests/fuzz/corpora

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      description: Checks for common misspellings.
      exclude: ccan|contrib|tests/fuzz/corpora
      stages: [ manual ]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.23.0
  hooks:
    - id: commitlint
      stages: [ commit-msg ]

- repo: local
  hooks:
    # Reimplementation of `make check-amount-access` for pygrep.
    - id: check-amount-access
      name: Check amount_msat and amount_sat members are not accessed directly
      description: "Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow."
      language: pygrep
      entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)
      types: [ c ]
      exclude: common/amount|.*/test/.*

    # Reimplementation of `make check-discouraged-functions` for pygrep.
    - id: check-discouraged-functions
      name: Check for usage of discouraged funtions
      language: pygrep
      entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('
      types: [ c ]
      exclude: ccan|contrib

    - id: include-order-fixer
      name: Fix Include Order
      language: python
      description: Analyzes Core Lightning C source and header files, assesses the order of
        their include directives according to the published Coding Style Guidelines
        [here](https://docs.corelightning.org/docs/coding-style-guidelines), automatically
        applying sorting them. Aims to conform with `make check-includes`.
      entry: python devtools/include-order-fixer.py
      stages: [ manual ]
      pass_filenames: false

    - id: check-includes
      name: Check Includes
      language: system
      entry: make check-includes
      pass_filenames: false

xpay: add sub-trace to measure injectpaymentonion
  plugins/xpay/xpay.c
Due: check-amount-access, check-discouraged-functions

xpay: add traces for payments
  plugins/xpay/xpay.c
Due: check-amount-access, check-discouraged-functions

xpay: add traces to fetchinvoice
  plugins/xpay/xpay.c
Due: check-amount-access, check-discouraged-functions

pytest: use l1/l2 naming and get_nodes() where appropriate.
  tests/test_connection.py
  tests/test_misc.py
  tests/test_plugin.py
Due: none

pytest: convert many tests to use inline_plugin helper.
  tests/plugins/block_added.py
  tests/plugins/custom_notifications.py
  tests/plugins/fail_htlcs_invalid.py
  tests/plugins/multiline-help.py
  tests/plugins/onionmessage_forward_fail_notification.py
  tests/plugins/openchannel_hook_delay.py
  tests/plugins/pretend_badlog.py
  tests/plugins/print_htlc_onion.py
  tests/plugins/reject_odd_funding_amounts.py
  tests/plugins/reject_some_invoices.py
  tests/plugins/sendpay_notifications.py
  tests/plugins/shortcircuit.py
  tests/plugins/utf8.py
  tests/plugins/validatejson.py
  tests/test_connection.py
  tests/test_misc.py
  tests/test_pay.py
  tests/test_plugin.py
  tests/test_xpay.py
Due: none

pytest: add shim so we can create plugins inline in tests.
  contrib/pyln-testing/pyln/testing/inline-plugin.py
  contrib/pyln-testing/pyln/testing/utils.py
Due: none

py: add pyln-grpc-proto to PyPI publishing CI (fixes #7929)
  .github/workflows/pypi.yml
  Makefile
  contrib/pyln-grpc-proto/pyln/grpc/__init__.py
Due: none

lightningd: test for very long log entries
  tests/test_misc.py
Due: none

lightningd: fix crash after truncating long log messages
  lightningd/log.c
  tests/test_misc.py
Due: check-amount-access, check-discouraged-functions

CI: Update Mac CI to use gmake
  .github/workflows/macos.yaml
Due: none

pytests: make sure test plugin `misc_notifications.py` exits fast
  tests/plugins/misc_notifications.py
Due: none

DEV.md: cheat sheet for developers and LLMs.
  DEV.md
Due: none

cargo: update dependencies
  Cargo.lock
  plugins/rest-plugin/Cargo.toml
Due: none

pytests: fix flakes in grpc tests by waiting for the channel to be ready first
  contrib/pyln-testing/pyln/testing/utils.py
  tests/test_cln_rs.py
Due: none

pyln-testing: replace ephemeral-port-reserve with a filesystem lock approach
  contrib/pyln-testing/pyln/testing/fixtures.py
  contrib/pyln-testing/pyln/testing/utils.py
Due: none

cln-subscribe-wildcard: properly handle shutdown notification with an exit
  Cargo.lock
  plugins/Cargo.toml
  plugins/examples/cln-subscribe-wildcard.rs
Due: none

Update outdated BOLT quotes bolt12.c: - quote update on `bolt12_chains_match`; - add a new condition to `offer_decode` to check if the amount is greater than 0;
  common/test/run-bolt12-encode-test.c
  common/test/run-bolt12-format-string-test.c
Due: check-discouraged-functions

channeld.c: update logic for retransmitting channel_ready Extracted logic from if clause to variable for readability, and add extra checks to make sure a splice is active
  channeld/channeld.c
Due: check-amount-access, check-discouraged-functions

Update outdated BOLT quotes in several files. update BOLT quotes that drifted from the current spec without changing the meaning or expected functionality.
  common/features.h
  lightningd/channel_gossip.c
Due: check-amount-access, check-discouraged-functions

Update tests after changing deadline from `blockheight + 12` to `blockheight + 72` blocks.
  tests/test_wallet.py
Due: none

gossmap_manage.c: update BOLT quote and logic to wait for 72 blocks instead of 12 blocks before forgetting a channel.
  tests/test_gossip.py
Due: none

Update BOLT quote for `channel_ready` re-transmission guards.
  channeld/channeld.c
  tests/test_splicing.py
Due: check-amount-access, check-discouraged-functions

test: fix block generation in `test_close_72_block_delay` to reflect correct depth
  tests/test_gossip.py
Due: none

Update BOLT quotes for channel open flow. The TLV `channel_type` is now mandatory. The code was correct but the quote was not.
  openingd/openingd.c
Due: check-amount-access, check-discouraged-functions

Fix tests for bolt12-decode. new cases added by autogenerated mocks after updating the default BOLT spec version.
  common/bech32_util.c
  common/bolt12.c
Due: check-amount-access, check-discouraged-functions

Update BOLT quotes channeld/channeld.c: Some BOLT quotes had changed slightly.
  channeld/channeld.c
Due: check-amount-access, check-discouraged-functions

xpay: clean preapprove*_succeed functions
  plugins/xpay/xpay.c
Due: check-amount-access, check-discouraged-functions
