Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
      args: [ "--ignore=E501,E731,E741,W503,F541,E275" ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
    - id: shellcheck
      args: [ -fgcc ]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      description: Runs formatting checks on the c code and and throws errors if suggestions
        are detected, without modifying the code. Style is defined in `.clang-format`. When
        encountering formatting-related errors, run `clang-format -i <path-to-file>` to make
        (destructively) the suggestions and evalute the resulting diff for more context.
      args: [ --dry-run, -Werror ]
      entry: clang-format
      types: [ c ]
      stages: [ manual ]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-jsonschema
      name: check doc JSON schemas
      args: ["--schemafile", "doc/rpc-schema-draft.json"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

    - id: check-metaschema
      name: check doc JSON metaschemas
      args: ["--verbose"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: pretty-format-json
      args: [ "--indent", "2", "--no-sort-keys" ]
      files: ^doc/schemas/.*\.json$
      types: [ json ]
    - id: trailing-whitespace
      args: [ "--markdown-linebreak-ext=md" ]
      exclude: ccan|contrib|tests/fuzz/corpora
    - id: end-of-file-fixer
      exclude: ccan|contrib|tests/fuzz/corpora

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      description: Checks for common misspellings.
      exclude: ccan|contrib|tests/fuzz/corpora
      stages: [ manual ]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.23.0
  hooks:
    - id: commitlint
      stages: [ commit-msg ]

- repo: local
  hooks:
    # Reimplementation of `make check-amount-access` for pygrep.
    - id: check-amount-access
      name: Check amount_msat and amount_sat members are not accessed directly
      description: "Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow."
      language: pygrep
      entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)
      types: [ c ]
      exclude: common/amount|.*/test/.*

    # Reimplementation of `make check-discouraged-functions` for pygrep.
    - id: check-discouraged-functions
      name: Check for usage of discouraged funtions
      language: pygrep
      entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('
      types: [ c ]
      exclude: ccan|contrib

    - id: include-order-fixer
      name: Fix Include Order
      language: python
      description: Analyzes Core Lightning C source and header files, assesses the order of
        their include directives according to the published Coding Style Guidelines
        [here](https://docs.corelightning.org/docs/coding-style-guidelines), automatically
        applying sorting them. Aims to conform with `make check-includes`.
      entry: python devtools/include-order-fixer.py
      stages: [ manual ]
      pass_filenames: false

    - id: check-includes
      name: Check Includes
      language: system
      entry: make check-includes
      pass_filenames: false

pytest: test for amountless offer with currency.
  tests/test_pay.py
Due: none

common: enforce currency-requires-amount check.
  common/bolt12.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

decode: don't treat every failure as a rune.
  common/utils.c
  common/utils.h
  plugins/libplugin.h
  plugins/offers.c
  plugins/test/run-decode_guess_type.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

pytest: fix flake in test_channel_lease_unilat_closes
  tests/test_closing.py
Due: none

common: remove unused type field.
  common/onion_encode.h
Due: check-amount-access, check-discouraged-functions

common: remove legacy onion translation.
  common/sphinx.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

connectd: unify IO logging calls.
  connectd/multiplex.c
Due: check-amount-access, check-discouraged-functions

pytest: fix flake in test_even_sendcustommsg
  connectd/connectd.c
  connectd/connectd_wire.csv
  connectd/multiplex.c
  connectd/multiplex.h
  lightningd/connect_control.c
  tests/test_misc.py
Due: check-amount-access, check-discouraged-functions

pytest: allow pushed after onchain_fee in test_bookkeeping_missed_chans_pushed
  tests/test_bookkeeper.py
Due: none

pytest: mark renepay's self-pay test flaky
  tests/test_renepay.py
Due: none

lightningd: fix spurious memleak in peer_connected_serialize.
  lightningd/peer_control.c
Due: check-amount-access, check-discouraged-functions

pytest: make test_connect_ratelimit more robust
  tests/test_connection.py
Due: none

pytest: fix flake in test_sql.
  tests/test_plugin.py
Due: none

pytest: fix channeld_fakenet divide by zero bug.
  tests/plugins/channeld_fakenet.c
Due: check-amount-access, check-discouraged-functions

pytest: speed up channeld_fakenet tests.
  tests/plugins/channeld_fakenet.c
Due: check-amount-access, check-discouraged-functions

Makefile: add "canned-gossmap" target
  Makefile
Due: none

pytest: update "real gossip map" tests to a recent snapshot.
  tests/data/gossip-store-2024-09-22-node-map.xz
  tests/data/gossip-store-2024-09-22.compressed
  tests/data/gossip-store-2026-02-03-node-map.xz
  tests/data/gossip-store-2026-02-03.compressed
  tests/test_askrene.py
  tests/test_xpay.py
Due: none

tests: test unilateral closing with unknown fees + cpfp with `withdraw`
  tests/test_closing.py
Due: none

tests: fix comment
  tests/test_closing.py
Due: none

channeld: Add new feerate type ‘splice’
  channeld/channeld.c
  channeld/channeld_wire.csv
  lightningd/channel_control.c
  tests/plugins/channeld_fakenet.c
Due: check-amount-access, check-discouraged-functions

amount: Can add sat convenience method
  common/amount.c
  common/amount.h
Due: check-discouraged-functions

splice-script: Memleak fix on failure
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

splice-script: wetlog / debuglog fix
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

splice script: Helper functions for dynamic calcs
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

channeld: Inform channeld about opening feerate
  channeld/channeld.c
  channeld/channeld_wire.csv
  lightningd/channel_control.c
  tests/plugins/channeld_fakenet.c
Due: check-amount-access, check-discouraged-functions

gossip: Don’t reset channel on stale annoncement
  gossipd/gossmap_manage.c
Due: check-amount-access, check-discouraged-functions

splice script: Switch to splice feerate
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

splice: Add and improve logging
  channeld/channeld.c
  channeld/full_channel.c
  common/splice_script.c
Due: check-amount-access, check-discouraged-functions

splice script: Allow `out_ppm` for wallet
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

ld: Expose splice feerate to RPC
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/schema.json
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
  doc/schemas/feerates.json
  lightningd/chaintopology.c
  tests/test_misc.py
Due: check-amount-access, check-discouraged-functions

splice-script: channel id corner case
  common/splice_script.c
Due: check-amount-access, check-discouraged-functions

splice: multi channel stfu bugfix
  lightningd/channel_control.c
Due: check-amount-access, check-discouraged-functions

splice script: Update tests to use dynamic fees
  tests/test_splice.py
  tests/test_splicing.py
  tests/test_splicing_disconnect.py
  tests/test_splicing_insane.py
Due: none

splice: Fail earlier on too-few-funds
  channeld/channeld.c
Due: check-amount-access, check-discouraged-functions

amount: Add decimal format for msats
  common/amount.c
  common/amount.h
  common/test/run-amount.c
Due: check-discouraged-functions
