Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

check-amount-access:
  name: Check amount_msat and amount_sat members are not accessed directly
  description: Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow.
  language: pygrep
  entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)

check-discouraged-functions:
  name: Check for usage of discouraged funtions
  language: pygrep
  entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('

lsps-plugin: print whole error chain for HtlcError
  plugins/lsps-plugin/src/core/lsps2/htlc.rs
Due: none

cln-plugin: include the full error chain when given a context
  plugins/examples/cln-plugin-startup.rs
  plugins/src/lib.rs
  tests/test_cln_rs.py
Due: none

ccan: update ccan to fe99a8e0
  ccan/README
  ccan/ccan/asort/asort.c
  ccan/ccan/asort/test/run.c
  ccan/ccan/base64/base64.c
Due: check-amount-access

Makefile: fix depedency of autogenerated files
  Makefile
Due: none

Makefile: restrict git diff check
  Makefile
Due: none

tests: lower testpluguv's required python version
  tests/data/recklessrepo/lightningd/testpluguv/pyproject.toml
  tests/data/recklessrepo/lightningd/testpluguv/uv.lock
Due: none

lightningd: accept OP_RETURN closer_scriptpubkey in simple-close check
  lightningd/simple_close_control.c
  lightningd/test/run-close_tx_check.c
Due: check-amount-access, check-discouraged-functions

tests: fix test_low_fd_limit failing on RLIM_INFINITY platforms
  tests/test_misc.py
Due: none

CODEOWNERS: add self as owner of xpay/askrene/renepay
  .github/CODEOWNERS
Due: none

tests: fix flaky test_simple_close_delay_broadcast mempool race
  tests/test_closing.py
Due: none

CODEOWNERS: add daywalker90 as owner of bip353, currencyrate, and clnrest plugins
  .github/CODEOWNERS
Due: none

Fix listconfigs and lightningd-config documentation
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/schema.json
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
  doc/Makefile
  doc/lightningd-config.5.md
  doc/schemas/listconfigs.json
Due: none

lightningd: cancel watching original funding when we switch to the new one via splice.
  lightningd/test/run-invoice-select-inchan.c
  wallet/test/run-wallet.c
Due: check-discouraged-functions

global: replace randombytes_buf() with randbytes() wrapper.
  common/test/run-bigsize.c
  common/test/run-blindedpath_enctlv.c
  common/test/run-bolt11.c
  common/test/run-bolt12-encode-test.c
  common/test/run-bolt12-format-string-test.c
  common/test/run-bolt12-offer-decode.c
  common/test/run-bolt12_decode.c
  common/test/run-bolt12_merkle-json.c
  common/test/run-bolt12_merkle.c
  common/test/run-bolt12_period.c
  common/test/run-channel_type.c
  common/test/run-codex32.c
  common/test/run-coin_mvt.c
  common/test/run-cryptomsg.c
  common/test/run-json_filter.c
  common/test/run-json_remove.c
  common/test/run-json_scan.c
  common/test/run-json_stream-filter.c
  common/test/run-lease_rates.c
  common/test/run-psbt_diff.c
  common/test/run-route_blinding_test.c
  common/test/run-splice_script.c
  common/test/run-tlv_span.c
  common/test/run-tlv_unknown.c
Due: check-discouraged-functions

common: add randbytes() wrapper to override cryptographic entropy: $CLN_DEV_ENTROPY_SEED
  common/test/Makefile
  common/test/run-htable.c
  common/test/run-route-infloop.c
  onchaind/test/run-grind_feerate-bug.c
  wire/test/Makefile
Due: check-discouraged-functions

common: don't consume deterministic randbytes stream for trace ids
  common/trace.c
Due: check-amount-access, check-discouraged-functions

common: seed deterministic RNG from basename of argv0, not full path
  common/randbytes.c
Due: check-amount-access, check-discouraged-functions

autogenerate-rpc-examples.py: disable entropy for generation.
  contrib/pyln-testing/pyln/testing/utils.py
  tests/autogenerate-rpc-examples.py
Due: none

common: don't trigger siphash_seed() init from span hashing either.
  common/trace.c
Due: check-amount-access, check-discouraged-functions

autogenerate-rpc-examples.py: remove example mangling.
  tests/autogenerate-rpc-examples.py
Due: none

tests/autogenerate-rpc-examples.py: always use largest UTXO for fundchannel example.
  tests/autogenerate-rpc-examples.py
Due: none

autogenerate-rpc-examples.py: remove unused vars
  tests/autogenerate-rpc-examples.py
Due: none

autogenerate-rpc-examples.py: ensure blockheights are consistent.
  tests/autogenerate-rpc-examples.py
Due: none

autogenerate-rpc-examples.py: canned blocks.
  tests/autogenerate-rpc-examples.py
Due: none

autogenerate-rpc-examples.py: use fixed port numbers.
  contrib/pyln-testing/pyln/testing/utils.py
  tests/autogenerate-rpc-examples.py
Due: none

autogenerate-rpc-examples.py: more refinement.
  tests/autogenerate-rpc-examples.py
Due: none

autogenerate-rpc-examples.py: more block generation and synchronization.
  tests/autogenerate-rpc-examples.py
Due: none

autogenerate-rpc-examples.py: parameterized base port and cln next version
  tests/autogenerate-rpc-examples.py
Due: none

autogenerate-rpc-examples.py: rewrite problematic examples.
  Makefile
  tests/autogenerate-rpc-examples.py
Due: none

autogenerate-rpc-examples.py: added wait functions like wait_for_htlcs_settled, wait_for_wallet_txs
  tests/autogenerate-rpc-examples.py
Due: none

autogenerate-rpc-examples.py: added 17 new RPC to ignore list
  tests/autogenerate-rpc-examples.py
Due: none

autogenerate-rpc-examples.py: added feature to be able to rewrite the request in Rewriter
  tests/autogenerate-rpc-examples.py
Due: none

autogenerate-rpc-examples.py: fixed recover examples via `lightning-hsmtool getsecret`
  tests/autogenerate-rpc-examples.py
Due: none

Path conditions:
  check-amount-access: any of: \.(c|h)$, but not: common/amount|.*/test/.*
  check-discouraged-functions: any of: \.(c|h)$, but not: ccan|contrib
