Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
      args: [ "--ignore=E501,E731,E741,W503,F541,E275" ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
    - id: shellcheck
      args: [ -fgcc ]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      description: Runs formatting checks on the c code and and throws errors if suggestions
        are detected, without modifying the code. Style is defined in `.clang-format`. When
        encountering formatting-related errors, run `clang-format -i <path-to-file>` to make
        (destructively) the suggestions and evalute the resulting diff for more context.
      args: [ --dry-run, -Werror ]
      entry: clang-format
      types: [ c ]
      stages: [ manual ]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-jsonschema
      name: check doc JSON schemas
      args: ["--schemafile", "doc/rpc-schema-draft.json"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

    - id: check-metaschema
      name: check doc JSON metaschemas
      args: ["--verbose"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: pretty-format-json
      args: [ "--indent", "2", "--no-sort-keys" ]
      files: ^doc/schemas/.*\.json$
      types: [ json ]
    - id: trailing-whitespace
      args: [ "--markdown-linebreak-ext=md" ]
      exclude: ccan|contrib|tests/fuzz/corpora
    - id: end-of-file-fixer
      exclude: ccan|contrib|tests/fuzz/corpora

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      description: Checks for common misspellings.
      exclude: ccan|contrib|tests/fuzz/corpora
      stages: [ manual ]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.23.0
  hooks:
    - id: commitlint
      stages: [ commit-msg ]

- repo: local
  hooks:
    # Reimplementation of `make check-amount-access` for pygrep.
    - id: check-amount-access
      name: Check amount_msat and amount_sat members are not accessed directly
      description: "Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow."
      language: pygrep
      entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)
      types: [ c ]
      exclude: common/amount|.*/test/.*

    # Reimplementation of `make check-discouraged-functions` for pygrep.
    - id: check-discouraged-functions
      name: Check for usage of discouraged funtions
      language: pygrep
      entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('
      types: [ c ]
      exclude: ccan|contrib

    - id: include-order-fixer
      name: Fix Include Order
      language: python
      description: Analyzes Core Lightning C source and header files, assesses the order of
        their include directives according to the published Coding Style Guidelines
        [here](https://docs.corelightning.org/docs/coding-style-guidelines), automatically
        applying sorting them. Aims to conform with `make check-includes`.
      entry: python devtools/include-order-fixer.py
      stages: [ manual ]
      pass_filenames: false

    - id: check-includes
      name: Check Includes
      language: system
      entry: make check-includes
      pass_filenames: false

msggen: generate native notification bindings from schemas
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/proto/primitives.proto
  cln-grpc/src/convert.rs
  cln-grpc/src/server.rs
  cln-rpc/src/notifications.rs
  cln-rpc/src/primitives.rs
  contrib/msggen/msggen/schema.json
  contrib/msggen/msggen/utils/utils.py
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2_grpc.py
  contrib/pyln-grpc-proto/pyln/grpc/primitives_pb2.py
  doc/schemas/notification/coin_movement.json
  doc/schemas/notification/forward_event.json
  doc/schemas/notification/onionmessage_forward_fail.json
  doc/schemas/notification/openchannel_peer_sigs.json
  doc/schemas/notification/plugin_started.json
  doc/schemas/notification/plugin_stopped.json
  doc/schemas/notification/sendpay_failure.json
  doc/schemas/notification/xpay_pay_part_end.json
  doc/schemas/notification/xpay_pay_part_start.json
  plugins/grpc-plugin/src/main.rs
Due: none

doc: update pay_part_start and pay_part_end
  doc/developers-guide/plugin-development/event-notifications.md
Due: none

feat: Add support for UnionField in msggen and related conversion logic
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/checks.py
  contrib/msggen/msggen/gen/grpc/convert.py
  contrib/msggen/msggen/gen/grpc/proto.py
  contrib/msggen/msggen/gen/grpc/unconvert.py
  contrib/msggen/msggen/gen/grpc/util.py
  contrib/msggen/msggen/gen/grpc2py.py
  contrib/msggen/msggen/gen/rpc/rust.py
  contrib/msggen/msggen/model.py
  contrib/msggen/msggen/patch.py
Due: none

fix: Match proto wrapper message casing in convert generator
  cln-grpc/src/convert.rs
  contrib/msggen/msggen/gen/grpc/convert.py
Due: none

fix: Preserve existing protobuf field numbers for oneOf variants
  .msggen.json
  cln-grpc/proto/node.proto
  contrib/msggen/msggen/gen/grpc/proto.py
Due: none

Add splicein command
  plugins/spender/splice.c
  tests/test_splice.py
Due: check-amount-access, check-discouraged-functions

splice: Add documentation for splicein
  contrib/msggen/msggen/schema.json
  doc/Makefile
  doc/index.rst
  doc/schemas/splicein.json
Due: none

splice: Add splicein test
  contrib/pyln-client/pyln/client/lightning.py
  tests/test_splice.py
Due: none

splice: Add test for easy spliceout command
  contrib/pyln-client/pyln/client/lightning.py
  tests/test_splice.py
Due: none

splice: Add docs for easy spliceout command
  contrib/msggen/msggen/schema.json
  doc/Makefile
  doc/index.rst
  doc/schemas/spliceout.json
Due: none

splice: Add easy spliceout command
  plugins/spender/splice.c
  tests/test_splice.py
Due: check-amount-access, check-discouraged-functions

splice-script: Add more diagnostics and logs
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

lightningd: use scriptpubkey watches not txid watches for inflights on closing.
  lightningd/peer_control.c
Due: check-amount-access, check-discouraged-functions

lightningd: use scriptpubkey, not watch_txid for initial spotting of the funding tx.
  lightningd/peer_control.c
  lightningd/test/run-invoice-select-inchan.c
  wallet/test/run-wallet.c
Due: check-amount-access, check-discouraged-functions

common: make encode_scriptpubkey_to_addr take explicit len.
  common/addr.c
  common/addr.h
  common/bolt11_json.c
  lightningd/opening_control.c
  lightningd/peer_control.c
  plugins/spender/splice.c
  tests/fuzz/fuzz-addr.c
  wallet/walletrpc.c
Due: check-amount-access, check-discouraged-functions

lightningd: use inflight->locked_scid instead of db lookup when splice locked.
  lightningd/channel_control.c
Due: check-amount-access, check-discouraged-functions

lightningd: make dualopend's opening_depth_cb use depthcb_update_scid.
  lightningd/dual_open_control.c
Due: check-amount-access, check-discouraged-functions

lightningd: bail out on splice if scid doesn't fit.
  lightningd/channel_control.c
Due: check-amount-access, check-discouraged-functions

lightningd: use scriptpubkey and blockdepth watches instead of tx watches for dual funding.
  lightningd/dual_open_control.c
Due: check-amount-access, check-discouraged-functions

chaintopology: don't use txfilter, rely on wallet_extract_owned_outputs.
  lightningd/chaintopology.c
Due: check-amount-access, check-discouraged-functions

lightningd: make wallet_extract_owned_outputs return bool, optionally output numbers.
  lightningd/chaintopology.c
  lightningd/channel_control.c
  lightningd/dual_open_control.c
  lightningd/peer_control.c
  lightningd/test/run-invoice-select-inchan.c
  wallet/wallet.c
  wallet/wallet.h
  wallet/walletrpc.c
Due: check-amount-access, check-discouraged-functions

CCAN: import version with htable_lock.
  ccan/README
  ccan/ccan/htable/htable.c
  ccan/ccan/htable/htable.h
  ccan/ccan/htable/htable_type.h
Due: check-amount-access

lightningd: save short_channel_id in inflight struct as soon as it gets mined.
  lightningd/channel.c
  lightningd/channel.h
  lightningd/channel_control.c
  lightningd/channel_control.h
  wallet/wallet.c
  wallet/wallet.h
Due: check-amount-access, check-discouraged-functions

lightningd: support watch-for-blockdepth primitive.
  lightningd/chaintopology.c
  lightningd/chaintopology.h
  lightningd/watch.c
  lightningd/watch.h
Due: check-amount-access, check-discouraged-functions

lightningd: use htable lock/unlock to ensure we don't add to htables while iterating.
  lightningd/channel_gossip.c
  lightningd/lightningd.c
  lightningd/onchain_control.c
  lightningd/watch.c
Due: check-amount-access, check-discouraged-functions

lightningd: make caller to deptch_update_scid fetch the location in the block
  lightningd/channel_control.c
  lightningd/channel_control.h
  lightningd/peer_control.c
  lightningd/test/run-invoice-select-inchan.c
  wallet/test/run-wallet.c
Due: check-amount-access, check-discouraged-functions

lightningd: explicitly unwatch funding scriptpubkey when channel finally closed.
  lightningd/channel.c
  lightningd/peer_control.c
  lightningd/peer_control.h
  lightningd/test/run-invoice-select-inchan.c
  wallet/test/run-wallet.c
Due: check-amount-access, check-discouraged-functions

tx: make bitcoin_tx_output_get_amount_sat() return amount_sat.
  bitcoin/tx.c
  bitcoin/tx.h
  lightningd/chaintopology.c
  openingd/dualopend.c
Due: check-amount-access, check-discouraged-functions

lightningd: change watch_scriptpubkey and watch_blockdepth not to insert exact duplicates.
  lightningd/watch.c
  lightningd/watch.h
Due: check-amount-access, check-discouraged-functions

lightningd: use scriptpubkey watch and block depth watch for splicing.
  lightningd/channel_control.c
Due: check-amount-access, check-discouraged-functions

lightningd: use a blockdepth callback instead of a watch_txid.
  lightningd/channel_control.c
  lightningd/dual_open_control.c
  lightningd/peer_control.c
  lightningd/peer_control.h
  lightningd/test/run-invoice-select-inchan.c
  tests/test_misc.py
  wallet/test/run-wallet.c
Due: check-amount-access, check-discouraged-functions

lightningd: fix type of splice_depth_cb, remove never-working splice_inflight_txwatch.
  lightningd/channel_control.c
Due: check-amount-access, check-discouraged-functions

lightningd: add generic scriptpubkey watches.
  lightningd/chaintopology.c
  lightningd/chaintopology.h
  lightningd/channel.c
  lightningd/watch.c
  lightningd/watch.h
Due: check-amount-access, check-discouraged-functions

lightningd: split out separate function for "depth == 0".
  lightningd/peer_control.c
Due: check-amount-access, check-discouraged-functions

wallet: remove txfilter.
  lightningd/channel.c
  lightningd/lightningd.c
  lightningd/lightningd.h
  lightningd/test/run-find_my_abspath.c
  wallet/reservation.c
  wallet/test/run-chain_moves_duplicate-detect.c
  wallet/test/run-db.c
  wallet/test/run-migrate_remove_chain_moves_duplicates.c
  wallet/test/run-wallet.c
  wallet/txfilter.c
  wallet/txfilter.h
  wallet/wallet.c
  wallet/walletrpc.c
Due: check-amount-access, check-discouraged-functions
