Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.8.0
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --diff ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"
    # Run the formatter.
    - id: ruff-format
      args: [ --diff ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"

- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
    - id: shellcheck
      args: [ -fgcc ]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      description: Runs formatting checks on the c code and and throws errors if suggestions
        are detected, without modifying the code. Style is defined in `.clang-format`. When
        encountering formatting-related errors, run `clang-format -i <path-to-file>` to make
        (destructively) the suggestions and evalute the resulting diff for more context.
      args: [ --dry-run, -Werror ]
      entry: clang-format
      types: [ c ]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-jsonschema
      name: check doc JSON schemas
      args: ["--schemafile", "doc/rpc-schema-draft.json"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

    - id: check-metaschema
      name: check doc JSON metaschemas
      args: ["--verbose"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: pretty-format-json
      args: [ "--indent", "2", "--no-sort-keys" ]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      description: Checks for common misspellings.
      exclude: ccan|contrib|tests/fuzz/corpora

- repo: https://github.com/compilerla/conventional-pre-commit
  rev: v3.6.0
  hooks:
    - id: conventional-pre-commit
      stages: [commit-msg]
      args:
        - --scopes=askrene,bkpr,channeld,cli,closingd,cln-grpc,cln-rpc,common,connectd,db,gossipd,hsmd,lightningd,onchaind,openingd,pay,pylightning,pyln-client,pyln-spec,pyln-testing,pytest,splice,tools,wallet,wire,xpay
        - --verbose
        - build
        - chore
        - ci
        - docs
        - feat
        - fix
        - style
        - refactor
        - perf
        - test

- repo: local
  hooks:
    # Reimplementation of `make check-amount-access` for pygrep.
    - id: check-amount-access
      name: Check amount_msat and amount_sat members are not accessed directly
      description: "Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow."
      language: pygrep
      entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)
      types: [ c ]
      exclude: common/amount|.*/test/.*

    # Reimplementation of `make check-discouraged-functions` for pygrep.
    - id: check-discouraged-functions
      name: Check for usage of discouraged funtions
      language: pygrep
      entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('
      types: [ c ]
      exclude: ccan|contrib

pytest: don't record IO when we kill nodes
  tests/test_connection.py
  tests/test_opening.py
Due: none

lightningd: fix bogus memleak report.
  lightningd/memdump.c
  lightningd/memdump.h
Due: check-amount-access, check-discouraged-functions

pytest: don't rely on sleep to ensure wait commands have been submitted.
  lightningd/wait.c
  tests/test_coinmoves.py
  tests/test_connection.py
  tests/test_invoices.py
  tests/test_misc.py
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

pytest: fix flake in test_gossip_query_channel_range
  tests/test_gossip.py
Due: none

pytest: disable autoreconnect on test_sql to avoid reconnect race.
  tests/test_coinmoves.py
  tests/test_invoices.py
  tests/test_plugin.py
Due: none

pytest: use hsmtool's getsecret instead of deprecated getcodexsecret, parameterize test_recover_command.
  tests/autogenerate-rpc-examples.py
  tests/test_misc.py
Due: none

pytest: changed old_hsmsecret to default to false.
  contrib/pyln-testing/pyln/testing/utils.py
  tests/plugins/channeld_fakenet.c
  tests/test_askrene.py
  tests/test_coinmoves.py
  tests/test_gossip.py
  tests/test_misc.py
  tests/test_opening.py
  tests/test_pay.py
  tests/test_runes.py
  tests/test_xpay.py
Due: check-amount-access, check-discouraged-functions

wallet: conduct unit tests with both bip86 and bip32.
  wallet/test/run-wallet.c
Due: check-discouraged-functions

askrene: don't crash if refining flow which has capacity greaater than max it should have.
  plugins/askrene/refine.c
Due: check-amount-access, check-discouraged-functions

plugins/pay: don't crash if erring index is past route array end.
  plugins/libplugin-pay.c
Due: check-amount-access, check-discouraged-functions

doc: Update docs to reflect new hsm secret format
  doc/beginners-guide/backup-and-recovery/hsm-secret.md
  doc/beginners-guide/backup.md
Due: none

pytest: fix reconnect flake in test_route_by_old_scid
  tests/test_splicing.py
Due: none

pytest: another flake in test_important_plugin.
  tests/test_plugin.py
Due: none

tools: Update libsodium version for Ubuntu Noble
  tools/repro-build.sh
Due: none

jsonrpc: fix recover command for BIP86 wallets
  lightningd/jsonrpc.c
Due: check-amount-access, check-discouraged-functions

wallet: use correct derivation for elements when using mnemonic hsm_secret.
  wallet/reservation.c
Due: check-amount-access, check-discouraged-functions

lightningd: add p2wpkh script for bip86 base
  lightningd/lightningd.c
Due: check-amount-access, check-discouraged-functions

lightningd: use BIP86 derivation for P2TR in HTLC rebroadcast change outputs
  lightningd/onchain_control.c
Due: check-amount-access, check-discouraged-functions

wallet/hsmd: fix signmessagewithkey for BIP86 wallets
  hsmd/libhsmd.c
  wallet/test/run-wallet.c
  wallet/walletrpc.c
Due: check-amount-access, check-discouraged-functions

hsmd: fix derivation for non-taproot addresses in modern mnemonic (25.12+) nodes.
  hsmd/libhsmd.c
Due: check-amount-access, check-discouraged-functions

lightningd: Fix penalty tx output derivation for BIP86 wallets
  lightningd/onchain_control.c
Due: check-amount-access, check-discouraged-functions

lightningd: use BIP86 derivation in p2wpkh_for_keyidx when available
  lightningd/peer_control.c
Due: check-amount-access, check-discouraged-functions

lightning-hsmtool: fix dumponchaindescriptors for mnemonic hsm_secrets.
  tests/test_wallet.py
  tools/lightning-hsmtool.c
Due: check-amount-access, check-discouraged-functions

wallet: change dev_listaddrs to also list bip86 addresses
  wallet/walletrpc.c
Due: check-amount-access, check-discouraged-functions

lightningd: use bip86 derivation for anchor spend change outputs
  lightningd/anchorspend.c
Due: check-amount-access, check-discouraged-functions

askrene: regression test that triggers assertion
  tests/test_askrene.py
Due: none

askrene: fix payment crash
  plugins/askrene/mcf.c
  tests/test_askrene.py
Due: check-amount-access, check-discouraged-functions

lightning-hsmtool: support extracting the mnemonic from hsm_secret.
  doc/beginners-guide/backup.md
  doc/developers-guide/deprecated-features.md
  doc/lightning-hsmtool.8.md
  tests/test_wallet.py
  tools/lightning-hsmtool.c
Due: check-amount-access, check-discouraged-functions

lightningd: allow --recover / recover JSON RPC to take mnemonic.
  contrib/msggen/msggen/schema.json
  doc/lightningd-config.5.md
  doc/schemas/recover.json
  lightningd/jsonrpc.c
  lightningd/options.c
  lightningd/options.h
  lightningd/test/run-jsonrpc.c
  tests/test_misc.py
  tools/lightning-hsmtool.c
Due: check-amount-access, check-discouraged-functions

common: expose validate_mnemonic so the option can use it.
  common/hsm_secret.c
  common/hsm_secret.h
Due: check-amount-access, check-discouraged-functions

lightningd: fix crash on fixup scan if block unavailable.
  lightningd/chaintopology.c
Due: check-amount-access, check-discouraged-functions
