Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

check-amount-access:
  name: Check amount_msat and amount_sat members are not accessed directly
  description: Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow.
  language: pygrep
  entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)

check-discouraged-functions:
  name: Check for usage of discouraged funtions
  language: pygrep
  entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('

lightningd: store raw failure message so waitsendpay always has raw_message
  lightningd/pay.c
  tests/test_pay.py
  wallet/migrations.c
  wallet/wallet.c
  wallet/wallet.h
Due: check-amount-access, check-discouraged-functions

take(new), take two
  lightningd/log.c
Due: check-amount-access, check-discouraged-functions

lightningd: test for very long log entries
  tests/test_misc.py
Due: none

squash! lightningd: don't crash when truncating large log messages
  tests/test_misc.py
Due: none

CI: set readme branch name to stable
  .github/workflows/rdme-docs-sync.yml
Due: none

devtools/blockreplace.py: make executable
  devtools/blockreplace.py
Due: none

tests: added 'splicein', 'spliceout' RPC call example TODO: run Makefile to generate new blocks with splicing example
  tests/autogenerate-rpc-examples.py
Due: none

tests: adding new chain data after minig new blocks because of 'splicein'/'spliceout' examples
  contrib/msggen/msggen/schema.json
  doc/schemas/splicein.json
  doc/schemas/spliceout.json
  tests/data/autogenerate-bitcoin-blocks.json
Due: none

plugins: recover awaiting channels after init
  plugins/spender/openchannel.c
Due: check-amount-access, check-discouraged-functions

cap_header() always tal_strdup()s msg
  lightningd/jsonrpc.c
  lightningd/log.c
Due: check-amount-access, check-discouraged-functions

py: add pyln-grpc-proto to PyPI publishing CI (fixes #7929)
  .github/workflows/pypi.yml
  Makefile
  contrib/pyln-grpc-proto/pyln/grpc/__init__.py
Due: none

connectd: treat websocket handshake headers as case-insensitive
  connectd/test/run-websocket.c
  connectd/websocketd.c
Due: check-amount-access, check-discouraged-functions

xpay: add traces for payments
  plugins/xpay/xpay.c
Due: check-amount-access, check-discouraged-functions

tests: added 'clnrest-register-path' RPC call example
  tests/autogenerate-rpc-examples.py
Due: none

wallet: Cache the max_index for bip32 and bip86 address indices
  wallet/wallet.c
  wallet/wallet.h
Due: check-amount-access, check-discouraged-functions

wallet: Read the max_index for addresses from the in-memory cache
  wallet/walletrpc.c
Due: check-amount-access, check-discouraged-functions

wallet: Update the max_index cache when issuing new addresses
  wallet/wallet.c
  wallet/wallet.h
Due: check-amount-access, check-discouraged-functions

Dockerfile: add protobuf-compiler for vls signer step
  Dockerfile
Due: none

CI: restructure release workflows
  .github/workflows/check-release-tag.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docker-release.yml
  .github/workflows/pypi-build.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/pypi.yml
  .github/workflows/release-build.yml
  .github/workflows/release-publish.yml
  .github/workflows/release.yml
Due: none

xpay: trace jsonrpc calls to getroutes and injectpaymentonion
  plugins/xpay/xpay.c
Due: check-amount-access, check-discouraged-functions

lightningd: update graceful notifications when HTLC states change
  lightningd/peer_htlcs.c
  tests/test_misc.py
Due: check-amount-access, check-discouraged-functions

tests: added 'graceful' RPC call example
  tests/autogenerate-rpc-examples.py
Due: none

pyln-testing: don't let wait_for_log match its own forwarded announcement
  contrib/pyln-testing/pyln/testing/utils.py
  tests/test_plugin.py
Due: none

tests: fix flaky test_onchain_rbf_stops_after_confirmation
  tests/test_closing.py
Due: none

lsps-plugin: add cln-lsps-policy plugin for LSPS2 fee policy management Changelog-None
  plugins/Makefile
  plugins/lsps-plugin/Cargo.toml
  plugins/lsps-plugin/src/policy.rs
Due: none

Add test to check Attr data processing
  common/test/run-sphinx.c
Due: check-discouraged-functions

Update mocks
  tests/fuzz/fuzz-wire-update_fail_htlc.c
  tests/fuzz/fuzz-wire-update_fulfill_htlc.c
  wire/test/run-peer-wire.c
Due: check-amount-access, check-discouraged-functions

tests: added 'askrene-remove-channel-update.json' RPC call example
  doc/schemas/askrene-remove-channel-update.json
  tests/autogenerate-rpc-examples.py
Due: none

typo: changed "lintintalled" instances to "listinstalled"
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  contrib/msggen/msggen/schema.json
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
  doc/schemas/reckless.json
Due: none

fixup! typo: changed "lintintalled" instances to "listinstalled"
  cln-rpc/src/model.rs
Due: none

fix repo owner dir removal when removing source
  plugins/reckless-plugin/src/cmds/source.rs
Due: none

cln-plugin: return rpc error instead of exiting on invalid json input
  plugins/src/codec.rs
  plugins/src/lib.rs
  plugins/src/messages.rs
  tests/test_cln_rs.py
Due: none

lightningd: fail sendpay cleanly when the route does not fit the onion
  lightningd/pay.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

pyln-testing: wait for listen port release before starting a node
  contrib/pyln-testing/pyln/testing/utils.py
Due: none

wallet: rename b32script to scriptpubkey in PSBT change paths
  wallet/reservation.c
Due: check-amount-access, check-discouraged-functions

wallet: register scriptpubkey watches at startup
  lightningd/lightningd.c
  lightningd/test/run-find_my_abspath.c
  wallet/wallet.c
  wallet/wallet.h
Due: check-amount-access, check-discouraged-functions

Path conditions:
  check-amount-access: any of: \.(c|h)$, but not: common/amount|.*/test/.*
  check-discouraged-functions: any of: \.(c|h)$, but not: ccan|contrib
