Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
      args: [ "--ignore=E501,E731,E741,W503,F541,E275" ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
    - id: shellcheck
      args: [ -fgcc ]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      description: Runs formatting checks on the c code and and throws errors if suggestions
        are detected, without modifying the code. Style is defined in `.clang-format`. When
        encountering formatting-related errors, run `clang-format -i <path-to-file>` to make
        (destructively) the suggestions and evalute the resulting diff for more context.
      args: [ --dry-run, -Werror ]
      entry: clang-format
      types: [ c ]
      stages: [ manual ]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-jsonschema
      name: check doc JSON schemas
      args: ["--schemafile", "doc/rpc-schema-draft.json"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

    - id: check-metaschema
      name: check doc JSON metaschemas
      args: ["--verbose"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: pretty-format-json
      args: [ "--indent", "2", "--no-sort-keys" ]
      files: ^doc/schemas/.*\.json$
      types: [ json ]
    - id: trailing-whitespace
      args: [ "--markdown-linebreak-ext=md" ]
      exclude: ccan|contrib|tests/fuzz/corpora
    - id: end-of-file-fixer
      exclude: ccan|contrib|tests/fuzz/corpora

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      description: Checks for common misspellings.
      exclude: ccan|contrib|tests/fuzz/corpora
      stages: [ manual ]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.23.0
  hooks:
    - id: commitlint
      stages: [ commit-msg ]

- repo: local
  hooks:
    # Reimplementation of `make check-amount-access` for pygrep.
    - id: check-amount-access
      name: Check amount_msat and amount_sat members are not accessed directly
      description: "Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow."
      language: pygrep
      entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)
      types: [ c ]
      exclude: common/amount|.*/test/.*

    # Reimplementation of `make check-discouraged-functions` for pygrep.
    - id: check-discouraged-functions
      name: Check for usage of discouraged funtions
      language: pygrep
      entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('
      types: [ c ]
      exclude: ccan|contrib

    - id: include-order-fixer
      name: Fix Include Order
      language: python
      description: Analyzes Core Lightning C source and header files, assesses the order of
        their include directives according to the published Coding Style Guidelines
        [here](https://docs.corelightning.org/docs/coding-style-guidelines), automatically
        applying sorting them. Aims to conform with `make check-includes`.
      entry: python devtools/include-order-fixer.py
      stages: [ manual ]
      pass_filenames: false

    - id: check-includes
      name: Check Includes
      language: system
      entry: make check-includes
      pass_filenames: false

autogenerate-rpc-examples.py: more block generation and synchronization.
  tests/autogenerate-rpc-examples.py
Due: none

autogenerate-rpc-examples.py: canned blocks.
  tests/autogenerate-rpc-examples.py
Due: none

autogenerate-rpc-examples.py: remove example mangling.
  tests/autogenerate-rpc-examples.py
Due: none

autogenerate-rpc-examples.py: fixed recover examples via `lightning-hsmtool getsecret`
  tests/autogenerate-rpc-examples.py
Due: none

common: add randbytes() wrapper to override cryptographic entropy: $CLN_DEV_ENTROPY_SEED
  common/test/Makefile
  common/test/run-htable.c
  common/test/run-route-infloop.c
  onchaind/test/run-grind_feerate-bug.c
  wire/test/Makefile
Due: check-discouraged-functions

common: don't consume deterministic randbytes stream for trace ids
  common/trace.c
Due: check-amount-access, check-discouraged-functions

autogenerate-rpc-examples.py: added more rewrite for other RPCs
  tests/autogenerate-rpc-examples.py
Due: none

lightningd: cancel watching original funding when we switch to the new one via splice.
  lightningd/test/run-invoice-select-inchan.c
  wallet/test/run-wallet.c
Due: check-discouraged-functions

CI: Add debug and upload artifacts on failure
  .github/workflows/ci.yaml
Due: none

autogenerate-rpc-examples.py: rewrite problematic examples.
  Makefile
  tests/autogenerate-rpc-examples.py
Due: none

common: seed deterministic RNG from basename of argv0, not full path
  common/randbytes.c
Due: check-amount-access, check-discouraged-functions

make: Pinning PATH in doc scripts so generation always uses the tree's own binaries
  Makefile
Due: none

tests: use bitcoind.conf_file instead of hardcoded bitcoin.conf in RawProxy mocks
  tests/test_misc.py
  tests/test_plugin.py
Due: none

autogenerate-rpc-examples.py: ensure blockheights are consistent.
  tests/autogenerate-rpc-examples.py
Due: none

autogenerate-rpc-examples: sanitize plugin paths in plugin examples
  tests/autogenerate-rpc-examples.py
Due: none

autogenerate-rpc-examples.py: remove unused vars
  tests/autogenerate-rpc-examples.py
Due: none

autogenerate-rpc-examples.py: pin the full sorted UTXO set for multiwithdraw examples
  tests/autogenerate-rpc-examples.py
Due: none

autogenerate-rpc-examples.py: more refinement.
  tests/autogenerate-rpc-examples.py
Due: none

global: replace randombytes_buf() with randbytes() wrapper.
  common/test/run-bigsize.c
  common/test/run-blindedpath_enctlv.c
  common/test/run-bolt11.c
  common/test/run-bolt12-encode-test.c
  common/test/run-bolt12-format-string-test.c
  common/test/run-bolt12-offer-decode.c
  common/test/run-bolt12_decode.c
  common/test/run-bolt12_merkle-json.c
  common/test/run-bolt12_merkle.c
  common/test/run-bolt12_period.c
  common/test/run-channel_type.c
  common/test/run-codex32.c
  common/test/run-coin_mvt.c
  common/test/run-cryptomsg.c
  common/test/run-json_filter.c
  common/test/run-json_remove.c
  common/test/run-json_scan.c
  common/test/run-json_stream-filter.c
  common/test/run-lease_rates.c
  common/test/run-psbt_diff.c
  common/test/run-route_blinding_test.c
  common/test/run-splice_script.c
  common/test/run-tlv_span.c
  common/test/run-tlv_unknown.c
Due: check-discouraged-functions

autogenerate-rpc-examples.py: disable entropy for generation.
  contrib/pyln-testing/pyln/testing/utils.py
  tests/autogenerate-rpc-examples.py
Due: none

autogenerate-rpc-examples.py: use fixed port numbers.
  contrib/pyln-testing/pyln/testing/utils.py
  tests/autogenerate-rpc-examples.py
Due: none

tests/autogenerate-rpc-examples.py: always use largest UTXO for fundchannel example.
  tests/autogenerate-rpc-examples.py
Due: none

autogenerate-rpc-examples.py: added sorting for some list example to stabilise the response
  tests/autogenerate-rpc-examples.py
Due: none

autogenerate-rpc-examples.py: added 17 new RPC to ignore list
  tests/autogenerate-rpc-examples.py
Due: none

autogenerate-rpc-examples.py: added wait functions like wait_for_htlcs_settled, wait_for_wallet_txs
  tests/autogenerate-rpc-examples.py
Due: none

make: Fix repeat-dpc-examples script
  Makefile
Due: none

autogenerate-rpc-examples.py: parameterized base port and cln next version
  tests/autogenerate-rpc-examples.py
Due: none

autogenerate-rpc-examples.py: added feature to be able to rewrite the request in Rewriter
  tests/autogenerate-rpc-examples.py
Due: none

CI: re-enable docs examples checks.
  .github/workflows/ci.yaml
Due: none

common: don't trigger siphash_seed() init from span hashing either.
  common/trace.c
Due: check-amount-access, check-discouraged-functions

pyln-proto: use coincurve 21 for python <=3.13 and add self-compiled wheels for python 3.14
  contrib/pyln-proto/pyproject.toml
  uv.lock
Due: none

docs: updated Arch linux source installation instructions
  doc/getting-started/getting-started/installation.md
Due: none

build-release: fix VERSION build-arg and add --no-push for the docker target
  tools/build-release.sh
Due: none

crates: update dependencies and upgrade quick-xml, tower-http, and tokio-tungstenite
  Cargo.lock
  plugins/rest-plugin/Cargo.toml
  plugins/wss-proxy-plugin/Cargo.toml
Due: none

ecdh_hsmd: ensure HSM fd is blocking on setup
  common/ecdh_hsmd.c
Due: check-amount-access, check-discouraged-functions

CODEOWNERS: remove @devrandom
  .github/CODEOWNERS
Due: none

Improve reliability of wait_and_check_bitcoind
  plugins/bcli.c
Due: check-amount-access, check-discouraged-functions
