Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
      args: [ "--ignore=E501,E731,E741,W503,F541,E275" ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
    - id: shellcheck
      args: [ -fgcc ]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      description: Runs formatting checks on the c code and and throws errors if suggestions
        are detected, without modifying the code. Style is defined in `.clang-format`. When
        encountering formatting-related errors, run `clang-format -i <path-to-file>` to make
        (destructively) the suggestions and evalute the resulting diff for more context.
      args: [ --dry-run, -Werror ]
      entry: clang-format
      types: [ c ]
      stages: [ manual ]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-jsonschema
      name: check doc JSON schemas
      args: ["--schemafile", "doc/rpc-schema-draft.json"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

    - id: check-metaschema
      name: check doc JSON metaschemas
      args: ["--verbose"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: pretty-format-json
      args: [ "--indent", "2", "--no-sort-keys" ]
      files: ^doc/schemas/.*\.json$
      types: [ json ]
    - id: trailing-whitespace
      args: [ "--markdown-linebreak-ext=md" ]
      exclude: ccan|contrib|tests/fuzz/corpora
    - id: end-of-file-fixer
      exclude: ccan|contrib|tests/fuzz/corpora

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      description: Checks for common misspellings.
      exclude: ccan|contrib|tests/fuzz/corpora
      stages: [ manual ]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.23.0
  hooks:
    - id: commitlint
      stages: [ commit-msg ]

- repo: local
  hooks:
    # Reimplementation of `make check-amount-access` for pygrep.
    - id: check-amount-access
      name: Check amount_msat and amount_sat members are not accessed directly
      description: "Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow."
      language: pygrep
      entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)
      types: [ c ]
      exclude: common/amount|.*/test/.*

    # Reimplementation of `make check-discouraged-functions` for pygrep.
    - id: check-discouraged-functions
      name: Check for usage of discouraged funtions
      language: pygrep
      entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('
      types: [ c ]
      exclude: ccan|contrib

    - id: include-order-fixer
      name: Fix Include Order
      language: python
      description: Analyzes Core Lightning C source and header files, assesses the order of
        their include directives according to the published Coding Style Guidelines
        [here](https://docs.corelightning.org/docs/coding-style-guidelines), automatically
        applying sorting them. Aims to conform with `make check-includes`.
      entry: python devtools/include-order-fixer.py
      stages: [ manual ]
      pass_filenames: false

    - id: check-includes
      name: Check Includes
      language: system
      entry: make check-includes
      pass_filenames: false

CHANGELOG: mark v26.06rc2
  CHANGELOG.md
Due: none

v26.06rc2: update versions
  .version
  contrib/pyln-client/pyln/client/__init__.py
  contrib/pyln-client/pyproject.toml
  contrib/pyln-proto/pyln/proto/__init__.py
  contrib/pyln-proto/pyproject.toml
  contrib/pyln-testing/pyln/testing/__init__.py
  contrib/pyln-testing/pyproject.toml
  tools/reckless
  uv.lock
Due: none

tests/fuzz/fuzz-open_channel: fix bad local variable access after longjmp
  tests/fuzz/fuzz-open_channel.c
Due: check-amount-access, check-discouraged-functions

crates: bump cln-rpc, cln-grpc and cln-plugin to v0.7.0 for release
  Cargo.lock
  Cargo.toml
  cln-grpc/Cargo.toml
  cln-rpc/Cargo.toml
  plugins/Cargo.toml
  plugins/grpc-plugin/Cargo.toml
Due: none

msggen: fix non-determinism edge case
  cln-grpc/proto/node.proto
  contrib/msggen/msggen/model.py
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
Due: none

docs: fixing Fedora installation
  doc/getting-started/getting-started/installation.md
Due: none

CI: remove focal and add resolute Ubuntu builds
  .dockerignore
  .github/workflows/release.yml
  .github/workflows/repro.yml
  .gitignore
  contrib/cl-repro.sh
  contrib/reprobuild/Dockerfile.resolute
  doc/getting-started/advanced-setup/repro.md
  tools/build-release.sh
  tools/repro-build.sh
Due: none

common/test: reproduce BOLT 12 PR #1295 marker-jump spec contradiction
  common/test/Makefile
  common/test/run-bolt12_proof_marker_jump.c
Due: check-discouraged-functions

common: fix BOLT 12 payer_proof marker-jump via next_marker helper
  common/bolt12_proof.c
  common/test/run-bolt12_proof_marker_jump.c
Due: check-amount-access, check-discouraged-functions

common/test: generate marker-jump vector in run-bolt12_proof_vectors
  common/test/run-bolt12_proof_vectors.c
Due: check-discouraged-functions

offers: add used_count to listoffers
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/schema.json
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
  doc/schemas/listoffers.json
  lightningd/offer.c
  lightningd/test/run-offer_payment_count.c
  tests/test_pay.py
  wallet/wallet.c
  wallet/wallet.h
Due: check-amount-access, check-discouraged-functions

xpay: print rejected currency correctly.
  plugins/xpay/xpay.c
  tests/test_xpay.py
Due: check-amount-access, check-discouraged-functions

pytest: test xpay for routehint when channel is to itself.
  tests/test_xpay.py
Due: none

xpay: don't crash on circular routehints.
  common/gossmap.c
  common/gossmap.h
  contrib/msggen/msggen/schema.json
  doc/schemas/askrene-create-channel.json
  plugins/askrene/askrene.c
  plugins/askrene/layer.c
  plugins/askrene/layer.h
  plugins/xpay/xpay.c
  tests/test_xpay.py
Due: check-amount-access, check-discouraged-functions

xpay/askrene: add regtest for bad route hints
  tests/test_askrene.py
  tests/test_xpay.py
Due: none

xpay/renepay/pay: check for bad BOLT11
  common/bolt11.c
  common/bolt11.h
  plugins/pay.c
  plugins/renepay/main.c
  plugins/xpay/xpay.c
  tests/test_xpay.py
Due: check-amount-access, check-discouraged-functions

askrene: sanitize askrene-create-channel
  plugins/askrene/askrene.c
  tests/test_askrene.py
Due: check-amount-access, check-discouraged-functions

release: prepare v26.06
  CHANGELOG.md
Due: none

crates: update Cargo.lock dependencies
  Cargo.lock
Due: none

Describe the change
  CHANGELOG.md
Due: none

Add MSBuild workflow for CI/CD
  .github/workflows/msbuild.yml
Due: none

contrib: add Lagrang3's signing key
  SECURITY.md
  contrib/keys/lagrang3.txt
Due: none

docs: Fixing Ubuntu installation guide
  doc/getting-started/getting-started/installation.md
Due: none

release: prepare v26.06
  .version
  contrib/pyln-client/pyln/client/__init__.py
  contrib/pyln-client/pyproject.toml
  contrib/pyln-proto/pyln/proto/__init__.py
  contrib/pyln-proto/pyproject.toml
  contrib/pyln-testing/pyln/testing/__init__.py
  contrib/pyln-testing/pyproject.toml
  tools/reckless
  uv.lock
Due: none

security: remove rustcorp.com contact
  SECURITY.md
Due: none

contrib: add daywalker90's signing key
  SECURITY.md
  contrib/keys/daywalker90.txt
Due: none

fix: preserve nested plugin subdir on make install
  Makefile
  tests/test_misc.py
Due: none
