Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
      args: [ "--ignore=E501,E731,E741,W503,F541,E275" ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
    - id: shellcheck
      args: [ -fgcc ]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      description: Runs formatting checks on the c code and and throws errors if suggestions
        are detected, without modifying the code. Style is defined in `.clang-format`. When
        encountering formatting-related errors, run `clang-format -i <path-to-file>` to make
        (destructively) the suggestions and evalute the resulting diff for more context.
      args: [ --dry-run, -Werror ]
      entry: clang-format
      types: [ c ]
      stages: [ manual ]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-jsonschema
      name: check doc JSON schemas
      args: ["--schemafile", "doc/rpc-schema-draft.json"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

    - id: check-metaschema
      name: check doc JSON metaschemas
      args: ["--verbose"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: pretty-format-json
      args: [ "--indent", "2", "--no-sort-keys" ]
      files: ^doc/schemas/.*\.json$
      types: [ json ]
    - id: trailing-whitespace
      args: [ "--markdown-linebreak-ext=md" ]
      exclude: ccan|contrib|tests/fuzz/corpora
    - id: end-of-file-fixer
      exclude: ccan|contrib|tests/fuzz/corpora

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      description: Checks for common misspellings.
      exclude: ccan|contrib|tests/fuzz/corpora
      stages: [ manual ]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.23.0
  hooks:
    - id: commitlint
      stages: [ commit-msg ]

- repo: local
  hooks:
    # Reimplementation of `make check-amount-access` for pygrep.
    - id: check-amount-access
      name: Check amount_msat and amount_sat members are not accessed directly
      description: "Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow."
      language: pygrep
      entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)
      types: [ c ]
      exclude: common/amount|.*/test/.*

    # Reimplementation of `make check-discouraged-functions` for pygrep.
    - id: check-discouraged-functions
      name: Check for usage of discouraged funtions
      language: pygrep
      entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('
      types: [ c ]
      exclude: ccan|contrib

    - id: include-order-fixer
      name: Fix Include Order
      language: python
      description: Analyzes Core Lightning C source and header files, assesses the order of
        their include directives according to the published Coding Style Guidelines
        [here](https://docs.corelightning.org/docs/coding-style-guidelines), automatically
        applying sorting them. Aims to conform with `make check-includes`.
      entry: python devtools/include-order-fixer.py
      stages: [ manual ]
      pass_filenames: false

    - id: check-includes
      name: Check Includes
      language: system
      entry: make check-includes
      pass_filenames: false

closingd: Add a sanity check for feerate
  closingd/closingd.c
Due: check-amount-access, check-discouraged-functions

tests: add clnrest test for large request bodies
  tests/test_clnrest.py
Due: none

lightningd: clamp estimatefees results to a sanity ceiling
  bitcoin/feerate.c
  bitcoin/feerate.h
  lightningd/bitcoind.c
Due: check-amount-access, check-discouraged-functions

pytest: onchain preimage beats an unfinished outgoing failure
  tests/plugins/htlc_accepted-hold.py
  tests/test_closing.py
Due: none

tests: htlc timeout during STFU
  tests/test_closing.py
Due: none

closing: sanity-check close transactions
  lightningd/closing_control.c
  lightningd/closing_control.h
  onchaind/onchaind.c
Due: check-amount-access, check-discouraged-functions

askrene: properly handle invalid "inform" field
  plugins/askrene/askrene.c
  tests/test_askrene.py
Due: check-amount-access, check-discouraged-functions

channeld: Tell the peer they’re out of time if STFU long
  channeld/channeld.c
Due: check-amount-access, check-discouraged-functions

channeld: Add helpful warning message during reestablish
  channeld/channeld.c
Due: check-amount-access, check-discouraged-functions

common: check value overflow for forward amounts
  common/onion_decode.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

tests: huge log entries don't crash lightningd
  tests/plugins/hugelog.py
  tests/test_plugin.py
Due: none

gossipd: don't bother looking up ancient blocks.
  gossipd/gossmap_manage.c
Due: check-amount-access, check-discouraged-functions

hsmd: test that a NULL reply closes the client exactly once
  hsmd/test/Makefile
  hsmd/test/run-bad-request-close.c
Due: check-discouraged-functions

wallet: persist the inflight i_sent_sigs flag across restarts
  tests/test_splicing.py
  wallet/wallet.c
Due: check-amount-access, check-discouraged-functions

pytest: onion message reply path with no hops must not stop the node
  tests/test_connection.py
Due: none

lightningd: Add a txo watcher for inflights
  lightningd/channel.c
  lightningd/channel.h
  lightningd/channel_control.c
  lightningd/opening_control.c
  lightningd/peer_control.c
  lightningd/peer_control.h
  tests/test_splice.py
Due: check-amount-access, check-discouraged-functions

offers: treat an unparseable reply path as absent, not fatal
  lightningd/onion_message.c
  plugins/offers.c
Due: check-amount-access, check-discouraged-functions

lightningd: handle amountless invoices in the onchain payment check
  lightningd/invoice.c
  tests/test_invoices.py
Due: check-amount-access, check-discouraged-functions

lightningd: don't free() a tal pointer when a log entry is truncated
  lightningd/log.c
Due: check-amount-access, check-discouraged-functions

hsmd: return io_close when the handler reports an error
  hsmd/hsmd.c
  hsmd/libhsmd.c
Due: check-amount-access, check-discouraged-functions

common: fix tlv_span returning huge length for out-of-range stream
  common/bolt12.c
  common/test/run-tlv_span.c
Due: check-amount-access, check-discouraged-functions

common: bound JSON nesting depth when parsing
  common/json_parse_simple.c
  common/test/run-json.c
Due: check-amount-access, check-discouraged-functions

pytest: onchain payment to an amountless invoice's fallback address
  tests/test_invoices.py
Due: none

lightningd: don't allocate huge log entries on the stack
  lightningd/log.c
Due: check-amount-access, check-discouraged-functions

lightningd: let an onchain preimage beat an unfinished outgoing failure
  lightningd/peer_htlcs.c
Due: check-amount-access, check-discouraged-functions

lightningd: prefer latest blocks when querying historic blocks.
  lightningd/bitcoind.c
Due: check-amount-access, check-discouraged-functions

clnrest: restrict maximum size of request bodies to 2MiB
  Cargo.lock
  plugins/rest-plugin/Cargo.toml
  plugins/rest-plugin/src/handlers.rs
  plugins/rest-plugin/src/structs.rs
Due: none

splice: Add test for dropped splice_locked packet
  tests/test_splice.py
Due: none

db: tidy db_col_psbt NULL handling
  db/bindings.c
Due: check-amount-access, check-discouraged-functions

tests: check open_channel2 in-flight open limit
  tests/test_opening.py
Due: none

channeld: Add clearer warning messages for `start_batch`
  channeld/channeld.c
Due: check-amount-access, check-discouraged-functions

pytest: a revoked commitment paying our shutdown script is still a cheat
  tests/test_opening.py
Due: none

lightningd: Target a lower closing fee
  lightningd/closing_control.c
Due: check-amount-access, check-discouraged-functions

wallet: bound-check shachain_known pos on load
  wallet/wallet.c
Due: check-amount-access, check-discouraged-functions

wallet: clamp absurd inflight funding feerates on upgrade
  wallet/migrations.c
Due: check-amount-access, check-discouraged-functions

channeld: split the feerate we'll pay from the one we'll accept
  bitcoin/feerate.h
  channeld/channeld.c
  channeld/channeld_wire.csv
  contrib/msggen/msggen/schema.json
  doc/getting-started/getting-started/configuration.md
  doc/lightningd-config.5.md
  doc/schemas/setchannel.json
  lightningd/chaintopology.c
  lightningd/chaintopology.h
  lightningd/channel_control.c
  lightningd/dual_open_control.c
  lightningd/opening_control.c
  openingd/openingd.c
  openingd/openingd_wire.csv
  tests/fuzz/fuzz-open_channel.c
  tests/plugins/channeld_fakenet.c
  tests/test_misc.py
Due: check-amount-access, check-discouraged-functions

dualopend: bound the feerates a peer opens at
  lightningd/dual_open_control.c
  openingd/dualopend.c
  openingd/dualopend_wire.csv
  tests/test_opening.py
Due: check-amount-access, check-discouraged-functions

lightningd: restart onchaind when a watched tx is reorged out
  lightningd/onchain_control.c
  tests/test_closing.py
Due: check-amount-access, check-discouraged-functions

pytest: onchaind must come back after a reorg of a tx it was watching
  tests/test_closing.py
Due: none

lightningd: don't assert on funding feerates read from the db
  bitcoin/feerate.c
  bitcoin/feerate.h
  contrib/msggen/msggen/schema.json
  doc/schemas/listpeerchannels.json
  lightningd/dual_open_control.c
  lightningd/peer_control.c
  openingd/dualopend.c
Due: check-amount-access, check-discouraged-functions
