Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
      args: [ "--ignore=E501,E731,E741,W503,F541,E275" ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
    - id: shellcheck
      args: [ -fgcc ]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      description: Runs formatting checks on the c code and and throws errors if suggestions
        are detected, without modifying the code. Style is defined in `.clang-format`. When
        encountering formatting-related errors, run `clang-format -i <path-to-file>` to make
        (destructively) the suggestions and evalute the resulting diff for more context.
      args: [ --dry-run, -Werror ]
      entry: clang-format
      types: [ c ]
      stages: [ manual ]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-jsonschema
      name: check doc JSON schemas
      args: ["--schemafile", "doc/rpc-schema-draft.json"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

    - id: check-metaschema
      name: check doc JSON metaschemas
      args: ["--verbose"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: pretty-format-json
      args: [ "--indent", "2", "--no-sort-keys" ]
      files: ^doc/schemas/.*\.json$
      types: [ json ]
    - id: trailing-whitespace
      args: [ "--markdown-linebreak-ext=md" ]
      exclude: ccan|contrib|tests/fuzz/corpora
    - id: end-of-file-fixer
      exclude: ccan|contrib|tests/fuzz/corpora

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      description: Checks for common misspellings.
      exclude: ccan|contrib|tests/fuzz/corpora
      stages: [ manual ]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.23.0
  hooks:
    - id: commitlint
      stages: [ commit-msg ]

- repo: local
  hooks:
    # Reimplementation of `make check-amount-access` for pygrep.
    - id: check-amount-access
      name: Check amount_msat and amount_sat members are not accessed directly
      description: "Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow."
      language: pygrep
      entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)
      types: [ c ]
      exclude: common/amount|.*/test/.*

    # Reimplementation of `make check-discouraged-functions` for pygrep.
    - id: check-discouraged-functions
      name: Check for usage of discouraged funtions
      language: pygrep
      entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('
      types: [ c ]
      exclude: ccan|contrib

    - id: include-order-fixer
      name: Fix Include Order
      language: python
      description: Analyzes Core Lightning C source and header files, assesses the order of
        their include directives according to the published Coding Style Guidelines
        [here](https://docs.corelightning.org/docs/coding-style-guidelines), automatically
        applying sorting them. Aims to conform with `make check-includes`.
      entry: python devtools/include-order-fixer.py
      stages: [ manual ]
      pass_filenames: false

    - id: check-includes
      name: Check Includes
      language: system
      entry: make check-includes
      pass_filenames: false

release: CHANGELOG and version bumps for v26.06.2
  .version
  CHANGELOG.md
  contrib/pyln-client/pyln/client/__init__.py
  contrib/pyln-client/pyproject.toml
  contrib/pyln-proto/pyln/proto/__init__.py
  contrib/pyln-proto/pyproject.toml
  contrib/pyln-testing/pyln/testing/__init__.py
  contrib/pyln-testing/pyproject.toml
  tools/reckless
  uv.lock
Due: none

currencyrate: vendor root certificates with webpki-roots
  Cargo.lock
  plugins/currencyrate-plugin/Cargo.toml
  plugins/currencyrate-plugin/src/main.rs
  plugins/currencyrate-plugin/src/oracle.rs
Due: none

tests: fix flaky bwatch 1-block reorg test
  tests/test_plugin.py
Due: none

ccan: update ccan to efd48386
  ccan/README
  ccan/ccan/io/poll.c
Due: check-amount-access

makefile: update: update-ccan
  Makefile
Due: none

splice: add tests for funding_tx_index tracking
  tests/test_splicing_disconnect.py
Due: none

splice: track funding_tx_index on inflights and channel funding
  channeld/channeld.c
  channeld/channeld_wire.csv
  channeld/full_channel.c
  channeld/full_channel.h
  channeld/inflight.c
  channeld/inflight.h
  channeld/test/run-full_channel.c
  common/initial_channel.c
  common/initial_channel.h
  devtools/mkcommit.c
  lightningd/channel.c
  lightningd/channel.h
  lightningd/channel_control.c
  lightningd/dual_open_control.c
  lightningd/opening_control.c
  lightningd/peer_control.c
  openingd/dualopend.c
  openingd/openingd.c
  tests/fuzz/fuzz-full_channel.c
  tests/fuzz/fuzz-initial_channel.c
  tests/plugins/channeld_fakenet.c
  tests/test_splicing_disconnect.py
  wallet/migrations.c
  wallet/test/run-chain_moves_duplicate-detect.c
  wallet/test/run-db.c
  wallet/test/run-migrate_remove_chain_moves_duplicates.c
  wallet/test/run-wallet.c
  wallet/wallet.c
Due: check-amount-access, check-discouraged-functions

channeld: detect splice on reestablish via funding_tx_index, not txid
  channeld/channeld.c
  tests/test_splicing_disconnect.py
Due: check-amount-access, check-discouraged-functions

Test CI on a blank PR
  trigger_ci.txt
Due: none

devtools: add --markdown output to credit for release notes
  devtools/credit
  doc/contribute-to-core-lightning/release-checklist.md
Due: none

Update plugins/bcli.c
  plugins/bcli.c
Due: check-amount-access, check-discouraged-functions

release: CHANGELOG and version bumps for v26.04.2
  .version
  CHANGELOG.md
  contrib/pyln-client/pyln/client/__init__.py
  contrib/pyln-client/pyproject.toml
  contrib/pyln-proto/pyln/proto/__init__.py
  contrib/pyln-proto/pyproject.toml
  contrib/pyln-testing/pyln/testing/__init__.py
  contrib/pyln-testing/pyproject.toml
  tools/reckless
  uv.lock
Due: none

ci: Testing Email Sending Feature from the CI
  .github/workflows/test-email-notification.yml
Due: none

listsendpays: discriminate ongoing payment by groupid
  plugins/xpay/listpays.c
  plugins/xpay/xpay.c
  plugins/xpay/xpay.h
Due: check-amount-access, check-discouraged-functions

pytest: listpays: test grouping by calling xpay
  tests/test_pay.py
Due: none

Add Blockstream info and badge in README
  README.md
Due: none

Add a new script to create a new ReadMe version
  .github/scripts/create-readme-version.sh
Due: none

Get the branch name from env to sync rpc docs
  .github/scripts/sync-rpc-cmds.py
Due: none

Update readme sync actions to trigger a new version publishing on the server
  .github/workflows/rdme-docs-sync.yml
  .github/workflows/readme-rpc-sync.yml
Due: none

fix flakyness on test_no_delay: introduced statistical margin instead of fixed amount to reduce flakiness
  tests/test_connection.py
Due: none

changed ambiguous name
  tests/test_connection.py
Due: none

xpay: add a flag to indicate completion of initialization
  plugins/xpay/xpay.c
  tests/test_xpay.py
Due: check-amount-access, check-discouraged-functions

docs: update changelog
  CHANGELOG.md
Due: none

libplugin: add macro to deprecate dynamic options
  plugins/libplugin.c
  plugins/libplugin.h
Due: check-amount-access, check-discouraged-functions

lsps-plugin: fail HTLC with TEMPORARY_CHANNEL_FAILURE on JIT channel errors
  plugins/lsps-plugin/src/service.rs
Due: none

xpay: deprecate xpay-handle-pay
  contrib/msggen/msggen/schema.json
  doc/developers-guide/deprecated-features.md
  doc/lightningd-config.5.md
  doc/schemas/listconfigs.json
  plugins/xpay/xpay.c
  tests/test_xpay.py
Due: check-amount-access, check-discouraged-functions

tests: Fix test_peer_anchor_push error due to variable signature length (Fixes #8493)
  tests/utils.py
Due: none

msggen: regenerate node_pb2.py with grpc_tools 1.78.0 Changelog-None
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2_grpc.py
Due: none

fix: cleaned all whitespaces Changelog-None
  lightningd/channel_gossip.c
Due: check-amount-access, check-discouraged-functions
