Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
      args: [ "--ignore=E501,E731,E741,W503,F541,E275" ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
    - id: shellcheck
      args: [ -fgcc ]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      description: Runs formatting checks on the c code and and throws errors if suggestions
        are detected, without modifying the code. Style is defined in `.clang-format`. When
        encountering formatting-related errors, run `clang-format -i <path-to-file>` to make
        (destructively) the suggestions and evalute the resulting diff for more context.
      args: [ --dry-run, -Werror ]
      entry: clang-format
      types: [ c ]
      stages: [ manual ]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-jsonschema
      name: check doc JSON schemas
      args: ["--schemafile", "doc/rpc-schema-draft.json"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

    - id: check-metaschema
      name: check doc JSON metaschemas
      args: ["--verbose"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: pretty-format-json
      args: [ "--indent", "2", "--no-sort-keys" ]
      files: ^doc/schemas/.*\.json$
      types: [ json ]
    - id: trailing-whitespace
      args: [ "--markdown-linebreak-ext=md" ]
      exclude: ccan|contrib|tests/fuzz/corpora
    - id: end-of-file-fixer
      exclude: ccan|contrib|tests/fuzz/corpora

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      description: Checks for common misspellings.
      exclude: ccan|contrib|tests/fuzz/corpora
      stages: [ manual ]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.23.0
  hooks:
    - id: commitlint
      stages: [ commit-msg ]

- repo: local
  hooks:
    # Reimplementation of `make check-amount-access` for pygrep.
    - id: check-amount-access
      name: Check amount_msat and amount_sat members are not accessed directly
      description: "Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow."
      language: pygrep
      entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)
      types: [ c ]
      exclude: common/amount|.*/test/.*

    # Reimplementation of `make check-discouraged-functions` for pygrep.
    - id: check-discouraged-functions
      name: Check for usage of discouraged funtions
      language: pygrep
      entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('
      types: [ c ]
      exclude: ccan|contrib

    - id: include-order-fixer
      name: Fix Include Order
      language: python
      description: Analyzes Core Lightning C source and header files, assesses the order of
        their include directives according to the published Coding Style Guidelines
        [here](https://docs.corelightning.org/docs/coding-style-guidelines), automatically
        applying sorting them. Aims to conform with `make check-includes`.
      entry: python devtools/include-order-fixer.py
      stages: [ manual ]
      pass_filenames: false

    - id: check-includes
      name: Check Includes
      language: system
      entry: make check-includes
      pass_filenames: false

Makefile: use GreatSpectations in place of our own boutique quote checker.
  Makefile
  devtools/specquotes.toml
  pyproject.toml
  uv.lock
Due: none

pyln-testing: don't let wait_for_log match its own forwarded announcement
  .github/workflows/macos.yaml
  contrib/pyln-testing/pyln/testing/utils.py
  tests/test_plugin.py
Due: none

CI: restructure release workflows
  .github/workflows/check-release-tag.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docker-release.yml
  .github/workflows/pypi-build.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/pypi.yml
  .github/workflows/release-build.yml
  .github/workflows/release-publish.yml
  .github/workflows/release.yml
Due: none

Dockerfile: add protobuf-compiler for vls signer step
  Dockerfile
Due: none

tests: fix test_low_fd_limit failing on RLIM_INFINITY platforms
  .github/workflows/macos.yaml
  tests/test_misc.py
Due: none

splice: add tests for funding_tx_index tracking
  tests/test_splicing_disconnect.py
Due: none

splice: track funding_tx_index on inflights and channel funding
  channeld/channeld.c
  channeld/channeld_wire.csv
  channeld/full_channel.c
  channeld/full_channel.h
  channeld/inflight.c
  channeld/inflight.h
  channeld/test/run-full_channel.c
  common/initial_channel.c
  common/initial_channel.h
  devtools/mkcommit.c
  lightningd/channel.c
  lightningd/channel.h
  lightningd/channel_control.c
  lightningd/dual_open_control.c
  lightningd/opening_control.c
  lightningd/peer_control.c
  openingd/dualopend.c
  openingd/openingd.c
  tests/fuzz/fuzz-full_channel.c
  tests/fuzz/fuzz-initial_channel.c
  tests/plugins/channeld_fakenet.c
  tests/test_splicing_disconnect.py
  wallet/migrations.c
  wallet/test/run-chain_moves_duplicate-detect.c
  wallet/test/run-db.c
  wallet/test/run-migrate_remove_chain_moves_duplicates.c
  wallet/test/run-wallet.c
  wallet/wallet.c
Due: check-amount-access, check-discouraged-functions

channeld: detect splice on reestablish via funding_tx_index, not txid
  channeld/channeld.c
  tests/test_splicing_disconnect.py
Due: check-amount-access, check-discouraged-functions

xpay: add traces for payments
  plugins/xpay/xpay.c
Due: check-amount-access, check-discouraged-functions

xpay: added subtrace to measure getroutes
  plugins/xpay/xpay.c
Due: check-amount-access, check-discouraged-functions

xpay: add sub-trace to measure injectpaymentonion
  plugins/xpay/xpay.c
Due: check-amount-access, check-discouraged-functions

lightningd: update graceful notifications when HTLC states change
  lightningd/peer_htlcs.c
  tests/test_misc.py
Due: check-amount-access, check-discouraged-functions

stop_ln: replaced hardcoded path with (like in stop_nodes) and introduced failsafe to avoid errors if stop_ln is called before ever calling start_ln (in that case, stop_ln does nothing)
  contrib/startup_regtest.sh
Due: none

destroy_ln: added check to see if nodes are still running. The check asks the user to run stop_ln in case running nodes are found, aborts otherwise
  contrib/startup_regtest.sh
Due: none

wally: update libwally to v1.5.6
  tests/test_wallet.py
Due: none

xpay: fakenet test: move funds when payment succeeds
  tests/plugins/channeld_fakenet.c
  tests/test_askrene.py
  tests/test_xpay.py
Due: check-amount-access, check-discouraged-functions

askrene: account for fees in flows
  plugins/askrene/child/mcf.c
  tests/test_askrene.py
Due: check-amount-access, check-discouraged-functions

channeld: pack/unpack attribution_data on peer wire
  channeld/channeld.c
Due: check-amount-access, check-discouraged-functions

Add attribution data to onionreply and update_fail/fulfill_htlc
  common/onionreply.c
  common/onionreply.h
  wire/extracted_peer_06_attribution.patch
  wire/peer_wire.csv
  wire/test/run-peer-wire.c
Due: check-amount-access, check-discouraged-functions

lightningd/htlc_end: track HTLC send timestamp for attribution hold_time
  lightningd/htlc_end.c
  lightningd/htlc_end.h
  lightningd/peer_htlcs.c
  wallet/wallet.c
Due: check-amount-access, check-discouraged-functions

common/test: add unit tests for attribution_data
  common/test/run-sphinx.c
Due: check-discouraged-functions

common/sphinx: Add helpers for attribution_data and failure node from unwrap_onionreply
  common/sphinx.c
  common/sphinx.h
  common/test/run-sphinx.c
  lightningd/pay.c
  lightningd/peer_htlcs.c
  plugins/renepay/json.c
  plugins/xpay/xpay.c
  wallet/test/run-wallet.c
Due: check-amount-access, check-discouraged-functions

channeld: propagate attribution_data through channeld↔lightningd wire
  channeld/channeld.c
  channeld/channeld_htlc.h
  channeld/full_channel.c
  common/htlc_wire.c
  common/htlc_wire.h
  lightningd/peer_htlcs.c
  tests/plugins/channeld_fakenet.c
  tools/generate-wire.py
  wallet/test/run-wallet.c
Due: check-amount-access, check-discouraged-functions

tests/test_misc.py: integration tests for attribution error detection
  tests/test_misc.py
Due: none

dev: add --dev-corrupt-attribution flag
  channeld/channeld.c
  channeld/channeld_wire.csv
  lightningd/channel_control.c
  lightningd/lightningd.c
  lightningd/lightningd.h
  lightningd/options.c
  tests/plugins/channeld_fakenet.c
Due: check-amount-access, check-discouraged-functions

Update mocks
  common/test/run-blindedpath_onion.c
  common/test/run-htable.c
  common/test/run-onion-message-test.c
  common/test/run-onion-test-vector.c
  common/test/run-route-infloop.c
  common/test/run-route_blinding_onion_test.c
  common/test/run-sphinx-xor_cipher_stream.c
  lightningd/test/run-invoice-select-inchan.c
  onchaind/test/run-grind_feerate-bug.c
  tests/fuzz/fuzz-wire-update_fail_htlc.c
  tests/fuzz/fuzz-wire-update_fulfill_htlc.c
  wallet/test/run-wallet.c
Due: check-amount-access, check-discouraged-functions

features: advertise option_attribution_data
  common/features.c
  common/features.h
  contrib/msggen/msggen/schema.json
  doc/schemas/commando.json
  doc/schemas/connect.json
  doc/schemas/createinvoice.json
  doc/schemas/decode.json
  doc/schemas/delinvoice.json
  doc/schemas/delpay.json
  doc/schemas/getinfo.json
  doc/schemas/invoice.json
  doc/schemas/listinvoices.json
  doc/schemas/listnodes.json
  doc/schemas/listpays.json
  doc/schemas/listpeers.json
  doc/schemas/listsendpays.json
  doc/schemas/pay.json
  doc/schemas/preapproveinvoice.json
  doc/schemas/renepay.json
  doc/schemas/renepaystatus.json
  doc/schemas/signinvoice.json
  doc/schemas/waitanyinvoice.json
  doc/schemas/waitinvoice.json
  doc/schemas/xpay.json
  lightningd/lightningd.c
  tests/test_misc.py
  tests/utils.py
Due: check-amount-access, check-discouraged-functions

tests: add regression test for hsmtool commands with passphrase
  tests/test_wallet.py
Due: none

lightning-hsmtool: Fix getsecret does not show mnemonic after typing passphrase
  tools/lightning-hsmtool.c
Due: check-amount-access, check-discouraged-functions

multiwithdraw: use unique ids on requests.
  plugins/spender/multifundchannel.c
  plugins/spender/multiwithdraw.c
Due: check-amount-access, check-discouraged-functions

libplugin: json_id: guard against weird prefixes
  plugins/libplugin.c
Due: check-amount-access, check-discouraged-functions

libplugins: JSON ids are always strings.
  plugins/askrene/askrene.c
  plugins/askrene/child/child.c
  plugins/commando.c
  plugins/libplugin-pay.c
  plugins/libplugin.c
  plugins/libplugin.h
  tests/test_askrene.py
  tests/test_misc.py
Due: check-amount-access, check-discouraged-functions
