Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

check-amount-access:
  name: Check amount_msat and amount_sat members are not accessed directly
  description: Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow.
  language: pygrep
  entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)

check-discouraged-functions:
  name: Check for usage of discouraged funtions
  language: pygrep
  entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('

pytest: determine scid direction dynamically
  tests/test_askrene.py
Due: none

pytest: use old hsm secret whenever a canned database files is used
  tests/test_bookkeeper.py
  tests/test_coinmoves.py
  tests/test_db.py
  tests/test_invoices.py
  tests/test_misc.py
  tests/test_pay.py
  tests/test_runes.py
  tests/test_wallet.py
Due: none

test: mark bookkeeper test to use old hsm secret
  tests/test_bookkeeper.py
Due: none

pytest: parameterize test_showrunes.
  tests/test_runes.py
Due: none

test: use old hsmsecret format for hardcoded onion message
  tests/test_connection.py
Due: none

tests: update test so use both node ids
  tests/test_cln_rs.py
Due: none

pytest: make sure to use old_hsmsecret on downgrade tests.
  tests/test_downgrade.py
Due: none

pytest: test names for new nodes.
  tests/test_misc.py
Due: none

pytest: parameterize test_payerkey and test_exposesecret.
  tests/test_pay.py
  tests/test_plugin.py
Due: none

wallet: conduct unit tests with both bip86 and bip32.
  wallet/test/run-wallet.c
Due: check-discouraged-functions

Makefile: clean up a little.
  Makefile
  external/Makefile
Due: none

Makefile: improve print-binary-sizes to be more meaningful.
  Makefile
Due: none

Fix Reckless search command not finding partial matches
  tests/test_reckless.py
  tools/reckless
Due: none

pytest: add askrene layer creation bench.
  tests/benchmark.py
Due: none

askrene: speed up when using large number of layers.
  plugins/askrene/askrene.c
  plugins/askrene/askrene.h
  plugins/askrene/layer.c
  plugins/askrene/layer.h
  tests/benchmark.py
Due: check-amount-access, check-discouraged-functions

pytest: also make sure askrene doesn't suffer when reloading many layers on startup.
  tests/benchmark.py
Due: none

patch configure-check-function-sections.patch
  configure
Due: none

Build: add function sections.
  Makefile
Due: none

configure: remove gratuitous CSANFLAGS print.
  configure
Due: none

libplugin: add command_finish_rawstr() for when we're simply repeating an entore response.
  plugins/libplugin.c
  plugins/libplugin.h
Due: check-amount-access, check-discouraged-functions

bitcoin: hash_scid and hash_scidd public functions.
  bitcoin/short_channel_id.h
  common/gossmap.c
  connectd/connectd.h
  lightningd/channel.h
  plugins/askrene/askrene.h
  plugins/askrene/layer.c
  plugins/channel_hint.c
  plugins/channel_hint.h
  plugins/renepay/chan_extra.h
  plugins/renepay/disabledmap.c
  plugins/renepay/disabledmap.h
Due: check-amount-access, check-discouraged-functions

askrene: make minflow() static, and remove unused linear_flow_cost.
  plugins/askrene/mcf.c
  plugins/askrene/mcf.h
Due: check-amount-access, check-discouraged-functions

askrene: fork before calling the route solver.
  plugins/askrene/askrene.c
Due: check-amount-access, check-discouraged-functions

askrene: add child_log function so child can do logging.
  plugins/askrene/Makefile
  plugins/askrene/askrene.c
  plugins/askrene/child/child_log.c
  plugins/askrene/child/child_log.h
Due: check-amount-access, check-discouraged-functions

tests: improve test logic
  tests/test_opening.py
Due: none

tests: fixing typo on `fundchannel` `id` parameter
  tests/test_opening.py
Due: none

pytest: make test_connect_ratelimit more robust
  tests/test_connection.py
Due: none

askrene: move routines only accessed by the child process into child/.
  plugins/askrene/Makefile
  plugins/askrene/askrene.c
  plugins/askrene/child/algorithm.c
  plugins/askrene/child/algorithm.h
  plugins/askrene/child/dijkstra.c
  plugins/askrene/child/dijkstra.h
  plugins/askrene/child/explain_failure.c
  plugins/askrene/child/explain_failure.h
  plugins/askrene/child/flow.c
  plugins/askrene/child/flow.h
  plugins/askrene/child/graph.c
  plugins/askrene/child/graph.h
  plugins/askrene/child/mcf.c
  plugins/askrene/child/mcf.h
  plugins/askrene/child/priorityqueue.c
  plugins/askrene/child/priorityqueue.h
  plugins/askrene/child/refine.c
  plugins/askrene/child/refine.h
  plugins/askrene/layer.h
  plugins/askrene/reserve.h
  plugins/askrene/test/Makefile
  plugins/askrene/test/run-bfs.c
  plugins/askrene/test/run-dijkstra.c
  plugins/askrene/test/run-flow.c
  plugins/askrene/test/run-graph.c
  plugins/askrene/test/run-mcf-large.c
  plugins/askrene/test/run-mcf.c
  plugins/askrene/test/run-pqueue.c
Due: check-amount-access, check-discouraged-functions

askrene: expose additional_costs htable so child can access it.
  plugins/askrene/Makefile
  plugins/askrene/askrene.c
  plugins/askrene/child/additional_costs.h
Due: check-amount-access, check-discouraged-functions

askrene: move fmt_flow_full from askrene.c into flow.c.
  plugins/askrene/askrene.c
  plugins/askrene/child/flow.c
Due: check-amount-access, check-discouraged-functions

askrene: remove non child-friendly fields from struct route_query.
  plugins/askrene/askrene.c
  plugins/askrene/askrene.h
  plugins/askrene/child/entry.c
  plugins/askrene/child/entry.h
  plugins/askrene/child/mcf.c
  plugins/askrene/child/mcf.h
  plugins/askrene/child/refine.c
Due: check-amount-access, check-discouraged-functions

askrene: make children use child_log() instead of rq_log.
  plugins/askrene/askrene.c
  plugins/askrene/child/entry.c
  plugins/askrene/child/entry.h
  plugins/askrene/child/explain_failure.c
  plugins/askrene/child/flow.c
  plugins/askrene/child/flow.h
  plugins/askrene/child/mcf.c
  plugins/askrene/child/refine.c
Due: check-amount-access, check-discouraged-functions

askrene: move fork() entry point into its own file.
  plugins/askrene/Makefile
  plugins/askrene/askrene.c
  plugins/askrene/askrene.h
  plugins/askrene/child/entry.c
  plugins/askrene/child/entry.h
Due: check-amount-access, check-discouraged-functions

askrene: make "child.c" to be the explicit child entry point.
  plugins/askrene/Makefile
  plugins/askrene/askrene.c
  plugins/askrene/child/child.c
  plugins/askrene/child/child.h
  plugins/askrene/child/entry.h
Due: check-amount-access, check-discouraged-functions

askrene: limit how many children we have.
  doc/lightningd-config.5.md
  plugins/askrene/askrene.c
  plugins/askrene/askrene.h
Due: check-amount-access, check-discouraged-functions

askrene: close files in child to isolate against bugs.
  plugins/askrene/askrene.c
Due: check-amount-access, check-discouraged-functions

askrene: actually run children in parallel.
  plugins/askrene/askrene.c
  plugins/askrene/askrene.h
Due: check-amount-access, check-discouraged-functions

Path conditions:
  check-amount-access: any of: \.(c|h)$, but not: common/amount|.*/test/.*
  check-discouraged-functions: any of: \.(c|h)$, but not: ccan|contrib
