Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
      args: [ "--ignore=E501,E731,E741,W503,F541,E275" ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
    - id: shellcheck
      args: [ -fgcc ]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      description: Runs formatting checks on the c code and and throws errors if suggestions
        are detected, without modifying the code. Style is defined in `.clang-format`. When
        encountering formatting-related errors, run `clang-format -i <path-to-file>` to make
        (destructively) the suggestions and evalute the resulting diff for more context.
      args: [ --dry-run, -Werror ]
      entry: clang-format
      types: [ c ]
      stages: [ manual ]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-jsonschema
      name: check doc JSON schemas
      args: ["--schemafile", "doc/rpc-schema-draft.json"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

    - id: check-metaschema
      name: check doc JSON metaschemas
      args: ["--verbose"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: pretty-format-json
      args: [ "--indent", "2", "--no-sort-keys" ]
      files: ^doc/schemas/.*\.json$
      types: [ json ]
    - id: trailing-whitespace
      args: [ "--markdown-linebreak-ext=md" ]
      exclude: ccan|contrib|tests/fuzz/corpora
    - id: end-of-file-fixer
      exclude: ccan|contrib|tests/fuzz/corpora

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      description: Checks for common misspellings.
      exclude: ccan|contrib|tests/fuzz/corpora
      stages: [ manual ]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.23.0
  hooks:
    - id: commitlint
      stages: [ commit-msg ]

- repo: local
  hooks:
    # Reimplementation of `make check-amount-access` for pygrep.
    - id: check-amount-access
      name: Check amount_msat and amount_sat members are not accessed directly
      description: "Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow."
      language: pygrep
      entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)
      types: [ c ]
      exclude: common/amount|.*/test/.*

    # Reimplementation of `make check-discouraged-functions` for pygrep.
    - id: check-discouraged-functions
      name: Check for usage of discouraged funtions
      language: pygrep
      entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('
      types: [ c ]
      exclude: ccan|contrib

    - id: include-order-fixer
      name: Fix Include Order
      language: python
      description: Analyzes Core Lightning C source and header files, assesses the order of
        their include directives according to the published Coding Style Guidelines
        [here](https://docs.corelightning.org/docs/coding-style-guidelines), automatically
        applying sorting them. Aims to conform with `make check-includes`.
      entry: python devtools/include-order-fixer.py
      stages: [ manual ]
      pass_filenames: false

    - id: check-includes
      name: Check Includes
      language: system
      entry: make check-includes
      pass_filenames: false

fixup! sql: rewrite scid string literals to use scid() for index support
  plugins/sql.c
  tests/test_plugin.py
Due: check-amount-access, check-discouraged-functions

common: fix BOLT 12 payer_proof marker-jump via next_marker helper
  common/bolt12_proof.c
  common/test/run-bolt12_proof_marker_jump.c
Due: check-amount-access, check-discouraged-functions

common/test: generate marker-jump vector in run-bolt12_proof_vectors
  common/test/run-bolt12_proof_vectors.c
Due: check-discouraged-functions

common: ignore proof-only fields when checking omitted markers
  common/bolt12_proof.c
  common/test/run-bolt12_proof_marker_jump.c
Due: check-amount-access, check-discouraged-functions

common/test: reproduce BOLT 12 PR #1295 marker-jump spec contradiction
  common/test/Makefile
  common/test/run-bolt12_proof_marker_jump.c
Due: check-discouraged-functions

channeld: include fundee-owned pending HTLCs in the splice push_value
  channeld/channeld.c
  channeld/test/run-splice_fundee_msat.c
Due: check-amount-access, check-discouraged-functions

lightningd: add test for tracking routing fees as income
  tests/test_bookkeeper.py
Due: none

tests: add test penalty transaction tracking both from the punisher and the cheater peer.
  tests/test_bookkeeper.py
Due: none

removed accounting fees test - wrong branch
  tests/test_bookkeeper.py
Due: none

pytests: integrate VLS signer support into pyln-testing fixtures
  tests/conftest.py
  tests/fixtures.py
  tests/test_pay.py
  tests/utils.py
  tests/vls.py
Due: none

pytests: make VLS signer opt-in via `-m vls`
  tests/conftest.py
  tests/fixtures.py
  tests/test_pay.py
Due: none

pytest: take into account `CARGO_TARGET_DIR` if it's set
  tests/vls.py
Due: none

pytest: set default `use_vls` opt in `LightningNode` to `False`
  tests/fixtures.py
Due: none

pytest: warn instead of defaulting `REMOTE_SIGNER_ALLOWLIST` to a CLN-relative path
  tests/vls.py
Due: none

tests: `NodeFactory` override makes all tests fail
  tests/fixtures.py
Due: none

tests: aligning test using the same `dev_pay` command + adding `wait_for_announce` flag to avoid 'destination not reachable'
  tests/test_pay.py
Due: none

testing: fixing VLS_AUTO_BUILD returns the path to the vlsd binary, while REMOTE_SIGNER_PATH was being treated as a directory
  tests/vls.py
Due: none

tests: fix test_htlc_no_force_close flake
  tests/test_closing.py
Due: none

test: fixing vls-node that failed to startup hang around. Now the run fails before if the binary is not found
  tests/conftest.py
  tests/fixtures.py
Due: none

bitcoin: don't read past a truncated Elements block header
  bitcoin/block.c
  bitcoin/test/run-bitcoin_block_from_hex.c
Due: check-amount-access, check-discouraged-functions

tests: fix websocket connect races in test_clnrest
  tests/test_clnrest.py
Due: none

db: index `blocks(height)` references
  wallet/migrations.c
Due: check-amount-access, check-discouraged-functions

lightningd: fix crash and busy-loop on invoice with huge expiry
  lightningd/invoice.c
  tests/test_invoices.py
Due: check-amount-access, check-discouraged-functions

lightningd: check expiry bounds in createinvoice too
  lightningd/invoice.c
  tests/test_invoices.py
Due: check-amount-access, check-discouraged-functions

tests: derive the crafted invoice HRP from the running network
  tests/test_invoices.py
Due: none

lightningd: honour the close feerange minimum when accepting a closing fee
  lightningd/closing_control.c
  tests/test_closing.py
Due: check-amount-access, check-discouraged-functions

tests: reproduce a mutual close at the fee ceiling falling back to the commitment
  tests/test_closing.py
Due: none

tests: reproduce closingd completing a close on a fee lightningd rejected
  lightningd/closing_control.c
  lightningd/lightningd.c
  lightningd/lightningd.h
  lightningd/options.c
  tests/test_closing.py
Due: check-amount-access, check-discouraged-functions

tests: reproduce a close with a feerange below the estimate floor falling back to the commitment
  tests/test_closing.py
Due: none

lightningd: bound the negotiated closing fee, not the transaction's fee
  lightningd/closing_control.c
  tests/test_closing.py
Due: check-amount-access, check-discouraged-functions

closingd: fail the negotiation when lightningd rejects the peer's closing fee
  closingd/closingd.c
  closingd/closingd_wire.csv
  lightningd/closing_control.c
  tests/test_closing.py
Due: check-amount-access, check-discouraged-functions
