Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.8.0
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --diff ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"
    # Run the formatter.
    - id: ruff-format
      args: [ --diff ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"

- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
    - id: shellcheck
      args: [ -fgcc ]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      description: Runs formatting checks on the c code and and throws errors if suggestions
        are detected, without modifying the code. Style is defined in `.clang-format`. When
        encountering formatting-related errors, run `clang-format -i <path-to-file>` to make
        (destructively) the suggestions and evalute the resulting diff for more context.
      args: [ --dry-run, -Werror ]
      entry: clang-format
      types: [ c ]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-jsonschema
      name: check doc JSON schemas
      args: ["--schemafile", "doc/rpc-schema-draft.json"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

    - id: check-metaschema
      name: check doc JSON metaschemas
      args: ["--verbose"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: pretty-format-json
      args: [ "--indent", "2", "--no-sort-keys" ]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      description: Checks for common misspellings.
      exclude: ccan|contrib|tests/fuzz/corpora

- repo: https://github.com/compilerla/conventional-pre-commit
  rev: v3.6.0
  hooks:
    - id: conventional-pre-commit
      stages: [commit-msg]
      args:
        - --scopes=askrene,bkpr,channeld,cli,closingd,cln-grpc,cln-rpc,common,connectd,db,gossipd,hsmd,lightningd,onchaind,openingd,pay,pylightning,pyln-client,pyln-spec,pyln-testing,pytest,splice,tools,wallet,wire,xpay
        - --verbose
        - build
        - chore
        - ci
        - docs
        - feat
        - fix
        - style
        - refactor
        - perf
        - test

- repo: local
  hooks:
    # Reimplementation of `make check-amount-access` for pygrep.
    - id: check-amount-access
      name: Check amount_msat and amount_sat members are not accessed directly
      description: "Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow."
      language: pygrep
      entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)
      types: [ c ]
      exclude: common/amount|.*/test/.*

    # Reimplementation of `make check-discouraged-functions` for pygrep.
    - id: check-discouraged-functions
      name: Check for usage of discouraged funtions
      language: pygrep
      entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('
      types: [ c ]
      exclude: ccan|contrib

lightningd: add description field to offer related responces
  lightningd/offer.c
Due: check-amount-access, check-discouraged-functions

doc: Added doc schemas with description and update proto
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/schema.json
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
  doc/schemas/disableoffer.json
  doc/schemas/enableoffer.json
  doc/schemas/listoffers.json
  tests/autogenerate-rpc-examples.py
Due: none

test: test_sql: fix missing description field
  tests/test_plugin.py
Due: none

lightningd: fix segfault when parse_filter fails
  lightningd/jsonrpc.c
Due: check-amount-access, check-discouraged-functions

tests: added *non-developer mode* test for invalid filtering
  tests/test_misc.py
Due: none

msggen: add string_map type
  contrib/msggen/msggen/gen/grpc/convert.py
  contrib/msggen/msggen/gen/grpc/proto.py
  contrib/msggen/msggen/gen/grpc/unconvert.py
  contrib/msggen/msggen/gen/grpc/util.py
  contrib/msggen/msggen/gen/rpc/rust.py
  contrib/msggen/msggen/model.py
  contrib/pyln-testing/pyln/testing/fixtures.py
Due: none

clnrest: add clnrest-register-path method for dynamic paths
  .msggen.json
  Cargo.lock
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-grpc/src/server.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/model.py
  contrib/msggen/msggen/schema.json
  contrib/msggen/msggen/utils/utils.py
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2_grpc.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
  doc/schemas/clnrest-register-path.json
  plugins/rest-plugin/Cargo.toml
  plugins/rest-plugin/src/handlers.rs
  plugins/rest-plugin/src/main.rs
  plugins/rest-plugin/src/options.rs
  plugins/rest-plugin/src/shared.rs
  plugins/rest-plugin/src/structs.rs
  tests/plugins/dynamic_clnrest_path.py
  tests/test_clnrest.py
Due: none

contrib: add Sangbida's signing key
  SECURITY.md
  contrib/keys/sangbida.txt
Due: none

ci: Update GitHub Actions runner to Ubuntu 24.04 due to timeout reports on 22.04
  .github/scripts/setup.sh
  .github/workflows/ci.yaml
Due: none

ci: Increase timeout
  .github/workflows/ci.yaml
Due: none

ci: Reduce pytest reruns from 10 to 4 to improve CI stability and resource usage
  .github/workflows/ci.yaml
Due: none

test: test_xpay: add test for 1sat invoice
  tests/test_xpay.py
Due: none

tests: Fix test_peer_anchor_push error due to variable signature length (Fixes #8493)
  tests/utils.py
Due: none

fix: cleaned up code Fixes #8395 Changelog-Fixed: Transactions now correctly create change outputs between 330-546 sat for P2TR/P2WPKH instead of absorbing them as fees
  bitcoin/tx.c
Due: check-amount-access, check-discouraged-functions

tests: fixed feerate tolerance and signature detection(Fixes #8493)
  tests/utils.py
Due: none

fix:progress channel announcement state when remote_sigs already in db Fixes #8552 Changelog-Fixed: Channel announcements now work after restart even if peer doesn't resend announcement_signatures
  lightningd/channel_gossip.c
  tests/test_gossip_announcement.py
Due: check-amount-access, check-discouraged-functions

fix: build on Alpine Linux
  common/configvar.c
Due: check-amount-access, check-discouraged-functions

Changelog-Added: Adding an "usable_only" argument to the listoffers command.
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/schema.json
  contrib/pyln-client/pyln/client/lightning.py
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  doc/schemas/listoffers.json
  lightningd/offer.c
Due: check-amount-access, check-discouraged-functions

Changelog-Fixed: enableoffer: Adding an error when trying to activate an used single use offer.
  common/jsonrpc_errors.h
  lightningd/offer.c
Due: check-amount-access, check-discouraged-functions

pytest: test for amountless offer with currency.
  tests/test_pay.py
Due: none

common: enforce currency-requires-amount check.
  common/bolt12.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

Changelog-Added: Adding a needed_features optional parameter to the getroutes command so a route involving only nodes having the needed features can be found.
  plugins/askrene/askrene.c
  plugins/askrene/mcf.c
  plugins/askrene/mcf.h
Due: check-amount-access, check-discouraged-functions

common: fix ubsan trigger in param test.
  common/test/run-param.c
Due: check-discouraged-functions

decode: don't treat every failure as a rune.
  common/utils.c
  common/utils.h
  plugins/libplugin.h
  plugins/offers.c
  plugins/test/run-decode_guess_type.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

pytest: don't run tests marked slow_test at all if VALGRIND and SLOW_MACHINE.
  contrib/pyln-testing/pyln/testing/utils.py
  tests/conftest.py
  tests/test_closing.py
  tests/test_connection.py
  tests/test_plugin.py
  tests/test_reckless.py
Due: none

CI: remove reruns on all failures.
  .github/workflows/ci.yaml
Due: none

connectd: fix race when we supply a new address.
  lightningd/connect_control.c
  tests/test_splicing.py
Due: check-amount-access, check-discouraged-functions

pytest: fix real reason for warning issue in test_route_by_old_scid.
  tests/test_splicing.py
Due: none

pytest: remove test_lockup_drain.
  tests/test_pay.py
Due: none

pytest: restore and fix disabled test test_excluded_adjacent_routehint.
  lightningd/connect_control.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

pytest: expect slow commands with giant commando test
  tests/test_plugin.py
Due: none

pytest: fix test_bitcoin_backend_gianttx flake.
  tests/test_plugin.py
Due: none

pytest: note that we also trigger CI failure on this "That's weird" messages.
  contrib/pyln-testing/pyln/testing/fixtures.py
Due: none

pytest: fix flake in test_coin_movement_notices
  tests/test_plugin.py
Due: none

pytest: enable test_offline.
  tests/test_connection.py
Due: none

pytest: fix feerate check in test_peer_anchor_push
  hsmd/libhsmd.c
Due: check-amount-access, check-discouraged-functions

pytest: test the askrene doesn't use local dying channels.
  tests/test_askrene.py
  tests/utils.py
Due: none
