Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

check-amount-access:
  name: Check amount_msat and amount_sat members are not accessed directly
  description: Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow.
  language: pygrep
  entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)

check-discouraged-functions:
  name: Check for usage of discouraged funtions
  language: pygrep
  entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('

lightningd: remove undocumented 128 byte limit on invoice labels.
  lightningd/invoice.c
Due: check-amount-access, check-discouraged-functions

pytest: tests for repeatpay.
  tests/test_repeatpay.py
Due: none

repeatpay: persist across restarts.
  plugins/repeatpay/repeatpay.c
  tests/test_repeatpay.py
Due: check-amount-access, check-discouraged-functions

repeatpay: handle payments which weren't finished across restarts.
  plugins/repeatpay/repeatpay.c
  tests/plugins/hold_htlcs.py
  tests/test_repeatpay.py
Due: check-amount-access, check-discouraged-functions

fix: add destructor to free strmap memory in sql plugin
  plugins/sql.c
Due: check-amount-access, check-discouraged-functions

sql: free strmap internal nodes on plugin shutdown
  plugins/sql.c
Due: check-amount-access, check-discouraged-functions

lsps-plugin: add cln-lsps-policy plugin for LSPS2 fee policy management Changelog-None
  plugins/Makefile
  plugins/lsps-plugin/Cargo.toml
  plugins/lsps-plugin/src/policy.rs
Due: none

lsps-plugin: don't auto-load cln-lsps-policy as a builtin plugin
  plugins/Makefile
  plugins/lsps-plugin/src/policy.rs
Due: none

configure: fix quoting mistake in setting DEFAULT_CWARNFLAGS in usage()
  configure
Due: none

common: explain why mlock() failed instead of a bare abort.
  common/utils.c
Due: check-amount-access, check-discouraged-functions

add: added basic structure of forward failure reasons
  .msggen.json
  channeld/channeld.c
  channeld/channeld_wire.csv
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-rpc/src/model.rs
  common/Makefile
  common/forward_failure_reason.h
  contrib/msggen/msggen/schema.json
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2_grpc.py
  contrib/pyln-grpc-proto/pyln/grpc/primitives_pb2.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
  doc/schemas/listforwards.json
  lightningd/forwards.c
  lightningd/forwards.h
  lightningd/notification.c
  lightningd/notification.h
  lightningd/pay.c
  lightningd/peer_htlcs.c
  lightningd/peer_htlcs.h
  tests/plugins/channeld_fakenet.c
  tests/test_pay.py
  tests/test_plugin.py
  wallet/migrations.c
  wallet/test/run-chain_moves_duplicate-detect.c
  wallet/test/run-db.c
  wallet/test/run-migrate_remove_chain_moves_duplicates.c
  wallet/test/run-wallet.c
  wallet/wallet.c
  wallet/wallet.h
Due: check-amount-access, check-discouraged-functions

tests: Add more tests covering invalid characters and non-digits. Fix duplicate includes.
  common/test/run-utils-str_to_s64.c
Due: check-discouraged-functions

common: json_to_s64 accept only valid JSON numbers
  common/json_parse_simple.c
  common/test/run-utils-str_to_s64.c
  common/utils.c
  common/utils.h
Due: check-amount-access, check-discouraged-functions

CCAN: update after 32-bit and MacOS cleanups.
  ccan/README
  ccan/ccan/breakpoint/_info
  ccan/ccan/breakpoint/test/run-blocked.c
  ccan/ccan/breakpoint/test/run-fork.c
  ccan/ccan/breakpoint/test/run-threads.c
  ccan/ccan/cppmagic/test/run-map-empty-arg.c
  ccan/ccan/fdpass/fdpass.c
  ccan/ccan/fdpass/test/run-multifd-leak.c
  ccan/ccan/htable/test/run-init-sized-alloc-fail.c
  ccan/ccan/htable/test/run-init-sized-huge.c
  ccan/ccan/io/io.c
  ccan/ccan/io/io.h
  ccan/ccan/io/poll.c
  ccan/ccan/io/test/run-15-timeout.c
  ccan/ccan/io/test/run-22-POLLHUP-on-listening-socket.c
  ccan/ccan/io/test/run-47-exclusive-duplex.c
  ccan/ccan/io/test/run-48-exclusive-duplex-write.c
  ccan/ccan/io/test/run-50-listener-blocking-accept.c
  ccan/ccan/likely/test/run-stats-empty-debug.c
  ccan/ccan/mem/mem.c
  ccan/ccan/mem/mem.h
  ccan/ccan/order/test/api.c
  ccan/ccan/pipecmd/test/run-eintr.c
  ccan/ccan/pipecmd/test/run-execfail-fdleak.c
  ccan/ccan/pipecmd/test/run-execfail-flush.c
  ccan/ccan/ptr_valid/test/run-batch-cache.c
  ccan/ccan/ptr_valid/test/run-child-flush.c
  ccan/ccan/ptr_valid/test/run-errno.c
  ccan/ccan/ptr_valid/test/run-realloc-leak.c
  ccan/ccan/tal/path/path.c
  ccan/ccan/tal/path/test/run-pushd.c
  ccan/ccan/tal/path/test/run-simplify.c
  ccan/ccan/time/test/run-divide-roundup.c
  ccan/ccan/time/test/run-multiply-overflow.c
Due: check-amount-access

channeld: drain stfu deferred queue on end_stfu_mode
  channeld/channeld.c
  tests/test_connection.py
Due: check-amount-access, check-discouraged-functions

channeld: rename update_queue to stfu_pending_queue
  channeld/channeld.c
Due: check-amount-access, check-discouraged-functions

plugins(lsps2): add session FSM for LSPS2 payment collection
  plugins/lsps-plugin/Cargo.toml
  plugins/lsps-plugin/src/core/lsps2/session.rs
  plugins/lsps-plugin/src/proto/lsps0.rs
  plugins/lsps-plugin/src/proto/lsps2.rs
Due: none

plugins(lsps2): add session manager and unify HTLC handling
  plugins/lsps-plugin/src/client.rs
  plugins/lsps-plugin/src/cln_adapters/rpc.rs
  plugins/lsps-plugin/src/core/lsps2/handler.rs
  plugins/lsps-plugin/src/core/lsps2/htlc.rs
  plugins/lsps-plugin/src/core/lsps2/manager.rs
  plugins/lsps-plugin/src/core/lsps2/mod.rs
  plugins/lsps-plugin/src/core/lsps2/provider.rs
  plugins/lsps-plugin/src/core/lsps2/service.rs
  plugins/lsps-plugin/src/core/lsps2/session.rs
  plugins/lsps-plugin/src/service.rs
  tests/plugins/lsps2_policy.py
Due: none

plugins(lsps2): add session actor with action executor boundary
  plugins/lsps-plugin/src/core/lsps2/actor.rs
Due: none

plugins(lsps2): add integration tests for session lifecycle
  tests/plugins/lsps2_service_mock.py
  tests/test_cln_lsps.py
Due: none

plugins(lsps2): add restart recovery for session persistence
  plugins/lsps-plugin/src/cln_adapters/rpc.rs
  plugins/lsps-plugin/src/core/lsps2/actor.rs
  plugins/lsps-plugin/src/core/lsps2/manager.rs
  plugins/lsps-plugin/src/core/lsps2/provider.rs
  plugins/lsps-plugin/src/core/lsps2/service.rs
  plugins/lsps-plugin/src/core/lsps2/session.rs
  plugins/lsps-plugin/src/proto/lsps2.rs
  plugins/lsps-plugin/src/service.rs
  tests/test_cln_lsps.py
Due: none

plugins(lsps2): add EventSink trait for session event notification
  plugins/lsps-plugin/src/cln_adapters/rpc.rs
  plugins/lsps-plugin/src/core/lsps2/actor.rs
  plugins/lsps-plugin/src/core/lsps2/event_sink.rs
  plugins/lsps-plugin/src/core/lsps2/manager.rs
  plugins/lsps-plugin/src/core/lsps2/mod.rs
  plugins/lsps-plugin/src/core/lsps2/service.rs
  plugins/lsps-plugin/src/proto/lsps2.rs
  plugins/lsps-plugin/src/service.rs
Due: none

plugins(lsps2): simplify DatastoreProvider to focused trait
  plugins/lsps-plugin/src/cln_adapters/rpc.rs
  plugins/lsps-plugin/src/core/lsps2/actor.rs
  plugins/lsps-plugin/src/core/lsps2/manager.rs
  plugins/lsps-plugin/src/core/lsps2/provider.rs
  plugins/lsps-plugin/src/core/lsps2/service.rs
Due: none

plugins(lsps2): decouple lsps2 crate from CLN-specific types
  plugins/lsps-plugin/Cargo.toml
  plugins/lsps-plugin/src/client.rs
  plugins/lsps-plugin/src/cln_adapters/mod.rs
  plugins/lsps-plugin/src/cln_adapters/rpc.rs
  plugins/lsps-plugin/src/core/lsps2/manager.rs
  plugins/lsps-plugin/src/core/lsps2/service.rs
  plugins/lsps-plugin/src/lib.rs
  plugins/lsps-plugin/src/proto/lsps0.rs
  plugins/lsps-plugin/src/proto/lsps2.rs
  plugins/lsps-plugin/src/service.rs
Due: none

plugins(lsps2): simplify actor and session manager
  plugins/lsps-plugin/src/cln_adapters/mod.rs
  plugins/lsps-plugin/src/cln_adapters/rpc.rs
  plugins/lsps-plugin/src/core/lsps2/actor.rs
  plugins/lsps-plugin/src/core/lsps2/manager.rs
  plugins/lsps-plugin/src/core/lsps2/provider.rs
  plugins/lsps-plugin/src/core/lsps2/service.rs
  plugins/lsps-plugin/src/core/lsps2/session.rs
  plugins/lsps-plugin/src/service.rs
Due: none

plugins(lsps2): route recovered sessions through forward_event path
  plugins/lsps-plugin/src/cln_adapters/rpc.rs
  plugins/lsps-plugin/src/core/lsps2/actor.rs
  plugins/lsps-plugin/src/core/lsps2/manager.rs
  plugins/lsps-plugin/src/core/lsps2/provider.rs
Due: none

plugins(lsps2): make collect timeout dev config
  plugins/lsps-plugin/src/service.rs
  tests/test_cln_lsps.py
Due: none

lsps2: adding list_finalized_sessions to the DatastoreProvider
  plugins/lsps-plugin/src/cln_adapters/rpc.rs
  plugins/lsps-plugin/src/core/lsps2/actor.rs
  plugins/lsps-plugin/src/core/lsps2/manager.rs
  plugins/lsps-plugin/src/core/lsps2/provider.rs
  plugins/lsps-plugin/src/core/lsps2/service.rs
Due: none

plugins(lsps2): fix onion failure codes sent when failing HTLCs
  plugins/lsps-plugin/src/core/lsps2/session.rs
  plugins/lsps-plugin/src/proto/lsps2.rs
Due: none

plugins(lsps2): forward replayed HTLCs to recovered sessions
  plugins/lsps-plugin/src/core/lsps2/actor.rs
  plugins/lsps-plugin/src/core/lsps2/manager.rs
Due: none

plugins(lsps2): key HTLCs by (incoming channel, htlc id)
  plugins/lsps-plugin/src/core/lsps2/actor.rs
  plugins/lsps-plugin/src/core/lsps2/manager.rs
  plugins/lsps-plugin/src/core/lsps2/session.rs
  plugins/lsps-plugin/src/service.rs
  tests/test_cln_lsps.py
Due: none

plugins(lsps2): fail held HTLCs before cltv expiry, not after
  plugins/lsps-plugin/src/core/lsps2/session.rs
  tests/test_cln_lsps.py
Due: none

plugins(lsps2): prevent double channel funding for one payment hash
  plugins/lsps-plugin/src/core/lsps2/actor.rs
  plugins/lsps-plugin/src/core/lsps2/manager.rs
  plugins/lsps-plugin/src/service.rs
Due: none

plugins(lsps2): spawn only one channel-poll task per session
  plugins/lsps-plugin/src/core/lsps2/actor.rs
  plugins/lsps-plugin/src/core/lsps2/manager.rs
Due: none

plugins(lsps2): harden recovery loop and fee-overflow handling
  plugins/lsps-plugin/src/core/lsps2/manager.rs
  plugins/lsps-plugin/src/core/lsps2/session.rs
Due: none

plugins(lsps2): advertise client_trusts_lsp and validate payment size range
  plugins/lsps-plugin/src/core/lsps2/service.rs
  plugins/lsps-plugin/src/proto/lsps2.rs
Due: none

plugins(lsps2): fix opening fee base and zero extra_fee TLV
  plugins/lsps-plugin/src/core/lsps2/session.rs
  plugins/lsps-plugin/src/service.rs
Due: none

plugins(lsps2): only abandon session once no forwarded parts remain
  plugins/lsps-plugin/src/core/lsps2/actor.rs
  plugins/lsps-plugin/src/core/lsps2/manager.rs
  plugins/lsps-plugin/src/core/lsps2/session.rs
  plugins/lsps-plugin/src/service.rs
Due: none

plugins(lsps2): make channel reserve opt-in and pin datastore compat
  plugins/lsps-plugin/src/client.rs
  plugins/lsps-plugin/src/cln_adapters/rpc.rs
  plugins/lsps-plugin/src/proto/lsps2.rs
  plugins/lsps-plugin/src/service.rs
Due: none

Path conditions:
  check-amount-access: any of: \.(c|h)$, but not: common/amount|.*/test/.*
  check-discouraged-functions: any of: \.(c|h)$, but not: ccan|contrib
