Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
      args: [ "--ignore=E501,E731,E741,W503,F541,E275" ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
    - id: shellcheck
      args: [ -fgcc ]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      description: Runs formatting checks on the c code and and throws errors if suggestions
        are detected, without modifying the code. Style is defined in `.clang-format`. When
        encountering formatting-related errors, run `clang-format -i <path-to-file>` to make
        (destructively) the suggestions and evalute the resulting diff for more context.
      args: [ --dry-run, -Werror ]
      entry: clang-format
      types: [ c ]
      stages: [ manual ]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-jsonschema
      name: check doc JSON schemas
      args: ["--schemafile", "doc/rpc-schema-draft.json"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

    - id: check-metaschema
      name: check doc JSON metaschemas
      args: ["--verbose"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: pretty-format-json
      args: [ "--indent", "2", "--no-sort-keys" ]
      files: ^doc/schemas/.*\.json$
      types: [ json ]
    - id: trailing-whitespace
      args: [ "--markdown-linebreak-ext=md" ]
      exclude: ccan|contrib|tests/fuzz/corpora
    - id: end-of-file-fixer
      exclude: ccan|contrib|tests/fuzz/corpora

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      description: Checks for common misspellings.
      exclude: ccan|contrib|tests/fuzz/corpora
      stages: [ manual ]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.23.0
  hooks:
    - id: commitlint
      stages: [ commit-msg ]

- repo: local
  hooks:
    # Reimplementation of `make check-amount-access` for pygrep.
    - id: check-amount-access
      name: Check amount_msat and amount_sat members are not accessed directly
      description: "Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow."
      language: pygrep
      entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)
      types: [ c ]
      exclude: common/amount|.*/test/.*

    # Reimplementation of `make check-discouraged-functions` for pygrep.
    - id: check-discouraged-functions
      name: Check for usage of discouraged funtions
      language: pygrep
      entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('
      types: [ c ]
      exclude: ccan|contrib

    - id: include-order-fixer
      name: Fix Include Order
      language: python
      description: Analyzes Core Lightning C source and header files, assesses the order of
        their include directives according to the published Coding Style Guidelines
        [here](https://docs.corelightning.org/docs/coding-style-guidelines), automatically
        applying sorting them. Aims to conform with `make check-includes`.
      entry: python devtools/include-order-fixer.py
      stages: [ manual ]
      pass_filenames: false

    - id: check-includes
      name: Check Includes
      language: system
      entry: make check-includes
      pass_filenames: false

wallet: replace txfilter_add_scriptpubkey with wallet_add_bwatch_scriptpubkey
  wallet/wallet.c
  wallet/walletrpc.c
Due: check-amount-access, check-discouraged-functions

bkpr: limp along if we lost our db.
  plugins/bkpr/recorder.c
  tests/test_misc.py
Due: check-amount-access, check-discouraged-functions

pytest: test for bkpr_listbalances after emergencyrecover.
  tests/test_misc.py
Due: none

Build: don't use HAVE_FUNCTION_SECTIONS for update-mocks.
  common/test/run-sphinx-xor_cipher_stream.c
  connectd/test/run-crc32_of_update.c
  gossipd/test/run-next_block_range.c
  tools/update-mocks.sh
Due: check-discouraged-functions

libplugin: support multi options.
  plugins/libplugin.c
  plugins/libplugin.h
  plugins/xpay/Makefile
  tests/plugins/test_libplugin.c
  tests/test_plugin.py
Due: check-amount-access, check-discouraged-functions

lightningd: add payment-fronting-node option.
  doc/lightningd-config.5.md
  lightningd/lightningd.c
  lightningd/lightningd.h
  lightningd/options.c
Due: check-amount-access, check-discouraged-functions

lightningd: honor `payment-fronting-node` when making bolt11 invoices.
  lightningd/invoice.c
  lightningd/routehint.c
  tests/test_invoices.py
Due: check-amount-access, check-discouraged-functions

lightningd: don't assert if plugin crashes early.
  lightningd/plugin.c
Due: check-amount-access, check-discouraged-functions

offers: encapsulate globals in plugin_get_data()
  plugins/fetchinvoice.c
  plugins/offers.c
  plugins/offers.h
  plugins/offers_inv_hook.c
  plugins/offers_invreq_hook.c
  plugins/offers_offer.c
  plugins/test/run-decode_guess_type.c
Due: check-amount-access, check-discouraged-functions

offers: honor `payment-fronting-nodes` when creating invoices.
  plugins/offers_invreq_hook.c
  tests/test_invoices.py
Due: check-amount-access, check-discouraged-functions

offers: modify find_best_peer() to only select from fronting nodes if set.
  plugins/offers.c
  plugins/offers.h
  plugins/offers_invreq_hook.c
  plugins/offers_offer.c
Due: check-amount-access, check-discouraged-functions

offers: honor `payment-fronting-nodes` when creating invoice_requests.
  plugins/offers_offer.c
  tests/test_invoices.py
Due: check-amount-access, check-discouraged-functions

lightningd: honor `payment-fronting-node` when making bolt12 offers.
  plugins/offers.c
  plugins/offers.h
  plugins/offers_invreq_hook.c
  plugins/offers_offer.c
  tests/test_invoices.py
Due: check-amount-access, check-discouraged-functions

offers: allow explicit fronting nodes for an offer.
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/schema.json
  contrib/pyln-client/pyln/client/lightning.py
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  doc/schemas/offer.json
  plugins/offers.c
  plugins/offers.h
  plugins/offers_invreq_hook.c
  plugins/offers_offer.c
Due: check-amount-access, check-discouraged-functions

connectd: don't flush messages unless we have something important.
  connectd/connectd.c
  connectd/connectd.h
  connectd/multiplex.c
Due: check-amount-access, check-discouraged-functions

pytest: add fixture for checking packet sizes.
  tests/fixtures.py
  tests/test_connection.py
Due: none

CI: run tests in the `wireshark` group so we can test packet sizes
  .github/scripts/setup.sh
  .github/workflows/ci.yaml
Due: none

pytest: fix flae int test_fetchinvoice_autoconnect.
  tests/test_pay.py
Due: none

connectd: refactor outgoing loop.
  connectd/multiplex.c
Due: check-amount-access, check-discouraged-functions

connectd: pad messages with dummy pings if needed to make size uniform.
  connectd/connectd.c
  connectd/connectd.h
  connectd/multiplex.c
  tests/test_connection.py
  tests/test_gossip.py
Due: check-amount-access, check-discouraged-functions

connectd: use membuf for more efficient output queue.
  connectd/connectd.c
  connectd/connectd.h
  connectd/multiplex.c
Due: check-amount-access, check-discouraged-functions

connectd: only do lazy transmission for *definitely* non-urgent messages.
  connectd/multiplex.c
Due: check-amount-access, check-discouraged-functions

connect: switch to using io_write_partial instead of io_write.
  connectd/connectd.c
  connectd/connectd.h
  connectd/multiplex.c
Due: check-amount-access, check-discouraged-functions

devtools/gossipwith: don't count "padding" pings towards max-messages count.
  devtools/gossipwith.c
Due: check-amount-access, check-discouraged-functions

pytest: remove now-invalid test.
  tests/test_opening.py
Due: none

connectd: don't toggle nagle on and off, leave it always off.
  connectd/connectd.c
  connectd/multiplex.c
Due: check-amount-access, check-discouraged-functions

connectd: refactor to break up "encrypt_and_send".
  connectd/multiplex.c
Due: check-amount-access, check-discouraged-functions

bcli: convert `sendrawtransaction` to synchronous execution
  plugins/bcli.c
Due: check-amount-access, check-discouraged-functions

bcli: replace magic numbers with constants
  plugins/bcli.c
Due: check-amount-access, check-discouraged-functions

pytest: fix bcli tests after sync refactor
  tests/test_closing.py
  tests/test_misc.py
Due: none

bcli: refactor `wait_and_check_bitcoind` and `run_bitcoin_cli` to use shared execution
  plugins/bcli.c
Due: check-amount-access, check-discouraged-functions

bcli: remove unused async code after sync refactor
  plugins/bcli.c
Due: check-amount-access, check-discouraged-functions

lightningd: add `get_bitcoin_result` for bcli response handling
  lightningd/bitcoind.c
Due: check-amount-access, check-discouraged-functions

bcli: convert `getutxout` to synchronous execution
  plugins/bcli.c
Due: check-amount-access, check-discouraged-functions

bcli: convert `getrawblockbyheight` to synchronous execution
  plugins/bcli.c
Due: check-amount-access, check-discouraged-functions

bcli: convert `estimatefees` to synchronous execution
  plugins/bcli.c
Due: check-amount-access, check-discouraged-functions

bcli: return "not found" on any `getblockhash` exit status
  plugins/bcli.c
Due: check-amount-access, check-discouraged-functions

pytest: add tests for bcli `getblockfrompeer` retry path
  tests/test_plugin.py
Due: none

bcli: convert `getchaininfo` to synchronous execution
  plugins/bcli.c
Due: check-amount-access, check-discouraged-functions

bcli: add synchronous `run_bitcoin_cli` for future refactor
  plugins/bcli.c
Due: check-amount-access, check-discouraged-functions
