Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

check-amount-access:
  name: Check amount_msat and amount_sat members are not accessed directly
  description: Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow.
  language: pygrep
  entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)

check-discouraged-functions:
  name: Check for usage of discouraged funtions
  language: pygrep
  entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('

build: allow overriding CFLAGS, CPPFLAGS, and LDFLAGS
  Makefile
  configure
Due: none

build: move -std=gnu11 to CPPFLAGS
  configure
Due: none

configure: don't use 'echo -n' under /bin/sh
  configure
Due: none

Makefile: use standard variables for compiling and linking C programs
  Makefile
  tools/Makefile
Due: none

configure: fix quoting mistake in setting DEFAULT_CWARNFLAGS in usage()
  configure
Due: none

configure: allow overriding library flags via environment vars
  configure
Due: none

build: manage installation targets with Make individually
  Makefile
Due: none

channel_inflight: mark superseded RBF/splice candidates, skip their commitsig persistence
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/schema.json
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
  doc/schemas/listpeerchannels.json
  lightningd/channel.c
  lightningd/channel.h
  lightningd/dual_open_control.c
  lightningd/peer_control.c
  lightningd/peer_htlcs.c
  tests/test_opening.py
  wallet/migrations.c
  wallet/test/run-wallet.c
  wallet/wallet.c
Due: check-amount-access, check-discouraged-functions

splicing: add deterministic reconnect test to check for the #9373-class RBF race
  tests/test_splicing.py
Due: none

connectd: treat websocket handshake headers as case-insensitive
  connectd/test/run-websocket.c
  connectd/websocketd.c
Due: check-amount-access, check-discouraged-functions

Cargo.lock: update dependencies
  Cargo.lock
Due: none

common/test: pin down bolt11 decode behavior on banned Unicode
  common/test/run-bolt11.c
Due: check-discouraged-functions

add: added new check function
  common/json_param.c
Due: check-amount-access, check-discouraged-functions

fix: fixed ci flakes, and createproof note, also fixed the regression test
  common/unicode_category.c
  devtools/gen-unicode-category.py
  plugins/offers_proof.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

json_param: reject banned Unicode chars before wire encoding
  common/json_param.c
  common/json_param.h
  common/test/run-param.c
  lightningd/invoice.c
  plugins/fetchinvoice.c
  plugins/offers_offer.c
Due: check-amount-access, check-discouraged-functions

common: split utf8_check() into permissive and strict variants
  common/bolt11.c
  common/bolt12_proof.c
  common/json_param.c
  common/json_param.h
  common/test/run-utils-utf8_check.c
  common/unicode_category.c
  common/unicode_category.h
  common/utils.c
  common/utils.h
  wire/fromwire.c
  wire/towire.c
Due: check-amount-access, check-discouraged-functions

common: reject banned Unicode categories in protocol text fields
  channeld/test/Makefile
  common/Makefile
  common/test/Makefile
  common/test/run-utils-utf8_check.c
  common/unicode_category.c
  common/unicode_category.h
  common/utils.c
  devtools/gen-unicode-category.py
  onchaind/test/Makefile
  wire/test/Makefile
Due: check-amount-access, check-discouraged-functions

lightningd: don't save their closing tx.
  lightningd/peer_control.c
  lightningd/peer_control.h
  lightningd/simple_close_control.c
  lightningd/test/run-close_tx_check.c
  tests/test_closing.py
Due: check-amount-access, check-discouraged-functions

lightningd: save feerate for simple close.
  lightningd/channel.h
  lightningd/simple_close_control.c
Due: check-amount-access, check-discouraged-functions

common: fix spurious compiler warning when -O3 used and VERSION is empty.
  common/version.c
Due: check-amount-access, check-discouraged-functions

lightningd: initialize error pointer in connect_activate_subd and handle_splice_abort
  lightningd/channel_control.c
  lightningd/peer_control.c
Due: check-amount-access, check-discouraged-functions

sql: free strmap internal nodes on plugin shutdown
  plugins/sql.c
Due: check-amount-access, check-discouraged-functions

fix: add destructor to free strmap memory in sql plugin
  plugins/sql.c
Due: check-amount-access, check-discouraged-functions

lsps-plugin: fail HTLC with TEMPORARY_CHANNEL_FAILURE on JIT channel errors
  plugins/lsps-plugin/src/service.rs
Due: none

lsps-plugin: fix policy validation, error handling, and channel capacity
  plugins/lsps-plugin/src/policy.rs
Due: none

lsps-plugin: don't auto-load cln-lsps-policy as a builtin plugin
  plugins/Makefile
  plugins/lsps-plugin/src/policy.rs
Due: none

lsps-plugin: add cln-lsps-policy plugin for LSPS2 fee policy management Changelog-None
  plugins/Makefile
  plugins/lsps-plugin/Cargo.toml
  plugins/lsps-plugin/src/policy.rs
Due: none

db: index `blocks(height)` references
  wallet/migrations.c
Due: check-amount-access, check-discouraged-functions

channeld: Add helpful warning message for splice state
  channeld/channeld.c
Due: check-amount-access, check-discouraged-functions

xpay: quote BOLT #12 requirements in the offer payment path.
  plugins/xpay/xpay.c
Due: check-amount-access, check-discouraged-functions

channeld: use matched inflight in check_tx_abort
  channeld/channeld.c
  tests/test_splicing.py
Due: check-amount-access, check-discouraged-functions

common: treat a reorged close output as csv-locked
  common/utxo.h
  wallet/test/run-wallet.c
Due: check-amount-access, check-discouraged-functions

xpay: honour the BOLT #12 invoice_amount check.
  plugins/xpay/xpay.c
  tests/test_xpay.py
Due: check-amount-access, check-discouraged-functions

wallet: exclude immature coinbase outputs from fee rescue selection
  tests/test_closing.py
  wallet/wallet.c
Due: check-amount-access, check-discouraged-functions

xpay: test that a fetched invoice's amount matches what we asked for.
  tests/plugins/xpay_mismatched_invoice_amount.py
  tests/test_xpay.py
Due: none

tests: don't use io logs for commando's oversized reply
  tests/test_plugin.py
Due: none

lightningd: bound simultaneous channel opens per peer
  lightningd/peer_control.c
Due: check-amount-access, check-discouraged-functions

tests: cover fee rescue input selection with an immature coinbase
  tests/test_closing.py
Due: none

lightningd: don't return io logs from getlog
  cln-grpc/proto/node.proto
  cln-rpc/src/model.rs
  contrib/msggen/msggen/schema.json
  contrib/pyln-client/pyln/client/lightning.py
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  doc/schemas/getlog.json
  lightningd/log.c
  tests/test_misc.py
Due: check-amount-access, check-discouraged-functions

offers: fix recurrence proportional amount
  plugins/offers_invreq_hook.c
Due: check-amount-access, check-discouraged-functions

Path conditions:
  check-amount-access: any of: \.(c|h)$, but not: common/amount|.*/test/.*
  check-discouraged-functions: any of: \.(c|h)$, but not: ccan|contrib
