Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
      args: [ "--ignore=E501,E731,E741,W503,F541,E275" ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
    - id: shellcheck
      args: [ -fgcc ]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      description: Runs formatting checks on the c code and and throws errors if suggestions
        are detected, without modifying the code. Style is defined in `.clang-format`. When
        encountering formatting-related errors, run `clang-format -i <path-to-file>` to make
        (destructively) the suggestions and evalute the resulting diff for more context.
      args: [ --dry-run, -Werror ]
      entry: clang-format
      types: [ c ]
      stages: [ manual ]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-jsonschema
      name: check doc JSON schemas
      args: ["--schemafile", "doc/rpc-schema-draft.json"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

    - id: check-metaschema
      name: check doc JSON metaschemas
      args: ["--verbose"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: pretty-format-json
      args: [ "--indent", "2", "--no-sort-keys" ]
      files: ^doc/schemas/.*\.json$
      types: [ json ]
    - id: trailing-whitespace
      args: [ "--markdown-linebreak-ext=md" ]
      exclude: ccan|contrib|tests/fuzz/corpora
    - id: end-of-file-fixer
      exclude: ccan|contrib|tests/fuzz/corpora

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      description: Checks for common misspellings.
      exclude: ccan|contrib|tests/fuzz/corpora
      stages: [ manual ]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.23.0
  hooks:
    - id: commitlint
      stages: [ commit-msg ]

- repo: local
  hooks:
    # Reimplementation of `make check-amount-access` for pygrep.
    - id: check-amount-access
      name: Check amount_msat and amount_sat members are not accessed directly
      description: "Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow."
      language: pygrep
      entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)
      types: [ c ]
      exclude: common/amount|.*/test/.*

    # Reimplementation of `make check-discouraged-functions` for pygrep.
    - id: check-discouraged-functions
      name: Check for usage of discouraged funtions
      language: pygrep
      entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('
      types: [ c ]
      exclude: ccan|contrib

    - id: include-order-fixer
      name: Fix Include Order
      language: python
      description: Analyzes Core Lightning C source and header files, assesses the order of
        their include directives according to the published Coding Style Guidelines
        [here](https://docs.corelightning.org/docs/coding-style-guidelines), automatically
        applying sorting them. Aims to conform with `make check-includes`.
      entry: python devtools/include-order-fixer.py
      stages: [ manual ]
      pass_filenames: false

    - id: check-includes
      name: Check Includes
      language: system
      entry: make check-includes
      pass_filenames: false

common: add helper to remove a range of elements
  common/utils.c
  common/utils.h
Due: check-amount-access, check-discouraged-functions

libplugins: JSON ids are always strings.
  plugins/askrene/askrene.c
  plugins/askrene/child/child.c
  plugins/commando.c
  plugins/libplugin-pay.c
  plugins/libplugin.c
  plugins/libplugin.h
  tests/test_askrene.py
  tests/test_misc.py
Due: check-amount-access, check-discouraged-functions

fetchinvoice: don't bother with checking recurrence timing.
  plugins/fetchinvoice.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

downgrade tool: fix invalid memory bug
  tools/lightning-downgrade.c
Due: check-amount-access, check-discouraged-functions

lightningd: don't do previous invoice checking in createinvoicerequest.
  lightningd/offer.c
  plugins/fetchinvoice.c
  plugins/offers_offer.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

offers: limit invoices to 10 minutes for recurring offers in other currencies.
  contrib/msggen/msggen/schema.json
  doc/schemas/listconfigs.json
  plugins/offers.c
  plugins/offers.h
  plugins/offers_invreq_hook.c
  plugins/test/run-decode_guess_type.c
  tests/plugins/currencyUSDAUD5000.py
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

askrene: correctly order constraints.
  plugins/askrene/layer.c
  tests/test_askrene.py
Due: check-amount-access, check-discouraged-functions

downgrade: we need to remove "impressions" from askrene datastore when downgrading to v26.06.
  tools/lightning-downgrade.c
Due: check-amount-access, check-discouraged-functions

pytest: add tests for what we want askrene to do.
  tests/test_askrene.py
Due: none

common: implement str_to_u64, make json_to_u64 use it.
  common/json_parse_simple.c
  common/utils.c
  common/utils.h
Due: check-amount-access, check-discouraged-functions

askrene: test explain: fix flake
  tests/test_askrene.py
Due: none

common: hoist hash_str helper into its own header.
  common/Makefile
  common/hash_str.h
  common/utils.c
  lightningd/plugin.h
  plugins/bkpr/account.c
  plugins/bkpr/onchain_fee.c
Due: check-amount-access, check-discouraged-functions

askrene: explain failure: add known enabled case
  plugins/askrene/child/explain_failure.c
Due: check-amount-access, check-discouraged-functions

askrene: don't leak channel intel entries
  plugins/askrene/layer.c
Due: check-amount-access, check-discouraged-functions

askrene: add APIs for "impressions" which are *relative* constraints.
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/schema.json
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
  doc/schemas/askrene-create-layer.json
  doc/schemas/askrene-inform-channel.json
  doc/schemas/askrene-listlayers.json
  plugins/askrene/askrene.c
  plugins/askrene/child/route_query.c
  plugins/askrene/datastore_wire.c
  plugins/askrene/datastore_wire.h
  plugins/askrene/layer.c
  plugins/askrene/layer.h
  tests/test_askrene.py
  tools/lightning-downgrade.c
Due: check-amount-access, check-discouraged-functions

xpay: actually tell askrene when a payment succeeded.
  plugins/xpay/xpay.c
  tests/test_xpay.py
Due: check-amount-access, check-discouraged-functions

offers: limit expiry to offer limit, or 10 minutes with currency conversion.
  plugins/offers_invreq_hook.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

lightningd: internal cleanups since all non-command JSON IDs are strings.
  common/json_parse_simple.c
  common/json_parse_simple.h
  lightningd/jsonrpc.c
  lightningd/jsonrpc.h
  lightningd/plugin.c
  tests/test_invoices.py
  tests/test_plugin.py
  tests/test_wallet.py
Due: check-amount-access, check-discouraged-functions

xpay: trim constraints: small optimization
  plugins/askrene/layer.c
Due: check-amount-access, check-discouraged-functions

askrene: give clearer error codes.
  common/jsonrpc_errors.h
  contrib/msggen/msggen/schema.json
  doc/schemas/getroutes.json
  plugins/askrene/child/explain_failure.c
  plugins/askrene/child/explain_failure.h
  plugins/askrene/child/mcf.c
  tests/test_askrene.py
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

fetchinvoice: handle weird labels in recurrence_label parameter.
  plugins/fetchinvoice.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

libplugin: json_id: guard against weird prefixes
  plugins/libplugin.c
Due: check-amount-access, check-discouraged-functions

Add unit tests for str_to_u64
  common/test/run-utils-str_to_u64.c
Due: check-discouraged-functions

common: hoist amount+currency parsing into common code.
  common/iso4217.c
  common/iso4217.h
  plugins/offers_offer.c
Due: check-amount-access, check-discouraged-functions

multiwithdraw: use unique ids on requests.
  plugins/spender/multifundchannel.c
  plugins/spender/multiwithdraw.c
Due: check-amount-access, check-discouraged-functions

tests: drop obsolete x-prefix in compacter-slow.sh
  tests/plugins/compacter-slow.sh
Due: none

doc: require Homebrew GNU make and gpatch on macOS
  doc/getting-started/getting-started/installation.md
Due: none

Revert "doc: require Homebrew GNU make and gpatch on macOS"
  doc/getting-started/getting-started/installation.md
Due: none

Revert "tests: drop obsolete x-prefix in compacter-slow.sh"
  tests/plugins/compacter-slow.sh
Due: none

xpay: fakenet test: move funds when payment succeeds
  tests/plugins/channeld_fakenet.c
  tests/test_askrene.py
  tests/test_xpay.py
Due: check-amount-access, check-discouraged-functions

configvar: don't crash on stale configvars in finalize_overrides
  common/configvar.c
  tests/plugins/selfdisable.py
Due: check-amount-access, check-discouraged-functions

pytests: test_self_disable case added that crashes CLN
  tests/plugins/selfdisable.py
  tests/test_plugin.py
Due: none

pytest: test utxopsbt with multiple taproot inputs does not crash the node
  tests/test_opening.py
Due: none

pytest: cover signpsbt with taproot inputs, incl. output-less PSBTs
  tests/test_opening.py
Due: none

askrene: account for fees in flows
  plugins/askrene/child/mcf.c
  tests/test_askrene.py
Due: check-amount-access, check-discouraged-functions

askrene: expose Pickhardt-Richter's probability
  plugins/askrene/child/mcf.c
  plugins/askrene/child/mcf.h
Due: check-amount-access, check-discouraged-functions

askrene: layers: add a method to collect channel intels
  plugins/askrene/layer.c
  plugins/askrene/layer.h
Due: check-amount-access, check-discouraged-functions

CI: add `concurrency` restrictions for macos and msrv workflows
  .github/workflows/macos.yaml
  .github/workflows/rust-msrv.yml
Due: none

setconfig: fix crash when a configvar outlives its plugin option
  common/configvar.c
  tests/test_misc.py
Due: check-amount-access, check-discouraged-functions
