Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
      args: [ "--ignore=E501,E731,E741,W503,F541,E275" ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
    - id: shellcheck
      args: [ -fgcc ]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      description: Runs formatting checks on the c code and and throws errors if suggestions
        are detected, without modifying the code. Style is defined in `.clang-format`. When
        encountering formatting-related errors, run `clang-format -i <path-to-file>` to make
        (destructively) the suggestions and evalute the resulting diff for more context.
      args: [ --dry-run, -Werror ]
      entry: clang-format
      types: [ c ]
      stages: [ manual ]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-jsonschema
      name: check doc JSON schemas
      args: ["--schemafile", "doc/rpc-schema-draft.json"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

    - id: check-metaschema
      name: check doc JSON metaschemas
      args: ["--verbose"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: pretty-format-json
      args: [ "--indent", "2", "--no-sort-keys" ]
      files: ^doc/schemas/.*\.json$
      types: [ json ]
    - id: trailing-whitespace
      args: [ "--markdown-linebreak-ext=md" ]
      exclude: ccan|contrib|tests/fuzz/corpora
    - id: end-of-file-fixer
      exclude: ccan|contrib|tests/fuzz/corpora

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      description: Checks for common misspellings.
      exclude: ccan|contrib|tests/fuzz/corpora
      stages: [ manual ]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.23.0
  hooks:
    - id: commitlint
      stages: [ commit-msg ]

- repo: local
  hooks:
    # Reimplementation of `make check-amount-access` for pygrep.
    - id: check-amount-access
      name: Check amount_msat and amount_sat members are not accessed directly
      description: "Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow."
      language: pygrep
      entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)
      types: [ c ]
      exclude: common/amount|.*/test/.*

    # Reimplementation of `make check-discouraged-functions` for pygrep.
    - id: check-discouraged-functions
      name: Check for usage of discouraged funtions
      language: pygrep
      entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('
      types: [ c ]
      exclude: ccan|contrib

    - id: include-order-fixer
      name: Fix Include Order
      language: python
      description: Analyzes Core Lightning C source and header files, assesses the order of
        their include directives according to the published Coding Style Guidelines
        [here](https://docs.corelightning.org/docs/coding-style-guidelines), automatically
        applying sorting them. Aims to conform with `make check-includes`.
      entry: python devtools/include-order-fixer.py
      stages: [ manual ]
      pass_filenames: false

    - id: check-includes
      name: Check Includes
      language: system
      entry: make check-includes
      pass_filenames: false

tx: witness byte double counted
  bitcoin/test/run-tx-bitcoin_tx_2of2_input_witness_weight.c
  bitcoin/tx.c
Due: check-amount-access, check-discouraged-functions

splice-script: wetlog / debuglog fix
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

splice-script: channel id corner case
  common/splice_script.c
Due: check-amount-access, check-discouraged-functions

splice-script: Expand two chan splice in test
  tests/test_splice.py
Due: none

amount: Add decimal format for msats
  common/amount.c
  common/amount.h
  common/test/run-amount.c
Due: check-discouraged-functions

splice: Fix weight calculations & use opening feerate
  bitcoin/psbt.c
  bitcoin/psbt.h
  channeld/channeld.c
  lightningd/channel_control.c
  openingd/dualopend.c
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

channeld: Inform channeld about opening feerate
  channeld/channeld.c
  channeld/channeld_wire.csv
  lightningd/channel_control.c
  tests/plugins/channeld_fakenet.c
Due: check-amount-access, check-discouraged-functions

splice: enable and test mutli-channel splice script
  plugins/spender/splice.c
  tests/test_splice.py
Due: check-amount-access, check-discouraged-functions

WIP Commit
  .msggen.json
  channeld/channeld.c
  channeld/channeld_wire.csv
  channeld/full_channel.c
  common/amount.c
  common/amount.h
  common/splice_script.c
  contrib/msggen/msggen/schema.json
  contrib/pyln-testing/pyln/testing/grpc2py.py
  contrib/pyln-testing/pyln/testing/utils.py
  doc/schemas/feerates.json
  gossipd/gossmap_manage.c
  lightningd/chaintopology.c
  lightningd/channel_control.c
  plugins/spender/splice.c
  plugins/spender/splice.h
  tests/plugins/channeld_fakenet.c
  tests/test_coinmoves.py
  tests/test_misc.py
  tests/test_pay.py
  tests/test_splice.py
  tests/test_splicing.py
  wallet/reservation.c
Due: check-amount-access, check-discouraged-functions

reckless-rpc: open socket for listening to streaming logs
  plugins/recklessrpc.c
  tools/reckless
Due: check-amount-access, check-discouraged-functions

reckless-rpc: publish reckless log notifications
  plugins/recklessrpc.c
  tests/plugins/custom_notifications.py
  tests/test_reckless.py
Due: check-amount-access, check-discouraged-functions

gossipd: dev-compact-gossip-store to manually invoke compaction.
  gossipd/gossipd.c
  gossipd/gossipd_wire.csv
  gossipd/gossmap_manage.c
  gossipd/gossmap_manage.h
  lightningd/gossip_control.c
  tests/plugins/compacter-slow.sh
  tests/test_gossip.py
  tools/bench-gossipd.sh
Due: check-amount-access, check-discouraged-functions

common: tighten restrictions on periods, as per latest draft.
  common/bolt12.c
Due: check-amount-access, check-discouraged-functions

askrene: add auto.include_fees layer
  contrib/msggen/msggen/schema.json
  doc/schemas/getroutes.json
  plugins/askrene/askrene.c
  tests/test_askrene.py
Due: check-amount-access, check-discouraged-functions

plugins/sql: Added refresh time tracking and time_msec field support
  plugins/sql.c
Due: check-amount-access, check-discouraged-functions

sql: full reload for mutable tables on wait API event
  plugins/sql.c
Due: check-amount-access, check-discouraged-functions

plugins/sql: cleaning up
  plugins/sql.c
Due: check-amount-access, check-discouraged-functions

plugins/sql: fix trailing whitespace
  plugins/sql.c
Due: check-amount-access, check-discouraged-functions

cleaned up whitespaces Changelog-None
  plugins/sql.c
Due: check-amount-access, check-discouraged-functions

plugins/sql: Fix build erro and implement TODO#10 - pagination
  plugins/sql.c
Due: check-amount-access, check-discouraged-functions

tests: fixed feerate tolerance and signature detection(Fixes #8493)
  tests/utils.py
Due: none

added whitespaces Changelog-None
  tests/test_p2tr_change_dust.py
Due: none

fix: cleaned up code Fixes #8395 Changelog-Fixed: Transactions now correctly create change outputs between 330-546 sat for P2TR/P2WPKH instead of absorbing them as fees
  bitcoin/tx.c
Due: check-amount-access, check-discouraged-functions

fix: simplified did_short_sig(), fixed elements check and now btc uses 330 sat for p2tr change outputs
  bitcoin/tx.c
  tests/utils.py
Due: check-amount-access, check-discouraged-functions

fix: cleaned all whitespaces Changelog-None
  lightningd/channel_gossip.c
Due: check-amount-access, check-discouraged-functions

tests: Fix test_peer_anchor_push error due to variable signature length (Fixes #8493)
  tests/utils.py
Due: none

cleaned whitespaces Changelog-None
  tests/test_gossip_announcement.py
  tests/test_p2tr_change_dust.py
Due: none

fix:progress channel announcement state when remote_sigs already in db Fixes #8552 Changelog-Fixed: Channel announcements now work after restart even if peer doesn't resend announcement_signatures
  lightningd/channel_gossip.c
  tests/test_gossip_announcement.py
Due: check-amount-access, check-discouraged-functions

Docs: Update mac instructions to gmake
  doc/getting-started/getting-started/installation.md
Due: none

splice: Add docs for easy spliceout command
  contrib/msggen/msggen/schema.json
  doc/Makefile
  doc/index.rst
  doc/schemas/spliceout.json
Due: none

splice: Add easy spliceout command
  plugins/spender/splice.c
  tests/test_splice.py
Due: check-amount-access, check-discouraged-functions

splice: Add test for easy spliceout command
  contrib/pyln-client/pyln/client/lightning.py
  tests/test_splice.py
Due: none

splice: Add splicein test
  contrib/pyln-client/pyln/client/lightning.py
  tests/test_splice.py
Due: none

splice: Add documentation for splicein
  contrib/msggen/msggen/schema.json
  doc/Makefile
  doc/index.rst
  doc/schemas/splicein.json
Due: none

Add splicein command
  plugins/spender/splice.c
  tests/test_splice.py
Due: check-amount-access, check-discouraged-functions

splice: Fix log message
  channeld/channeld.c
Due: check-amount-access, check-discouraged-functions

splice: Handle CHANNEL_READY during splice resume
  channeld/channeld.c
Due: check-amount-access, check-discouraged-functions

splice: RPC error handling fix
  lightningd/channel_control.c
Due: check-amount-access, check-discouraged-functions
