Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

check-amount-access:
  name: Check amount_msat and amount_sat members are not accessed directly
  description: Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow.
  language: pygrep
  entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)

check-discouraged-functions:
  name: Check for usage of discouraged funtions
  language: pygrep
  entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('

pytest: add reckless listavailable test
  tests/test_reckless.py
Due: none

reckless: add listconfig command
  tests/test_reckless.py
  tools/reckless
Due: none

reckless-rpc: open socket for listening to streaming logs
  plugins/recklessrpc.c
  tools/reckless
Due: check-amount-access, check-discouraged-functions

reckless: avoid populating uninitialized repo submodules
  tools/reckless
Due: none

reckless install: check and warn if a plugin is already installed.
  tests/test_reckless.py
  tools/reckless
Due: none

reckless: handle lack of cloned source in listavailable cmd
  tools/reckless
Due: none

reklessrpc: duplicate json format of reckless listavailable output
  plugins/recklessrpc.c
Due: check-amount-access, check-discouraged-functions

reckless: helper function for accessing local clone of remote repo
  tools/reckless
Due: none

reckless: remove github API access
  tools/reckless
Due: none

reckless: json escape streaming logs
  tools/reckless
Due: none

reckless: Add logging port to transmit log messages in real time.
  tools/reckless
Due: none

plugins/recklessrpc: use membuf for handling socket input.
  plugins/recklessrpc.c
Due: check-amount-access, check-discouraged-functions

reckless: ensure repository submodules are always fetched
  tools/reckless
Due: none

reckless: remove remaining traces of API access
  tests/data/recklessrepo/rkls_api_lightningd_plugins.json
  tests/test_reckless.py
  tools/reckless
Due: none

recklessrpc: allow single term commands
  contrib/msggen/msggen/schema.json
  doc/reckless.7.md
  doc/schemas/reckless.json
  plugins/recklessrpc.c
Due: check-amount-access, check-discouraged-functions

reckless: check for manifest.json in plugin directories
  tests/data/recklessrepo/lightningd/testplugfail/manifest.json
  tests/data/recklessrepo/lightningd/testplugpass/manifest.json
  tests/data/recklessrepo/lightningd/testplugpyproj/manifest.json
  tests/data/recklessrepo/lightningd/testpluguv/manifest.json
  tools/reckless
Due: none

recklessrpc: fixup close connection
  plugins/recklessrpc.c
Due: check-amount-access, check-discouraged-functions

recklessrpc: fix buffer resize
  plugins/recklessrpc.c
Due: check-amount-access, check-discouraged-functions

reckless: catch and raise usage errors
  plugins/recklessrpc.c
  tests/test_reckless.py
Due: check-amount-access, check-discouraged-functions

reckless: don't be confused by python deps in rust plugins
  tools/reckless
Due: none

pytest: skip reckless uv install under valgrind
  tests/test_reckless.py
Due: none

pytest: add timeout to reckless tests
  tests/test_reckless.py
Due: none

reckless: update json schema with listavailable, listconfig, listinstalled commands
  contrib/msggen/msggen/schema.json
  doc/reckless.7.md
  doc/schemas/reckless.json
Due: none

CI: simply refresh boltdir if it already exists
  .github/workflows/ci.yaml
Due: none

CI: use local paths if available for self-hosted runners.
  .github/actions/fetch-artifact/action.yaml
  .github/workflows/ci.yaml
Due: none

CI: don't use /tmp/old-cln, use a local dir.
  .github/workflows/ci.yaml
Due: none

CI: disable macos while we're testing
  .github/workflows/macos.yaml
Due: none

common: add helpers for bitcoin blockids.
  bitcoin/block.c
  bitcoin/block.h
  bitcoin/test/run-bitcoin_block_from_hex.c
  common/json_parse.c
  common/json_parse.h
  common/json_stream.c
  common/json_stream.h
Due: check-amount-access, check-discouraged-functions

ccan: update to get json_out_addstrn.
  ccan/README
  ccan/ccan/json_out/json_out.c
  ccan/ccan/json_out/json_out.h
  ccan/ccan/json_out/test/run.c
Due: check-amount-access

common/json_stream: use json_out_addstrn for better efficiency.
  common/json_stream.c
Due: check-amount-access, check-discouraged-functions

plugins/bcli: fix strip_trailing_whitespace.
  plugins/bcli.c
Due: check-amount-access, check-discouraged-functions

common: add mkdatastorekey helper to make string arrays.
  common/Makefile
  common/mkdatastorekey.c
  common/mkdatastorekey.h
  wallet/wallet.c
Due: check-amount-access, check-discouraged-functions

plugins: simplify datastore interfaces now callers have mkdatastorekey.
  plugins/autoclean.c
  plugins/bkpr/account.c
  plugins/bkpr/blockheights.c
  plugins/bkpr/bookkeeper.c
  plugins/bkpr/descriptions.c
  plugins/bkpr/onchain_fee.c
  plugins/bkpr/rebalances.c
  plugins/bkpr/test/run-recorder.c
  plugins/chanbackup.c
  plugins/libplugin.c
  plugins/libplugin.h
  tests/plugins/test_libplugin.c
Due: check-amount-access, check-discouraged-functions

libplugin: expose json_add_keypath.
  plugins/libplugin.c
  plugins/libplugin.h
Due: check-amount-access, check-discouraged-functions

common: expose json_hex_to_be32/be64
  common/json_parse_simple.c
  common/json_parse_simple.h
  plugins/bkpr/blockheights.c
  plugins/bkpr/bookkeeper.c
Due: check-amount-access, check-discouraged-functions

bwatch: Add plugin skeleton
  plugins/Makefile
  plugins/bwatch/bwatch.c
Due: check-amount-access, check-discouraged-functions

bwatch: add wire format
  plugins/Makefile
  plugins/bwatch/bwatch_wire.csv
Due: none

bwatch: add data structures for watches
  plugins/bwatch/bwatch.c
Due: check-amount-access, check-discouraged-functions

bwatch: add/del block from datastore
  plugins/bwatch/bwatch.c
Due: check-amount-access, check-discouraged-functions

bwatch: add datastore operations for watches
  plugins/bwatch/bwatch.c
Due: check-amount-access, check-discouraged-functions

Path conditions:
  check-amount-access: any of: \.(c|h)$, but not: common/amount|.*/test/.*
  check-discouraged-functions: any of: \.(c|h)$, but not: ccan|contrib
