Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

check-amount-access:
  name: Check amount_msat and amount_sat members are not accessed directly
  description: Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow.
  language: pygrep
  entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)

check-discouraged-functions:
  name: Check for usage of discouraged funtions
  language: pygrep
  entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('

wallet: route transaction reads/writes through our_txs
  wallet/wallet.c
  wallet/wallet.h
Due: check-amount-access, check-discouraged-functions

lightningd: drop poll_seconds and request_ctx from chain_topology
  lightningd/chaintopology.c
  lightningd/chaintopology.h
  lightningd/feerate.c
  lightningd/feerate.h
  lightningd/lightningd.c
  lightningd/lightningd.h
  lightningd/options.c
Due: check-amount-access, check-discouraged-functions

lightningd: move feerate state to watchman
  lightningd/chaintopology.c
  lightningd/chaintopology.h
  lightningd/feerate.c
  lightningd/feerate.h
  lightningd/watchman.c
  lightningd/watchman.h
Due: check-amount-access, check-discouraged-functions

wallet: add migrate_backfill_bwatch_tables
  wallet/migrations.c
  wallet/migrations.h
Due: check-amount-access, check-discouraged-functions

lightningd: tear down onchaind bwatch state on irrevocable resolution
  lightningd/onchain_control.c
Due: check-amount-access, check-discouraged-functions

lightningd: stop driving feerates from chaintopology
  lightningd/chaintopology.c
  lightningd/lightningd.c
  lightningd/test/run-find_my_abspath.c
Due: check-amount-access, check-discouraged-functions

lightningd: delete chaintopology
  lightningd/Makefile
  lightningd/anchorspend.c
  lightningd/bitcoind.c
  lightningd/broadcast.c
  lightningd/chaintopology.c
  lightningd/chaintopology.h
  lightningd/channel_control.c
  lightningd/channel_gossip.c
  lightningd/closing_control.c
  lightningd/feerate.c
  lightningd/feerate.h
  lightningd/gossip_control.c
  lightningd/htlc_set.c
  lightningd/lightningd.c
  lightningd/lightningd.h
  lightningd/memdump.c
  lightningd/notification.h
  lightningd/onchain_control.c
  lightningd/options.c
  lightningd/peer_control.c
  lightningd/test/run-find_my_abspath.c
  lightningd/watchman.c
  wallet/reservation.c
  wallet/wallet.c
Due: check-amount-access, check-discouraged-functions

lightningd: extract feerate logic from chaintopology
  lightningd/anchorspend.c
  lightningd/chaintopology.c
  lightningd/chaintopology.h
  lightningd/channel_control.c
  lightningd/closing_control.c
  lightningd/dual_open_control.c
  lightningd/feerate.c
  lightningd/feerate.h
  lightningd/onchain_control.c
  lightningd/opening_control.c
  lightningd/test/run-jsonrpc.c
  wallet/reservation.c
Due: check-amount-access, check-discouraged-functions

lightningd: extract broadcast.{c,h} from chaintopology
  lightningd/Makefile
  lightningd/anchorspend.c
  lightningd/broadcast.c
  lightningd/broadcast.h
  lightningd/chaintopology.c
  lightningd/chaintopology.h
  lightningd/onchain_control.c
  lightningd/peer_control.c
  lightningd/test/run-invoice-select-inchan.c
  wallet/test/run-wallet.c
Due: check-amount-access, check-discouraged-functions

tests: re-enable test_db.py against migrated schema
  tests/conftest.py
  tests/test_db.py
Due: none

lightningd: migrate channel funding scriptpubkey watch to bwatch
  lightningd/peer_control.c
  lightningd/peer_control.h
  lightningd/test/run-invoice-select-inchan.c
  lightningd/watchman.c
  lightningd/watchman.h
  wallet/test/run-wallet.c
Due: check-amount-access, check-discouraged-functions

wallet: register bwatch watches for PSBT change scripts
  wallet/reservation.c
Due: check-amount-access, check-discouraged-functions

tests: default --rescan to 0 to suit bwatch perennial watches
  contrib/pyln-testing/pyln/testing/utils.py
Due: none

wallet: make datastore helpers self-wrap a wallet transaction
  wallet/wallet.c
Due: check-amount-access, check-discouraged-functions

tests: re-enable test_wallet.py
  tests/conftest.py
  tests/test_wallet.py
Due: none

lightningd: fix splice handling under bwatch
  lightningd/channel_control.c
  lightningd/channel_control.h
  lightningd/peer_control.c
  lightningd/test/run-invoice-select-inchan.c
  wallet/test/run-wallet.c
Due: check-amount-access, check-discouraged-functions

lightningd: route splice depth via channeld_tell_splice_depth
  lightningd/peer_control.c
Due: check-amount-access, check-discouraged-functions

tests: regenerate autogenerated mocks
  lightningd/test/run-find_my_abspath.c
  lightningd/test/run-invoice-select-inchan.c
Due: check-discouraged-functions

lightningd: resend announcement sigs on retransmit under bwatch
  lightningd/channel_gossip.c
Due: check-amount-access, check-discouraged-functions

tests: re-enable splicing tests
  tests/conftest.py
Due: none

tests: allow unordered spend+change in splice wallet moves
  tests/test_splice.py
Due: none

lsps2: adding list_finalized_sessions to the DatastoreProvider
  plugins/lsps-plugin/src/cln_adapters/rpc.rs
  plugins/lsps-plugin/src/core/lsps2/actor.rs
  plugins/lsps-plugin/src/core/lsps2/manager.rs
  plugins/lsps-plugin/src/core/lsps2/provider.rs
  plugins/lsps-plugin/src/core/lsps2/service.rs
Due: none

doc: document UDS datagram tracing backend and envvar table
  doc/developers-guide/tracing-cln-performance.md
Due: none

test: Add a test for the UDS opentelemetry trace sink
  tests/test_misc.py
Due: none

trace: add UDS datagram socket backend, decouple from USDT
  common/trace.c
Due: check-amount-access, check-discouraged-functions

common/wireaddr: fix GCC 15 const-qualifier errors
  common/wireaddr.c
Due: check-amount-access, check-discouraged-functions

splice-script: Round channel balances down
  plugins/spender/splice.c
  tests/test_splice.py
Due: check-amount-access, check-discouraged-functions

splice-script: Test for msat chan balances
  tests/test_splice.py
Due: none

patch fix-features-quote.patch
  common/features.h
Due: check-amount-access, check-discouraged-functions

BOLT quote corrections in Python files (previously unchecked).
  contrib/pyln-proto/pyln/proto/invoice.py
  contrib/pyln-proto/pyln/proto/message/fundamental_types.py
  tests/test_closing.py
  tests/test_connection.py
  tests/test_pay.py
  tests/test_renepay.py
  tests/test_xpay.py
Due: none

Fix C comments which will accidentally trigger Python BOLT quote checker.
  bitcoin/script.h
  lightningd/gossip_generation.c
  lightningd/invoice.h
  lightningd/lightningd.c
  plugins/offers_offer.c
  plugins/test/run-decode_guess_type.c
  plugins/xpay/xpay.c
Due: check-amount-access, check-discouraged-functions

tests: update test_forward_different_fees_and_cltv to use default min_final_cltv_expiry_delta.
  tests/test_pay.py
Due: none

Update outdated BOLT quotes in channel open/close handling.
  connectd/queries.c
  lightningd/dual_open_control.c
  openingd/dualopend.c
  openingd/openingd.c
Due: check-amount-access, check-discouraged-functions

Update outdated BOLT quotes in HTLC/closing handling.
  closingd/closingd.c
  lightningd/onchain_control.c
  onchaind/onchaind.c
  plugins/offers_invreq_hook.c
Due: check-amount-access, check-discouraged-functions

Update outdated BOLT #11 quotes in invoice handling.
  common/test/run-bolt11.c
  lightningd/invoice.c
Due: check-amount-access, check-discouraged-functions

devtools: import check_quotes.py from lnprototest.
  devtools/check_quotes.py
Due: none

devtools/check_quotes.py: add -k option, make `...` more nuanced.
  devtools/check_quotes.py
Due: none

BOLT quotes: split cross-section quotes; prepare for new `...` semantics.
  bitcoin/short_channel_id.h
  channeld/test/run-commit_tx.c
  channeld/test/run-full_channel.c
  common/bolt11.c
  common/channel_config.h
  common/cryptomsg.c
  common/key_derive.c
  connectd/handshake.c
  devtools/check_quotes.py
  lightningd/opening_control.c
  wire/peer_wire.c
Due: check-amount-access, check-discouraged-functions

check-source-bolt: replace C check-bolt tool with Python check_quotes.py, check Rust and Python too
  Makefile
  devtools/Makefile
  devtools/check-bolt.c
Due: check-amount-access, check-discouraged-functions

check_quotes.py: add --coverage tracking; add devtools/bolt-coverage.py.
  devtools/bolt-coverage.py
  devtools/check_quotes.py
Due: none

Path conditions:
  check-amount-access: any of: \.(c|h)$, but not: common/amount|.*/test/.*
  check-discouraged-functions: any of: \.(c|h)$, but not: ccan|contrib
