Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

check-amount-access:
  name: Check amount_msat and amount_sat members are not accessed directly
  description: Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow.
  language: pygrep
  entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)

check-discouraged-functions:
  name: Check for usage of discouraged funtions
  language: pygrep
  entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('

fuzz-tests: Add a test for `fundee_channel()`
  tests/fuzz/Makefile
  tests/fuzz/fuzz-open_channel.c
Due: check-amount-access, check-discouraged-functions

fuzz/fuzz-handle_onion_message.c: fix header order.
  tests/fuzz/fuzz-full_channel.c
  tests/fuzz/fuzz-handle_onion_message.c
Due: check-amount-access, check-discouraged-functions

fuzz-tests: get rid of magic numbers in `fuzz-hsm_encryption.c`
  tests/fuzz/fuzz-hsm_secret.c
Due: check-amount-access, check-discouraged-functions

fuzz-tests: Add coverage-increasing inputs to seed corpora
  tests/fuzz/corpora/fuzz-hsm_secret/23310b00d98159b5b169b2b919f4af986233e4a0
  tests/fuzz/corpora/fuzz-hsm_secret/25172a8f2d48f9081b884ed5066cb4fc41a7099d
Due: none

fuzz: fix compilation.
  channeld/channeld_htlc.h
Due: check-amount-access, check-discouraged-functions

chanbackup: Store the latest recvd peer storage only
  plugins/chanbackup.c
Due: check-amount-access, check-discouraged-functions

chanbackup: make getemergencyrecoverdata rpc more verbose
  .msggen.json
  cln-grpc/proto/node.proto
  cln-grpc/src/convert.rs
  cln-rpc/src/model.rs
  contrib/msggen/msggen/schema.json
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2.py
  contrib/pyln-testing/pyln/testing/grpc2py.py
  doc/schemas/getemergencyrecoverdata.json
  plugins/chanbackup.c
  tests/test_misc.py
Due: check-amount-access, check-discouraged-functions

fixup
  contrib/msggen/msggen/schema.json
  contrib/pyln-grpc-proto/pyln/grpc/node_pb2_grpc.py
  contrib/pyln-grpc-proto/pyln/grpc/primitives_pb2.py
Due: none

splice: Update to current spec
  channeld/channeld.c
  openingd/dualopend.c
  tests/fuzz/fuzz-wire-channel_reestablish.c
  wire/peer_wire.csv
Due: check-amount-access, check-discouraged-functions

splice: Add Bolt references and conform to them
  channeld/channeld.c
  channeld/splice.c
  channeld/splice.h
Due: check-amount-access, check-discouraged-functions

splice: Clean up some spammy debug messages
  channeld/channeld.c
Due: check-amount-access, check-discouraged-functions

contrib: Let log visualizer open all nodes in tabs
  contrib/log_visualizer.html
Due: none

contrib: Make log visualizer work with CI & pytest
  contrib/log_visualizer.html
Due: none

test_closing: Increase feerate test limit
  tests/test_closing.py
Due: none

tests: work around socket path name too long on Linux
  tests/fixtures.py
  tests/test_cln_rs.py
  tests/test_misc.py
Due: none

splice: Update splice_info tlv to use odd version
  wire/extracted_peer_12_splice_update.patch
  wire/peer_wire.csv
Due: none

keysend: enforce BOLT11 description length limit
  plugins/keysend.c
  tests/test_pay.py
Due: check-amount-access, check-discouraged-functions

lightningd: don't allow invoices with 640 byte descriptions.
  common/bolt11.h
  lightningd/invoice.c
  plugins/keysend.c
  tests/test_invoices.py
Due: check-amount-access, check-discouraged-functions

amount: Add decimal format for msats
  common/amount.c
  common/amount.h
  common/test/run-amount.c
Due: check-discouraged-functions

channeld: Inform channeld about opening feerate
  channeld/channeld.c
  channeld/channeld_wire.csv
  lightningd/channel_control.c
  tests/plugins/channeld_fakenet.c
Due: check-amount-access, check-discouraged-functions

splice: enable and test mutli-channel splice script
  plugins/spender/splice.c
  tests/test_splice.py
Due: check-amount-access, check-discouraged-functions

tx: witness byte double counted
  bitcoin/tx.c
Due: check-amount-access, check-discouraged-functions

splice-script: channel id corner case
  common/splice_script.c
Due: check-amount-access, check-discouraged-functions

splice: Fix weight calculations & use opening feerate
  bitcoin/psbt.c
  bitcoin/psbt.h
  channeld/channeld.c
  lightningd/channel_control.c
  openingd/dualopend.c
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

WIP Commit
  channeld/channeld.c
  channeld/full_channel.c
  common/amount.c
  common/amount.h
  common/splice_script.c
  plugins/spender/splice.c
  tests/test_splice.py
  wallet/reservation.c
Due: check-amount-access, check-discouraged-functions

splice-script: Expand two chan splice in test
  tests/test_splice.py
Due: none

splice-script: Memleak fix on failure
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

splice-script: wetlog / debuglog fix
  plugins/spender/splice.c
Due: check-amount-access, check-discouraged-functions

connectd: return reason, connect time to lightningd on connection results.
  connectd/connectd.c
  connectd/connectd.h
  connectd/connectd_wire.csv
  lightningd/connect_control.c
  lightningd/connect_control.h
  lightningd/gossip_control.c
  lightningd/peer_control.c
  lightningd/test/run-invoice-select-inchan.c
  wallet/test/run-wallet.c
Due: check-amount-access, check-discouraged-functions

connectd: at disconnected, tell lightningd how long we were connected.
  connectd/connectd.c
  connectd/connectd.h
  connectd/connectd_wire.csv
  connectd/handshake.c
  connectd/handshake.h
  connectd/multiplex.c
  connectd/peer_exchange_initmsg.c
  connectd/peer_exchange_initmsg.h
  connectd/test/run-initiator-success.c
  connectd/test/run-responder-success.c
  devtools/gossipwith.c
  lightningd/peer_control.c
  lightningd/test/run-invoice-select-inchan.c
  tests/fuzz/connectd_handshake.h
  wallet/test/run-wallet.c
Due: check-amount-access, check-discouraged-functions

connectd: report ping latencies (from ping probes) to lightningd.
  connectd/connectd.c
  connectd/connectd.h
  connectd/connectd_wire.csv
  connectd/multiplex.c
  lightningd/connect_control.c
Due: check-amount-access, check-discouraged-functions

connected: tell lightningd if we didn't find an address we could even *try* to connect to.
  connectd/connectd.c
  connectd/connectd.h
  connectd/connectd_wire.csv
  lightningd/connect_control.c
Due: check-amount-access, check-discouraged-functions

lightningd: add networkevents to wait API.
  contrib/msggen/msggen/schema.json
  doc/schemas/wait.json
  lightningd/wait.c
  lightningd/wait.h
Due: check-amount-access, check-discouraged-functions

Path conditions:
  check-amount-access: any of: \.(c|h)$, but not: common/amount|.*/test/.*
  check-discouraged-functions: any of: \.(c|h)$, but not: ccan|contrib
