Repository ElementsProject/lightning: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-amount-access, check-discouraged-functions

.pre-commit-config.yaml:

default_language_version:
  node: system
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
      args: [ "--ignore=E501,E731,E741,W503,F541,E275" ]
      exclude: "contrib/pyln-grpc-proto/pyln/grpc/(primitives|node)_pb2(|_grpc).py"

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
    - id: shellcheck
      args: [ -fgcc ]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      description: Runs formatting checks on the c code and and throws errors if suggestions
        are detected, without modifying the code. Style is defined in `.clang-format`. When
        encountering formatting-related errors, run `clang-format -i <path-to-file>` to make
        (destructively) the suggestions and evalute the resulting diff for more context.
      args: [ --dry-run, -Werror ]
      entry: clang-format
      types: [ c ]
      stages: [ manual ]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
    - id: check-jsonschema
      name: check doc JSON schemas
      args: ["--schemafile", "doc/rpc-schema-draft.json"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

    - id: check-metaschema
      name: check doc JSON metaschemas
      args: ["--verbose"]
      files: ^doc/schemas/.*\.json$
      types: [ json ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: pretty-format-json
      args: [ "--indent", "2", "--no-sort-keys" ]
      files: ^doc/schemas/.*\.json$
      types: [ json ]
    - id: trailing-whitespace
      args: [ "--markdown-linebreak-ext=md" ]
      exclude: ccan|contrib|tests/fuzz/corpora
    - id: end-of-file-fixer
      exclude: ccan|contrib|tests/fuzz/corpora

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      description: Checks for common misspellings.
      exclude: ccan|contrib|tests/fuzz/corpora
      stages: [ manual ]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.23.0
  hooks:
    - id: commitlint
      stages: [ commit-msg ]

- repo: local
  hooks:
    # Reimplementation of `make check-amount-access` for pygrep.
    - id: check-amount-access
      name: Check amount_msat and amount_sat members are not accessed directly
      description: "Don't access amount_msat and amount_sat members directly without a good reason since it risks overflow."
      language: pygrep
      entry: (->|\.)(milli)?satoshis(?!.*\/\*\ Raw:)|(?<!sizeof)\(struct\ amount_(m)?sat\)
      types: [ c ]
      exclude: common/amount|.*/test/.*

    # Reimplementation of `make check-discouraged-functions` for pygrep.
    - id: check-discouraged-functions
      name: Check for usage of discouraged funtions
      language: pygrep
      entry: '[^a-z_/](?:fgets|fputs|gets|scanf|sprintf)\('
      types: [ c ]
      exclude: ccan|contrib

    - id: include-order-fixer
      name: Fix Include Order
      language: python
      description: Analyzes Core Lightning C source and header files, assesses the order of
        their include directives according to the published Coding Style Guidelines
        [here](https://docs.corelightning.org/docs/coding-style-guidelines), automatically
        applying sorting them. Aims to conform with `make check-includes`.
      entry: python devtools/include-order-fixer.py
      stages: [ manual ]
      pass_filenames: false

    - id: check-includes
      name: Check Includes
      language: system
      entry: make check-includes
      pass_filenames: false

bwatch: persist block history
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch.h
  plugins/bwatch/bwatch_store.c
  plugins/bwatch/bwatch_store.h
Due: check-amount-access, check-discouraged-functions

common: expose json_hex_to_be32/be64
  common/json_parse_simple.c
  common/json_parse_simple.h
  plugins/bkpr/blockheights.c
  plugins/bkpr/bookkeeper.c
Due: check-amount-access, check-discouraged-functions

bwatch: scan blocks for scriptpubkey and outpoint matches
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch_scanner.c
  plugins/bwatch/bwatch_scanner.h
Due: check-amount-access, check-discouraged-functions

bwatch: notify watch owners on reorg
  plugins/bwatch/bwatch.c
Due: check-amount-access, check-discouraged-functions

common: extract param_string_array from xpay into common.
  common/json_param.c
  common/json_param.h
  plugins/xpay/xpay.c
Due: check-amount-access, check-discouraged-functions

bwatch: thread per-watch parameter through block scanning
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch_scanner.c
  plugins/bwatch/bwatch_scanner.h
Due: check-amount-access, check-discouraged-functions

bwatch: scan blocks for scid matches
  plugins/bwatch/bwatch_scanner.c
Due: check-amount-access, check-discouraged-functions

bwatch: persist watches
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch_store.c
  plugins/bwatch/bwatch_store.h
Due: check-amount-access, check-discouraged-functions

pytest: add tests for bwatch.
  tests/test_misc.py
  tests/test_plugin.py
Due: none

bwatch: trigger rescan when a watch is added behind tip
  plugins/bwatch/bwatch_interface.c
Due: check-amount-access, check-discouraged-functions

bwatch: add typed hash tables for watches
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch.h
  plugins/bwatch/bwatch_store.c
  plugins/bwatch/bwatch_store.h
Due: check-amount-access, check-discouraged-functions

bwatch: add scriptpubkey watch RPCs
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch_interface.c
  plugins/bwatch/bwatch_interface.h
Due: check-amount-access, check-discouraged-functions

bwatch: add rescan engine for historical blocks
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch.h
Due: check-amount-access, check-discouraged-functions

bwatch: add watch_found and watch_revert notifications
  plugins/bwatch/bwatch_interface.c
  plugins/bwatch/bwatch_interface.h
Due: check-amount-access, check-discouraged-functions

bwatch: add blockdepth watch RPCs
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch_interface.c
  plugins/bwatch/bwatch_interface.h
Due: check-amount-access, check-discouraged-functions

bwatch: fire blockdepth notifications per block
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch_interface.c
  plugins/bwatch/bwatch_interface.h
  plugins/bwatch/bwatch_scanner.c
  plugins/bwatch/bwatch_scanner.h
Due: check-amount-access, check-discouraged-functions

doc: document bwatch-poll-interval in lightningd-config.5
  doc/lightningd-config.5.md
Due: none

tests: update cli tests to reflect bwatch rpcs
  tests/test_misc.py
Due: none

tests: wait for bwatch block write before stopping in test_db_hook
  tests/test_plugin.py
Due: none

askrene: relax timeout for reservation leak
  tests/test_askrene.py
Due: none

bwatch: gate chain polling behind --experimental-bwatch
  doc/lightningd-config.5.md
  plugins/bwatch/bwatch.c
  plugins/bwatch/bwatch.h
  tests/test_plugin.py
Due: check-amount-access, check-discouraged-functions

tests: add regression tests for withdraw returning unsigned tx
  tests/test_wallet.py
Due: none

txprepare: fix withdraw returning unsigned transaction
  plugins/txprepare.c
  tests/test_wallet.py
Due: check-amount-access, check-discouraged-functions

pytests: make VLS signer opt-in via `-m vls`
  tests/conftest.py
  tests/fixtures.py
  tests/test_pay.py
Due: none

pytests: integrate VLS signer support into pyln-testing fixtures
  tests/conftest.py
  tests/fixtures.py
  tests/test_pay.py
  tests/utils.py
  tests/vls.py
Due: none

pytest: warn instead of defaulting `REMOTE_SIGNER_ALLOWLIST` to a CLN-relative path
  tests/vls.py
Due: none

pytest: take into account `CARGO_TARGET_DIR` if it's set
  tests/vls.py
Due: none

pytest: set default `use_vls` opt in `LightningNode` to `False`
  tests/fixtures.py
Due: none

graceful: new command to instruct CLN to start shutting down.
  contrib/msggen/msggen/schema.json
  doc/Makefile
  doc/index.rst
  doc/schemas/graceful.json
  doc/schemas/stop.json
  lightningd/channel.c
  lightningd/channel.h
  lightningd/jsonrpc.c
  lightningd/lightningd.c
  lightningd/lightningd.h
  lightningd/peer_control.c
  lightningd/peer_control.h
  lightningd/peer_htlcs.c
  lightningd/test/run-invoice-select-inchan.c
  tests/test_misc.py
  wallet/test/run-wallet.c
Due: check-amount-access, check-discouraged-functions

graceful: add a timeout for user simplicity.
  contrib/msggen/msggen/schema.json
  doc/schemas/graceful.json
  lightningd/peer_control.c
  tests/test_misc.py
Due: check-amount-access, check-discouraged-functions

lightningd.service: shut down lightningd properly.
  contrib/init/lightningd.service
Due: none

update-mocks: make handling of mocks in nested files deterministic.
  plugins/bkpr/test/run-currencyrate_str.c
  tools/mockup.sh
Due: check-discouraged-functions

common: implement tal_arr_append and tal_arr_appendn, and use them.
  bitcoin/psbt.c
  bitcoin/script.c
  common/bolt11.c
  common/test/run-bolt12_merkle.c
  common/test/run-utils-tal_arr_append.c
  common/utils.c
  common/utils.h
  connectd/multiplex.c
  connectd/test/run-websocket.c
  lightningd/plugin.c
  plugins/commando.c
  tools/lightning-downgrade.c
Due: check-amount-access, check-discouraged-functions

CCAN: update to get json_escape_dup helper.
  ccan/README
  ccan/ccan/json_escape/json_escape.c
  ccan/ccan/json_escape/json_escape.h
  ccan/ccan/json_escape/test/run.c
Due: check-amount-access

pytest: cleanup test_pay_avoid_low_fee_chan flake.
  tests/test_pay.py
Due: none

askrene: all remove_small_channel_layer when maxparts=1.
  plugins/askrene/askrene.c
Due: check-amount-access, check-discouraged-functions

askrene: improve errors we return.
  contrib/msggen/msggen/schema.json
  doc/schemas/getroutes.json
  plugins/askrene/askrene.c
  plugins/askrene/child/child.c
  plugins/askrene/child/mcf.c
  plugins/askrene/child/mcf.h
Due: check-amount-access, check-discouraged-functions

askrene: make failure messages clearer:
  plugins/askrene/child/explain_failure.c
  tests/test_askrene.py
  tests/test_xpay.py
Due: check-amount-access, check-discouraged-functions

pytest: use maxparts=1 not the soon-to-be-deprecated "auto.no_mpp_support" layer.
  tests/test_askrene.py
Due: none

askrene: deprecate `auto.no_mpp_support` layer in favor of `maxparts=1`.
  contrib/msggen/msggen/schema.json
  doc/developers-guide/deprecated-features.md
  doc/schemas/getroutes.json
  plugins/askrene/askrene.c
Due: check-amount-access, check-discouraged-functions
